<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'scripts.html' %}
	<!-- Used for the notifications -->
	{% load staticfiles %}
	{% load notification_tags %}

	<script>

		$(document).ready(function() {
			var magic_notifications = $('.card-content').children();
			for(var i = 0; i < magic_notifications.length; i++){
				if(magic_notifications[i].innerHTML == 'No notifications yet.'){
					magic_notifications[i].remove();
					$('#noti-div').append('<tr class="hide-on-med-and-down"><td class="center-align" colspan="3"><i>No Notifications</i></td></tr>'+
					'<tr class="show-on-med-and-down hide-on-large-only"><td><i>No Notifications</i></td><td></td><td></td></tr>');
					break;
                }
			}
			
        });	

	</script>

	<style>
			tbody {
			   display:block;
			   max-height:100vh;
			   overflow:auto;
			}
			thead, tbody tr {
			   display:table;
			   width:100%;
			   table-layout:fixed;
			}
	  
			table {
			   width:100%;
			}
	</style>
</head>

<body>
	{% if is_teacher %}
	{% include 'heading.html' %}
	{% else %}
	{% include 'stheading.html' %}
	{% endif %}

	<main>
		<div class="row center-align">
			<div class="col s12">
				<h3>Notifications</h3>
			</div>
		</div>
		<div class="row center-align">
			<div class="col s12">
				{% if is_teacher %}
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/instructors/NotificationPage?ID=0">All
					Notifications</a>
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/instructors/NotificationPage?ID=1">Active
						Notifications</a>
				
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/instructors/NotificationPage?ID=2">Dismissed
						Notifications</a>
				{% else %}
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/students/NotificationPage?ID=0">All
					Notifications</a>
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/students/NotificationPage?ID=1">Active
						Notifications</a>
				
				<a class="waves-effect waves-light btn" style="margin-block-end: 8px" href="/oneUp/students/NotificationPage?ID=2">Dismissed
						Notifications</a>
				{% endif %}
			</div>
				
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1">
				<div class="card">
					<div class="card-content">
							<table class="responsive-table">
								<thead>
								<tr>
									<th>Notification Description</th>
									<th>Notification Timestamp</th>
									<th>Course</th>
									<th style="padding-left: 100px">Options</th>
								</tr>
								</thead>
								<tbody id="noti-div" class="notification-box-list">
									{% if ID == 0 %}
									{% render_notifications using request.user.notifications.all %}

									{% elif ID == 1 %}
									{% user_notifications %}
									{% elif ID == 2 %}
									{% render_notifications using request.user.notifications.deleted %}
									
									{% endif %}
								</tbody>
							</table>
						
					</div>


				</div>
			</div>
		
		</div>
	</main>
	{% include 'footer.html' %}
</body>
<script>
	$(document).ready(()=>{
		$(".course-name").each((i, el) => {
			try{
				var json = JSON.parse($(el).html())
			} catch {
				return;
			}
		   
		   if (json['name'])
             $(el).html(json['name'])
		   else
		   	$(el).html('')
		})
		$(".related-link").each((j, el2) => {
			try{
				var json = JSON.parse($(el2).attr("href"))
			} catch {
				el2.href = '#'
				return;
			}
			if(json['related_link'])
            	el2.href = json['related_link']
			else
				el2.href = '#'
		})
		
	})
</script>
</html>