
# The database
db.sqlite3

# Pycache are temporary files generated in python compilation.
# They should not go into version control
**/__pycache__

# pyc are compiled python files derived from the .py files.
# They don't need to be in version control.
**.pyc

# SVN Stuff
**/svn-commit.tmp~
**/svn-commit.tmp
.svn/*

# Emacs backups
**/*~
**/#*#

# Eclipse configuration files.
.project
.pydevproject
.settings/*

# Java class files.
**/*.class

# User uploaded images and other files
media/images/uploadedInstructorImages/*
media/images/uploadedAvatarImages/*
media/lua/uploadedLuaLibs/*
media/textfiles/xmlfiles/*
media/Instructors/instructorActivityFiles/*
lua/problems/*

# Deployment stuff which shouldn't be checked in
oneUp/secret.key
oneUp/prodDBpassword.txt
oneUpVenv/*
oneUp/rabbitmq_password

media/studentActivities/*
/.metadata/

# Stuff from pipenv
Pipfile*
.DS_Store
.vscode/*
