<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
</head>
<script>
    function clearDisabled(){
        var inputs = document.getElementsByClassName('input-fields');
        //console.log(inputs);
        for(var i=0;i<inputs.length;i++){
            console.log(inputs[i]);
            inputs[i].removeAttribute('readonly');
            inputs[i].removeAttribute('disabled');
        }
        

    }
function checkAmount(option,studentID){
    var selectedOption = option.selectedOptions[0];
    console.log(studentID);
    var inputField=document.getElementById(studentID+"_Value");
    if(selectedOption.hasAttribute('data-vcamount')){
        var vcValue = selectedOption.getAttribute('data-vcamount');
        
        console.log(inputField);
        if (parseInt(vcValue)> 0){
            inputField.value=vcValue;
            inputField.setAttribute("readonly",true);
            inputField.setAttribute("disabled",true);
        }
        else{
            inputField.removeAttribute("readonly");
            inputField.removeAttribute("disabled");
            inputField.value='';

        }
        
    } else {
        inputField.removeAttribute("readonly");
        inputField.removeAttribute("disabled");
        inputField.value='';
    }
    
}
</script>
<body>

    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Assign Virtual Currency</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <form onsubmit="clearDisabled()" id="update" name="update" action="/oneUp/badges/AddVirtualCurrency" method="POST">
                        <div class="card-content">
                            {% csrf_token %}
                            <table>

                                <thead>
                                    <th>Student</th>
                                    <th>Current Virtual Currency</th>
                                    <th>Type</th>
                                    <th>Virtual Currency</th>
                                    <th>Manual Earning Rule</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for studentID, studentName, studentCurrencyVC in students %}
                                    <tr>
                                        <td>{{studentName}}</td>
                                        <td>{{studentCurrencyVC}}</td>
                                        <td>
                                            <p>
                                                <input class="with-gap" name="{{studentID}}_type" type="radio" value="combine" id="{{studentID}}_type_combine" checked/>
                                                <label for="{{studentID}}_type_combine">Add Virtual Currency</label>
                                            </p>
                                            <p>
                                                <input class="with-gap" name="{{studentID}}_type" type="radio" value="set" id="{{studentID}}_type_set" />
                                                <label for="{{studentID}}_type_set">Set Virtual Currency</label>
                                            </p>
                                            
                                        </td>
                                        <td>
                                        
                                
                                        	 <input class="input-fields" type="number" name="{{studentID}}_Value" id="{{studentID}}_Value"
                                                min="0"/>
                                        
                                        </td>
                                        <td>
                                            <div class="select-wrapper">
                                                <select onchange="checkAmount(this,'{{studentID}}')" name="{{studentID}}_Rule">
                                                    <option value="" selected>Select Earn Rule</option>
                                                    {% for ruleID, ruleName,vcRuleAmount in rules %}
                                                    
                                                    <option  data-vcAmount="{{vcRuleAmount}}" id="{{ruleID}}" value="{{ruleID}}">{{ruleName}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td class="center-align" colspan="6"><i>No Students</i></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action right-align">
                            <div class="row">
                                <div class="col s12">
                                    <button  class="btn waves-effect waves-light" type="submit" id="create"
                                        name="create">Add Currency
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->

    {% include 'footer.html' %}

</body>

</html>