<!DOCTYPE html>
<html lang="en">
   <head>

        {% include 'scripts.html' %}

	</head>
   <body>
   
        {% include 'heading.html' %}  
          
		<div class="frame" id="grad" align="center">
        <div class="container">
        <div class="row">
        <div class="12u">
        	<h1>Badges</h1>
		</div>
		</div>
                  <!-- INSERTED DYNAMIC TABLE --> 
        <div class="row">
        <div class="12u"> 
            <a href="/oneUp/badges/CreateBadge"><input type="button" value="Create New Badge"></a>
            <br /><br />
             <!-- New: List of badges added; DD 02/04/2015 -->
            <table class="bg">
        		<tr>
        			<th>Name</th>
        			<th>Category</th>
        			<th></th>
        		</tr>
        		{% for i,badgeId,badgeName,badgeImage in badgesInfo %}
        		<tr> 
        			<td style="vertical-align:middle">{{badgeName}}</td>
        			<td><img src="/{{badgeImage}}" alt="Badge Image" width="76px" height="76px"/></td>				
        			<td style="vertical-align:middle; text-align:right">					
        				{% csrf_token %}
        				<a href="/oneUp/badges/EditDeleteBadge?badgeID={{badgeId}}"><input type="button" value="Edit / Delete"></a>
        			</td>
        		</tr>
        		{% endfor %}
        	</table>
        <!-- END DYNAMIC TABLE -->
		</div>
        </div>
        </div>
      	</div>
      <!-- Footer -->
      
        {% include 'footer.html' %}

      </div>
      <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>