<!DOCTYPE html>
<html lang="en">
   <head>

        {% include 'scripts.html' %}

	</head>
   <body>
   
        {% include 'heading.html' %}  
          
		<div class="frame"  align="center">
        <div class="container">
        <div class="row">
        <div class="16m">
        	<h1>Badges</h1>
		</div>
		</div>
                  <!-- INSERTED DYNAMIC TABLE --> 
        <div class="row">
        <div class="12u"> 
            <a class="waves-effect waves-light btn" href="/oneUp/badges/CreateBadge"><input type="button" value="Create New Badge"></a>
			 <!-- New: List of badges added; DD 02/04/2015 -->
		<div>
				<div class="card-panel">
            <table>
        		<tr>
        			<th>Badge Image</th>
        			<th>Badge Name</th>
        			<th>Badge Description</th>
        			<th></th>
        		</tr>
        		{% for i,badgeId,badgeName,badgeImage, badgeDescription in badgesInfo %}
        		<tr> 
        			<td><img src="/{{badgeImage}}" alt="Badge Image" width="76px" height="76px"></td>
        			<td>{{badgeName}}</td>
        			<td>{{badgeDescription}}</td>				
        			<td>					
        				{% csrf_token %}
        				<a class="waves-effect waves-light btn" href="/oneUp/badges/EditDeleteBadge?badgeID={{badgeId}}"><input type="button" value="Modify"></a>
        			</td>
        		</tr>
        		{% endfor %}
			</table>
			</div>
			</div>
			</div>
        <!-- END DYNAMIC TABLE -->
		</div>
        </div>
        </div>
      	</div>
      <!-- Footer -->
      
        {% include 'footer.html' %}

   </body>
</html>