<!DOCTYPE html>
<html lang="en">
   <head>
   
      {% include 'scripts.html' %}

   </head>
   <body>
<!--      <div class="page-wrapper"> -->
     
      {% include 'heading.html' %}
		 <div class="frame" id="grad" align="center">
		         <div class="container">
		            <div class="row">
		               <div class="12u">
               	<h1>Create/Edit <span>Badge</span></h1>
               	<form id="createBadge" name="createBadge" action="/oneUp/badges/SaveBadge" onsubmit="return condOnSubmit();" method="POST">
               	    {% csrf_token %}
               		<input type="hidden" name="numConditions" id="numConditions" value="{{num_Conditions}}">
               		<table class="bg">
                        <tr>
                            <input placeholder="First Place" name="badgeName" id="badgeName" type="text" class="validate" pattern=".*\S+.*" required>
                            <label for="badgeName">Badge Name</label>
                        </tr>
                        <tr>
                            <input placeholder="Perfect Score" name="badgeDescription" id="badgeDescription" type="text" class="validate" required>
                            <label for="badgeDescription">Badge Description</label>
                        </tr>
						<tr>
                           <td colspan="5">Badge Image <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td><font style="font-size:.8em;">Choose an image for the badge:</font></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <!-- New Badges -->
                              
                              <div class="badge-selector">
                              
                              {% for i, image in imagePaths %}
                                <input type="radio" id="Badge{{i}}" name="badgeImage" value="{{image}}" required/> 
                              	<label class="badge" for="Badge{{i}}"><img src="/{{image}}" width="107" height="107" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;
                              
		 					  {% endfor %}
		 					  
		 					  </div>
                              
                           </td>
                        </tr>
                        <tr>
                        	<td><br/></td>
                        </tr>
                        <tr>
                           <td colspan="5">Conditions Applied for the Badge <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
						<tr><td>{% include "Badges/conditionInterface.html" %}</td></tr>
	                           
                    </table>
                    <ul class="actions">
                        <li class="waves-effect waves-light btn" style="margin:0"><input type="submit" id="create" name="create" value="Create Badge" class="button"></li>
                        <a href="/oneUp/badges/Badges" class="waves-effect waves-light btn" button type="button" class="button special" value="Cancel">Cancel</button></a>
                    </ul>
               	</form>
                <br />
               </div>
            </div>
         </div>
      </div>
         <!-- Footer -->        
         {% include 'footer.html' %}

      </div>
   </body>
</html>