<!DOCTYPE html>
<html lang="en">
   <head>
   
      {% include 'scripts.html' %}
              
      <!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.dropotron.min.js"></script>
      <script src="/static/assets/js/jquery.scrolly.min.js"></script>
      <script src="/static/assets/js/jquery.onvisible.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/js/fiddle.js"></script>
      <script src="/static/assets/js/main.js"></script>

   </head>
   <body>
<!--      <div class="page-wrapper"> -->
     
      {% include 'heading.html' %}
		 <div class="frame" id="grad" align="center">
		         <div class="container">
		            <div class="row">
		               <div class="12u">
               	<h1>Create/Edit <span>Badge</span></h1>
               	<p><span>*</span> Denotes Required Fields.</p>
               	<form id="createBadge" name="createBadge" action="/oneUp/badges/SaveBadge" onsubmit="condFillCondString();return true;" method="POST">
               	    {% csrf_token %}
               		<input type="hidden" name="numConditions" id="numConditions" value="{{num_Conditions}}">
               		<table class="bg">
                        <tr>
                           <td colspan="5">Badge Name <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" size="91" name="badgeName" id="badgeName" pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Description <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><textarea style="border: solid 1px rgba(128, 128, 128, 0.5)" rows="4" cols="92" name="badgeDescription" id="badgeDescription" required></textarea></td>
                        </tr>
						<tr>
                           <td colspan="5">Badge Image <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td><font style="font-size:.8em;">Choose an image for the badge:</font></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <!-- New Badges -->
                              
                              <div class="badge-selector">
                              
                              {% for i, image in imagePaths %}
                                <input type="radio" id="Badge{{i}}" name="badgeImage" value="{{image}}" required/> 
                              	<label class="badge" for="Badge{{i}}"><img src="/{{image}}" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;
                              
		 					  {% endfor %}
		 					  
		 					  </div>
                              
                           </td>
                        </tr>
                        <tr>
                        	<td><br/></td>
                        </tr>
                        <tr>
                           <td colspan="5">Conditions Applied for the Badge <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
						<tr><td>{% include "Badges/conditionInterface.html" %}</td></tr>
	                           
                    </table>
                    <ul class="actions">
                        <li style="margin:0"><input type="submit" id="create" name="create" value="Create Badge" class="button"></li>
                        <a href="/oneUp/badges/Badges"><button type="button" class="button special" value="Cancel">Cancel</button></a>
                    </ul>
               	</form>
                <br />
               </div>
            </div>
         </div>
      </div>
         <!-- Footer -->        
         {% include 'footer.html' %}

      </div>
   </body>
</html>