<!DOCTYPE html>
<html lang="en">
   <head>
   
      {% include 'scripts.html' %}
              
      <!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.dropotron.min.js"></script>
      <script src="/static/assets/js/jquery.scrolly.min.js"></script>
      <script src="/static/assets/js/jquery.onvisible.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/js/fiddle.js"></script>
      <script src="/static/assets/js/main.js"></script>

      <script type="text/javascript">
         /* Going to need to get python var*/
            var numConditions = {{num_Conditions}};
         
            function check(){
           	 if(numConditions == 1) {
                    document.getElementById('removeCondition').style.display ='none';
             }
           	
          
            }
            window.onload=check;
            /* Adds a new default condition */
            function addCondition() {
            	/* Increment the javascript variable */
                numConditions++;
            	
            	/*window.alert("Added One Condition, Now: " + numConditions);*/
            	
              /* If there is only one condition, we've hidden the remove button
                 now we're adding a new condition, so we show it again. */
              if(numConditions > 1) {
                document.getElementById('removeCondition').style.display ='initial';
              }
              
              
              /* Update the number which will be returned to python */
              document.createBadge.elements['numConditions'].value=numConditions;
            
              /* Construct a new default condition. */
              var newElement = '<div class="row" style="padding-top: 0px;">\n'+
              				    	'<div class="select-wrapper">\n'+
              							'<select name="cond'+numConditions+'_operand1Value" id="cond'+numConditions+'_operand1Value" style="font-size: 1em;">\n'+
              								'{% for i, sysVars in systemVariables %}\n'+
            								'<option value="{{i}}">{{sysVars}}</option>\n'+
            								'{% endfor %}\n'+
            							'</select>\n'+
            						'</div>\n'+
              				    	'<div class="select-wrapper">\n'+
            							'<select name="cond'+numConditions+'_operation" id="cond'+numConditions+'_operation" style="font-size: 1em;">\n'+
	            							 '<option value="==">&#61;</option>\n'+
	                                         '<option value=">">&#62;</option>\n'+
	                                         '<option value="<">&#60;</option>\n'+
	                                         '<option value=">=">&#62;&#61;</option>\n'+
	                                         '<option value="<=">&#60;&#61;</option>\n'+
	                                         '<option value="!=">&#33;&#61;</option>\n'+
            							'</select>\n'+
            						'</div>\n'+
            						'<div id="selector'+numConditions+'">\n'+
		                            	'<div class="three-columns">\n'+
	                            			'<input type="radio" name="cond'+numConditions+'_operand2TypeSelector"  value="constant" checked/>\n'+
		                            		'<i>Enter a constant</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong>\n'+ 
		                            		'<input style="border: solid 1px rgba(128, 128, 128, 0.5); width:100%; height: 40px;" type="text" name="cond'+numConditions+'_operand2Value" id="cond'+numConditions+'_operand2Value">\n'+
	                     					'<input type="radio" name="cond'+numConditions+'_operand2TypeSelector"  value="sysvariable" />\n'+
				                            '<i>Select a system variable</i>\n'+
				                            '<div class="three-columns">\n'+
				                            	'<div class="select-wrapper" id="operand2SysVars'+numConditions+'">\n'+
						                        	'<select name="cond'+numConditions+'_operand2Variable" id="cond'+numConditions+'_operand2Variable" style="font-size: 1em; width: 100%;"/>\n'+
						                            '{% for i, sysVars in systemVariables %}\n'+
				                            			'<option value="{{i}}">{{sysVars}}</option>\n'+							
						                            '{% endfor %}\n'+
						                            '</select>\n'+
	                              				'</div>\n'+
	                              			'</div>\n'+
	                            		'</div>\n'+
	                            	'</div>\n'+
                            	'</div>\n';
            	
            	/* And put it in place. */
				var conditions = document.getElementById('conditions');
				var newcond = document.createElement('div');
				var divIdName = 'cond'+numConditions;

				newcond.setAttribute('id',divIdName);
				newcond.innerHTML = newElement;
				conditions.appendChild(newcond);
				swap(numConditions, 0);
            }
            /* Removes the bottom condition */
            function removeCondition() {
              /* Remove last condition. */
              var lastCondition = document.getElementById("cond"+numConditions);
              while (lastCondition.firstChild) {
            	    lastCondition.removeChild(lastCondition.firstChild);
            	}
              lastCondition.parentElement.removeChild(lastCondition);
            
              /* Decrement js variable */
              numConditions--;
              /*window.alert("Removed One Condition, Now: " +numConditions);*/
              /* Update the number which will be returned to python */ 
              document.createBadge.elements['numConditions'].value = numConditions;
            
              /* If we're down to just one condition, hide the button that
                 remove conditions */
              if (numConditions == 1) {
                document.getElementById('removeCondition').style.display = 'none';
              }
            }
            /* Switches operand2 from value to sysVar and vice versa */
//             function swap(i, value){
//             	var operand2Value = document.getElementById("cond"+i+"_operand2Value");
//             	var sysVarsSelector = document.getElementById("cond"+i+"_operand2Variable");
//             	if(value == 0){
//             		sysVarsSelector.style.display = "none";
//             		operand2Value.style.display = "block";
//             		document.createBadge.elements['cond'+i+'_operand2Type'].value = "constant";
//             	}
//             	else {
//             		operand2Value.style.display = "none";
//             		sysVarsSelector.style.display = "block";
//             		document.createBadge.elements['cond'+i+'_operand2Type'].value = "none";

//             	}
            	
//             }
	</script>
      
      <script type="text/javascript">
		function validateForm() {
    		var x = document.forms["createBadge"]["cond1_operand2Value"].value;
    		var y = document.forms["createBadge"]["cond1_operand2TypeSelector"].value;
    		var z = document.forms["createBadge"]["assignChallenges"].value;
    		if ( x == "" && y == "constant") {
        		alert("The condition must be filled out.");
        		return false;
    		}
    		if ( z == "") {
        		alert("One of: \"All challenges\" or \"Specific challenges\" must be selected.");
        		return false;
    		}
		}
	</script>
	
   </head>
   <body>
<!--      <div class="page-wrapper"> -->
     
      {% include 'heading.html' %}
		 <div class="frame" id="grad" align="center">
		         <div class="container">
		            <div class="row">
		               <div class="12u">
               	<h1>Create/Edit <span>Badge</span></h1>
               	<p><span>*</span> Denotes Required Fields.</p>
               	<form id="createBadge" name="createBadge" action="/oneUp/badges/SaveBadge" onsubmit="return validateForm()" method="POST">
               	    {% csrf_token %}
               		<input type="hidden" name="numConditions" id="numConditions" value="{{num_Conditions}}">
               		<table class="bg">
                        <tr>
                           <td colspan="5">Badge Name <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" size="91" name="badgeName" id="badgeName" pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Description <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><textarea style="border: solid 1px rgba(128, 128, 128, 0.5)" rows="4" cols="92" name="badgeDescription" id="badgeDescription" required></textarea></td>
                        </tr>
						<tr>
                           <td colspan="5">Badge Image <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td><font style="font-size:.8em;">Choose an image for the badge:</font></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <!-- New Badges -->
                              
                              <div class="badge-selector">
                              
                              {% for i, image in imagePaths %}
                                <input type="radio" id="Badge{{i}}" name="badgeImage" value="{{image}}" required/> 
                              	<label class="badge" for="Badge{{i}}"><img src="/{{image}}" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;
                              
		 					  {% endfor %}
		 					  
		 					  </div>
                              
                           </td>
                        </tr>
                        <tr>
                        	<td><br/></td>
                        </tr>
                        <tr>
                           <td colspan="5">Conditions Applied for the Badge <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td>
	                           <div id="conditions">
	                           		<div id="cond1">
	                           			<div class="row" style="padding-top: 0px;">
	                              			<div class="select-wrapper">
					                        	<select name="cond1_operand1Value" id="cond1_operand1Value" style="font-size: 1em;">
					                            {% for i, sysVars in systemVariables %}
					                            	<option value="{{i}}">{{sysVars}}</option>								
					                            {% endfor %}
					                            </select>
	                              			</div>
	                            			<div class="select-wrapper">
				                            	<select name="cond1_operation" id="cond1_operation" style="font-size: 1em;">
					                            	<option value="==">&#61;</option>
					                            	<option value=">">&#62;</option>
					                              	<option value="<">&#60;</option>
					                              	<option value=">=">&#62;&#61;</option>
					                              	<option value="<=">&#60;&#61;</option>
					                              	<option value="!=">&#33;&#61;</option>
				                                </select>
	                            			</div>
				                            <div id="selector1">
					                            <div class="three-columns">
				                            	 <input type="radio" name="cond1_operand2TypeSelector"  value="constant" checked/>
				                            		<i>Enter a constant</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong> 
				                            		<input style="border: solid 1px rgba(128, 128, 128, 0.5); width:100%; height: 40px;" type="text" name="cond1_operand2Value" id="cond1_operand2Value" />
	                             					<input type="radio" name="cond1_operand2TypeSelector"  value="sysvariable" /> 
						                            <i>Select a system variable</i>
							                            <div class="three-columns">
							                            	<div class="select-wrapper" id="operand2SysVars1">
									                        	<select name="cond1_operand2Variable" id="cond1_operand2Variable" style="font-size: 1em; width: 100%;">
									                            {% for i, sysVars in systemVariables %}
							                            			<option value="{{i}}">{{sysVars}}</option>								
									                            {% endfor %}
									                            </select>
				                              				</div>
				                              			</div>
				                            	</div>
				                            </div>
	                            	  </div>
	                          	</div>
	                          </div>
	                          <a id="addCondition" href="javascript:;" onclick="addCondition();"><button type="button">Add Condition</button></a>
	                          <a id="removeCondition" href="javascript:;" onclick="removeCondition();"><button type="button">Remove Last Condition</button></a>
                          </td>
                        </tr>
                        <tr>
<!--                            <td colspan="5" class="formset">Assign This Badge to <span style="color: red; font-weight: bolder;">*</span></td>
 -->                           <td colspan="5" class="formset">Check the conditions of this badge for <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <div class="two-columns">
	                             <input type="radio" name="assignChallenges" value="1" class="selectChallenges" {% ifequal badge.assignToChallenges|stringformat:"s" "1" %}checked="checked"{% endifequal %}/> All Challenges
	                             <input type="radio" name="assignChallenges" value="2" class="selectChallenges" {% ifequal badge.assignToChallenges|stringformat:"s" "2" %}checked="checked"{% endifequal %}/> Specific Challenges 		
                              </div>
                              <ol id="specChall" name="specChall" class="formset">
                                 <li><strong>Choose Challenges to which the Badge has to be applied:</strong></li>
                                 <li>
                                 <div class="select-wrapper">
                                 <select style="height: 200px; width: 200px" name="specChallenge" id="specChallenge" multiple>
                                    {% for j, challenge in challenges %}
                                    <option value="{{challenge.challengeID}}">{{challenge.challengeName}}</option>	
                                    {% endfor %} 
                                    </select>
                                    </div>
                                 </li>
                                 <li><font style="font-size:.8em;">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font></li>
                              </ol>
                           </td>
                        </tr>
                    </table>
                    <ul class="actions">
                        <li style="margin:0"><input type="submit" id="create" name="create" value="Create Badge" class="button"></li>
                        <a href="/oneUp/badges/Badges"><button type="button" class="button special" value="Cancel">Cancel</button></a>
                    </ul>
               	</form>
                <br />
               </div>
            </div>
         </div>
      </div>
         <!-- Footer -->        
         {% include 'footer.html' %}

      </div>
   </body>
</html>