<!DOCTYPE html>
<html lang="en">
   <head>
      <title>OneUp | Instructors</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/static/assets/css/main.css" />
      <link rel="icon" type="image/x-icon" href="../../static/images/lightbulb-o.ico"/>
     
      <!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.dropotron.min.js"></script>
      <script src="/static/assets/js/jquery.scrolly.min.js"></script>
      <script src="/static/assets/js/jquery.onvisible.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/js/fiddle.js"></script>
      <script src="/static/assets/js/main.js"></script>
      <script type="text/javascript">
         /* Going to need to get python var*/
            var numConditions = {{num_Conditions}};
         	
            function check(){
           	 if(numConditions == 1) {
                    document.getElementById('removeCondition').style.display ='none';
             }
           	 
            }
            
            window.onload=check;
            /* Adds a new default condition */
            function addCondition() {
            	/* Increment the javascript variable */
                numConditions++;
            	
            	/*window.alert("Added One Condition, Now: " + numConditions);*/
            	
              /* If there is only one condition, we've hidden the remove button
                 now we're adding a new condition, so we show it again. */
              if(numConditions > 1) {
                document.getElementById('removeCondition').style.display ='initial';
              }
              
              
              /* Update the number which will be returned to python */
              document.editBadge.elements['numConditions'].value=numConditions;
            
              /* Construct a new default condition. */
              var newElement = '<div class="row" style="padding-top: 0px;">\n'+
              				    	'<div class="select-wrapper">\n'+
              							'<select name="cond'+numConditions+'_operand1Value" id="cond'+numConditions+'_operand1Value" style="font-size: 1em;">\n'+
              								'{% for i, n, sysVars in systemVariables %}\n'+
            								'<option value="{{i}}" {% ifequal condition.operand1Value i %}selected="selected"{% endifequal %}>{{sysVars}}</option>\n'+
            								'{% endfor %}\n'+
            							'</select>\n'+
            						'</div>\n'+
              				    	'<div class="select-wrapper">\n'+
            							'<select name="cond'+numConditions+'_operation" id="cond'+numConditions+'_operation" style="font-size: 1em;">\n'+
	            							 '<option value="==" {% ifequal condition.operation|stringformat:"s" "==" %}selected="selected"{% endifequal %}>&#61;</option>\n'+
	                                         '<option value=">"  {% ifequal condition.operation|stringformat:"s" ">" %}selected="selected"{% endifequal %}>&#62;</option>\n'+
	                                         '<option value="<"  {% ifequal condition.operation|stringformat:"s" "<" %}selected="selected"{% endifequal %}>&#60;</option>\n'+
	                                         '<option value=">=" {% ifequal condition.operation|stringformat:"s" ">=" %}selected="selected"{% endifequal %}>&#62;&#61;</option>\n'+
	                                         '<option value="<=" {% ifequal condition.operation|stringformat:"s" "<=" %}selected="selected"{% endifequal %}>&#60;&#61;</option>\n'+
	                                         '<option value="!=" {% ifequal condition.operation|stringformat:"s" "!=" %}selected="selected"{% endifequal %}>&#33;&#61;</option>\n'+
            							'</select>\n'+
            						'</div>\n'+
            						'<div id="selector'+numConditions+'">\n'+
	                            	'<div class="three-columns">\n'+
                            			'<input type="radio" name="cond'+numConditions+'_operand2TypeSelector"  value="constant" checked/>\n'+
	                            		'<i>Enter a constant</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong>\n'+ 
	                            		'<input style="border: solid 1px rgba(128, 128, 128, 0.5); width:100%; height: 40px;" type="text" name="cond'+numConditions+'_operand2Value" id="cond'+numConditions+'_operand2Value">\n'+
                     					'<input type="radio" name="cond'+numConditions+'_operand2TypeSelector"  value="sysvariable" />\n'+
			                            '<i>Select a system variable</i>\n'+
			                            '<div class="three-columns">\n'+
			                            	'<div class="select-wrapper" id="operand2SysVars'+numConditions+'">\n'+
					                        	'<select name="cond'+numConditions+'_operand2Variable" id="cond'+numConditions+'_operand2Variable" style="font-size: 1em; width: 100%;"/>\n'+
					                            '{% for i, n, sysVars in systemVariables %}\n'+
			                            			'<option value="{{i}}">{{sysVars}}</option>\n'+							
					                            '{% endfor %}\n'+
					                            '</select>\n'+
                              				'</div>\n'+
                              			'</div>\n'+
                            		'</div>\n'+
                            	'</div>\n'+
                        	'</div>\n';
            	
            	/* And put it in place. */
				var conditions = document.getElementById('conditions');
				var newcond = document.createElement('div');
				var divIdName = 'cond'+numConditions;

				newcond.setAttribute('id',divIdName);
				newcond.innerHTML = newElement;
				conditions.appendChild(newcond);
				swap(numConditions, 0);
            }
            /* Removes the bottom condition */
            function removeCondition() {
              /* Remove last condition. */
              var lastCondition = document.getElementById("cond"+numConditions);
              while (lastCondition.firstChild) {
            	    lastCondition.removeChild(lastCondition.firstChild);
            	}
              lastCondition.parentElement.removeChild(lastCondition);
            
              /* Decrement js variable */
              numConditions--;
             /* window.alert("Removed One Condition, Now: " +numConditions);*/
              /* Update the number which will be returned to python */ 
              document.editBadge.elements['numConditions'].value = numConditions;
            
              /* If we're down to just one condition, hide the button that
                 remove conditions */
              if (numConditions == 1) {
                document.getElementById('removeCondition').style.display = 'none';
              }
            }
            /* Switches operand2 from value to sysVar and vice versa */
//             function swap(i, value){
//             	var operand2Value = document.getElementById("cond"+i+"_operand2Value");
//             	var sysVarsSelector = document.getElementById("cond"+i+"_operand2Variable");
            	
//             	var x = document.getElementsByName("cond"+i+"_operand2Selector");
            	
//             	if(value == 0){
//             		sysVarsSelector.style.display = "none";
//             		operand2Value.style.display = "block";
//             		document.editBadge.elements['cond'+i+'_operand2Type'].value = "constant";
//             		x[0].checked = true;
//             		x[1].checked = false;

//             	}
//             	else {
//             		operand2Value.style.display = "none";
//             		sysVarsSelector.style.display = "block";
//             		document.editBadge.elements['cond'+i+'_operand2Type'].value = "none";
//             		x[1].checked = true;
//             		x[0].checked = false;
//             	}
            	
//             }
      </script>
   </head>
   <body>
      <!-- START PAGE SOURCE -->
      <div class="page-wrapper">
       <header>
            <nav class="Navigation">
               <div class="Nav_Top">
                  <ul class="nav_top_level">
                     <a class="nav_bulb" href="/oneUp/home" title="1up" style="border-bottom:0">
                     <i class="fa fa-lightbulb-o fa-3x nav_bulb"></i></a>
                     <li class="nav_top_level_items">
                        <a href="#">Course Tools</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/instructorCourseHome">Home</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/announcementList">Announcements</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/courseInformation">Email</a>
                           </li>                           
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Course Information</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/courseInformation">Course Description</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/topicsList">Course Topics</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/skillsList">Targeted Skills</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/milestonesList">Course Milestones</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/createStudentListView">Students</a>
                           </li>
                           
                        </ul>
                     </li>                     
                     <li class="nav_top_level_items">
                        <a href="#">Course Content</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/activitiesList">Activities</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengeQuestionsList?problems">Problems</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengesList">Serious Challenges</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengesList?warmUp">Warm Up Challenges</a>
                           </li>
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Course Reports</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/studentAchievements">Student Achievements</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/classAchievements">Class Achievements</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengesList">Visualization</a>
                              <ul class="nav_third_level">
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/instructors/classSeriousAchievementsViz">Class Serious Achievements</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/instructors/classWarmupAchievementsViz">Class Warmup Achievements</a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Game Features</a>
                        <ul class="nav_second_level">
                          <li class="nav_second_level_items">
                              <a href="/oneUp/badges/Badges">Badges</a>
                          </li>
                          <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/createStudentView">Leveling</a>
                           </li>
                         <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/createStudentView">Leader-board</a>
                           </li>                           
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/skillsList">Virtual Currency</a>
                            </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/preferences">Gamification Configuration</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div class="Nav_Bottom">
                  {% if logged_in %}
                  <p>Course: {{course_Name}}</p>
                  <ul class="nav_login">
                     <li class="nav_login_items">
                        <a href="#">Welcome, {{username}}<i class="fa fa-chevron-down"></i></a>
                        <ul class="nav_login_second_level">
                           <li class="nav_login_second_level_items">
                              <a href="/oneUp/administrators/courses">Change Course</a>
                           </li>
                           <li class="nav_login_second_level_items">
                              <a href="/oneUp/students/Logout">Logout</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
                  {% endif %}
               </div>
            </nav>
         </header>
      <div class="frame" id="grad" align="center">
         <div class="container">
            <div class="row">
               <div class="12u">
                  <h1>Edit / Delete <span>Badge</span></h1>
                  <p><span>*</span> Denotes Required Fields.</p>
                  <form id= "editBadge" name= "editBadge" action="/oneUp/badges/SaveBadge" method="POST">
                     {% csrf_token %}
                     <input type="hidden" name="badgeId" id="badgeId" value="{{badge.badgeID}}">
                     <input type="hidden" name="numConditions" id="numConditions" value="{{num_Conditions}}">
                     <table class="bg">
                        <tr>
                           <td colspan="5">Badge Name <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" size="91" name="badgeName" id="badgeName" value="{{badge.badgeName}}" required></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Description <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><textarea style="border: solid 1px rgba(128, 128, 128, 0.5)" rows="4" cols="92" name="badgeDescription" id="badgeDescription" required>{{badge.badgeDescription}}</textarea></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Image <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td><font style="font-size:.8em;">Choose an image for the badge:</font></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <!-- New Badges -->
                              <div class="badge-selector">
                              	<input type="radio" id="NoviceBadge" name="badgeImage" value="NoviceBdg.png" {% ifequal badge.badgeImage|stringformat:"s" "NoviceBdg.png" %}checked{% endifequal %} /> 
                              	<label class="badge" for="NoviceBadge"><img src="/static/images/badges/NoviceBdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="JourneymanBadge" name="badgeImage" value="JourneymanBdg.png" {% ifequal badge.badgeImage|stringformat:"s" "JourneymanBdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="JourneymanBadge"><img src="/static/images/badges/JourneymanBdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="ExpertBadge" name="badgeImage" value="ExpertBdg.png" {% ifequal badge.badgeImage|stringformat:"s" "ExpertBdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="ExpertBadge"><img src="/static/images/badges/ExpertBdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="MasterBadge" name="badgeImage" value="MasterBdg.png" {% ifequal badge.badgeImage|stringformat:"s" "MasterBdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="MasterBadge"><img src="/static/images/badges/MasterBdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="ST1Badge" name="badgeImage" value="ST1Bdg.png" {% ifequal badge.badgeImage|stringformat:"s" "ST1Bdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="ST1Badge"><img src="/static/images/badges/ST1Bdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="ST5Badge" name="badgeImage" value="ST5Bdg.png" {% ifequal badge.badgeImage|stringformat:"s" "ST5Bdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="ST5Badge"><img src="/static/images/badges/ST5Bdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="ST10Badge" name="badgeImage" value="ST10Bdg.png" {% ifequal badge.badgeImage|stringformat:"s" "ST10Bdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="ST10Badge"><img src="/static/images/badges/ST10Bdg.png" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              	<input type="radio" id="ST25Badge" name="badgeImage" value="ST25Bdg.png" {% ifequal badge.badgeImage|stringformat:"s" "ST25Bdg.png" %}checked{% endifequal %}/>
                              	<label class="badge" for="ST25Badge"><img src="/static/images/badges/ST25Bdg.png" alt="Choose an image for badge"></label>
                              </div>
                           </td>
                        </tr>
                        <tr>
                        	<td><br/></td>
                        </tr>
                        <tr>
                           <td colspan="5">Conditions Applied for the Badge <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td>
	                           <div id="conditions">
	                           {% for c, condition in conditions %}
	                           		<div id="cond{{c}}">
	                           			<div class="row" style="padding-top: 0px;">
	                              			<div class="select-wrapper">
					                        	<select name="cond{{c}}_operand1Value" id="cond{{c}}_operand1Value" style="font-size: 1em;"/>
					                            {% for i, n, sysVars in systemVariables %}
					                            	<option value="{{i}}" {% ifequal condition.0 n %}selected {% endifequal %}>{{sysVars}}</option>								
					                            {% endfor %}
					                            </select>
	                              			</div>
	                            			<div class="select-wrapper">
				                            	<select name="cond{{c}}_operation" id="cond{{c}}_operation" style="font-size: 1em;"/>
					                            	<option value="==" {% ifequal condition.1|stringformat:"s" "==" %}selected{% endifequal %}>&#61;</option>
					                            	<option value=">"  {% ifequal condition.1|stringformat:"s" ">" %}selected{% endifequal %}>&#62;</option>
					                              	<option value="<"  {% ifequal condition.1|stringformat:"s" "<" %}selected{% endifequal %}>&#60;</option>
					                              	<option value=">=" {% ifequal condition.1|stringformat:"s" ">=" %}selected{% endifequal %}>&#62;&#61;</option>
					                              	<option value="<=" {% ifequal condition.1|stringformat:"s" "<=" %}selected{% endifequal %}>&#60;&#61;</option>
					                              	<option value="!=" {% ifequal condition.1|stringformat:"s" "!=" %}selected{% endifequal %}>&#33;&#61;</option>
				                                </select>
	                            			</div>
	                            			<div id="selector{{c}}">
					                            <div class="three-columns">
				                            	<input type="radio" name="cond{{c}}_operand2TypeSelector"  value="constant" {% ifequal condition.3 'constant' %}checked {% endifequal %}/>
				                            		<i>Enter a constant</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong> 
				                            		<input style="border: solid 1px rgba(128, 128, 128, 0.5); width:100%; height: 40px;" type="text" name="cond{{c}}_operand2Value" id="cond{{c}}_operand2Value" {% ifequal condition.3 'constant' %}value="{{condition.2}}" {% endifequal %} />
	                             					<input type="radio" name="cond{{c}}_operand2TypeSelector"  value="sysvariable" {% ifequal condition.3 'systemVariable' %}checked {% endifequal %}/> 
						                            <i>Select a system variable</i>
							                            <div class="three-columns">
							                            	<div class="select-wrapper" id="operand2SysVars{{c}}">
									                        	<select name="cond{{c}}_operand2Variable" id="cond{{c}}_operand2Variable" style="font-size: 1em; width: 100%;"/>
									                            {% for i, n, sysVars in systemVariables %}
							                            			<option value="{{i}}" {% ifequal condition.3 'systemVariable' %} {% ifequal condition.2 n %}selected {% endifequal %}{% endifequal %}>{{sysVars}}</option>								
									                            {% endfor %}
									                            </select>
				                              				</div>
				                              			</div>
				                            	</div>
				                            </div>
				                      </div>
	                          	</div>
	                            {% endfor %}
	                          </div>
	                          <a id="addCondition" href="javascript:;" onclick="addCondition(); return false;"><button type="button">Add Condition</button></a>
	                          <a id="removeCondition" href="javascript:;" onclick="removeCondition(); return false;"><button type="button">Remove Last Condition</button></a>
                          </td>
                        </tr>
                        <tr>
                           <td colspan="5" class="formset">Assign This Badge to <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <div class="two-columns">
	                             <input type="radio" name="assignChallenges" value="1" class="selectChallenges" {% if has_challenge is False %}checked="checked"{% endif %}/> All Challenges
	                             <input type="radio" name="assignChallenges" value="2" class="selectChallenges" {% if has_challegen is True %}checked="checked"{% endif %}/> Specific Challenge 		
                              </div>
                              <ol id="specChall" name="specChall" class="formset">
                                 <li><strong>Choose the Challenge to which the Badge should be applied:</strong></li>
                                 <li>
                                 <div class="select-wrapper">
                                 <select name="specChallenge" id="specChallenge">
                                    {% for j, challenge in challenges %}
                                    <option value="{{challenge.challengeID}}" {% if has_challenge is True %}
                                    										  		{% ifequal challenge.challengeID|stringformat:"s" associated_challenge|stringformat:"s"  %}
                                    										  			selected
                                    										  		{% endifequal %}
                                    										  {% endif %}
                                    										  >{{challenge.challengeName}}</option>	
                                    {% endfor %} 
                                    </select>
                                    </div>
                                 </li>
                                 <li><font style="font-size:.8em;"><!--Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.--></font></li>
                              </ol>
                           </td>
                        </tr>
                     </table>
                     <ul class="actions">
                        <li style="margin:0"><input type="submit" id="edit" name="edit" value="Edit Badge" class="button" onclick="return true;"></li>
                        <li style="margin:0"><input type="submit" id="delete" name="delete" value="Delete Badge" class="button" onclick="return confirm('Are you sure you want to delete?')"></li>
                        <a href="/oneUp/badges/Badges"><button type="button" class="button special" value="Cancel">Cancel</button></a>
                     </ul>
                  </form>
                  <br />
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <div id="footer">
         <div class="container">
            <div class="row">
               <div class="12u">
                  <!-- Contact -->
                  <section class="contact">
                     <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                     </ul>
                  </section>
                  <!-- Copyright -->
                  <div class="copyright">
                     <ul class="menu">
                        <li>Copyright &copy; 2014 OneUp. All rights reserved.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>