<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   
   
   <script>
 document.addEventListener('DOMContentLoaded', function(){ // during edit function checks for the state of the checkbox and hides the field appropriately
	 var amountVaries = document.getElementById("rule_varies");
	 var ruleAmt=document.getElementById("rule_amt");
	 if(amountVaries.checked)
		 ruleAmt.style.display ="none";
		 
 },false);
 function valueChanged(){ //function makes the appropriate field changes to the page onchange of checkbox
	 var rule_amt = document.getElementById("rule_amt")
	 var rule_amount = document.getElementById("rule_amount");
	 var rule_varies = document.getElementById("rule_varies");
	 if(rule_varies.checked){
		 rule_amount.required=false;
		 rule_amt.style.display ="none";
		
	 }else{
		 rule_amt.style.display ="block"; 
	 }
 }
 
</script>
   
   <body>
   
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>{{capitalEditOrCreate}} Rule for Earning Course Bucks</h3>
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
         <div class="col s12 m10 offset-m1">
            <form id= "editRule" name= "editRule" action="/oneUp/badges/SaveVirtualCurrencyRule" method="POST" {% if isRuleCustom == False %} onsubmit="return condOnSubmit();" {% endif %}>
               {% csrf_token %}
               <input type="hidden" name="vcRuleID" id="vcRuleID" value="{{vcRule.vcRuleID}}">
               <input type="hidden" name="isRuleCustom" id="isRuleCustom" value="{{isRuleCustom}}">
               <div class="card">
                  <div class="card-content">
                     <div class="row">
                        <div class="input-field col s12">
                           <input  value="{{vcRule.vcRuleName}}" name="ruleName" id="rule_name" type="text" class="validate" required>
                           <label for="rule_name"><span class= "red-text">*</span> Rule Name</label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field col s12">
                           <input  value="{{vcRule.vcRuleDescription}}" name="ruleDescription" id="rule_description" type="text" class="validate" required>
                           <label for="rule_description"><span class= "red-text">*</span> Rule Description</label><br><br><br>
                        </div>
                     </div>
                     {%if isRuleCustom == True %}
                     <div class="row" style="margin: 0;">
                        <div class="col s12">
                       	<input class="filled-in" name="varyCheck" type="checkbox" id="rule_varies" onchange="valueChanged()" {{vcAmountVaries}} style="padding:0;"/> <!-- hides the rule amount field when checked -->
                       	 <label for="rule_varies">Virtual Currency Award Varies</label>
                        </div>
                     </div>
                     {% endif %}
                      <div class="row" id='rule_amt'>
                        <div class="input-field col s12">
                           <input value="{{vcAmount}}" name="ruleAmount" id="rule_amount" maxlength="4" type="number" class="validate" min="0" max="999" step="any" required>
                           <label for="rule_amount"><span class= "red-text">*</span> Course Bucks Earned with This Rule</label>
                        </div>
                     </div>
                     {% if isRuleCustom == False %}
                        {% include "Badges/conditionInterface.html" %}
                     
                    
                       {% endif %}
                  </div>
                  
                  <div class="card-action right-align">
                     <button class="btn waves-effect waves-light" id="{{editOrCreate}}" type="submit" name="{{editOrCreate}}">{{captialSaveOrCreate}} Rule<i class="material-icons right">send</i>
                     </button>
                     <a class="waves-effect waves-light btn" href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom={{isRuleCustom}}">											
                     <i class="material-icons left">close</i>Cancel</a>                                                                  									
                  </div>
               </div>
            </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>