<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>{{capitalEditOrCreate}} Rule for Earning Course Bucks</h3>
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
         <div class="col s12 m10 offset-m1">
            <form id= "editRule" name= "editRule" action="/oneUp/badges/SaveVirtualCurrencyRule" method="POST" onsubmit="return condOnSubmit();">
               {% csrf_token %}
               <input type="hidden" name="vcRuleID" id="vcRuleID" value="{{vcRule.vcRuleID}}">
               <input type="hidden" name="isRuleCustom" id="isRuleCustom" value="{{isRuleCustom}}">
               <div class="card">
                  <div class="card-content">
                     <div class="row">
                        <div class="input-field col s12">
                           <input  value="{{vcRule.vcRuleName}}" name="ruleName" id="rule_name" type="text" class="validate" required>
                           <label for="rule_name"><span class= "red-text">*</span> Rule Name</label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field col s12">
                           <input  value="{{vcRule.vcRuleDescription}}" name="ruleDescription" id="rule_description" type="text" class="validate" required>
                           <label for="rule_description"><span class= "red-text">*</span> Rule Description</label>
                        </div>
                     </div>
                     {% if isRuleCustom == False %}
                        {% include "Badges/conditionInterface.html" %}
                     
                     <div class="row">
                        <div class="input-field col s12">
                           <input value="{{vcAmount}}" name="ruleAmount" id="rule_amount" maxlength="4" type="number" class="validate" min="0" max="999" step="any" required>
                           <label for="rule_amount"><span class= "red-text">*</span> Course Bucks Earned with This Rule</label>
                        </div>
                     </div>
                     {% endif %}
                  </div>
                  <div class="card-action right-align">
                     <button class="btn waves-effect waves-light" id="{{editOrCreate}}" type="submit" name="{{editOrCreate}}">{{captialSaveOrCreate}} Rule<i class="material-icons right">send</i>
                     </button>
                     <a class="waves-effect waves-light btn" href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom={{isRuleCustom}}">											
                     <i class="material-icons left">close</i>Cancel</a>                                                                  									
                  </div>
            </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>