<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <div class="frame" id="grad" align="center">
         <div class="container">
            <div class="row">
               <div class="12u">
                  <h1>{{capitalEditOrCreate}} <span>Rule for Earning Course Bucks</span></h1>
                  <form id= "editRule" name= "editRule" action="/oneUp/badges/SaveVirtualCurrencyRule" method="POST" onsubmit="return condOnSubmit();">
                     {% csrf_token %}
                     <input type="hidden" name="vcRuleID" id="vcRuleID" value="{{vcRule.vcRuleID}}">
                     <input type="hidden" name="isRuleCustom" id="isRuleCustom" value="{{isRuleCustom}}">
                     <table>
                           <tr>
                                <input placeholder="Most Improved" id="ruleName" type="text" class="validate" value={{vcRule.vcRuleDescription}} required>
                                <label for="ruleName">Rule Name{{vcRule.vcRuleDescription}}</label>
                           </tr>
                        <tr>
                            <input placeholder="What should the rule be?" id="Rule_Description" type="text" class="validate" required>
                            <label for="Rule_Description">Rule Description</label>
                           </tr>
                        {% if isRuleCustom == False %}
                        <tr>
                        	<td colspan="5">Award Frequency</td>
                        </tr>
                        <tr>
                        	<td colspan="5">
                        		<select name="awardFrequency">
                        		{% for dummy,awardFrequencyOption in awardFrequencyOptions.items %}
                        			<option value="{{awardFrequencyOption.index}}" 
                        				{% if awardFrequencyOption.index == awardFrequency %}selected{% endif %}
                        			>{{awardFrequencyOption.name}}</option>
                        		{% endfor %}
                        		</select>
                        	</td>
                        </tr>
                        <tr>
                           <td colspan="5">Rule Conditions<span class="red">*</span></td>
                        </tr>
                        <tr>
                        	<td>{% include "Badges/conditionInterface.html" %}</td>
                       	</tr>
                       	{% endif %}
                        <tr>
                            <input placeholder="6" id="bucksEarned" type="text" class="validate" required>
                            <label for="bucksEarned">Course Bucks Eanred with this rule</label>
                        </tr>
                     </table>
                     <ul class="actions">
                        <li class="waves-effect waves-light btn" style="margin:0"><input type="submit" id="{{editOrCreate}}" name="{{editOrCreate}}" value="{{captialSaveOrCreate}} Rule" class="button"></li>
                        <a class="waves-effect waves-light btn" href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom={{isRuleCustom}}"type="button" class="button special" value="Cancel">Cancel</button></a>
                     </ul>
                  </form>
                  <br />
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->      
      {% include 'footer.html' %}
   </body>
</html>