<!DOCTYPE html>
<html lang="en">
   <head>

        {% include 'scripts.html' %}

   </head>
   <body>
      <!-- START PAGE SOURCE -->
<!--       <div class="page-wrapper"> -->
      
      {% include 'heading.html' %}

      <div class="frame" id="grad" align="center">
         <div class="container">
            <div class="row">
               <div class="12u">
                  <h1>Edit / Delete <span>Badge</span></h1>
                  <p><span class="red">*</span> Denotes Required Fields.</p>
                  <form id= "editBadge" name= "editBadge" action="/oneUp/badges/SaveBadge" method="POST" onsubmit="return condOnSubmit();">
                     {% csrf_token %}
                     <input type="hidden" name="badgeId" id="badgeId" value="{{badge.badgeID}}">
                     <input type="hidden" name="numConditions" id="numConditions" value="{{num_Conditions}}">
                     <table class="bg">
                        <tr>
                           <td colspan="5">Badge Name <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" size="91" name="badgeName" id="badgeName" value="{{badge.badgeName}}" pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Description <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td colspan="5"><textarea style="border: solid 1px rgba(128, 128, 128, 0.5)" rows="4" cols="92" name="badgeDescription" id="badgeDescription" required>{{badge.badgeDescription}}</textarea></td>
                        </tr>
                        <tr>
                           <td colspan="5">Badge Image <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td><font style="font-size:.8em;">Choose an image for the badge:</font></td>
                        </tr>
                        <tr>
                           <td colspan="5">
                              <!-- New Badges -->
                              
                              <div class="badge-selector">
                              
                              {% for i, image in imagePaths %}
                                <input type="radio" id="Badge{{i}}" name="badgeImage" value="{{image}}" {% if badge.badgeImage == image %}checked{% endif %}/> 
                              	<label class="badge" for="Badge{{i}}"><img src="/{{image}}" width="107" height="107" alt="Choose an image for badge"></label>
                              	&nbsp;&nbsp;&nbsp;

		 					  {% endfor %}
                              
 							  </div>
                          </td>
                        </tr>
                        <tr>
                        	<td><br/></td>
                        </tr>
                        <tr>
                           <td colspan="5">Conditions Applied for the Badge <span style="color: red; font-weight: bolder;">*</span></td>
                        </tr>
                        <tr>
                           <td>
                           		{% include "Badges/conditionInterface.html" %}
                           </td>
                        </tr>
                     </table>
                     <ul class="actions">
                        <li style="margin:0"><input type="submit" id="edit" name="edit" value="Edit Badge" class="button" onclick="return true;"></li>
                        <li style="margin:0"><input type="submit" id="delete" name="delete" value="Delete Badge" class="button" onclick="return confirm('Are you sure you want to delete?')"></li>
                        <a href="/oneUp/badges/Badges"><button type="button" class="button special" value="Cancel">Cancel</button></a>
                     </ul>
                  </form>
                  <br />
               </div>
            </div>
         </div>
      </div>
          <!-- Footer -->      
          {% include 'footer.html' %}

      </div>
   </body>
</html>