<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}  
      <main>
            <div class="row center-align">
               <div class="col s12">
                  <h3>Periodic Virtual Currency Rules</h3>
               </div>
            </div>
            <div class="row right-align">
               <div class="col s12 m10 offset-m1">
                  <a class="waves-effect waves-light btn" href="/oneUp/badges/TimeBasedVirtualCurrency"><i class="material-icons left">add_circle</i> {% if isRuleCustom == True %}Add New Manual Earning Rule{% else %}Add New Automatic Earning Rule{% endif %}</a>
                </div>
              </div>
              <div class="row">
            	<div class="col s12 m10 offset-m1">
                  <div class="card">
                  	<div class="card-content">
                  <table>
                     <thead>
                        <th>Name</th>
                        <th>Course Bucks</th>
                        <th>Description</th>
                        <th></th>
                     </thead>
                     <tbody>
                     {% for i,vcRuleID,vcRuleName,vcAmount,vcDescription in vcRuleInfo %}
                     <tr>
                        <td>{{vcRuleName}}</td>
                        <td>{{vcAmount}}</td>
                        <td>{{vcDescription}}</td>
                        <td>
                           <form action="/oneUp/badges/TimeBasedVirtualCurrency" method="POST">
                              {% csrf_token %} 
                              <input type="hidden" name="vcRuleID" value="{{vcRuleID}}">
                              <input type="hidden" name="edit">
                              <input type="hidden" name="delete" value="delete">
                              <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                              <ul id='dropdown{{i}}' class='dropdown-content'>
                                    <li><a href="/oneUp/badges/TimeBasedVirtualCurrency?vcRuleID={{vcRuleID}}">Edit</a></li>
                                    <li class="divider"></li>                         
                                    <li><a class="modal-trigger" href="#modal_delete{{i}}">Delete</a></li>
                              </ul>
                              <div id="modal_delete{{i}}" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                       </button>                                        
                                    </div>
                                 </div>
                           </form>
                        </td>
                     </tr>
                     {% empty %}
                     <tr>
                       <td class="center-align" colspan="3"><i>No rules created</i></td>
                     </tr>
                     {% endfor %}
                     </tbody>
                  </table>
                  </div>
               </div>
               </div>   
               </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>