<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <script>
   function obtainCheckBoxData(){  
   checkbox = document.getElementById('resetCheckbox');
	  if (checkbox.checked){
		  document.getElementById('resetStreakHidden').value = "1";
	  		return true;
	  }
	  else{
		  document.getElementById('resetStreakHidden').value = "0";
	  	return true;
	  }
   }
   
   function displayResetStreakCheckbox(){
		var previous = document.getElementById('previous');
		var checkboxEntity = "<div class='col s5' id='resetStreak'>\n"+
		"<input type='checkbox' id='resetCheckbox'/>\n"+
	        "<label for='resetCheckbox'>Reset Streak At Limit</label>\n"+
	    "<input id='resetStreakHidden' type='hidden' name='resetStreak'>\n"+
	    "</div>";
		var variableSelected = document.getElementById('periodicVariableSelected').value;
		if (variableSelected == 1407 | variableSelected == 1408 | variableSelected == 1409| variableSelected == 1410){
			if(!document.getElementById('resetStreak')){
	        	var node = document.createTextNode(checkboxEntity);
	        	previous.insertAdjacentHTML('afterEnd',checkboxEntity);
	        	
	        	
	        	  var reason = document.getElementById("reason");
	        	  reason.style.display = "none";
	        	  reason.required = false;
	        	  document.getElementById("numberOfAwards").required = false;
			}
		}else{
			var previous = document.getElementById('resetStreak');
			previous.parentElement.removeChild(previous);
			 var reason = document.getElementById("reason");
	   	  reason.style.display = "block";
	   	reason.required = true;
	   	document.getElementById("numberOfAwards").required = true;
		}
	}
   </script>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if edit %}
               <h3>Modify Time Based Virtual Currency</h3>
               {% else %}
               <h3>Add New Time Based Virtual Currency</h3>
               {% endif %}
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form name= "editPeriodicVC" action="/oneUp/badges/TimeBasedVirtualCurrency" method="POST" onsubmit="return obtainCheckBoxData();">
                  {% csrf_token %}
                  {% if edit %}
                  <input type="hidden" name="vcRuleID" id="badgeId" value="{{vc.vcRuleID}}">
                  <input type="hidden" name="edit"  value="{{edit}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="" value="{{vc.vcRuleName}}" name="vcRuleName" id="vcRuleName" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="vcRuleName"><span class= "red-text">*</span> Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <textarea name="vcRuleDescription" id="vcRuleDescription" class="materialize-textarea validate" required>{{vc.vcRuleDescription}}</textarea>
                              <label for="vcRuleDescription"><span class= "red-text">*</span> Description</label>
                           </div>
                        </div>
                        <div id='reason' class="row">
                            <div class="col s6">
                                <label>Give To:</label>
                                <p>
                                    <input name="selectors" value="TopN" id="TopN" onclick="showStudentNum()" {% if vc.periodicType == 0 %}checked{% endif %} type="radio" />
                                    <label for="TopN">Top #</label>
                                </p>
                                <p>
                                    <input name="selectors" id="All" value="All" onclick="hideStudentNum()" {% if vc.periodicType == 1 %}checked{% endif %} type="radio" />
                                    <label for="All">All Students</label>
                                </p>
                                <p>
                                    <input name="selectors" id="Random" value="Random" onclick="hideStudentNum()" {% if vc.periodicType == 2 %}checked{% endif %} type="radio" />
                                    <label for="Random">Random Student(s)</label>
                                </p>
                            </div>
                           <div id="studentNum" class="col s6">
                              <label for="numberOfAwards">Number of Students:</label>
                              <input required type="number" id="numberOfAwards" name="numberOfAwards" value="{{vc.numberOfAwards}}" min="1" required></input>
                           </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="number" id="vcRuleAmount" name="vcRuleAmount" class="materialize-textarea validate" value="{{vc.vcRuleAmount}}"required></input>
                                <label for="vcRuleAmount"><span class= "red-text">*</span>Course Bucks Earned with This Rule</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <label for="timePeriodSelected">Time Period:</label>
                            <select id="timePeriodSelected" name="timePeriodSelected">
                                {% for timePeriod in timePeriods %}
                                <option value="{{timePeriod.index}}" {% if vc.timePeriodID == timePeriod.index %}selected{% endif %}>{{timePeriod.displayName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                              <div class="col s6">
                                    <label>Condition:</label>
                                    <select onchange="displayResetStreakCheckbox();" id="periodicVariableSelected"
                                       name="periodicVariableSelected">
                                       {% for periodicVariable in periodicVariables %}
                                       <option value="{{periodicVariable.index}}"
                                          {% if badge.periodicVariableID == periodicVariable.index %}selected{% endif %}>{{periodicVariable.displayName}}</option>
                                       {% endfor %}
                                    </select>
                                 </div>
                                 <div class="col s2">
                                    <label for="operator">Operator: </label>
                                    <select id="operator" name="operator">
                                       <option id="&amp;gt;" value=">">></option>
                                       <option id="&amp;gt;=" value=">=">>=</option>
                                       <option id="=" value="=">=</option>
                                    </select>
         
                                 </div>
                                 <div class="col s2">
                                    <label for="timePeriodSelected">Threshold:</label>
                                    <input type="number" id="threshold_value" name="threshold" value="{{vc.threshold}}" min="0"></input>
                                    <select id="threshold_select" name="threshold">
                                       <option id="avg" value="avg">average</option>
                                       <option id="max" value="max">max</option>
                                    </select>
         
                                 </div>
                                 <div id="previous" class="col s2" style="height: 5rem; display: flex; align-items: center;">
                                    <input type="checkbox" class="filled-in" id="value-checkbox" {% if is_value == True %} checked
                                       {% endif %} />
                                    <label for="value-checkbox">Value</label>
                                 </div>
                                 <script  type="text/javascript"> 
                                    window.onload = function() {
                                       if ("{{vc.operatorType}}" != '')  {
                                          var x = document.getElementById("operator");
                                          x.options["{{vc.operatorType}}"].selected = true;
                                          $("#operator").material_select();
                                       }
                                       {% if is_value == False %}
                                       if ("{{vc.threshold}}" != '')  {
                                          var x = document.getElementById("threshold_select");
                                          x.options["{{vc.threshold}}"].selected = true;
                                          $("#threshold_select").material_select();
                                       } 
                                       {% endif %}
                                    }
                                 </script> 
                            
                {%if checkbox == False or checkbox == True %}	
                       <div class="col s5">
					<br>{% if checkbox == True  %}
                  	<input type="checkbox" checked="checked" id="resetCheckbox" />
                        <label for="resetCheckbox">Reset Streak At Threshold</label>
                        <input id="resetStreakHidden"type="hidden" name="resetStreak">
                    {% else %}
                    <input type="checkbox" id="resetCheckbox" />
                        <label for="resetCheckbox">Reset Streak At Treshhold</label>
                        <input id="resetStreakHidden"type="hidden" name="resetStreak">
                    {% endif %}
                    </div>
                    {% endif %}
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <!-- name will be changed depending on what this is GMM, either custom or edit GGM -->
                        <button id="button" class="btn waves-effect waves-light" type="submit">{% if edit %}Save{% else %} Create{% endif %} Rule<i class="material-icons right">send</i>
                        </button>
                        {% if edit %}
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete">Delete<i class="material-icons right">close</i></a>
                        {% endif %}
                        <a class="waves-effect waves-light btn" href="/oneUp/badges/PeriodicVirtualCurrencyEarnRuleList">											
                        <i class="material-icons left">navigate_before</i>Back</a>                                                                  									
                     </div>
                     <div id="modal_delete" class="modal">
                        <div class="modal-content">
                           <h5>Are you sure you want to delete?</h5>
                        </div>
                        <div class="modal-footer">
                           <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                           <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="delete" value="Delete">Delete
                           </button>                                        
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
   <script>
       load();
       function load(){
           {% if edit is True %}
            if({{vc.periodicType}} > 0){
                hideStudentNum();
            }
           {% endif %}
       }
		function showStudentNum() {
			var x = document.getElementById("studentNum");
			var input = document.getElementById("numberOfAwards");
			if (x.style.display === "none"){
			x.style.display = "block";
			input.required = true;
			} else {
				x.style.display = "block";
				input.required = false;
			}
		 }
		
		function hideStudentNum(){
			var x = document.getElementById("studentNum");
			x.style.display = "none";
			var input = document.getElementById("numberOfAwards");
			input.required = false;
		}
		
		{%if checkbox == False or checkbox == True %}	
		var reason = document.getElementById("reason");
		reason.style.display = "none";
		reason.required = false;
		document.getElementById("numberOfAwards").required = false;
		{% endif %}
</script>
<script>
$(document).ready(function() {
		var show = false;
		{% if is_value == True %}
		show = true;
		{% endif %}
		if(show){
			$('#threshold_select').toggleClass('hide');
			$('#threshold_select').prop('disabled', function(i, v) { return !v; });
			$('#threshold_select').material_select();
		}else{
			$('#threshold_value').toggleClass('hide');
			$('#threshold_value').prop('disabled', function(i, v) { return !v; });
		}
		$('#value-checkbox').click(()=> {
			$('#threshold_value').toggleClass('hide');
			$('#threshold_value').prop('disabled', function(i, v) { return !v; });
			$('#threshold_select').toggleClass('hide');
			$('#threshold_select').prop('disabled', function(i, v) { return !v; });
			$('#threshold_select').material_select();
		})

		var descriptions = [];
		{% for periodicVariable in periodicVariables %}
		descriptions.push('{{periodicVariable.description|safe}}');
		{% endfor %}
		var periodic_variables = $('#periodicVariableSelected').siblings()[2].children;
		for(var i = 0; i < periodic_variables.length; i++){
			$(periodic_variables[i]).addClass('tooltipped').attr('data-position', 'bottom').attr('data-tooltip', descriptions[i]);
		}
		$('.tooltipped').tooltip();
	});
</script>
</html>