<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if edit %}
               <h3>Modify Time Based Virtual Currency</h3>
               {% else %}
               <h3>Add New Time Based Virtual Currency</h3>
               {% endif %}
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form name= "editPeriodicVC" action="/oneUp/badges/TimeBasedVirtualCurrency" method="POST" onsubmit="return condOnSubmit();">
                  {% csrf_token %}
                  {% if edit %}
                  <input type="hidden" name="vcRuleID" id="badgeId" value="{{vc.vcRuleID}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="" value="{{vc.vcRuleName}}" name="vcRuleName" id="vcRuleName" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="vcRuleName"><span class= "red-text">*</span> Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <textarea name="vcRuleDescription" id="vcRuleDescription" class="materialize-textarea validate" required>{{vc.vcRuleDescription}}</textarea>
                              <label for="vcRuleDescription"><span class= "red-text">*</span> Description</label>
                           </div>
                           <div class="col s6">
                           <label>Reason:</label>
                              <p>
                                 <input name="selectors" id="TopN" onclick="showStudentNum()" checked type="radio" />
                                 <label for="TopN">TopN</label>
                              </p>
                              <p>
                              	<input name="selectors" id="All" onclick="hideStudentNum()" type="radio" />
                                 <label for="All">All</label>
                              </p>
                              <p>
                              	<input name="selectors" id="Random" onclick="hideStudentNum()" type="radio" />
                                 <label for="Random">Random</label>
                              </p>
                              </div>
                              <br>
                           <div id="studentNum" class="col s6">
                              <label for="numberOfAwards"><span>Number of Students:</span></label>
                              <input required type="number" id="numberOfAwards" name="numberOfAwards" value="{{vc.numberOfAwards}}"></input>
                           </div>
                           <div class="row">
                              <div class="input-field col s12">
                                 <input type="number" id="vcRuleAmount" name="vcRuleAmount" class="materialize-textarea validate" value="{{vc.vcRuleAmount}}"required></input>
                                 <label for="vcRuleAmount"><span class= "red-text">*</span>Course Bucks Earned with This Rule</label>
                              </div>
                           </div>
                           <div class="col s7">
                              <label for="timePeriodSelected"><span>Time Period:</span></label>
                              <select id="timePeriodSelected" name="timePeriodSelected">
                                 {% for timePeriod in timePeriods %}
                                 <option value="{{timePeriod.index}}">{{timePeriod.displayName}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                           <div class="row">
                              <div class="col s6">
                                 <label><span>Condition:</span></label>
                                 <select id="periodicVariableSelected" name="periodicVariableSelected">
                                    {% for periodicVariable in periodicVariables %}
                                    <option value="{{periodicVariable.index}}">{{periodicVariable.displayName}}</option>
                                    {% endfor %}
                                 </select>
                              </div>
                              <div class="col s6">
                                 <label for="timePeriodSelected"><span> Treshold:</span></label>
                                 <input type="number" id="treshold" name="threshold"></input>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <!-- name will be changed depending on what this is GMM, either custom or edit GGM -->
                        <button id="button" class="btn waves-effect waves-light" type="submit">Create Rule<i class="material-icons right">send</i>
                        </button>
                        {% if edit %}
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete">Delete<i class="material-icons right">close</i></a>
                        {% endif %}
                        <a class="waves-effect waves-light btn" href="/oneUp/badges/PeriodicVirtualCurrencyEarnRuleList">											
                        <i class="material-icons left">navigate_before</i>Back</a>                                                                  									
                     </div>
                     <div id="modal_delete" class="modal">
                        <div class="modal-content">
                           <h5>Are you sure you want to delete?</h5>
                        </div>
                        <div class="modal-footer">
                           <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                           <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="delete" value="Delete">Delete
                           </button>                                        
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
   <script>
  function showStudentNum() {
		   	var x = document.getElementById("studentNum");
		   	if (x.style.display === "none")
		        x.style.display = "block";
		   	else
		   		x.style.display = "block";
   }
  
  function hideStudentNum(){
		var x = document.getElementById("studentNum");
	   	x.style.display = "none";
  }

   </script>
</html>