<!DOCTYPE html>
<html lang="en">

<head>
      {% include 'scripts.html' %}
</head>

<body>
      {% include 'heading.html' %}
      <main>

            
            <div class="row" >
            <!-- Added a second button to the page so we can have buttons without conditions for manual usgage GGM -->
        
        
      
            <div class="row center-align">
                  <div class="col s12">
                        <h3>Virtual Currency Spend Rules</h3>
                  </div>
            </div>
      <form name="reorderBadges" action="/oneUp/badges/reorderVcSpendRuleList" method="POST">
            {% csrf_token %}
            <div class="row right-align">
                  <div class="col s12 m10 offset-m1">

                        <a class="waves-effect waves-light btn" href="/oneUp/badges/CreateVirtualCurrencySpendRule"><i
                                    class="material-icons left">edit</i>Create Spending Rule</a>
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Reorder Rules
                              <i class="material-icons right">reorder</i>
                        </button>

                  </div>
            </div>
            <div class="row">
                  <div class="col s12 m10 offset-m1">
                        <div class="card">
                              <div class="card-content">
                                    <table>
                                          <thead>
                                                <th>Name</th>
                                                <th>Course Bucks</th>
                                                <th>Limit</th>
                                                <th>&nbsp; Rule Position</th>
                                          </thead>
                                          <tbody>
                                                {% for i,vcsRuleID,vcsRuleName,vcsAmount, limit, position in vcsRuleInfo %}
                                                <tr>
                                                      <td>{{vcsRuleName}}</td>
                                                      <td>{{vcsAmount}}</td>
                                                      <td>{{limit}}</td>
                                                      <td>
                                                            <div class="input-field col s6">
                                                                  <input placeholder="Position" value="{{position}}" name="{{vcsRuleID}}" id="vcsRulePosition" maxlength="4"
                                                                  type="number" class="validate" min="0" required>
                                                            </div>
                                                      </td>
                                                      <td>
                                                            <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false"
                                                                  data-beloworigin="true" data-activates='dropdown-{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i
                                                                        class="material-icons">more_vert</i></a>
                                                            <ul id='dropdown-{{i}}' class='dropdown-content'>
                                                                  <li><a href="/oneUp/badges/CreateVirtualCurrencySpendRule?vcRuleID={{vcsRuleID}}">Edit</a></li>
                                                                  <li class="divider"></li>
                                                                  <li><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
                                                            </ul>
                                                            <div id="modal_delete-{{i}}" class="modal">
                                                                  <div class="modal-content">
                                                                        <h5>Are you sure you want to delete?</h5>
                                                                        <p>Problems will not be deleted</p>
                                                                  </div>
                                                                  <div class="modal-footer">
                                                                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                                                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat" value="Delete" onclick="deleteRule('{{vcsRuleID}}')">Delete
                                                                        </button>
                                                                  </div>
                                                            </div>
                                                      </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                      <td class="center-align" colspan="3"><i>No rules created</i></td>
                                                </tr>
                                                {% endfor %}
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </form>
      </main>
      {% include 'footer.html' %}
</body>
<script>
            function deleteRule(rule_id) {
                  function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                          break;
                                    }
                              }
                        }
                        return cookieValue;
                  }
      
                  function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                  }
      
                  var csrftoken = getCookie('csrftoken');
                  $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                              }
                        }
                  });
                  $.ajax({
                        type: "POST",
                        url: "/oneUp/instructors/deleteManualSpendRule",
                        data: {
                              'vcRuleID': rule_id // from form
                        },
                        success: function () {
                              console.log("Deleted");
                              location.reload();
                        }
                  });
            }
      </script>
</html>