<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}  
      <div class="frame" id="grad" align="center">
         <div class="container">
            <div class="row">
               <div class="12u">
                  <h1>{% if isRuleCustom == True %}Manual {% else %} Automatic {% endif %} Virtual Currency Earn Rules</h1>
               </div>
            </div>
            <!-- INSERTED DYNAMIC TABLE --> 
            <div class="row">
               <div class="12u">
                  <a href="/oneUp/badges/CreateVirtualCurrencyRule?isRuleCustom={{isRuleCustom}}"><input type="button" {% if isRuleCustom == True %} value="Create New Manual Earning Rule" {% else %} value="Create New Automatic Earning Rule"{% endif %}></a>
                  <br /><br />
                  <!-- New: List of badges added; DD 02/04/2015 -->
                  <table class="bg">
                     <tr>
                        <th>Name</th>
                        <th>Course Bucks</th>
                        <th></th>
                     </tr>
                     {% for i,vcRuleID,vcRuleName,vcAmount in vcRuleInfo %}
                     <tr>
                        <td style="vertical-align:middle">{{vcRuleName}}</td>
                        <td>{{vcAmount}}</td>
                        <td style="vertical-align:middle; text-align:right">
                           <form action="/oneUp/badges/SaveVirtualCurrencyRule" method="POST">
                              {% csrf_token %} 
                              <a href="/oneUp/badges/EditVirtualCurrencyRule?vcRuleID={{vcRuleID}}&isRuleCustom={{isRuleCustom}}"><button type="button">Edit</button></a>
                              <input type="hidden" name="vcRuleID" value="{{vcRuleID}}">
                              <input type="hidden" name="isRuleCustom" value="{{isRuleCustom}}">
                              <input type="hidden" name="edit" value="edit">
                              <input type="hidden" name="delete" value="delete">
                              <input type="submit" name="submit" value="Delete" class="button" onclick="return confirm('Are you sure you want to delete?')">
                           </form>
                        </td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      {% include 'footer.html' %}
   </body>
</html>