<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}  
      <main>
      <div class="row center-align">
               <div class="col s12">
                  <h5>Virtual Currency</h5>
               </div>
            </div>
            
            <div class="row" >
            <!-- Added a second button to the page so we can have buttons without conditions for manual usgage GGM -->
        
            <div class="center-align col s12">
            	<a class="waves-effect waves-light btn" href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom=false">
                    <i class="material-icons left">add_circle</i>Automatic VC Earning Rules</a>
                <a class="waves-effect waves-light btn" href="/oneUp/badges/PeriodicVirtualCurrencyEarnRuleList">
                    <i class="material-icons left">add_circle</i>Time Period Earning Rules</a>
                     <a class="waves-effect waves-light btn" href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom=true">
                    <i class="material-icons left">add_circle</i>Manual VC Earning Rules</a>
            </div>
        
      
            <div class="row center-align">
               <div class="col s12">
                  <h5>Virtual Currency Spend Rules</h5>
               </div>
            </div>
            <div class="row right-align">
               <div class="col s12 m10 offset-m1">
  
                  <a class="waves-effect waves-light btn" href="/oneUp/badges/SelectVirtualCurrencySpendRule"><i class="material-icons left">edit</i>Modify Spending Rules</a>
                  
                 </div>
                 </div>
                 <div class="row">
                 <div class="col s12 m10 offset-m1">
                 <div class="card">
                  	<div class="card-content">
                  <table>
                     <thead>
                        <th>Name</th>
                        <th>Course Bucks</th>
                     </thead>
                     <tbody>
                     {% for i,vcsRuleID,vcsRuleName,vcsAmount in vcsRuleInfo %}
                     <tr>
                        <td>{{vcsRuleName}}</td>
                        <td>{{vcsAmount}}</td>
                     </tr>
                     {% empty %}
                     <tr><td class="center-align" colspan="2"><i>No rules created</i></td></tr>
                     {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>