<!DOCTYPE html>
<html lang="en">
    <style>
        .indicator {
            margin: .2em;
            width: 5em;
            height: 2.5em;
        }
        .cards-container {
            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid;
            column-gap: 0;
        }


        @media only screen and (max-width : 600px) {
            .cards-container {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }
        }

        @media only screen and (min-width : 601px) {
            .cards-container {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }

        @media only screen and (min-width : 993px) {
            .cards-container {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 2;
            }
        }
    </style>
<head>
        <script type="text/javascript" src="/static/ThirdParty/progressbar.js/progressbar.js"></script>
    {% include 'scripts.html' %}

    <script src="/static/ThirdParty/Highcharts-stable/highcharts.src.js"></script>

    <script>
        $(function() {
            var chalYourPoints = function() {
                var dataArray1 = [{% for i, chall_Name, score, total in challenge_range %}['{{chall_Name}}', {{score}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray1;

            };
            var chalTotalPoints = function() {
                var dataArray2 = [{% for i,chall_Name,score,total in challenge_range %}['{{chall_Name}}', {{total}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray2;
            };
            var challengeName = function() {
                var dataArray3 = [{% for i,chall_Name,score,total in challenge_range %}['{{chall_Name}}'] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray3;
            };
            //container1 - Student point chart in Challenges
            $('#container1').highcharts({
                chart: {
                    type: 'column',
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: challengeName(),
                    title: {
                        // x-aixs label in Student point chart
                        text: 'Challenges',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        // x-aixs label in Student point chart
                        text: 'Points',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: 'points'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 0,
                    itemStyle: {
                        width: '100px',
                        textOverflow: 'ellipsis',
                        overflow: 'hidden'
                    },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    //Student point chart label and blue color. 
                    name: 'Your Points',
                    color: 'darkblue',
                    data: chalYourPoints()
                }, {
                    //Student point chart label and color. 
                    name: 'Max Possible Points',
                    color: '#3399ff', //blue    
                    data: chalTotalPoints()
                }]
            });

        });
    </script>
    <script>
        $(function() {
            var chalYourPoints1 = function() {
                var dataArray4 = [{% for i,chall_Name,score,total,challavg in challengeWithAverage_range %}['{{chall_Name}}', {{score}}] {% if not forloop.last %}, {% endif %} {% endfor %}];

                return dataArray4;
            };
            var chalTotalPoints1 = function() {
                var dataArray5 = [{% for i,chall_Name,score,total,challavg in challengeWithAverage_range %}['{{chall_Name}}', {{total}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray5;
            };
            var chalTotalAvgPoints1 = function() {
                var dataArray6 = [{% for i,chall_Name,score,total,challavg in challengeWithAverage_range %}['{{chall_Name}}', {{challavg}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray6;
            };
            var challengeName1 = function() {
                var dataArray7 = [{% for i,chall_Name,score,total,challavg in challengeWithAverage_range %}['{{chall_Name}}'] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray7;
            };


            //container2 - Class Average chart in Challenges
            $('#container2').highcharts({
                chart: {
                    type: 'column',
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: challengeName1(),
                    title: {
                        // x-aixs label in Class Average chart
                        text: 'Challenges',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        // y-aixs label in Class Average chart
                        text: 'Points',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' points'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 0,
                    itemStyle: {
                        width: '100px',
                        textOverflow: 'ellipsis',
                        overflow: 'hidden'
                    },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    //Class Average chart label and default color
                    name: 'Your points',
                    color: 'darkblue',
                    data: chalYourPoints1(),
                }, {
                    //Class Average chart label and color
                    name: 'Max Possible Points',
                    color: '#3399ff', //blue
                    data: chalTotalPoints1()
                }, {
                    //Class Average chart label and color
                    name: 'Class Average Points',
                    color: '#33cc33',
                    data: chalTotalAvgPoints1(),
                }]
            });
        });
    </script>

    <script>
        // SKILLS

        $(function() {
            var defSkillNamesArray = [];
            var defSkillPointsArray = [];
            var defskillYourPoints = function() {
                var skillNamesArray = [];
                var skillPointsArray = [];

                var skillArray = [{% for i,skill_Name,skill_Points in skill_range %}['{{skill_Name}}', {{skill_Points}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                var index = 0;

                for (i = 0; i < skillArray.length; i++) {
                    var defSkillAlreadyExists = 'N';

                    for (j = 0; j < defSkillNamesArray.length; j++) {
                        if (skillArray[i][0] == defSkillNamesArray[j]) {
                            defSkillAlreadyExists = 'Y';
                            defSkillPointsArray[j] += skillArray[i][1];
                        }
                    }
                    if (defSkillAlreadyExists == 'N') {
                        defSkillNamesArray[index] = skillArray[i][0];
                        defSkillPointsArray[index] = skillArray[i][1];
                        index++;
                    }


                }
                return defSkillPointsArray;
            };
            var skillName = function() {
                var dataArray = [{% for i,skill_Name,skill_Points in skill_range %}'{{skill_Name}}' {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray;
            };

            //container3 - Student skill points only; No class average    
            $('#container3').highcharts({
                chart: {
                    type: 'bar',
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '.'
                },
                xAxis: {
                    categories: defSkillNamesArray,
                    title: {
                        // x-aixs label in Student point chart
                        text: 'Skills',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        // y-aixs label in Student point chart
                        text: 'Skill Points',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' points'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 0,
                    itemStyle: {
                        width: '100px',
                        textOverflow: 'ellipsis',
                        overflow: 'hidden'
                    },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    //Student point chart label 
                    name: 'Your points',
                    color: 'darkblue',
                    //color: '#3399ff',		//blue
                    data: defskillYourPoints()
                }]
            });
        });
    </script>
    <script>
        $(function() {
            var nondefskillsNamesArray2 = [];
            var nondefskillsPointsArray2 = [];
            var nondefskillsAvgPointsArray = [];
            var nondefskillYourPoints = function() {
                var skillArray2 = [{% for i,skill_Name,skill_Points in nondefskill_range %}['{{skill_Name}}', {{skill_Points}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                var index = 0;


                for (i = 0; i < skillArray2.length; i++) {
                    var nondefSkillAlreadyExists = 'N';

                    for (j = 0; j < nondefskillsNamesArray2.length; j++) {
                        if (skillArray2[i][0] == nondefskillsNamesArray2[j]) {
                            nondefSkillAlreadyExists = 'Y';
                            nondefskillsPointsArray2[j] += skillArray2[i][1];
                        }
                    }
                    if (nondefSkillAlreadyExists == 'N') {
                        nondefskillsNamesArray2[index] = skillArray2[i][0];
                        nondefskillsPointsArray2[index] = skillArray2[i][1];
                        index++;
                    }
                }
                return nondefskillsPointsArray2;
            };

            var nondefskillavgpoints = function() {
                var skillArray3 = [{% for i,skill_Name,skill_ClassAvg in skillWithAverage_range %}['{{skill_Name}}', {{skill_ClassAvg}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                var index3 = 0;
                var nondefskillsNamesArray3 = [];
                for (i = 0; i < skillArray3.length; i++) {
                    var nondefSkillAlreadyExists = 'N';


                    for (j = 0; j < nondefskillsNamesArray3.length; j++) {
                        if (skillArray3[i][0] == nondefskillsNamesArray3[j]) {
                            nondefSkillAlreadyExists = 'Y';
                        }
                    }
                    if (nondefSkillAlreadyExists == 'N') {
                        nondefskillsNamesArray3[index3] = skillArray3[i][0];
                        nondefskillsAvgPointsArray[index3] = skillArray3[i][1];
                        index3++;
                    }
                }
                return nondefskillsAvgPointsArray;
            };


            var nondefskilltotalpoints = function() {
                var skillArray5 = [{% for i,skill_ID,skill_Name,skillTotal_Points in nondefskillTotalpoints_range %}['{{skill_Name}}', {{skillTotal_Points}}] {% if not forloop.last %}, {% endif %} {% endfor %}];
                return skillArray5;
            };

            var nondefskillName = function() {
                var dataArray4 = [{% for i,skill_Name,skill_Points in nondefskill_range %}'{{skill_Name}}' {% if not forloop.last %}, {% endif %} {% endfor %}];
                return dataArray4;
            };

            //container4 - Class average skills displayed	    
            $('#container4').highcharts({
                chart: {
                    type: 'bar',
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '.'
                },
                xAxis: {
                    categories: nondefskillsNamesArray2, //nondefskillName(),
                    title: {
                        // x-aixs label in Class Average chart
                        text: 'Skills',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        // y-aixs label in Class Average chart
                        text: 'Skill Points',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' points'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false,
                            useHTML: true
                        }
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 0,
                    itemStyle: {
                        width: '100px',
                        textOverflow: 'ellipsis',
                        overflow: 'hidden'
                    },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                        //Student point chart label and default color.
                        name: 'Your points',
                        color: 'darkblue',
                        //color: '#3399ff',		//blue
                        data: nondefskillYourPoints()
                    },
                    {
                        //Student point chart label and default color.
                        name: 'Class Average Points',
                        color: '#33cc33', //green
                        data: nondefskillavgpoints()
                    }
                ]
            });
        });
    </script>
    <script type='text/javascript'>
        //WARM UP CHALLENGES

        $(function() {
            var warmUpChallengeNameArray = [];
            var warmupChallengeExists = 'N';
            var warmUpAttemptsArray = [];
            var warmUpMaxScoreArray = [];
            var warmUpMinScoreArray = [];
            var warmUpTotalScoreArray = [];
            var warmUpCategoryArray = [];

            var warmUpChallengeName = function() {
                var warmUpdataArray = [{% for i,chall_Name,total,noOfAttempts,warmUpMaxScore,warmUpMinScore in studentWarmUpChallenges_range %}['{{chall_Name}}', {{noOfAttempts}}, {{warmUpMaxScore}}, {{warmUpMinScore}}, {{total}}] {% if not forloop.last %}, {% endif %} {% endfor %}];

                var warmUpIndex = 0;
                for (i = 0; i < warmUpdataArray.length; i++) {
                    for (j = 0; j < warmUpChallengeNameArray.length; j++) {
                        if (warmUpdataArray[i][0] == warmUpChallengeNameArray[j]) {
                            warmupChallengeExists = 'Y';
                        }
                    }
                    if (warmupChallengeExists == 'N') {
                        warmUpChallengeNameArray[warmUpIndex] = warmUpdataArray[i][0];
                        warmUpAttemptsArray[warmUpIndex] = warmUpdataArray[i][1];
                        warmUpMaxScoreArray[warmUpIndex] = warmUpdataArray[i][2];
                        warmUpMinScoreArray[warmUpIndex] = warmUpdataArray[i][3];
                        warmUpTotalScoreArray[warmUpIndex] = warmUpdataArray[i][4];
                        warmUpCategoryArray[warmUpIndex] = warmUpChallengeNameArray[warmUpIndex] + '<br>Num.of attempts:' + warmUpAttemptsArray[warmUpIndex];
                        warmUpIndex++;
                    }
                }

                return warmUpChallengeNameArray;
            };

            var warmUpChallengeAttempts = function() {
                return warmUpAttemptsArray;
            };

            var warmUpChallengeMaxScore = function() {
                return warmUpMaxScoreArray;
            };

            var warmUpChallengeMinScore = function() {
                return warmUpMinScoreArray;
            };

            var warmUpChallengeTotalScore = function() {
                return warmUpTotalScoreArray;
            };

            var warmUpCategory = function() {
                var wuN = warmUpChallengeName();
                var wuA = warmUpChallengeAttempts();
                for (i = 0; i < warmUpChallengeNameArray.length; i++) {
                    warmUpCategoryArray[i] = wuN[i] + '<br>Num. attempts:' + wuA[i];

                }
                return warmUpCategoryArray;
            };

            $('#container5').highcharts({
                chart: {
                    type: 'bar',
                    height: {{warmUpContainerHeight}},

                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '.'
                },
                xAxis: {
                    categories: warmUpCategory(),
                    title: {
                        // x-aixs label in warmup challenges chart
                        text: 'Warm Up Challenges',
                        align: 'middle'
                    },
                },
                yAxis: {
                    min: 0,
                    title: {
                        // y-aixs label in warmup challenges chart
                        text: 'Points',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                scrollbar: {
                    enabled: true
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false,
                            //enabled: true,
                            //useHTML:true
                        }
                    },
                    //series: {
                    //    pointPadding: 0,
                    //    groupPadding: 0.1,
                   // }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 0,
                    itemStyle: {
                        width: '105px',
                        textOverflow: 'ellipsis',
                        overflow: 'hidden'
                    },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                        //Warmup challenges chart label and default color.
                        name: 'Your Min Score',
                        color: '#fd7902', // orange
                        //color: '#33ffcc',  // green-blue
                        data: warmUpChallengeMinScore()
                        //data: [10, 23, 402, 32, 42, 323 ,23 ,23 ,32 ,23, 32, 23,32,10, 23, 402, 32, 42, 323 ,23 ,23 ,32 ,23, 32, 23,32]
                    },
                    {
                        //Warmup challenges chart label and default color.
                        name: 'Your Max Score ',
                        color: 'darkblue',
                        data: warmUpChallengeMaxScore()
                    },
                    {
                        //Warmup challenges chart label and default color.
                        name: 'Max Possible Score',
                        color: '#3399ff',
                        data: warmUpChallengeTotalScore()
                    }
                ]
            });
        });
    </script>

    <script type='text/javascript'>
        // PROGRESS BAR

        $(function() {
            var PointsEarnedData = function() {

                var PointsEarnedDataArray1 = {{currentEarnedPoints}};
                return PointsEarnedDataArray1;
            };
            var RemainingChallengePoints = function() {

                var RemainingChallengePointsDataArray1 = {{remainingPointsToEarn}};
                return RemainingChallengePointsDataArray1;
            };
            var ChallengePointsmissed = function() {

                var ChallengePointsmissedDataArray1 = {{missedPoints}};
                return ChallengePointsmissedDataArray1;
            };
            var ChallengePointsProjected = function() {

                var ChallengePointsProjectedDataArray1 = {{projectedEarnedPoints}};
                return ChallengePointsProjectedDataArray1;
            };
            var ChallengesMaxPoints = function() {

                var ChallengesMaxPointsDataArray1 = {{totalMilestonePoints}};
                return ChallengesMaxPointsDataArray1;
            };
            var ChallengesTickPoints = function() {

                var ChallengesTickPointsDataArray1 = {{projectedEarnedPoints}};
                return ChallengesTickPointsDataArray1;
            };
            //Your Progress
            $('#p1').highcharts({
                chart: {
                    renderTo: 'p1',
                    type: 'bar',
                    borderWidth: 0,
                    borderColor: '#333300',
                    margin: [0],
                },

                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: {
                    tickInterval: 5,
                    allowDecimals: false,
                    tickColor: '#ccc',
                    tickWidth: 0,
                    tickLength: 300,
                    lineColor: '#eee',
                    lineWidth: 0,
                    gridLineWidth: 0,
                    gridLineColor: 'rgba(255,255,255,.15)',
                    endOnTick: true,
                    title: {
                        text: ''
                    },
                    //gridZIndex:4,
                    min: 0,
                    max: [ChallengesMaxPoints()],
                    endOnTick: true,
                    startOnTick: false,
                    plotLines: [{
                        value: [ChallengePointsProjected()],
                        width: 2,
                        zIndex: 4,
                        //Progressbar marker black color
                        color: 'darkblue'
                    }],
                    labels: {
                        style: {
                            fontSize: '9px'
                        }
                    }
                },
                tooltip: {
                    useHTML: true,
                },
                plotOptions: {
                    bar: {
                        grouping: false,
                        shadow: false,
                        borderWidth: 0,
                        pointPadding: .25,
                        groupPadding: 0
                    },
                    scatter: {
                        marker: {
                            symbol: 'line',
                            lineWidth: 0,
                            radius: 9,
                            lineColor: '#333'
                        }
                    }
                },
                series: [{
                    name: 'Points Already Lost',
                    enableMouseTracking: true,
                    borderWidth: 0,
                    borderRadius: 0,
                    stacking: 'normal',
                    grouping: false,
                    //progress bar red color points already lost
                    color: 'red', //darkred
                    data: [ChallengePointsmissed()]
                }, {
                    name: 'Points for Future Milestones',
                    enableMouseTracking: true,
                    borderWidth: 0,
                    borderRadius: 0,
                    stacking: 'normal',
                    grouping: false,
                    //Progress bar yellow color points remaining.
                    color: '#FFFF33', //yellow
                    data: [ChallengesMaxPoints() - ChallengePointsmissed() - PointsEarnedData()]
                }, {
                    //pointRange:1.1,
                    name: 'Points Earned',
                    enableMouseTracking: true,
                    borderWidth: 0,
                    borderRadius: 0,
                    stacking: 'normal',
                    grouping: false,
                    //Progressbar purple color points earned.
                    color: '#9966FF', //purple
                    //color:'#3399ff',//blue
                    data: [PointsEarnedData()]
                }, {
                    name: 'Projected Total Points',
                    //Progress bar total projected points black color.
                    color: 'darkblue',
                    //color:'#9966FF',
                    pointRange: .5,
                    zIndex: 1,
                    data: [ChallengePointsProjected()]
                }, {
                    name: 'Warnings',
                    type: 'scatter',
                    marker: {
                        symbol: 'circle',
                        radius: 0,
                        color: '#FF5050',
                        lineWidth: 0,
                        lineColor: '#fff',
                        states: {
                            hover: {
                                enabled: false
                            }
                        }
                    },
                    data: [{
                        x: 0,
                        y: 0,
                        marker: {
                            fillColor: 'red'
                        }
                    }]
                }]
            });
        });
    </script>
</head>
<body>
    {% if is_teacher %} {% include 'heading.html' %} {% else %} {% include 'stheading.html' %} {% endif %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Achievements</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel">
                    <table class="responsive-table">
                        <thead>
                            <th style="font-size: 1.64rem;font-weight: 400;">Experience Points</th>
                            {% if ccparams.warmupsUsed %}
                            <th style="font-size: 1.64rem;font-weight: 400;">Practice Points</th>
                            {% endif %}
                            {% if virtualCurrencyUsed %}
                            <th style="font-size: 1.64rem;font-weight: 400;">Your Course Bucks</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:26px">{{studentXP_range}}</td>
                                {% if ccparams.warmupsUsed %}
                                <td style="font-size:26px"> {{totalWCEarnedPoints|floatformat}} / {{totalWCPossiblePoints|floatformat}}</td>
                                {% endif %}
                                {% if virtualCurrencyUsed %}
                                <td style="font-size:26px"> {{course_Bucks}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {% if BadgeStreakInfo or VCStreakInfo %}
        <div class="row">
            {% if VCStreakInfo%}
                <div class="col s10 m10 offset-m1">
            {%else%}
                <div class="col s5 m5 offset-m1">
            {%endif%}
                    <div class="card">
                        <div class="card-content">
                            {% if VCStreakInfo%}
                            
                            <div class="row center-align">
                                <span class="card-title">Upcoming (depending on your persistence)</span>
                            </div>
                            {%else%}
                                <span class="card-title">Upcoming (depending on your persistence)</span>
                            {%endif%}
                            {%if BadgeStreakInfo%}
                            <div class="row">
                                <div class="col s6 m6">
                            <h5>Badges</h5>
                            
                            <div class="row">
                            {% for i, badgeName, description, StreakLength, treshold, badgeType, badgeTime in BadgeStreakInfo %}
                            <div class="col s6 m6">
                            <div class="indicator" data-streaklength="{{StreakLength}}" title="{{description}} by {{badgeTime}}" data-treshold="{{treshold}}" id="badge_container_{{i}}"></div>
                            </div>
                            {% endfor %}
                            </div>
                            </div>
                            {% endif%}

                            {% if VCStreakInfo%}
                                <div class="col s6 m6">
                            <h5>Virtual Currency</h5>
                            {% for i, VCRuleName, description, awardAmount,StreakLength, treshold, vcType, vcTime in VCStreakInfo %}
                            <div class="col s6 m6">
                            <div class="indicator" data-streaklength="{{StreakLength}}" title="{{description}} by {{vcTime}}" data-treshold="{{treshold}}" id="vc_container_{{i}}">
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
               
            </div>
        {% endif %}
        {% if ccparams.progressBarUsed %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Your Progress</span>
                        <div id="p1" style="height: 110px"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if challengeClassmates %}

            <div class="row">
              <div class="col s12 m10 offset-m1 cards-container" style="height: 207px;">
                <div 
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; margin-right: 5px" >
                    <div class="card">
                      <div class="card-content">
                        <h5 style="text-align: center">Duel </h5>
                        <div style="text-align: center">
                            <label style="white-space: pre-wrap; font-size:16px">    Wins                   Losses</label>
                        </div>
                        <div style="text-align: center;">
                            <label style="font-size:26px">{{numOfDuelWon}} - {{numOfDuelLost}}<label>
                        </div>
                        <div style="text-align: center; margin-top:10px">
                            <label style="white-space: pre-wrap; font-size:16px;">            {{numOfDuelSent}} sent                                {{numOfDuelAccepted}} accepted </label>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div 
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card">
                      <div class="card-content">
                      
                        <h5 style="text-align: center">Callout </h5>
                        <div style="text-align: center">
                            <label style="font-size:16px">Wins</label>
                        </div>
                        <div style="text-align: center;">
                            <label style="font-size:26px">{{numOfCalloutWon}}<label>
                        </div>
                        <div style="text-align: center; margin-top:10px">
                            <label style="white-space: pre-wrap; font-size:16px;">     {{numOfCalloutSent}} sent        {{numOfDuelAccepted}} requested        {{numOfCalloutLost}} lost</label>
                        </div>
                      </div>
                    </div>
                </div>
                        
            </div>
           </div>
        {% endif %}
        
        <!-- GGM your badges Bar moved right after progress bar -->
      {% if ccparams.badgesUsed %}  
        {% if are_Badges_Displayed|lower %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Your Badges</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        {% for i,badgeId,badgeName,badgeImage in badgesInfo %}
                                        <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="100px" height="100px" data-tooltip="{{badgeName}}"/>
                                        {% empty %} 
                                        <i>No badges earned</i> 
                                        <!-- moved the endfor to the bottom for easier reading GGM -->
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      {% endif %}  
        <!-- GGM added a switch to display class skills if the student toggles it on -->
        {% comment %}
        class skills displayed is the instructor toggle
        display class skills is the student toggle
        {% endcomment %}
        {% if classSkillsDisplayed == "True"%}
       		{% if displayClassSkills %}
 <div class="row">
            <div class="col s12 m5 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Skills</span>
                        <div id='container3' class="js-box1"></div>
                        <div id='container4' class="js-box1"></div>
                    </div>
                    <div class="card-action right-align">
                        <script>
                            var isClassAvgAvailable = {{is_ClassAverage_Displayed | lower}};
                            if (isClassAvgAvailable) {
                                var selectScript = "<a id='points' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg' class='waves-effect btn-flat'>Class Average</a>";
                                document.write(selectScript);
                            } else {
                                var selectScript = "<a id='points' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg' class='waves-effect btn-flat disabled'>Class Average</a>";
                                document.write(selectScript);
                            }

                            $('#points').click(function() {
                                $('.js-box1').hide();
                                $('#container3').show();
                            });
                            $('#classAvg').click(function() {
                                $('.js-box1').hide();
                                $('#container4').show();
                            });
                            $('#points').click();
                        </script>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m5">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Challenges</span>
                        <div id='container1' class="js-box"></div>
                        <div id='container2' class="js-box"></div>
                    </div>
                    <div class="card-action right-align">
                        <script>
                            var isClassAvgAvailable = {{is_ClassAverage_Displayed | lower}};
                            if (isClassAvgAvailable) {
                                var selectScript = "<a id='points2' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg2' class='waves-effect btn-flat'>Class Average</a>";
                                document.write(selectScript);
                            } else {
                                var selectScript = "<a id='points2' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg2' class='waves-effect btn-flat disabled'>Class Average</a>";
                                document.write(selectScript);
                            }

                            $('#points2').click(function() {
                                $('.js-box').hide();
                                $('#container1').show();
                            });
                            $('#classAvg2').click(function() {
                                $('.js-box').hide();
                                $('#container2').show();
                                console.log("Class average clicked");
                            });
                            $('#points2').click();
                        </script>
                    </div>
                </div>
            </div>
        </div>

            {% endif %}
	{% else %}
{% if ccparams.seriousChallengesUsed %}
    {% if hasSeriousChallenges %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Challenges</span>
                        <div id='container1' class="js-box"></div>
                        <div id='container2' class="js-box"></div>
                    </div>
                    <div class="card-action right-align">
                        <script>
                            //{{is_ClassAverage_Displayed | lower}};
                            var isClassAvgAvailable = {{is_ClassAverage_Displayed | lower}};
                            if (isClassAvgAvailable) {
                                var selectScript = "<a id='points2' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg2' class='waves-effect btn-flat'>Class Average</a>";
                                document.write(selectScript);
                            } else {
                                var selectScript = "<a id='points2' class='waves-effect btn-flat'>Points</a>";
                                selectScript += "<a id='classAvg2' class='waves-effect btn-flat disabled'>Class Average</a>";
                                document.write(selectScript);
                            }

                            $('#points2').click(function() {
                                $('.js-box').hide();
                                $('#container1').show();
                            });
                            $('#classAvg2').click(function() {
                                $('.js-box').hide();
                                $('#container2').show();
                                //code that will track how often a student clicks the class average
                                track_get_class_avg_click();
                            });
                            $('#points2').click();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endif %}
{% if ccparams.warmupsUsed %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Warmup Challenges</span>
                        <div id='container5' class="js-box5"></div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </main>
    {% include 'footer.html' %}

</body>
</html>
<script>
    window.onload = function(){
        var indicatorsFound = document.getElementsByClassName("indicator");
        for(var i = 0; i < indicatorsFound.length; i++){
            createProgressBar(indicatorsFound[i].dataset.streaklength, indicatorsFound[i].dataset.treshold, indicatorsFound.item(i));
        }
        var streakIndicators = [];
    }

    function createProgressBar(currentCount ,treshold, objID){
        console.log(treshold);
        console.log(currentCount);
        treshold = parseInt(treshold);
        currentCount = parseInt(currentCount);
        var bar = new ProgressBar.SemiCircle(objID, {
      strokeWidth: 6,
      color: '#ADD8E6',
      trailColor: '#000000',
      trailWidth: 1,
      easing: 'easeInOut',
      duration: 1400,
      svgStyle: null,
      text: {
        value: '',
        alignToBottom: false
      },
      from: {color: '#eff5ff'},
      to: {color: '#1a237e'},
      // Set default step function for all animate calls
      step: (state, bar) => {
        bar.path.setAttribute('stroke', state.color);
        var value = Math.round(bar.value() * treshold);
        if (value === 0) {
          bar.setText('0');
        } else if(value == currentCount+1){
            bar.stop();    
        }
        else{
          bar.setText(value);
        }
    
        bar.text.style.color = state.color;
      }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2rem';
    
    bar.animate(1.0);  // Number from 0.0 to 1.0
    }
    
    </script>

<script>
    function track_get_class_avg_click()
   {    
       var student_id = "{{student}}";
       console.log(student_id);

       $.ajax({
                url: "/oneUp/students/Track_class_avg_button_clicks", 
                dataType: 'json',
                async: true,
                type: 'POST',
                data: {student_id: "student_id"}
            });

   }
</script>