<!DOCTYPE html>
<html lang="en">
   <head>
 
      {% include 'scripts.html' %}
     
      <!--[if lt IE 7]>
      <link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen">
      <script type="text/javascript" src="/static/js/ie_png.js"></script>
      <script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
      <![endif]-->
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
      <!-- Stylesheets, scripts and other resources-->
      <link rel="shortcut icon" href="/static/images/oup.ico" />
      <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
      <link rel="stylesheet" href="/static/css/dashboard/styledashboard.css" type="text/css" media="all">
      <link rel="stylesheet" href="/static/css/dashboard/tabledashboard.css" type="text/css" media="all">
      <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js" ></script>
      <script type="text/javascript" src="/static/js/script.js"></script>
      <script src="/static/thirdparty/Highcharts-4.1.4/api/js/jquery-1.9.1.min.js"></script>
      <script src="/static/thirdparty/Highcharts-4.1.4/js/highcharts.js"></script>
      
      <script>$(function () {
         var chalYourPoints = function() {
                var dataArray1  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in gradedchallengescore_range %}['{{chall_Name}}' , {{score}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                   return dataArray1 ;
            };
         var chalTotalPoints = function() {
                var dataArray2  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in gradedchallenge_range %}['{{chall_Name}}' , {{total}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                   return dataArray2 ;
            };
         var challengeName = function() {
             var dataArray3  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in gradedchallenge_range %}['{{chall_Name}}']{% if not forloop.last %},{% endif %}{% endfor %}];
             return dataArray3 ;
         };
         //container1 - Student point chart in Challenges
           $('#container1').highcharts({
           	chart: {
                   type: 'column',            
                   height: '280',
                   width: '543'
               },
               title: {
                   text: ''
               },
               subtitle: {
                   text: ''
               },
               xAxis: {
                   categories: challengeName(),
                   title: {
                	 // x-aixs label in Student point chart
                      text: 'Challenges',
                       align: 'middle'
                   }
               },
               yAxis: {
                   min: 0,
                   title: {
                	// x-aixs label in Student point chart
                       text: 'Score (points)',
                       align: 'middle'
                   },
                   labels: {
                       overflow: 'justify'
                   }
               },
               tooltip: {
                   valueSuffix: 'points'
               },
               plotOptions: {
                   bar: {
                       dataLabels: {
                           enabled: false
                       }
                   }
               },
               legend: {
                   layout: 'horizontal',
                   align: 'right',
                   verticalAlign: 'top',
                   x: 0,
                   y: 0,
                   itemStyle: {
                       width:'100px',
                       textOverflow: 'ellipsis',
                 overflow: 'hidden'
                   },
                   floating: true,
                   borderWidth: 1,
                   backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                   shadow: true
               },
               credits: {
                   enabled: false
               },
               series: [{
            	 //Student point chart label and default color. 
                   name: 'Your points',
                   data: chalYourPoints()
               }, {
            	 //Student point chart label and color. 
                   name: 'Total Number Of Points',
                   color: 'darkblue',    
               	   data: chalTotalPoints()
               }]
           });
           
         });
      </script>
      <script>$(function () {
         var chalYourPoints1 = function() {
                var dataArray4  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in studentGradedNonDefChallengesScore_range %}['{{chall_Name}}' , {{score}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                   
                return dataArray4 ;
            };
         var chalTotalPoints1 = function() {
                var dataArray5  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in studentGradedNonDefChallengesPoints_range %}['{{chall_Name}}' , {{total}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                return dataArray5 ;
            };
            var chalTotalAvgPoints1 = function() {
                var dataArray6  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total, challavg in studentGradedNonDefChallengesAveragePoints_range %}['{{chall_Name}}' , {{challavg}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                return dataArray6 ;
            };
         var challengeName1 = function() {
             var dataArray7  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total in studentGradedNonDefChallengesPoints_range %}['{{chall_Name}}']{% if not forloop.last %},{% endif %}{% endfor %}];
             return dataArray7 ;
         };
         //container2 - Class Average chart in Challenges
           $('#container2').highcharts({
           	chart: {
                   type: 'column',           
                   height: '280',
                   width: '543'
               },
               title: {
                   text: ''
               },
               subtitle: {
                   text: ''
               },
               xAxis: {
                   categories: challengeName1(),
                   title: {
                	// x-aixs label in Class Average chart
                      text: 'Challenges',
                       align: 'middle'
                   }
               },
               yAxis: {
                   min: 0,
                   title: {
                	// y-aixs label in Class Average chart
                       text: 'Score (points)',
                       align: 'middle'
                   },
                   labels: {
                       overflow: 'justify'
                   }
               },
               tooltip: {
                   valueSuffix: ' points'
               },
               plotOptions: {
                   bar: {
                       dataLabels: {
                           enabled: false
                       }
                   }
               },
               legend: {
                   layout: 'horizontal',
                   align: 'right',
                   verticalAlign: 'top',
                   x: 0,
                   y: 0,
                   itemStyle: {
                       width:'100px',
                       textOverflow: 'ellipsis',
                 overflow: 'hidden'
                   },
                   floating: true,
                   borderWidth: 1,
                   backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                   shadow: true
               },
               credits: {
                   enabled: false
               },
               series: [ {
            	//Class Average chart label and default color
                   name: 'Your points',
                   data: chalYourPoints1(),
               }, {
            	 //Class Average chart label and color
                   name: 'Total Number Of Points',
                   color: 'darkblue',
                   data: chalTotalPoints1()
               }, {
            	   //Class Average chart label and color
                   name: 'Average points for the current challenge',
                   color: 'green',
                   data: chalTotalAvgPoints1(),
               }]
           });
         });
      </script>
      <script>$(function () {
         var defSkillNamesArray = [];
            var defSkillPointsArray = [];
            var defSkillTotalPointsArray = [];
          var defskillYourPoints = function() {
         	    var skillNamesArray = [];
         	    var skillPointsArray = [];
         	    
                 var skillArray  = [{% for i,skill_ID,skill_Name,skill_Points in skill_range %}
                                       ['{{skill_Name}}' , {{skill_Points}}]
                                   {% if not forloop.last %},{% endif %}{% endfor %}];
                 var index = 0;
                 
                 var totalDefSkillScore = 0;
                 for (i=0; i<skillArray.length ;i++){
                 	var defSkillAlreadyExists = 'N';
                 	
                 	for (j=0; j<defSkillNamesArray.length ; j++){	        		
                 		if (skillArray[i][0] == defSkillNamesArray[j] ){
                 		    defSkillAlreadyExists = 'Y';
                 			defSkillPointsArray[j]+=skillArray[i][1];
                 		}
                 	}
                 	if (defSkillAlreadyExists == 'N') {	        		
                 		defSkillNamesArray[index] = skillArray[i][0];
                 		defSkillPointsArray[index] = skillArray[i][1] ;
                 		index++;
                 	}
                 	
                 	
                 }
                    return defSkillPointsArray; 
             };
          var skillName = function() {
         	        var dataArray  = [{% for i,skill_ID,skill_Name,skill_Points in skill_range %}'{{skill_Name}}'{% if not forloop.last %},{% endif %}{% endfor %}];
                     return dataArray ;
         	    };
          var defskillTotalPoints = function() {
         	        var skillTotalArray  = [{% for i,skill_ID,skill_Name,skill_Points,skillTotal_Points in skillTotal_range %}['{{skill_Name}}' , {{skillTotal_Points}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                     return skillTotalArray ;
         	    };	    
         //container3 - Student point skills	    
            $('#container3').highcharts({
            	chart: {
                    type: 'bar',
                    height: '280',
                    width: '533'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '.'
                },
                xAxis: {
                    categories: defSkillNamesArray, //defskillYourPoints(), //skillName(),
                    title: {
                    	// x-aixs label in Student point chart
                       text: 'Skills',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                    	// y-aixs label in Student point chart
                        text: 'Skill Level (rating)',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' rating'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                legend: {
                	 layout: 'horizontal',
                     align: 'right',
                     verticalAlign: 'top',
                     x: 0,
                     y: 0,
                     itemStyle: {
                         width:'100px',
                         textOverflow: 'ellipsis',
         		        overflow: 'hidden'
                     },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                	//Student point chart label and default color.
                    name: 'Your points',
                    data: defskillYourPoints()
                }/*, {
                    name: 'Total Skill Points',
                    data: defskillTotalPoints()
                }*/]
            });
         });
      </script>
      <script>$(function () {
         var nondefskillsNamesArray2 = [];
         var nondefskillsPointsArray2 = [];
         var nondefskillsAvgPointsArray = [];
         var nondefskillYourPoints = function() {
                var skillArray2  = [{% for i,skill_ID,skill_Name,skill_Points in nondefskill_range %}
                                    ['{{skill_Name}}' , {{skill_Points}}]
                                    {% if not forloop.last %},{% endif %}{% endfor %}];
                var index = 0;
                
                
                for (i=0; i<skillArray2.length ;i++){
                	var nondefSkillAlreadyExists = 'N';
                	
                	for (j=0; j<nondefskillsNamesArray2.length ; j++){	        		
                		if (skillArray2[i][0] == nondefskillsNamesArray2[j] ){
                		    nondefSkillAlreadyExists = 'Y';
                		    nondefskillsPointsArray2[j]+=skillArray2[i][1];
                		}
                	}
                	if (nondefSkillAlreadyExists == 'N') {	        		
                		nondefskillsNamesArray2[index] = skillArray2[i][0];
                		nondefskillsPointsArray2[index] = skillArray2[i][1] ;
                		index++;
                	}
                }
                return nondefskillsPointsArray2 ;
            };
            
            var nondefskillavgpoints = function() {
                var skillArray3  = [{% for i,skill_ID,skill_Name,classskillavg in nondefskillavgpoints_range %}
                                      ['{{skill_Name}}' , {{classskillavg}}]
                                    {% if not forloop.last %},{% endif %}{% endfor %}];
                var index3 = 0;
                var nondefskillsNamesArray3 = [];
                for (i=0; i<skillArray3.length ;i++){
                	var nondefSkillAlreadyExists = 'N';
                	
                	
                	for (j=0; j<nondefskillsNamesArray3.length ; j++){	        		
                		if (skillArray3[i][0] == nondefskillsNamesArray3[j] ){
                		    nondefSkillAlreadyExists = 'Y';
                		}
                	}
                	if (nondefSkillAlreadyExists == 'N') {	        		
                		nondefskillsNamesArray3[index3] = skillArray3[i][0];
                		nondefskillsAvgPointsArray[index3] = skillArray3[i][1] ;
                		index3++;
                	}
                }
                return nondefskillsAvgPointsArray ;
            };
            
            
            var nondefskilltotalpoints = function() {
                var skillArray5  = [{% for i,skill_ID,skill_Name,skillTotal_Points in nondefskillTotalpoints_range %}['{{skill_Name}}' , {{skillTotal_Points}}]{% if not forloop.last %},{% endif %}{% endfor %}];
                return skillArray5 ;
            };   
            
            var nondefskillName = function() {
                 var dataArray4  = [{% for i,skill_ID,skill_Name,skill_Points in nondefskill_range %}'{{skill_Name}}'{% if not forloop.last %},{% endif %}{% endfor %}];
                    return dataArray4 ;
             };
         //container4 - Class average skills	    
            $('#container4').highcharts({
            	chart: {
                    type: 'bar',
                    height: '280',
                    width: '533'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '.'
                },
                xAxis: {
                    categories: nondefskillsNamesArray2, //nondefskillName(),
                    title: {
                    	// x-aixs label in Class Average chart
                       text: 'Skills',
                        align: 'middle'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                    	// y-aixs label in Class Average chart
                        text: 'Skill Level (rating)',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' rating'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: false,
                            useHTML:true
                        }
                    }
                },
                legend: {
                	 layout: 'horizontal',
                     align: 'right',
                     verticalAlign: 'top',
                     x: 0,
                     y: 0,
                     itemStyle: {
                         width:'100px',
                         textOverflow: 'ellipsis',
         		        overflow: 'hidden'
                     },
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                	//Student point chart label and default color.
                    name: 'Your points',
                    data: nondefskillYourPoints()
                },/* {
                    name: 'Total Skill Points',
                    data: nondefskilltotalpoints()
                },*/ {
                	//Student point chart label and default color.
                    name: 'Average points for the current challenge',
                    data: nondefskillavgpoints()
                }]
            });
         });
      </script>
      <script type='text/javascript'>
         $(function () {
         	//WarmUp challenges
         	var warmUpChallengeNameArray = [];
         	var warmupChallengeExists = 'N';
         	var warmUpAttemptsArray = [];
         	var warmUpMaxScoreArray = [];
         	var warmUpMinScoreArray = [];
         	var warmUpTotalScoreArray = [];
         	var warmUpIndex = 0
         	var warmUpChallengeName = function() {
                 var warmUpdataArray  = [{% for i,studentChall_ID,chall_ID,chall_Name,chall_Difficulty,dateTaken,score,total,noOfAttempts,warmUpMaxScore,warmUpMinScore in studentWarmUpChallenges_range %}
                 ['{{chall_Name}}' ,{{noOfAttempts}}, {{warmUpMaxScore}} ,{{warmUpMinScore}}, {{total}}]
                 {% if not forloop.last %},{% endif %}{% endfor %}];
                // alert (warmUpdataArray);
                 
                 for (i=0; i< warmUpdataArray.length; i++) {
                 	for (j=0; j < warmUpChallengeNameArray.length ; j++){
                 		if (warmUpdataArray[i][0] == warmUpChallengeNameArray[j] ){
                     		warmupChallengeExists = 'Y';
                     	}
                 	}
                 	if (warmupChallengeExists == 'N'){
                 		warmUpChallengeNameArray[warmUpIndex] = warmUpdataArray[i][0];
                 		warmUpAttemptsArray[warmUpIndex] = warmUpdataArray[i][1] ;
                 		warmUpMaxScoreArray[warmUpIndex] = warmUpdataArray[i][2] ;
                 		warmUpMinScoreArray[warmUpIndex] = warmUpdataArray[i][3] ;
                 		warmUpTotalScoreArray[warmUpIndex] = warmUpdataArray[i][4] ;
                 		warmUpIndex++;
                 	}
                 	
                 }
                 return warmUpChallengeNameArray ;
             };
             
             var warmUpChallengeAttempts = function(){
             	return warmUpAttemptsArray;
             };
             
             var warmUpChallengeMaxScore = function(){
             	return warmUpMaxScoreArray;
             };
             
             var warmUpChallengeMinScore = function(){
             	return warmUpMinScoreArray;
             }
         	
             var warmUpChallengeTotalScore = function(){              
              	return warmUpTotalScoreArray;
              } 
             $('#container5').highcharts({
             	chart: {
                     type: 'bar',
                     height: '300',
                     width: '1090'
                 },
                 title: {
                     text: ''
                 },
                 subtitle: {
                     text: '.'
                 },
                 xAxis: {
                     categories: [warmUpChallengeName()+'<br>Num.of attempts:'+warmUpChallengeAttempts()], 
                     title: {
                    	// x-aixs label in warmup challenges chart
                        text: 'Challenges',
                         align: 'middle'
                     }
                 },
                 yAxis: {
                     min: 0,
                     title: {
                    	// y-aixs label in warmup challenges chart
                         text: 'Points',
                         align: 'middle'
                     },
                     labels: {
                         overflow: 'justify'
                     }
                 },
                 scrollbar: {
                	    enabled: true
                	},
                 tooltip: {
                     valueSuffix: ' '
                 },
                 plotOptions: {
                     bar: {
                         dataLabels: {
                             enabled: true,
                             useHTML:true
                         }
                     }
                 },
                 legend: {
                 	 layout: 'horizontal',
                      align: 'right',
                      verticalAlign: 'top',
                      x: 0,
                      y: 0,
                      itemStyle: {
                          width:'105px',
                          textOverflow: 'ellipsis',
          		        overflow: 'hidden'
                      },
                     floating: true,
                     borderWidth: 1,
                     backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                     shadow: true
                 },
                 credits: {
                     enabled: false
                 },
                 series: [{
                	//Warmup challenges chart label and default color.
                     name: 'Min Score for the current challenge',
                     data: warmUpChallengeMinScore(),
                     color: 'lightgreen'
                 },
                 {
                	//Warmup challenges chart label and default color.
                     name: 'Max Score for the current challenge',
                     data: warmUpChallengeMaxScore(),
                     color: 'lightblue'
                 },
                 {
                	//Warmup challenges chart label and default color.
                     name: 'Possible score for the current challenge',
                     data: warmUpChallengeTotalScore(),
                     color: 'darkblue'
                     
                 }]
             });
         });
      </script>
      <script type='text/javascript'>
         $(function () {
         	var PointsEarnedData = function() {
         		
                 var PointsEarnedDataArray1  = {{studentGradedChallengesPointsEarned_range}};       
                 return PointsEarnedDataArray1 ;
             };
             var RemainingChallengePoints = function() {
         		
                 var RemainingChallengePointsDataArray1  = {{studentGradedRemainingChallenges_range}};       
                 return RemainingChallengePointsDataArray1 ;
             };    
             var ChallengePointsmissed = function() {
         		
                 var ChallengePointsmissedDataArray1  = {{studentGradedChallengesPointsMissed_range}};       
                 return ChallengePointsmissedDataArray1 ;
             };	
             var ChallengePointsProjected = function() {
         		
                 var ChallengePointsProjectedDataArray1  = Math.round((ChallengesMaxPoints()-ChallengePointsmissed())* (PointsEarnedData()/(PointsEarnedData()+ChallengePointsmissed())));
                 return ChallengePointsProjectedDataArray1 ;
             };
             var ChallengesMaxPoints = function() {
         		
                 var ChallengesMaxPointsDataArray1  = {{GradedChallengeQuestionsTotalPoints_range}} ;       
                 return ChallengesMaxPointsDataArray1 ;
             };	
             var ChallengesTickPoints = function() {
         		
                 var ChallengesTickPointsDataArray1  = {{studentGradedChallengesTickPoints_range}};       
                 return ChallengesTickPointsDataArray1 ;
             };	 
             //Your Progress
             $('#p1').highcharts({
              chart:{
                 renderTo:'p1',
                 type:'bar',
                 borderWidth:0,
                 borderColor:'#333300',
                 margin:[0],
                 width:1090
             },
             
             credits:{enabled:false},
             exporting:{enabled:false},
             title:{text:''},
             legend:{enabled:false},
             xAxis:{
                 tickLength:100,
                 tickColor:'#eee',
                 gridLineWidth:1,
                 gridLineColor:'#eee',
                 labels: {
                     style: {
                         fontWeight:'bold'
                     }
                 },
                 lineColor:'#eee',
                 lineWidth:0,
                 categories:['']
             },
             yAxis:{
                 tickInterval:5,
                 allowDecimals:false,
                 tickColor:'#ccc',
                 tickWidth:0,
                 tickLength:300,
                 lineColor:'#eee',
                 lineWidth:0,
                 gridLineWidth:0,
                 gridLineColor:'rgba(255,255,255,.15)',
                 endOnTick:true,
                 title:{text: ''},
                 //gridZIndex:4,
                 min:0,
                 max:[ChallengesMaxPoints()],
                 endOnTick:true,
                 startOnTick:false,
                 plotLines: [{
                     value:[ChallengePointsProjected()],
                     width:2,
                     zIndex:4,
                     //Progressbar marker black color
                     color:'black'
                 }],
                 labels: {
                     style: {
                         fontSize:'9px'
                     }
                 }
              },
              tooltip: {
             	 useHTML: true,
             	 },
             plotOptions:{
                 bar:{
                     grouping: false,
                     shadow:false,
                     borderWidth:0,
                     pointPadding:.25,
                     groupPadding:0
                 },
                 scatter:{
                     marker:{
                         symbol:'line',
                         lineWidth:900,
                         radius:9,
                         lineColor:'#333'
                     }
                 }
             },
              series:[{
                 name:'Points you have already lost',
                 enableMouseTracking:true,
                 borderWidth:0,
                 borderRadius:0,
                 stacking:'normal',
                 grouping:false,
                 //progress bar red color points already lost
                 color:'red',//darkred
                 data:[ChallengePointsmissed()]
              },{
                 name:'Points available in remaining challenges',
                 enableMouseTracking:true,
                 borderWidth:0,
                 borderRadius:0,
                 stacking:'normal',
                 grouping:false,
                 //Progress bar yellow color points remaining.
                 color:'#FFFF00',//yellow
                 data:[ChallengesMaxPoints()-ChallengePointsmissed()-PointsEarnedData()]
              },{
                 //pointRange:1.1,
                 name:'Points Earned',
                 enableMouseTracking:true,
                 borderWidth:0,
                 borderRadius:0,
                 stacking:'normal',
                 grouping:false,
                 //Progressbar purple color points earned.
                 color:'#9966FF',//purple
                 data: [PointsEarnedData()]
              },{
                 name:'Total Projected Points',
                 //Progress bar total projected points black color.
                 color:'black',
                 pointRange:.5,
                 zIndex:1,
                 data:[ChallengePointsProjected()]
             },{
                 name:'Target',
                 type:'scatter',
                 zIndex:20,
                 data:[750]
             },{
                 name:'Warnings',
                 type:'scatter',
                 marker: { 
                     symbol:'circle', 
                     radius:0, 
                     color:'#FF5050',
                     lineWidth:0,
                     lineColor:'#fff',
                     states: {
                         hover: {
                             enabled: false
                         }
                     }
                 },
                 data:[
                     {x:0,y:0,marker:{fillColor:'red'}}
                 ]
             }]
             });
         });
      </script>
   </head>
   
   <body>
      <div id="page-wrapper">
      <div class="login_course_display">
      
       {% if is_teacher %}    
              {% include 'heading.html' %}
       {% else %}
              {% include 'stheading.html' %}
       {% endif %}


      </div>
      <div id="header">
      <div class="inner">
         <!-- Body -->
         
         <table>
            <tr>
               <td>
               <table  style= 'width: 49.8em; '><tr style= 'height: 2.1em; width: 56em; text-align: center;' >
                  {% if virtualCurrencyUsed %}
               		<td class='rcorners11' align='center' style='background-color: orange;font-size:0.7em;color:black; vertical-align: middle; '>
                      <b>Your XP Points: {{studentGradedChallengesScorePoints_range}}</b></td>  
                    <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black; vertical-align: middle; '>
                      <b>Your Practice Points: {{studentUngradedChallengesPPoints_range}}</b> </td>
                    <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black; vertical-align: middle; '>
                      <b>Your Currency Points: {{course_Bucks}}</b> </td>

                  {% else %}
              		<td class='rcorners11' align='center' style='background-color: orange;font-size:0.7em;color:black'>
                      <b>Your XP Points: {{studentGradedChallengesScorePoints_range}}</b></td>  
                    <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black'>
                      <b>Your Practice Points: {{studentUngradedChallengesPPoints_range}}</b> </td>
                  {% endif %}

              </td> 
              </tr></table>
               
<!--                   <div id="myPoints">
                     <script>
/*                       var virtualCurrencyUsed = {{virtualCurrencyUsed}};
                        if (virtualCurrencyUsed)
                        { 	
                       var code1 = "<table><tr><td class='rcorners11' align='center' style='background-color: orange;font-size:0.7em;color:black'>";
                         code1+= "<b>Your Score Points: <span>"+{{studentGradedChallengesScorePoints_range}}+"</span></b></td> "; 
                         code1+=" <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black'>";
                         code1+=" <b>Your Practice Points: <span>"+{{studentUngradedChallengesPPoints_range}}+"</span></b> </td>";
                         code1+=" <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black'>";
                         code1+=" <b>Your Currency Points: <span>"+{{course_Bucks}}+"</span></b> </td></tr></table>";
                         document.write(code1);
                         }
                        else
                        	{ 
                        	var code1 = "<table><tr><td class='rcorners11' align='center' style='background-color: orange;font-size:0.7em;color:black'>";
                            code1+= "<b>Your Score Points: <span>"+{{studentGradedChallengesScorePoints_range}}+"</span></b></td> "; 
                            code1+=" <td class='rcorners11' align='center'  style='background-color:orange; font-size:0.7em; color:black'>";
                            code1+=" <b>Your Practice Points: <span>"+{{studentUngradedChallengesPPoints_range}}+"</span></b> </td></tr></table>";
                            document.write(code1);
                        	
                        	}
 */                         
                     </script>      
                  </div> -->
               </td>
            </tr>
            <tr>
               <td colspan="2">
                  <div>
                     <table>
                        <tr>
                           <td class="rcorners4" align="left" height="125px" style="font-size:0.8em;color:white">
                              <b><span style="color:white;">Your Progress</span></b>
                              <div id="p1" style="height: 110px"></div>
                           </td>
                        </tr>
                     </table>
                  </div>
               </td>
            </tr>
            <tr>
              <td colspan="2">
                 <div>
                  <table>
                     <tr>
                        <td width="50%">
                           <div>
                              <table  align="left">
                                 <tr>
                                    <td align="left"><b><span style="color:black; font-size:0.8em;">Skills</span></b> </td>
                                    <td align="right">
                                      <script>
                                         var isClassAvgAvailable = {{is_ClassAverage_Displayed|lower}};
                                         if (isClassAvgAvailable)
                                         {
                                           var selectScript = "<select class='select2' id='selectOption' name='selectOption' >";
                                           selectScript+="<option value='3'>Student Points</option><option value='4'>Class Average</option></select>";
                                           document.write(selectScript);
                                         }
                                        else
                                         {
                                            var selectScript = "<select class='select2' id='selectOption' name='selectOption'>";
                                            selectScript+="<option value='3'>Student Points</option><option value='4' disabled>Class Average</option></select>";
                                            document.write(selectScript);
                                         }
                                       
                                      </script>
                                    </td>
                                 </tr>
                                 <tr  style="font-size:0.7em;">
                                    <td colspan="2">
                                       <div id='container3' class="js-box1" style="width:250px; display:none;"></div>
                                    </td>
                                 </tr>
                                 <tr  style="font-size:0.7em;">
                                    <td colspan="2">
                                       <div id='container4' class="js-box1" style="width:250px; display:none;"></div>
                                    </td>
                                 </tr>
                                 <script>
                                    var value1 = 3;
                                    var $select1 = $('.select2');          	  
                                    
                                    var updateBoxes1 = function( value1 ) {
                                        $('.js-box1').hide();                               
                                    $('#container' + value1).show();  
                                    
                                    }
                                    
                                    var initSelects1 = function( value1 ) {
                                      if (value1 !== 0) {    
                                        $select1.val( value1 );
                                       }
                                      $select1.on('change', function() { 
                                       updateBoxes1( $select1.val() );
                                      });
                                    }
                                    initSelects1( value1 );
                                    updateBoxes1( value1 );
                                 </script>		   
                              </table>
                           </div>
                        </td>
                        <td width="50%" align="right" >
                          <div>
                            <table  align="right">
                              <tr>
                           <td align="left" style="font-size:0.8em;" width="50%" >
                              <b style="color:white;">Challenges</b>
                           </td>
                           <td align="right" width="10%">
                           <script>                 
                              var isClassAvgAvailable1 = {{is_ClassAverage_Displayed|lower}};                              
                              if (isClassAvgAvailable1)
                                 {
                                     var selectScript1 = "<select class='select1' id='selectOption1'>";
                                     selectScript1+="<option value='1'>Student Points</option><option value='2'>Class Average</option></select>";
                                     document.write(selectScript1);
                                 }
                              else
                                 {
                                     var selectScript1 = "<select class='select1' id='selectOption1'>";
                                   	 selectScript1+="<option value='1'>Student Points</option><option value='2' disabled>Class Average</option></select>";
                                   	 document.write(selectScript1);
                                 }
                                      
                           </script>
                           </td>
                        </tr>
                              <tr>
                           <td colspan="2">
                              <div id='container1' class="js-box" style="width:250px; display:none;"></div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="2">
                              <div id='container2' class="js-box" style="width:250px; display:none;"></div>
                           </td>
                        </tr>
                        <script>
                           var value = 1;
                           var $select = $('.select1');
                           var updateBoxes = function( value ) {
                                 $('.js-box').hide();
                             	   $('#container' + value).show();    	
                            }
                           
                            var initSelects = function( value ) {
                              if (value !== 0) {    
                              $select.val( value );
                             }
                             $select.on('change', function() {
                             updateBoxes( $select.val() );
                             });
                             }
                             initSelects( value );
                             updateBoxes( value );
                        </script>
                           </table></div>
                        </td>
                     </tr>
                  </table>
                  </div>
               </td> 
            </tr>
            <tr>
               <td colspan="2">
                  <div>
                     <table>
                        <tr>
                           <td align="left" style="font-size:0.8em;" width="50%" >
                              <b style="color:black;">WarmUp Challenges</b>
                           </td>
                           
                        </tr>
                        <tr>
                          <td >
                             <div id='container5' class="js-box5" style="width:1090px;"></div>
                          </td>
                        </tr>
                       
                     </table>
                  </div>
               </td>
            </tr>
            <tr>
               <td colspan="2">
                  <div>
                    
                        <script> 
                           var useBadge1 = {{are_Badges_Displayed|lower}};
                           
                           if (useBadge1)
                           	{
                           	  var showBadge = "<table><tr style='font-size:0.9em;color:white;' align='left'><td><span><b style='color:black;'>Badges</b></span></td></tr>";
                           	  showBadge+= "<tr align='center'>{% for i,badgeId,badgeName,badgeImage in badgesInfo %}";	
                           	 
                           	  showBadge+="<td align='left'><img src='/static/images/badges/{{badgeImage}}' alt='Badge Image' width='70px' height='85px' align='middle' />";
                           	  showBadge+="<br clear='all'><span style='font-size:0.7em; color:black;'>{{badgeName}}</span>";
                           	  showBadge+="</td>{% if not forloop.last and forloop.counter == 10 or forloop.counter == 10 %}</tr>";
                           	  showBadge+=" <tr>{% endif %}{% endfor %}</tr></table>";
                           
                           	  document.write(showBadge);
                           	}
                           else
                           	document.write();
                           
                        </script>
                   
                  </div>
               </td>
            </tr>
            
         </table>
         </div>
          
        
         <!-- Footer -->

       {% include 'footer.html' %}

      </div>
      </div>
      
   </body>
</html>