<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
       <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor-init.js"></script>
		<script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor/ckeditor.js"></script>
      <link href="/static/ThirdParty/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
      <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor-init.js"></script>
	  <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor/ckeditor.js"></script>
      <script>
        $(document).ready(function(){
          $('.add_more').click(function(e){
            e.preventDefault();
            $(fileupload1).after('<div id="fileupload1" class="file-field input-field">\n'+
            '<div class="btn">\n'+'<span>File</span>\n'+'<input name="actFile" type="file" />\n'+'</div>\n'+
            '<div class="file-path-wrapper">\n'+'<input class="file-path validate" type="text" placeholder="Choose File"/>\n'+'</div>\n'+'</div>')
            document.getElementById('fileupload1').id = 'fileupload'
          });
        });
      </script>
   </head>
   <body>
      {% if is_teacher %}    
      {% include 'heading.html' %}
      {% else %}
      {% include 'stheading.html' %}
      {% endif %}
      <main>
         <div class="row center-align">
            <div class="col s12 m10 offset-m1">
               <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{activity.activityName}}</h3>
            </div>
         </div> 
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <form id="uploadbanner" action="/oneUp/students/ActivityDescription" enctype="multipart/form-data" method="POST" >
                  {% csrf_token %}   
                     <input type="hidden" name="activityID" value="{{activity.activityID}}">	
                     <div class="card-content">
                        {% if activity.description %}
                        <div>
                           <h5>Description</h5>
                           <p>{{activity.description | safe}}</p>
                        </div>
                        {% endif %}
                        <div>
                           <ul style="font-size: 16px;">
                              {% if isGraded %}
                              <li >
                                 <span><b>Activity counts as a grade</b></span>
                              </li>
                              {% endif %}
                              {% if hasDueDate %}
                              <li >
                                 <span><b>Due: </b></span>
                                 <span>{{activity.deadLine}}</span>
                              </li>
                              {% endif %}
                              <li>
                                 <span><b>Points: </b></span>
                                 <span>{{score}} / {{activity.points|floatformat:2}}</span>
                                 
                              </li>
                              {% if bonus != "-" and bonus != 0 %}
                              <li>
                                 <span><b>Bonus: </b></span>
                                 <span>{{bonus}}</span>
                              </li>
                              {% endif %}
                              {% if submit_status %}
                              <li>
                                 <span><b>Status: </b></span>
                                 <span style="color: {% if submit_status == 'Submitted' %}green;{% else %}red;{% endif %}">{{submit_status}}</span>
                                 <span>at {{submissionTime}}</span>
                              </li>
                              {% endif %}
                           </ul>
                        </div>
                        {% if allowRichTextSubmission %}
	                        <div class="django-ckeditor-widget" data-field-id="0">
	                              <textarea name="textSubmiss" id="textSubmiss" rows="2" cols="70"
	                                 {%if view%}readonly{%else%}required{%endif%} data-processed="0"
	                                 data-config="{{ ckeditor.config }}"
	                                 data-external-plugin-resources="{{ ckeditor.external_plugin_resources }}"
	                                 data-id="textSubmiss" data-type="ckeditortype">{{ textSubmission }}</textarea>
	                        </div>
                        {% endif %}
                        {% if feedback %}
                        <div class="section">
                           <h5>Feedback</h5> 
                           <blockquote>{{feedback}}</blockquote>
                        </div>
                        {% endif %}
                        {% if instructorHasFiles == True%}
                        <div class="section">
                          <h5>Activity Files</h5>
                          <ul class="collapsible" data-collapsible="expandable">
                              {% for instructorFile in instructorActFiles %}
                              <li>
                                    <div class="collapsible-header"><a class="tooltipped" href="../../media/Instructors/instructorActivityFiles/{{instructorFile}}" data-position="left" data-delay="50" data-tooltip="Download" download><i class="material-icons secondary-content">file_download</i></a> {{instructorFile}} </div>
                                    <div class="collapsible-body">
                                       <div class='video-container'>
                                          <embed src="../../media/Instructors/instructorActivityFiles/{{instructorFile}}" width="100%" height="800px" />
                                       </div>
                                    </div>
                              </li>
                              {% endfor %}
                          </ul>
                        </div>
   			            {% endif %}
                        {% if fileName %}
                        <div>
                           <h5>Your Uploads</h5>
                          	<div>
		                     {% for file in fileName %}
                           <div><a class="oldFiles" href="#!">{{file}}</a><div>
                           {% empty %}
                           <a class="oldFiles" href="#!" >No files uploaded</a>
                           {% endfor %}
                          	</div>
                        </div>
                        {% endif %}
                        {% if canUpload %}
                        <div class="section">
                           <h5>Upload Files</h5>
                           <div id="fileupload1" class="file-field input-field">
                           </div>
                            <div id="upload_button">
                              	<a class="btn waves-effect waves-light add_more"><i class="material-icons left">add_circle</i>Add a file</a> 
                             </div>
                        </div>
                        <h5>Your Comment</h5>
                        <div class="section">
                           <textarea placeholder="Comments..." name="comment" id="comment" class="materialize-textarea" style="line-height: 20px;  font-size: 14px; ">{{comment}}</textarea>
                        </div>
                        {% endif %}
                     </div>
                     <div class="card-action">
                        <div class="row right-align">
                        {% if canUpload or allowRichTextSubmission %}
                            {% if isSubmitted %}
                           <button class="btn waves-effect waves-light" type="submit" name="Upload">Resubmit
                           <i class="material-icons right">send</i></button>
	                        {% else%}
                           <button class="btn waves-effect waves-light" type="submit" name="Upload">Submit
                           <i class="material-icons right">send</i></button>
	                        {% endif %}
                         {% endif %}
                           <a class="btn waves-effect waves-light" href="/oneUp/students/ActivityList"><i class="material-icons left">navigate_before</i>Back</a> 										  						
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>