<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% if is_teacher %}    
      {% include 'heading.html' %}
      {% else %}
      {% include 'stheading.html' %}
      {% endif %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Activities </h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
            
            <div class="row right-align">
            <form name="question"id="actForm" enctype="multipart/form-data" action="/oneUp/students/ActivityList" method="POST">
	            {% csrf_token %}
	            <div class="input-field col s4" id="actCats">
				    <select name="actCat" form="actForm" onchange="this.form.submit()">
				      <option value="all" name="actCat" selected>All</option>
				      {% for cat in categories %}
					      {% if cat == currentCat%}
					      	<option value={{cat.categoryID}} name="actCat" selected>{{cat.name}}</option>
					      {% else %}
					      	<option value={{cat.categoryID}} name="actCat">{{cat.name}}</option>
					      {% endif %}
				      {% endfor %}
				    </select>
		            <label for="actCats">Filter by Activity Categories</label>
				</div>
			</form>
			</div>
            
            
               <div class="card">
                  <div class="card-content">
                     <table class="responsive-table">
                        <thead>
                           <th>Name</th>
                           <th>Possible Points</th>
                           <th>Grade</th>
                           <th></th>
                        </thead>
                        <tbody>
                           {% for i,instructorActivites , studentActivities, points, isUnlocked, unlockDescript in activity_range %}
                           {% if isUnlocked %}
                              <tr>
                                  <td>{{instructorActivites.activityName}}</td>
                                  <td>{{instructorActivites.points}}</td>
                                  <td>{{points}}</td>
                                  <td class="secondary-content">
                                    {% if is_teacher %}    
                                    <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesTaken?challengeID={{chall_ID}}&userID={{student}}"><i class="material-icons left">visibility</i>View</a>        
                                    {% else %}
                                    <a class="waves-effect waves-light btn tooltipped" href="/oneUp/students/ActivityDescription?activityID={{studentActivities.studentActivityID}}" data-tooltip="Take Activity"
                                    data-position="bottom" data-delay="50"><i class="material-icons left">visibility</i>View</a>
                                    {% endif %}
                                  </td>
                              </tr>
                           {% else %} 
                              <tr>
                                  <td>{{instructorActivites.activityName}}</td>
                                  <td>{{instructorActivites.points}}</td>
                                  <td>{{points}}</td>
                                  <td class="secondary-content">
                                    {% if is_teacher %}    
                                    <a class="waves-effect waves-light btn" href="#!"><i class="fa fa-lock"></i>visibility</i>View</a>        
                                    {% else %}
                                    <a class="waves-effect grey waves-light btn tooltipped" href="#!" data-tooltip="{{unlockDescript}}" data-position="bottom" data-delay="100"><i class="material-icons left fa fa-lock"></i>&nbsp; View</a>
                                    {% endif %}
                                  </td>
                              </tr>
                            {% endif %}
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="4"><i>No Activities</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="card-action right-align">
                     {% if is_teacher %}    
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/studentChallengesCompleted?userID={{user}}"><i class="material-icons left">navigate_before</i>Back</a>
                     {% else %}
                     <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons left">navigate_before</i>Back</a> 
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>