<!DOCTYPE html>
<html lang="en">
      <head>
         
         {% include 'scripts.html' %}
         
      </head>
      <body>
      <div id="page-wrapper">

       {% if is_teacher %}    
              {% include 'heading.html' %}
       {% else %}
              {% include 'stheading.html' %}
       {% endif %}

            <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
         	<div class="12u">
         		 <h1>Activities </h1>
			</div></div>
<!-- INSERTED DYNAMIC TABLE --> 
			<div class="row">
         	<div class="12u" style="top-padding: 0em;">
            <table class="bg">
                <tr>
                    <th>Name</th>
                    <th>Possible Points</th>
                    <th>Grade</th> <th></th>
					<th></th>
                    <th></th> <th></th>
                                       
                </tr>
                
                {% for i,instructorActivites , studentActivities, points in activity_range%}
                <tr> 
                    <td>{{instructorActivites.activityName}}</td>
                    <td>{{instructorActivites.points}}</td>	
                    <td>{{points}}</td> <td></td>
                    <td></td> <td></td>
                    
                    
                    <td align="left">
                        {% csrf_token %} 
                        <div>
        				{% if is_teacher %}    
                         <!--  <a href="/oneUp/students/ChallengesTaken?challengeID={{chall_ID}}&userID={{student}}">
                                <button class="button">View</button>
                         </a> 
                         
                         <a href="/oneUp/students/ActivityDescription?activityID={{studentActivities.studentActivityID}}">
                                <button class="button">View</button>
                         </a>-->
        
      					{% else %}
                            <a href="/oneUp/students/ActivityDescription?activityID={{studentActivities.studentActivityID}}">
                                <button class="button">View</button>
                         </a>
       					{% endif %}
                        </div>															
                        <input type="hidden" name="activityID" value="{{instructorActivites.activityID}}">
				    </td>
                </tr>
                {% endfor %}
            </table>
            
       {% if is_teacher %}    
              <a href="/oneUp/instructors/studentChallengesCompleted?userID={{user}}">
       {% else %}
              <a href="/oneUp/students/StudentCourseHome"> <button class="button">Back</button></a> 

       {% endif %}
            
            <br><br>
       <!-- END DYNAMIC TABLE --> 
         </div></div></div>
            </div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}


      </body>
   </html>