<!DOCTYPE html>
<html lang="en">
<head>

   {% include 'scripts.html' %}
 
</head>
<body>
	<div id="page-wrapper">

         {% include 'stheading.html' %}
 
		<div class="frame" id="grad" align="center">
        <div class="container">
        <div class="row">
        <div class="12u">
        	<h1>Avatar Selection </h1>
		</div>
		</div>
		</br>
		
		<div>
		
		<form id="uploadbanner" action="/oneUp/students/avatarUploadView" enctype="multipart/form-data" method="POST" >
			{% csrf_token %}
   			<input id="fileupload" name="myfile" type="file" /> <!-- i need action to call funciton in python  -->
   			<input type="submit" value="Upload" id="Upload" />
		</form>
		</div>
		<br/>
		
		<form action="/oneUp/students/avatarView " method="POST">
		{% csrf_token %}
       <!-- INSERTED DYNAMIC TABLE --> 
            <table class="bg" id="avatarTable">
            	{% for i, avatar in avatarPaths %}
            	<tr>
					<td><img alt="Avatar Image" width="76px" height="76px" src="/{{avatar}}"></td>
					<td style="vertical-align:middle"><input type="checkbox" value="/{{avatar}}" name="avatar" style="vertical-align: -2px"/>&nbsp;&nbsp;Select</td>
		 		</tr>
		 		{% endfor %}
		 		
		 		{% for i, upload in uploadedAvatarPaths %}
            	<tr>
					<td><img alt="Avatar Image" width="76px" height="76px" src="/{{upload}}"></td>
					<td style="vertical-align:middle"><input type="checkbox" value="/{{upload}}" name="avatar" style="vertical-align: -2px"/>&nbsp;&nbsp;Select</td>
		 		</tr>
		 		{% endfor %}
        	</table>
        	 <input type="submit" name="submit" value="Save" class="button"> <!-- Make sure that this acutally saves the inforamtion selected --> 
        	 <a href="/oneUp/students/StudentCourseHome"><input type="button" class="special" value="Cancel"></a> 
            <br><br>
        <!-- END DYNAMIC TABLE -->
        </form>
		</div>
        </div>
        </div>
      	</div>
	<!-- Footer -->

     {% include 'footer.html' %}

	</div>`
	<script type="text/javascript">
		Cufon.now();
	</script>
</body>
</html>