<!DOCTYPE html>
<html lang="en">
      <head>
      
          {% include 'scripts.html' %}
          
      </head>
      <body>
      <div>

            {% include 'stheading.html' %}
 
            <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
         	
            	<h1>Challenges</h1>
         		<h3>{{challengeName}}!</h3>
         	</div></div>
         	<div class="row">
         	<div class="12u">	
                <form id="TakeTest" name="TakeTest" action="/oneUp/students/ChallengeResults" method="POST">
			 		<p><input type="hidden" name="startTime" id="startTime"></p>
			
			{% csrf_token %}
			 	
			 	<table class="bg">	 <!-- Note that this was bg challenge but Joel changed it to bg to get color alteration  -->
			
			{% for i,question in question_range %}
                	
                	<tr id="question" style="background-color: rgba(144, 144, 144, 0.075);">   
                		<td colspan="2">{{i}}. {{question.questionText}}</td>
                	</tr>					
            {% if question.typeID == '1' %}
                  	<tr style="background-color: #fff;">
                  		<td colspan="2">
                  	{% for j,answer in question.answers_with_count %}	
							<!-- use a for loop and display the answers in radio buttons -->
							<label><input type="radio" name="{{question.questionID}}" value="{{answer.answerText}}" >{{answer.answerText}}</label>
					{% endfor %}
						</td>
					</tr>
			{% endif %}	
			
            {% if question.typeID == '2' %}
					<tr style="background-color: #fff;">
						<td colspan="2">{% for j,answer in question.answers_with_count %}	
							<!-- use a for loop and display the answers in the check box -->
							<label><input type="checkbox" name="{{question.questionID}}" value="{{answer.answerText}}">{{answer.answerText}}</label>
					{% endfor %}</td>
					</tr>
			{% endif %}	
						
			{% if question.typeID == '3' %}
					<tr style="background-color: #fff;">
						<td>{% for j,answer in question.answers_with_count %}
									<!-- use a for loop and display the answers in the matching form -->
					{{j}} . &nbsp; {{answer.answerText}}
					<br>
					{% endfor %}
						</td>
						<td>
							<script type="text/javascript">
        						var x = 1;
        						document.write('{% for match in question.matches %}');
								
        						document.write('<select name="{{question.questionID}}" style="float:left;height:initial"/>');
        							
        						document.write('{% for k in match.answers_count %}');
									document.write('<option value="{{k}}">{{k}}</option>');
									document.write('{% endfor %}');
									document.write('</select>');
									document.write('&nbsp;&nbsp;{{match.matchingAnswerText}}<input type="hidden" name="{{question.questionID}}a-' + x + '" value="{{match.matchingAnswerText}}" />');
									document.write('<br />');	
									x=x+1;
											
									document.write('{% endfor %}');
									x = 0;
							</script>
						</td>
					</tr>
			{% endif %}		
												
			{% if question.typeID == '4' %}
					<tr style="background-color: #fff;">
						<td colspan="2">
							<label><input type="radio" name="{{question.questionID}}" value="True" >True</label>
							<label><input type="radio" name="{{question.questionID}}" value="False">False</label>
						</td>
					</tr>
			{% endif %}
						
			{% if question.typeID == '5' %}
					<tr style="background-color: #fff;"><td colspan="2"><textarea style="border:solid 1px rgba(128, 128, 128, 0.5)" name="{{question.questionID}}" rows="10" cols="90"></textarea></td></tr>
			{% endif %}
																	    
					<input type="hidden" name="questionId" value="{{question.questionID}}">
                  	<input type="hidden" name="challengeId" value="{{question.challengeID}}">
		  			<script type="text/javascript">
		  	<!-- the current time when navigated to this page is taken as the start time of the test -->
		  	<!-- The start time is in yyyy-mm-dd hh:mm:ss format similar to the end time in view file -->
		  		var now     = new Date(); 
	            var year    = now.getFullYear();
	            var month   = now.getMonth()+1; 
	            var day     = now.getDate();
	            var hour    = now.getHours();
	            var minute  = now.getMinutes();
	            var second  = now.getSeconds(); 
	            if(month.toString().length == 1) {
	                var month = '0'+month;
	            }
	            if(day.toString().length == 1) {
	                var day = '0'+day;
	            }   
	            if(hour.toString().length == 1) {
	                var hour = '0'+hour;
	            }
	            if(minute.toString().length == 1) {
	                var minute = '0'+minute;
	            }
	            if(second.toString().length == 1) {
	                var second = '0'+second;
	            }   
	            var dateTime = ""+year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second+""; 
	            document.getElementById("startTime").value = dateTime;

	         <!-- Set time out for the test if the time limit has reached -->
		  	var duration = {{question.testDuration}}; //time limit in minutes from database
		  	var milli = now.getMilliseconds(); //current time in milliseconds
		  	var limit = milli+(duration*1000*60); // test time duration in milliseconds (current time + time limit in milliseconds)
		  
			setTimeout("formSubmit()", limit); //if the time limit of the test has reached, the test will be submitted automatically
		
		    function formSubmit()
			{
				document.getElementById('submit_hidden').click()
			};
			
		  	</script>		
		{% endfor %}
				</table>
    	<td colspan="2"><center><input type="submit" id="submit" name="submit" value="Submit Challenge" class="button" onclick="return confirm('Once you submit the test, it cannot be reverted. Do you want to review it??');"></center></td>
		<td colspan="2"><center><input type="submit" id="submit_hidden" name="submit_hidden" style="display:none;"></center></td>
    			</form>
    			<br> 
         </div></div></div>
         	</div>   
         </div>
         
         <!-- Footer -->

        {% include 'footer.html' %}

      <script type="text/javascript"> Cufon.now(); </script>
      </body>
   </html>