<!DOCTYPE html>
<html lang="en">
      <head>
         
         {% include 'scripts.html' %}
           
         <script>
			window.location.hash="no-back-button";
			window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
			window.onhashchange=function(){window.location.hash="no-back-button";}
			</script>
      </head>
      <body>
          {% include 'stheading.html' %}

           <main>
            <div class="row center-align">
         	<div class="col s12">
			<h3> Results for Challenge<i>{{challengeName}}</i></h3>
		</div>
		</div>
<div class="row">
	<div class="col s12 m8 offset-m2">
		<form action="">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<p>You scored <b>{{total_user_points}}</b> points out of <b>{{total_possible_points}}</b> points in this challenge.</p>
				</div>
				{% for q in questions %}
				<div class="divider"></div>									
				<div class="row">
					<p>{% autoescape off %} {{q.index}}. {{q.question.questionText|safe}} {% endautoescape %}</p>
				</div>
				<div class="row">
					<div class="col s12">
						<h5>Your Answer:</h5>							
					</div>
				</div>
				{% if q.question.type == questionTypes.multipleChoice %}
				<div class="row">
				   <div class="col s12">
					  {% for j,answer in q.answers_with_count %}
					  <p>
						 <input name="{{q.question.questionID}}" type="radio" id="ans-{{q.question.questionID}}" disabled="disabled" {% if q.user_answer.answerNumber == j %}checked{% endif %}/>
						 <label for="ans-{{q.question.questionID}}">{% autoescape off %}{{answer.answerText|safe}} {% endautoescape %}</label>
					  </p>
					  {% endfor %}
				   </div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5>Correct Answer: </h5>
						<p>{{q.correct_answer_text|safe}}</p>
						<p>You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
					</div>
				</div>
				{% elif q.question.type == questionTypes.multipleAnswers %}
				<div class="row">
					<div class="col s12">
						{% for j,answer in q.answers_with_count %}
						<p>
							<input name="{{q.question.questionID}}" type="checkbox" id="ans-{{q.question.questionID}}" {% for user_answer in q.user_answers %}{% if j == user_answer.answerNumber %}checked{% endif %}{% endfor %} disabled/>
							<label for="ans-{{q.question.questionID}}">{% autoescape off %}{{answer.answerText|safe}} {% endautoescape %}</label>
						</p>
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5>Correct Answer(s): </h5>
						{% for correct_answer_text in q.correct_answer_texts %}
						<p>{{correct_answer_text|safe}}</p>
						{% endfor %}
						<p>You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
					</div>
				</div>
				{% elif q.question.type == questionTypes.matching %}
				<div class="row">
					<div class="col s6">
						{% for j,answer in q.answers_with_count %}
						<p>{{j}} . {{answer.answerText}}</p>
						{% endfor %}
					</div>
					<div class="col s6">
						{% for user_answer in q.user_answers %}
						<p>{{user_answer.answerNumber}}</p>
						{% endfor %}
						<h6>Matches:</h6>
						{% for match in q.matches %}
						<p>{{match.matchingAnswerText}}</p>	
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5>Correct Answer(s): </h5>
						{% for match in q.matches %}
						<p>{{match.current_pos}} . {{match.answerText}}</p>
						{% endfor %}
						{% for match in q.matches %}
						<p>{{match.matchingAnswerText}}</p>	
						{% endfor %}
						<p>You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
					</div>
				</div>
				{% elif q.question.type == questionTypes.trueFalse %}
				<div class="row">
					<div class="col s12">
						<p>
							<input name="{{q.question.questionID}}" type="radio" id="ans1-{{q.question.questionID}}" {% if q.user_answer.answerValue %}checked{% else %}disabled="disabled"{% endif %}/>
							<label for="ans1-{{q.question.questionID}}">True</label>
						</p>
						<p>
							<input name="{{q.question.questionID}}" type="radio" id="ans2-{{q.question.questionID}}" {% if q.user_answer.answerValue %}disabled="disabled"{% else %}checked{% endif %}/>
							<label for="ans2-{{q.question.questionID}}">False</label>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5>Correct Answer: </h5>
						<p>{{q.correctAnswerText}}</p>
						<p>You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
					</div>
				</div>
				{% elif q.question.type == questionTypes.essay %}
				<div class="row">
					<div class="col s12">
						<textarea class="materialize-textarea" name="{{q.question.questionID}}" rows="10" cols="90" disabled>{{q.user_answer}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<p>You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
					</div>
				</div>
				{% elif q.question.type == questionTypes.dynamic or q.question.type == questionTypes.templatedynamic %}
				<div class="row">
					{% for answer_blank_name, user_answer_value in q.user_answers.items %}
					<p>For answer blank <b>{{answer_blank_name}}</b>: {{user_answer_value}}</p>
					{% endfor %}
					</div>
					{% if q.evaluations %}
						{% for answer in q.evaluations %}
							<p>	
							{% if answer.success %}
								<span style='color: green;'>&#10004;</span> 
							{% else %}
							<span style='color: red;'>&#10006;</span>
						{% endif %}
						You got {{answer.value}} points on answer {{answer.name}}
							{% if answer.details %}
								<ul class="collection">
								{% for detail in answer.details %}
									<li class="collection-item">
										{%if detail.success%}
										<span style='color: green;'>&#10004;</span> 
										{%else%}
										<span style='color: red;'>&#10006;</span> 
										{% endif %}
										{{detail.value}}/{{detail.max_points}} points on criteria {{detail.name}}
									</li>
								{% endfor %}
								</ul>
							{% endif %}
							</p>
						{% endfor %}
					{% endif %}
					<div class="row">
						<div class="col s12">
							<p>Total for this question, You Scored: <b>{{q.user_points}}</b> Point(s) out of <b>{{q.total_points}}</b> Point(s)</p>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="card-action right-align">
				{% if warmUp %}									
				<a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesWarmUpList">
				{% else %}
				<a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesList">											
				{% endif %}
				<i class="material-icons left">check</i>Done</a> 
			</div>
		</div>
		</form>
	</div>
</div>	
			
		</main>

        {% include 'footer.html' %}

    
      </body>
   </html>