<!DOCTYPE html>
<html lang="en">
      <head>
         
         {% include 'scripts.html' %}
           
         <script>
			window.location.hash="no-back-button";
			window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
			window.onhashchange=function(){window.location.hash="no-back-button";}
			</script>
      </head>
      <body>
      <div>

          {% include 'stheading.html' %}

            <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
			<h1> Results for Challenge<span> {{challengeName}}</span></h1>
			<br>
			<table class="bg">
				<tr style="font-size: 1.2em">
					<td colspan="3">You scored <span>{{total_user_points}}</span> points out of <span>{{total_possible_points}}</span> points in this challenge.</td>
				</tr> 
			<form action="">
			{% for q in questions %}
				<tr id="question"> 
			<div id="question{{q.index}}">
					<td colspan="3"><font style="font-weight:600">{{q.index}}. {{question.questionText|safe}}</font></td>
				</tr>									
				<tr>
					<td colspan="3">Your Answer:</td>
				</tr>
		{% if q.question.type == questionTypes.multipleChoice %}
		<!-- multiple choice question -->
				<tr><td colspan="3"> 
			{% for j,answer in q.answers_with_count %}	
			<!-- use a for loop and display the answers in radio buttons -->
					<input type="radio" name="{{q.question.questionID}}" value="{{answer.answerText}}" 
					{% if q.user_answer.answerNumber == j %}checked{% else %}disabled="disabled"{% endif %}>
					{{answer.answerText}}<br>
			{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3">Correct Answer:<br>
						{{q.correct_answer_text}}<br>
					</td>
				</tr>
				<tr>
					<td colspan="3"><font style="font-weight:600">You Scored:</font> <span>{{q.user_points}}</span> Point(s) out of <span>{{q.total_points}}</span> Point(s)</td>
				</tr>
		{% elif q.question.type == questionTypes.multipleAnswers %}
		<!-- multiple answer question -->
				<tr>
					<td colspan="3">
				{% for j,answer in q.answers_with_count %}
			<!-- use a for loop and display the answers in the check box -->
					<input type="checkbox" name="{{q.question.questionID}}" value="{{answer.answerText}}"{% for user_answer in q.user_answers %}{% if j == user_answer.answerNumber %}checked{% endif %}{% endfor %}>{{answer.answerText}}<br />
				{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3">Correct Answer(s):<br />
				{% for correct_answer_text in q.correct_answer_texts %}
					{{correct_answer_text}}<br>
				{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3"><font style="font-weight:600">You Scored:</font> <span>{{q.user_points}}</span> Point(s) out of <span>{{q.total_points}}</span> Point(s)<br /></td>
				</tr>
		{% elif q.question.type == questionTypes.matching %}
		<!-- matching question -->
				<tr>
					<td>
				{% for j,answer in q.answers_with_count %}
			<!-- use a for loop and display the answers in the matching form -->
					{{j}} .&nbsp;{{answer.answerText}}<br />
				{% endfor %}</td>
					<td  width="1%" !important>
				{% for user_answer in user_answers %}
					<input type="text" value={{user_answer.answerText}} style="height:1.75em; width:2.5em; border-bottom: 2px solid white;"  disabled="disabled">
				{% endfor %}</td>
					<td style="position:relative; left:-2em; bottom: 0.2em; text-align: left;" !important >
				{% for match in q.matches %}
					{{match.matchingAnswerText}}<br />	
				{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3">Correct Answer:</td>
				</tr>
				<tr>
					<td width="50%">
				{% for match in q.matches %}
			<!-- use a for loop and display the answers in the matching form-->
					{{match.current_pos}} . &nbsp{{match.answerText}}<br />
				{% endfor %}</td>
					<td colspan="2" style="text-align: left;">
        		{% for match in question.matches %}
        			{{match.matchingAnswerText}}<br />	
				{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3"><font style="font-weight:600">You Scored:</font> <span>{{question_score}}</span> Point(s) out of <span>{{question_total}}</span> Point(s)</td>
				</tr>
		{% elif question.type == questionTypes.trueFalse %}
		<!-- true/false question -->
				<tr>				
					<td colspan="3"><input type="radio" name="{{question.questionID}}" value="True" {% ifequal user|stringformat:"s" "True" %}checked{% else %}disabled="disabled"{% endifequal %}>True<br />
					<input type="radio" name="{{question.questionID}}" value="False" {% ifequal user|stringformat:"s" "False" %}checked{% else %}disabled="disabled"{% endifequal %}>False</td>
				</tr>
				<tr>
					<td colspan="3">Correct Answer: <br>
				{% for count,correct_answer in question.correct_answers %}
					{{correct_answer.answerID.answerText}}
				{% endfor %}</td>
				</tr>
				<tr>
					<td colspan="3"><font style="font-weight:600">You Scored:</font> <span>{{question_score}}</span> Point(s) out of <span>{{question_total}}</span> Point(s)</td>
				</tr>
		{% endif %}
		
		{% if question.typeID == '5' %}
		<!-- Essay question -->
				<tr>
					<td colspan="3"><textarea name="{{question.questionID}}" rows="10" cols="90" disabled="disabled">{{user}}</textarea></td>
				</tr>
				<tr>
					<td colspan="3"><font style="font-weight:600">You Scored:</font> <span>{{question_score}}</span> Point(s) out of <span>{{question_total}}</span> Point(s)</td>
				</tr>
		{% endif %}
				<tr>
					<td><input type="hidden" name="questionId" value="{{question.questionID}}"></td>
				</tr>
			</div> 
  		<input type="hidden" name="challengeId" value="{{question.challengeID}}">		
		{% endfor %}
		</form>
			</table>	
	{% if warmUp %}
	<a href="/oneUp/students/ChallengesWarmUpList"><button type="button" value="Reset">OK</button></a>
	{% else %}
	<a href="/oneUp/students/ChallengesList"><button type="button" value="Reset">OK</button></a>
	{% endif %}
		<br><br>
   		 </div></div></div></div>
         </div>
         <!-- Footer -->

        {% include 'footer.html' %}

    
      </body>
   </html>