<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    
        {% include 'scripts.html' %}
        
         
     </head>
      <body>
      <div id="page-wrapper">

       {% if is_teacher %}    
              {% include 'heading.html' %}
       {% else %}
              {% include 'stheading.html' %}
       {% endif %}

            <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
         	<div class="12u">
         		 <h1> Warm Up Challenges {% if is_teacher %} for {{student}} {% endif %}</h1>
			</div>
			</div>
<!-- INSERTED DYNAMIC TABLE --> 
       		<div class="row">
         	<div  align="left">
         	
        <i class="fa fa-square" style="color:green;" aria-hidden="true"></i><font style="font-size:.8em;font-weight:600;"> You've got it!</font>&nbsp;&nbsp;
        <i class="fa fa-square" style="color:blue;" aria-hidden="true"></i><font style="font-size:.8em;font-weight:600;"> Getting there</font>&nbsp;&nbsp;
        <i class="fa fa-square" style="color:red;" aria-hidden="true"></i><font style="font-size:.8em;font-weight:600;"> Needs improvement</font>&nbsp;&nbsp;
        <i class="fa fa-square-o" aria-hidden="true"></i><font style="font-size:.8em;font-weight:600;"> Not attempted</font>
        	</div></div>
    		<div class="row">
         	<div class="12u">
     {% if course_notselected %}
        <p> Please select a course to view the challenges associated with it.</p>
       {% elif no_challenge %} 
       <p> {{no_challenge}} </p>
       {% else %}
     
        <table class="bg">
           <tr>
        		<th> <span style="color: red; font-weight: bolder;">*</span>Click the bullet symbol <i class="fa fa-square" aria-hidden="true"></i> to view your attempt (if any) or click the actual link to take the warm up
        		<span style="color: red; font-weight: bolder;">*</span></th>
        		
        	</tr>

		{% for i,topic_ID,topic_Name,topic_Pos,all_challenges in topic_range %}

		<tr> 
		<input type="hidden" name="topicID" value="{{topic_ID}}">
		<td><b>{{topic_Name}}</b>
		{% for i,challenge_Name,challenge_ID,score,chall_position in all_challenges %}
		<input type="hidden" name="score" value="{{score}}">
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
				{% if score == 1 %} <!-- If is empty -->
				 
				
				{% elif score == 2 %}  <!-- If score have not been taken -->
				<i class="fa fa-square-o" aria-hidden="true"></i>
				
				{% elif score == 3 %} <!-- If score equals Above Average -->
				<a href="/oneUp/students/ChallengesTaken?challengeID={{challenge_ID}}&warmUp{% if is_teacher %}&userID={{student}}{% endif %}" style="text-decoration:none;">
				<i class="fa fa-square" style="color:green;" aria-hidden="true"></i>
				</a>
				
				{% elif score == 4 %} <!-- If score equals Average -->
				<a href="/oneUp/students/ChallengesTaken?challengeID={{challenge_ID}}&warmUp{% if is_teacher %}&userID={{student}}{% endif %}" style="text-decoration:none;">
				<i class="fa fa-square" style="color:blue;" aria-hidden="true"></i></a>
				
				{% else %} <!-- If score equals Below Average -->
				<a href="/oneUp/students/ChallengesTaken?challengeID={{challenge_ID}}&warmUp{% if is_teacher %}&userID={{student}}{% endif %}" style="text-decoration:none;">
				<i class="fa fa-square" style="color:red;" aria-hidden="true"></i></a>
				{% endif %}
				 
				 <input type="hidden" name="challenge_ID" value="{{challenge_ID}}">
				 {% if not is_teacher %}
				 <a href="/oneUp/students/ChallengeDescription?challengeID={{challenge_ID}}" >
				 {% endif %}
				 <font color="Black "> {{challenge_Name}}</font></a> 
				{% endfor %}	
				</td>
								
			
		</tr>
		{% endfor %}
	</table>
	{% endif %} 
<!-- END DYNAMIC TABLE --> 
            </div></div></div>
            </div>
         </div>
         <!-- Footer -->

        {% include 'footer.html' %}

    
      </body>
   </html>