<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12 m10 offset-m1">
               <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{challengeName}}</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m4 offset-m4">
               <div class="card">
                  <form name="ChallengeDescription" action="/oneUp/students/ChallengeSetup" method="POST">
                     {% csrf_token %}
                     <input type="hidden" name="challengeId" value="{{challengeID}}">
                     {% if isDuel %}	
                        <input type="hidden" name="duelID" value="{{duelID}}">
                        <input type="hidden" name="isDuel" value="{{isDuel}}">	
                     {% endif %}			
                     <div class="card-content">
                        {% if unAvailable and isDuel %}<!--if there are no more attempts, then only ok button displays which redirects to the challanges-list page-->
                        <h5>{{unAvailable}}</h5>
                            <p>Sorry, the Duel is unavailable</p>
                        {% elif unAvailable %}
                            <p>Please Try other challenges</p>
                        {%  elif no_attempt and isDuel %}<!--if there are no more attempts, then only ok button displays which redirects to the challanges-list page-->
                        <h5>{{no_attempt}}</h5>
                            <p>Sorry, You can not take this challenge anymore</p>
                        {% elif no_attempt %}
                            <p>You can not take this challenge anymore. Try other challenges</p>
                        {% else %}
                        <p class="flow-text">Difficulty: <b>{{challengeDifficulty}}</b></p>
                        <p class="flow-text">Time Limit (Minutes): <b>{{timeLimit}}</b></p>
                        {% if isDuel %}	
                        <p class="flow-text">Remaining Attempts: <b>1</b></p>
                        <p>This is your only attempt!!!</p>
                        {% else %}
                        <p class="flow-text">Remaining Attempts: <b>{{more_attempts}}</b></p>	
                        {% endif %}
                        
                        {% if last_attempt %}<!--if student has only 1 attempt left, then this message is displayed-->
                        <p class="flow-text">Remaining Attempts: <b>1</b></p>
                        <p>{{last_attempt}}</p>
                        {% endif %}
                        <blockquote>
                           <b>Note:</b> If you navigate away from the challenge page before submitting the challenge, you will lose all entered information and will not be allowed to resubmit this attempt.
                        </blockquote>
                        {% if challengePassword %}
                        {% if form.errors %}
                        <b>Your username and password didn't match. Please try again.</b>
                        {% endif %}
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Password" name="password" id="password" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="password">Password</label>
                           </div>
                        </div>
                        {% endif %}
                        {% endif %}
                     </div>
                     <div class="card-action right-align">
                        {% if unAvailable or no_attempt %}
                            {% if isDuel %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/Callouts"><i class="material-icons left">done</i>Ok</a>
                            {% elif isWarmup %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesWarmUpList"><i class="material-icons left">done</i>Ok</a>
                            {% else %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesList"><i class="material-icons left">done</i>Ok</a>
                            {% endif %}
                        {% else %}
                            {% if isDuel %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/DuelChallengeDescription?duelChallengeID={{duelID}}"><i class="material-icons left">done</i>Ok</a>
							{% elif isWarmup %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesWarmUpList"><i class="material-icons left">navigate_before</i>Back</a>
                            {% else %}
                                <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesList"><i class="material-icons left">navigate_before</i>Back</a>
                        	{% endif %}
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Go!
                        <i class="material-icons right">send</i></button>
                        {% endif%}
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>