<!DOCTYPE html>
<html lang="en">
      <head>
         
         {% include 'scripts.html' %}
         
      </head>
      <body>
      <div id="page-wrapper">

       {% if is_teacher %}    
              {% include 'heading.html' %}
       {% else %}
              {% include 'stheading.html' %}
       {% endif %}

            <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
         	<div class="12u">
         		 <h1>Serious Challenges</h1>
			</div></div>
<!-- INSERTED DYNAMIC TABLE --> 
			<div class="row">
         	<div class="12u">
    <div id="element2"><td align="left">
    <form name="menuform">
                     <select name="menu1" style="background:rgba(255,255,255,.75)">
                        <option value="/oneUp/students/ChallengesList?ID={{1}}{% if is_teacher %}&userID={{student}}{% endif %}">Latest Score</option>
                        {% if ID == '2' %}
                        <option value="/oneUp/students/ChallengesList?ID={{2}}{% if is_teacher %}&userID={{student}}{% endif %}" selected>Earliest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{3}}{% if is_teacher %}&userID={{student}}{% endif %}">Highest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{4}}{% if is_teacher %}&userID={{student}}{% endif %}">Lowest Score</option>
                        {% elif ID == '3' %}
                        <option value="/oneUp/students/ChallengesList?ID={{2}}{% if is_teacher %}&userID={{student}}{% endif %}">Earliest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{3}}{% if is_teacher %}&userID={{student}}{% endif %}" selected>Highest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{4}}{% if is_teacher %}&userID={{student}}{% endif %}">Lowest Score</option>
                        {% elif ID == '4' %}
                        <option value="/oneUp/students/ChallengesList?ID={{2}}{% if is_teacher %}&userID={{student}}{% endif %}">Earliest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{3}}{% if is_teacher %}&userID={{student}}{% endif %}">Highest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{4}}{% if is_teacher %}&userID={{student}}{% endif %}" selected>Lowest Score</option>
                        {% else %}
                        <option value="/oneUp/students/ChallengesList?ID={{2}}{% if is_teacher %}&userID={{student}}{% endif %}">Earliest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{3}}{% if is_teacher %}&userID={{student}}{% endif %}">Highest Score</option>
                        <option value="/oneUp/students/ChallengesList?ID={{4}}{% if is_teacher %}&userID={{student}}{% endif %}">Lowest Score</option>
                        {% endif %}
                     </select></div>
                     <div id="element2"><a><input type="button" name="Submit" value="Display" 
                        onClick="top.location.href = this.form.menu1.options[this.form.menu1.selectedIndex].value;
                        return false;"></a></td>
                  </form></div>
                  
                  <br /><br />
        
            <table class="bg">
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Number of Attempts</th>
                    <th>Adjustment Reason</th>
                    <th> </th>
                </tr>
                
                {% for i,chall_ID,chall_Name,grade,numberOfAttempts,adjusmentReason,chall_position in challenge_range %}
                <tr> 
                    <td>{{chall_Name}}</td>	
                    <td>{{grade}}</td>
                    <td>{{numberOfAttempts}}</td>		
                    <td>{{adjusmentReason}}</td>	
                    <td align="right">
                        {% csrf_token %} 
                        <div>
        				{% if is_teacher %}    
                         <a href="/oneUp/students/ChallengesTaken?challengeID={{chall_ID}}&userID={{student}}">
                                <button class="button">View</button>
                         </a> 
        
      					{% else %}
                          <a href="/oneUp/students/ChallengeDescription?challengeID={{chall_ID}}">
                                <button class="button">Take</button>
                            </a>
                            <a href="/oneUp/students/ChallengesTaken?challengeID={{chall_ID}}">
                                <button class="button">View</button>
                         </a> 

       					{% endif %}
                        
                        </div>															
                        <input type="hidden" name="challengeID" value="{{chall_ID}}">
				    </td>
                </tr>
                {% endfor %}
            </table>
            <a href="/oneUp/students/ChallengesTaken{% if is_teacher %}?userID={{student}}{% endif %}">
            <button class="button">View All Completed Challenges</button></a>
            
            <!-- <a href="/oneUp/students/StudentCourseHome"> <button class="button">Back</button></a>  -->
            
            
       {% if is_teacher %}    
              <a href="/oneUp/instructors/studentChallengesCompleted?userID={{user}}">
       {% else %}
              <a href="/oneUp/students/StudentCourseHome"> <button class="button">Back</button></a> 

       {% endif %}
            
            <br><br>
       <!-- END DYNAMIC TABLE --> 
         </div></div></div>
            </div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}


      </body>
   </html>