<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      
        <title>Simple js-parsons example assignment</title>
        <link href="/static/ThirdParty/js-parsons-master/parsons.css" rel="stylesheet" />
        <link href="/static/ThirdParty/js-parsons-master/lib/prettify.css" rel="stylesheet" />
        <script src="/static/ThirdParty/js-parsons-master/lib/prettify.js"></script>
             
      <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script>
      <script src="/static/ThirdParty/aceEditor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
         // Set time out for the test if the time limit has reached 
         var duration = {{testDuration}}; //time limit in minutes from database
         var now = new Date();
         var milli = now.getMilliseconds(); //current time in milliseconds
         var limit = milli + (duration * 1000 * 60); // test time duration in milliseconds (current time + time limit in milliseconds)
         
         setTimeout("formSubmit()", limit); //if the time limit of the test has reached, the test will be submitted automatically
         
         function formSubmit() {
             document.getElementById('submit_hidden').click()
         };
      </script>
      <script>
         var ace_editor_divs = document.getElementsByClassName('ace-editor');
         var ace_editors = {};
         for (var i=0;i<ace_editor_divs.length;i++) {
             var new_editor = ace.edit(ace_editor_divs[i].id);
          new_editor.setTheme("ace/theme/chrome");
         new_editor.session.setMode("ace/mode/"+ace_editor_divs[i].title);
         ace_editors[ace_editor_divs[i].id] = new_editor;
         }
         
         function copyContentsToHidden() {
                for (var i=0;i<ace_editor_divs.length;i++) {
                    var name = ace_editor_divs[i].id;
                    var editor = ace_editors[name];
                    var hiddenfield = document.getElementById(name+"-hidden");
                    hiddenfield.value = editor.getValue();
                }
         }
      </script>
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>{{challengeName}}</h3>
               <p><b> Start Time:  {{startTime}}</b></p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 l12 m8 offset-m2">
               <form id="TakeTest" name="TakeTest" action="/oneUp/students/ChallengeResults" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="startTime" id="startTime" value="{{startTime}}">
                  <input type="hidden" name="challengeId" value="{{challengeID}}"> 
                  <div class="card">
                     <div class="card-content">                 
                                    
                        {% for i,question in question_range %}
                        <div class="divider"></div>
                        <div class="row">
                           <p>{% autoescape off %} {{i}}. {{question.questionText|safe}} {% endautoescape %}</p>
                        </div>
                        
                        {% if question.type == questionTypes.multipleChoice %}
                        <div class="row">
                           <div class="col s12">
                              {% for j,answer in question.answers_with_count %}
                              <div class="row">
                                 <input name="{{i}}-ans" type="radio" id="{{i}}ans-{{j}}" value="{{j}}" />
                                 <label for="{{i}}ans-{{j}}">{% autoescape off %}{{answer.answerText|safe}} {% endautoescape %}</label>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                        {% elif question.type == questionTypes.multipleAnswers %}
                        <div class="row">
                           <div class="col s12">
                              {% for j,answer in question.answers_with_count %}
                              <div class="row">
                                 <input name="{{i}}-ans" type="checkbox" id="{{i}}ans-{{j}}" value="{{j}}"/>
                                 <label for="{{i}}ans-{{j}}">{% autoescape off %}{{answer.answerText|safe}} {% endautoescape %}</label>
                                 </div>
                              {% endfor %}
                           </div>
                        </div>
                        {% elif question.type == questionTypes.matching %}
                        <div class="row">
                           <div class="col s12 m6">
                              {% for j,answer in question.answers_with_count %}
                              <p>{{j}} . {{answer.answerText}}</p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="row">
                           {% for match in question.matches %}
                           <div class="input-field col s12 m4">
                              <select name="{{i}}-{{match.current_pos}}" id={{match.current_pos}}/>
                                 {% for k in match.answers_count %}
                                 <option value="{{k}}">{{k}}</option>
                                 {% endfor %}
                              </select>
                              <label for="{{match.current_pos}}">{{match.matchingAnswerText}}</label>
                           </div>
                           {% endfor %}
                        </div>
                        {% elif question.type == questionTypes.trueFalse  %}
                        <div class="row">
                           <div class="col s12">
                              <p>
                                 <input name="{{i}}-ans" type="radio" id="{{i}}ans1" value="t" class="validate" required/>
                                 <label for="{{i}}ans1">True</label>
                              </p>
                              <p> 
                                 <input name="{{i}}-ans" type="radio" id="{{i}}ans2" value="f" class="validate" required/>
                                 <label for="{{i}}ans2">False</label>
                              </p>
                           </div>
                        </div>
                        {% elif question.type == questionTypes.essay %}
                        <div class="row">
                           <div class="col s12">
                              <textarea style="border:solid 1px rgba(128, 128, 128, 0.5)" name="{{i}}-ans" rows="10" cols="90"></textarea>
                              <script type="text/javascript">
                                CKEDITOR.config.autoParagraph = false;
                                CKEDITOR.replace("{{question.questionID}}");
                              </script>
                           </div>
                        </div>
                        
                       {% elif question.type == questionTypes.parsons %} 

				        <div id="{{question.questionID}}_sortableTrash" class="sortable-code"></div>
				        <div id="{{question.questionID}}_sortable" class="sortable-code"></div>
				        <div style="clear:both;"></div>
				        
				        <p>
				            <a href="#" id="newInstanceLink">New instance</a>
				            <a href="#" id="feedbackLink">Get feedback</a>
				        </p>
				        
				        <script src="/static/ThirdParty/js-parsons-master/lib/jquery.min.js"></script>
				        <script src="/static/ThirdParty/js-parsons-master/lib/jquery-ui.min.js"></script>
				        <script src="/static/ThirdParty/js-parsons-master/lib/jquery.ui.touch-punch.min.js"></script>
				        <script src="/static/ThirdParty/js-parsons-master/lib/underscore-min.js"></script>
				        <script src="/static/ThirdParty/js-parsons-master/lib/lis.js"></script>
				        <script src="/static/ThirdParty/js-parsons-master/parsons.js"></script>        
				
				        <script>
				        var initial_{{question.questionID}} = '{{question.model_solution}}' 
				
				        function displayErrors(fb) {
				            if(fb.errors.length > 0) {
				                alert(fb.errors[0]);
				            }
				        } 
				
				        $(document).ready(function(){
				            var parson = new ParsonsWidget({
				                'sortableId': '{{question.questionID}}_sortable',
				                'trashId': '{{question.questionID}}_sortableTrash',
				                'max_wrong_lines': 1,
				                'feedback_cb' : displayErrors
				            });
				            parson.init(initial_{{question.questionID}});
				            parson.shuffleLines();
				            $("#newInstanceLink").click(function(event){
				                event.preventDefault();
				                parson.shuffleLines();
				            });
				            $("#feedbackLink").click(function(event){
				                event.preventDefault();
				                parson.getFeedback();
				            });
				        });
				        </script>
                                   
                        
                        {% endif %}
                        
                        {% endfor %}
                     </div>
                     <div class="card-action right-align">
                        <input type="submit" id="submit_hidden" name="submit_hidden" style="display:none;">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal_confirm"><i class="material-icons right">send</i>Submit Challenge</a></a>
                        <div id="modal_confirm" class="modal">
                           <div class="modal-content left-align">
                              <h5>Are you sure you want to submit?</h5>
                              <p>Once you submit the challenge, it cannot be reverted.</p>
                           </div>
                           <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                              <button class="modal-action modal-close waves-effect waves-light btn-flat" type="submit" id="submit" name="submit" value="Submit" onclick="copyContentsToHidden()">Submit
                              </button>                                        
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      <!-- Footer -->
      {% include 'footer.html' %}
   </body>
</html>