<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Course Grades</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <table {% if challenge_range %}class="responsive-table"{% else %}class="table"{% endif%}>
                        <thead>
                           <th>Name</th>
                           <th>Type</th>
                           <th>Time</th>
                           <th>Grade</th>
                           <th>Instructor's Feedback</th>
                        </thead>
                        <tbody>
                           {% for i,assignmentID,assignmentName,assignmentType, assignmentTime,assignmentGrade, assignmentGradeTotal, assignmentFeedback, isExpired in challenge_range %}
                           <tr>
                              <td style="max-width: 40vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{assignmentName}}</td>
                              <td>{{assignmentType}}</td>
                              <td>{{assignmentTime}}</td>
                              <td>{{assignmentGrade}} / {{assignmentGradeTotal}}</td>
                              <td>{{assignmentFeedback}}</td>
                              <td class="right-align">
                                 {% ifequal assignmentType 'Challenge' %}
                                 <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesTaken?challengeID={{assignmentID}}"><i class="material-icons left">visibility</i>View</a>
                                 {% endifequal %}
                              </td>
                           </tr>
                           {% empty %}
                           <tr>
                               <td class="center-align" colspan="6"><i>No challenges available</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="card-action right-align">
                     <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons left">navigate_before</i>Back</a>                         
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>