<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <link href="/static/ThirdParty/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css" rel="stylesheet">
      <script src="/static/ThirdParty/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>
                  Course Information
               </h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m6 offset-m3">
               <div class="card">
                  <div class="card-content">
                     <span class="card-title">
                        <h5>Course Description</h5>
					 </span>
					 {% if course_Description %}
					 <blockquote>{{course_Description}}</blockquote>
					 {% else %}
					 <blockquote>No Course Description</blockquote>
					 {% endif %}
                  </div>
               </div>
            </div>
         </div>
         <!-- GGM added ifs to remove Targeted skills  -->
         {%if ccparams.gamificationUsed %}
          {%if studentClassSkillsToggle %}
          {%if displayClassSkills %}
         <div class="row">
            <div class="col s12 m6 offset-m3">
               <div class="card">
                  <div class="card-content">
                     
                    
                     <span class="card-title">
                        <h5>Targeted Skills</h5>
                     </span>
                     <blockquote>
                     {% for i,skill_ID,skill_Name in skill_range %}
                     <p>{{skill_Name}}</p>
                     {% empty %}
                     <p>No Skills</p>
                     {% endfor %}
                     </blockquote>
                     
                  </div>
               </div>
            </div>
         </div>
         {%endif%}
         {%endif%}
         {%endif%}
      </main>
      {% include 'footer.html' %}
   </body>
</html>