<!DOCTYPE html>
<html lang="en">
      <head>
         
         {% include 'scripts.html' %}
         
      </head>
      <body>
      <div id="page-wrapper">

            {% include 'stheading.html' %}

            <div class="frame"  align="center">
         	<div class="container">
         	<div class="row">
         	<div class="12u">
         		 <h1>Course Grades</h1>
			</div></div>
<!-- INSERTED DYNAMIC TABLE --> 
			<div class="row">
         	<div class="12u">
                  
                  <br /><br />
        
            <table class="bg">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Grade</th>
                    <th>Instructor's Feedback</th>
                 	<th></th>
                </tr>
                
                {% for i,assignmentID,assignmentName,assignmentType, assignmentTime,assignmentGrade, assignmentGradeTotal, assignmentFeedback in challenge_range %}
                <tr> 
                    <td>{{assignmentName}}</td>
                    <td>{{assignmentType}}</td>
                    <td>{{assignmentTime}}</td>
                    <td>{{assignmentGrade}} / {{assignmentGradeTotal}}</td>	
                    <td>{{assignmentFeedback}}</td>
                    <td align="right">
                    {% ifequal assignmentType 'Challenge' %}
                        {% csrf_token %} 
                        <div>
                            <a href="/oneUp/students/ChallengesTaken?challengeID={{assignmentID}}">
                                <button class="button">View</button>
                            </a>
                        </div>															
                        <input type="hidden" name="challengeID" value="{{assignmentID}}">
                    {% endifequal %}
				    </td>
                </tr>
                {% endfor %}
            </table>
                        
            <a href="/oneUp/students/StudentCourseHome">
            <button class="button">Back</button></a> 
            <br><br>
       <!-- END DYNAMIC TABLE --> 
         </div></div></div>
            </div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}

     
      </body>
   </html>