<!-- modeled after ChallengeQuestions.html
by James Cherry -->

<!DOCTYPE html>
<html lang="en">
   <head>      
      {% include 'scripts.html' %}
   </head>
   <body>
   	  {% if is_teacher %}    
      {% include 'heading.html' %}
      {% else %}
      {% include 'stheading.html' %}
      {% endif %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if is_teacher %} 
               <h3>Goals for {{student}}</h3>
               {% else %}   
               <h3>Goals</h3>
               {% endif %}
            </div>
         </div>
         <div class="row right-align">
         {% if not is_teacher %}
         	<div class="col s12 m10 offset-m1">
         	   <a class="waves-effect waves-light btn" href="/oneUp/students/goal"><i class="material-icons left">add_circle</i>Create New Goal</a>       
         	</div>
         {% endif %}
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  <table class="responsive-table">
                     <thead>
                        <tr>
                           <th>Goal</th>
                           <th>Start Date</th>
                           <th>End Date</th>
                           <th>Target</th>
                           <th>Progress %</th>
                           <th>Status</th>
                           <th>Recurring</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i,goal_id,student_ID,course_ID,start_date,end_date,goal_name,goal_target,goal_progress,goal_status,recurring_goal, can_edit in goal_range %}
                        <tr>
                           <td>{{goal_name}}</td>
                           <td>{{start_date}}</td>
                           <td>{{end_date}}</td>
                           <td>{{goal_target}}</td>
                           <td>{{goal_progress}}%</td>   
                           <td>
                           		{% if goal_status == "Not Achieved" %}
                           		<font color="red">{{goal_status}}</font>
                           		{% elif goal_status == "Completed" %}
                           		<font color="green">{{goal_status}}</font>
                           		{% else %}
                           		{{goal_status}}
                           		{% endif %}
                           </td>
                           <td>{{recurring_goal}}</td>  
                           {% if not is_teacher %}
                           <td>
                              <form action="/oneUp/students/goal" method="POST">
                                 {% csrf_token %} 
                                 <input type="hidden" name="goal_id" value="{{goal_id}}">
                                 <input type="hidden" name="delete">
                                 <div class="hide-on-med-and-down">
                                    <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='goal{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                                    <ul id='goal{{i}}' class='dropdown-content'>     
                                       {% if can_edit %}                            	
                                       <li><a href="/oneUp/students/goal?goal_id={{goal_id}}">Edit</a></li>                                    	                                   
                                       <li class="divider"></li>          
                                       {% endif %}                       	
                                       <li><a class="modal-trigger" href="#modal_delete{{i}}">Delete</a></li>
                                    </ul>
                                 </div>
                                 <div class="hide-on-large-only">
                                    <div class="row right-align" style="margin: 0">
                                        <div class="col s12">
                                          {% if can_edit %}   
                                          <a class="waves-effect waves-light btn" href="/oneUp/students/goal?goal_id={{goal_id}}">Edit</a>
                                          {% endif %}
                                          <a class="modal-trigger waves-effect waves-light btn" href="#modal_delete{{i}}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                 <div id="modal_delete{{i}}" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                       </button>                                        
                                    </div>
                                 </div>
                              </form>
                           </td>
                           {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="8"><i>No Goals Have Been Created Yet</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     <tbody class="hide-on-large-only mobile-table-padding"></tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="row right-align">
         {% if not is_teacher %}
         	<div class="col s12 m10 offset-m1">
         	   <a class="waves-effect waves-light btn" href="/oneUp/students/goal"><i class="material-icons left">add_circle</i>Create New Goal</a>       
         	</div>
         {% endif %}
         </div>
      </main>
      {% include 'footer.html' %}    
   </body>
</html>