<!-- modeled after AnnouncementCreate.py
by James Cherry -->

<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script>
         $( document ).ready(function(){
          var endDate = $('#endTime').bootstrapMaterialDatePicker({
            weekStart: 0, format: 'MM/DD/YYYY hh:mm A'
          });
         
         });
      </script>
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
            	{% if goal_id %}
            	<h3>Edit Existing Goal</h3>
            	{% else %}
               <h3>New Goal Creation</h3>
                {% endif %}
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form name="studentGoal" action="/oneUp/students/goal" method="POST">
                  {% csrf_token %}
                  {% if goal_id %}
                  <input type="hidden" name="goal_id" value="{{goal_id}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <select name="goal_variable" id="goal_variable" class="validate" required>
                                 <option disabled selected value>Choose a goal</option>
                                 {% for var in goal_variables %}
                                 <option value={{var.index}} {% if var.index == goal_variable %} selected {% endif %}>{{var.displayName}}</option>
                                 {% endfor %}                             
                              </select>
                              <label for="goal_variable"><span class= "red-text">*</span> What is your goal: </label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{goal_target}}" name="goal_target" id="goal_target" type="number" required ></input>
                              <label for="goal_target"><span class= "red-text">*</span>How many: </label>
                           </div>
                        </div>
                       	<div class="row">
                           <div class="switch col s12">
                              <label>
                                  Is this a weekly recurring goal?
                                  {% if recurring_goal %}
                                  <input name="recurring_goal" type="checkbox" checked>
                                  {% else %}
                                  <input name="recurring_goal" type="checkbox">
                                  {% endif %}
                                  <span class="lever secondary-content"></span>
                              </label>
                            </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">{% if goal_id %}Save{% else %}Create{% endif%}<i class="material-icons right">send</i></button>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/goalslist"><i class="material-icons left">close</i>Cancel</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>