<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Class Leader Board</h3>
            </div>
         </div>
         <div class="row">
         <div class="col s12 m10 offset-m1 ">
            <div class="row">
            {% if displayClassSkills %}
               <div class="col s12 m6">
             {% else %}
             	<div class="col s12 m12">
             {% endif %}
                  <div class="card-panel">
                     <table>
                        <thead>
                           <th>Student</th>
                           <th>XP</th>
                        </thead>
                        <tbody>
                           {% for i,avatarImage,xpoints, user in user_range %}
                           <tr>
                              <td><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                              <td>{{xpoints}}</td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="2"><i>No students with XP</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               {% if classSkillsDisplayed and displayClassSkills and ccparams.gamificationUsed %}                    
               <div class="col s12 m6">
                  <div class="card-panel">
                     <table>
                        <thead>
                           <th>Skill</th>
                           <th>Skill Points</th>
                        </thead>
                        <tbody>
                           {% for skill in skills %}
                           <tr>
                              <td>{{skill.skillName}}</td>
                              <td>
                                 {% for usi in skill.usersInfo %} 
                                 <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="{{usi.user}}">
                                    <img src="{{usi.avatarImage}}">
                                    {{usi.skillPoints}}
                                 </div>
                                 {% endfor %}
                              </td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="2"><i>No students with skill points</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               {% endif %}
            </div>
            {% if displayBadges %}                
            <div class="row ">
                  <div class="col s12">
                     <div class="card-panel">
                        <table>
                           <thead>
                              <th>Latest Badges</th>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>
                                    {% for i,studentBadgeID,studentID,badgeID, badgeName, badgeImage,avatarImage, user in badgesInfo %}    
                                    <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="70px" height="70px"data-tooltip="{{badgeName}}" />
                                    <img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    {% empty %}
                                    <i>No badges earned</i>
                                    {% endfor %}
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>