<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <style>
         #Weights { width: 500px; }
         .grow { width: 100%; }​
      </style>
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Leaderboards Info</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <table class="responsive-table">
                        <thead>
                           <th>Name</th>
                           <th>Description</th>
                        </thead>
                        <tbody>
                           {% for leaderboard_name,leaderboard_description in leaderboard_range %}
                           <tr>
                              <td>{{leaderboard_name}}</td>
                              {% if leaderboard_name == 'XP Leaderboard' %}
                              <td><table class="responsive-table", id="Weights">
                                 <thead>
                                    {% for value, name in weights%}
                                    {% if value > 0 %}
                                       <th>{{name}} Points</th>
                                    {%endif%}
                                    {%endfor%}
                                 </thead>
                                 <tr>
                                    {% for value, name in weights%}
                                    {% if value > 0 %}
                                       <td>{{value}}%</td>
                                    {%endif%}
                                    {%endfor%}
                                 </tr>
                                 <br> {{leaderboard_description}}
                              </table></td>
                              {% else %}
                              <td>{{leaderboard_description}}</td>
                              {%endif%}
                           </tr>
                           {% empty %}
                           <tr>
                               <td class="center-align" colspan="6"><i>No Leaderboards Available</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                        <tbody class="hide-on-large-only mobile-table-padding"></tbody>
                     </table>
                  </div>
                  <div class="card-action right-align">
                     <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons left">navigate_before</i>Back</a>                         
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>