<!DOCTYPE html>
<html lang="en">
   <head>
       {% include 'scripts.html' %}
   </head>
   <body>
         {% include 'stheading.html' %}
<main>
                <div class="row center-align">
                    <div class="col s12">
                        <h3>Student Preferences</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                        <form name="StudentConfigParam" action="/oneUp/students/Preferences" method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="scpID" id="scpID" value="{{scpID}}">
                            <div class="card-content">
                                    <span class="card-title">Configure View Options</span>
                            {% if studCanChangeBadgeVis %}
                            <div class="switch">
                                <label>
                                    Display Class Badges
                                    {% if displayBadges %}
                                    <input name="displayBadges" type="checkbox" checked>
                                    {% else %}
                                    <input name="displayBadges" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            <br />
                            {% endif %}
                            {% if studCanChangeclassAverageVis %}
                            <div class="switch">
                                <label>
                                    Display Class Averages
                                    {% if displayClassAverage %}
                                    <input name="displayClassAverage" type="checkbox" checked>
                                    {% else %}
                                    <input name="displayClassAverage" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            <br />
                            {% endif %}
                            {% if studCanChangeLeaderboardVis %}
                            <div class="switch">
                                <label>
                                    Display Class Leaderboard
                                    {% if displayLeaderBoard %}
                                    <input name="displayLeaderBoard" type="checkbox" checked>
                                    {% else %}
                                    <input name="displayLeaderBoard" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            <br />
                            {% endif %}
                            {% if studCanChangeClassSkillsVis %}
                            <div class="switch">
                                <label>
                                    Display Class Skills
                                    {% if displayClassSkills %}
                                    <input name="displayClassSkills" type="checkbox" checked>
                                    {% else %}
                                    <input name="displayClassSkills" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            <br />
                            {% endif %}
                            {% if classmatesChallenges %}
                            <div class="switch">
                                <label>
                                    Participate In Duel
                                    {% if participateInDuel %}
                                    <input name="participateInDuel" type="checkbox" checked>
                                    {% else %}
                                    <input name="participateInDuel" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            <br />
                            <div class="switch">
                                <label>
                                    Participate In Call Out
                                    {% if participateInCallout %}
                                    <input name="participateInCallout" type="checkbox" checked>
                                    {% else %}
                                    <input name="participateInCallout" type="checkbox">
                                    {% endif %}
                                    <span class="lever secondary-content"></span>
                                </label>
                            </div>
                            {% endif %}
                            </div>
                            <div class="card-action right-align">
                            {% if studCanChangeLeaderboardVis or studCanChangeClassSkillsVis or studCanChangeBadgeVis or studCanChangeclassAverageVis %}
                                <button class="btn waves-effect waves-light" type="submit" name="save" value="Save" onClick="redirect();">Save
                                    <i class="material-icons right">done</i>
                                  </button> 
                                  <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons right">close</i>Cancel</a>
                            {% else %}
                            <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons right">navigate_before</i>Return</a>
                            {% endif %}
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
        </main>
       {% include 'footer.html' %}
      </body>
   </html>
