<!DOCTYPE html>
<html lang="en">
   <head>
      
       {% include 'scripts.html' %}
       
      <script>
         window.location.hash="no-back-button";
         window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
         window.onhashchange=function(){window.location.hash="no-back-button";}
      </script>
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
   </head>
   <body>
      <div id="page-wrapper">

         {% include 'stheading.html' %}

        <div class="frame" id="grad" align="center">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <h1>Student View Preferences</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="12u">
                        <br>
                        <br>
                        <!-- INSERTED DYNAMIC TABLE -->
                        <form name="StudentConfigParam" action="/oneUp/students/Preferences" method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="scpID" id="scpID" value="{{scpID}}">
                               
                            <table class="bg">
                                <tr>
                                    <th>Configure View Options</th>
                                    <th></th>
                                </tr>
                                 {% if studCanChangeBadgeVis %}
                                <tr>
                                    {% if displayBadges %}
                                    <td> Leaderboard Badges</td>
                                    <td><input type="checkbox" name="displayBadges" value="true" checked="true" /></td>
                                     {% else %}
                                    <tr>
                                    <td> Leaderboard Badges</td>  
                                    <td><input type="checkbox" align="right" name="displayBadges"></td>
                                    </tr>
                                    {% endif %}
                                </tr>
                                
                                {% endif %}
                                
                                <!-- Display Leaderboard -->
                                  {% if studCanChangeLeaderboardVis %}
                                <tr>
                                    {% if displayLeaderBoard %}
                                    <td> Leaderboard</td>
                                    <td><input type="checkbox" name="displayLeaderBoard" value="true" checked="true" /></td>
                                     {% else %}
                                    <tr>
                                     <td> Leaderboard</td> 
                                    <td><input type="checkbox" align="right" name="displayLeaderBoard"></td>
                                    </tr>
                                    {% endif %}
                                </tr>
                                 
                                {% endif %}
                                  <!-- Display Class Skills -->
                                  {% if studCanChangeClassSkillsVis %}
                                <tr>
                                    {% if displayClassSkills %}
                                    <td> Class Skills</td>
                                    <td><input type="checkbox" name="displayClassSkills" value="true" checked="true" /></td>
                                     {% else %}
                                    <tr>
                                     <td> Class Skills</td> 
                                    <td><input type="checkbox" align="right" name="displayClassSkills"></td>
                                    </tr>
                                    {% endif %}
                                </tr>
                                
                                
                                {% endif %}
                                
                                 <!-- {% if levellingDisplayed %}
                               <tr>
                                    <td>  Levelling</td>
                                    <td><input type="checkbox" align='right' name="levellingDisplayed" value="true" checked="true" /></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>  Levelling</td>
                                    <td><input type="checkbox" align='right' name="levellingDisplayed"  /></td>
                                </tr>
                                {% endif %}
                                {% if leaderBoardDisplayed %}
                                <tr>
                                    <td>  LeaderBoard</td>
                                    <td><input type="checkbox" align='right' name="leaderBoardDisplayed" value="true" checked="true" /></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>  LeaderBoard</td>
                                    <td><input type="checkbox" align='right' name="leaderBoardDisplayed"  /></td>
                                </tr>
                                {% endif %} -->
                            </table>
                            
                            {% if studCanChangeLeaderboardVis or studCanChangeClassSkillsVis or studCanChangeBadgeVis %}
                            <input type="submit" id="save" name="save" value="Save" class="button" onClick="redirect();">
                            <a href="/oneUp/students/StudentCourseHome"><input type="button" id="cancel" name="cancel" value="Cancel"></a><br>
                            {% else %}
                            
                            <a href="/oneUp/students/StudentCourseHome"><input type="button" id="back" name="back" value="Back"></a><br>
                            
                            {% endif %}
                        </form>
                        <!-- END DYNAMIC TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        
  <!-- Footer -->

       {% include 'footer.html' %}

      <script type="text/javascript"> Cufon.now(); </script>
      </body>
   </html>
