<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Reset Password</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="reset_password_form" name="reset_password_form" action="/oneUp/students/ResetPasswordView" method="POST" autocomplete="off">
                  {% csrf_token %} 
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="col s12">
                              <p class="red-text"><i class="material-icons prefix" style="vertical-align: middle; font-size: xx-large;">info</i> Please type in the username and old password to confirm</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="" name="username" id="username" type="text" title="Please enter your username" class="validate" pattern=".*\S+.*" required>
                              <label for="username">Username</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="" name="old_password" id="old_password" type="password" title="Please enter your old password" class="validate" required>
                              <label for="old_password">Old Password</label>
                           </div>
                        </div>
                        <div class="row">
                           <hr />
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="" name="new_password" id="new_password" title="Please enter a new password" type="text" pattern=".*\S+.*" class="validate" required>
                              <label for="new_password">New Password</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="" name="new_password_confirm" id="new_password_confirm" title="Please confirm new password" type="text" pattern=".*\S+.*" class="validate" required>
                              <label for="new_password_confirm">Confirm New Password</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button type="submit" class="red btn waves-effect waves-light" name="submit">Reset
                        <i class="material-icons right">autorenew</i>
                        </button>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/StudentCourseHome"><i class="material-icons left">close</i>Cancel</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
      <script>
        $("#reset_password_form").on('submit', function(e){
          $.ajax({
              url: "/oneUp/students/ValidateResetPassword",
              dataType: 'json',
              type: 'POST',
              async: false,
              data: $('#reset_password_form').serialize(),
              success: function(data){
                if(data.errorMessages.length > 0){
                  e.preventDefault();
                  for(var i = 0; i < data.errorMessages.length; i++){
                    Materialize.toast(data.errorMessages[i], 4000);
                  }
                }
              }
          });
        });
      </script>
   </body>
</html>