<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script>
   </head>
   <body>
      {% if is_teacher %}    
      {% include 'heading.html' %}
      {% else %}
      {% include 'stheading.html' %}
      {% endif %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Challenge {{chall_Name}}</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card">
                  <div class="card-content">
                     <span class="card-title">Total Score: {{entireScore}}</span>
                     {% for i,question,user,match_shuffled,score,total in question_range %}
                     <div class="divider"></div>
                     <div class="row">
                        <p>{% autoescape off %} {{i}}. {{question.questionText|safe}} {% endautoescape %}</p>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h5>Your Answer:</h5>
                        </div>
                     </div>
                     {% if question.type == questionTypes.multipleChoice %}
                     <div class="row">
                        <div class="col s12">
                           {% for j,answer in question.answers_with_count %}
                           <p>
                              <input name="{{question.questionID}}" type="radio" id="ans-{{question.questionID}}" {% for studAns in user %} {% ifequal answer.answerID studAns|add:"0" %}checked{%else%}disabled{% endifequal %}{% endfor %}/>
                              <label for="ans-{{question.questionID}}">{% autoescape off %}{{answer.answerText|striptags}} {% endautoescape %}</label>
                           </p>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h5>Correct Answer: </h5>
                           <blockquote>
                              {% for count,correct_answer in question.correct_answers %}<!-- use a for loop and display the answers in radio buttons -->
                              {{correct_answer.answerID.answerText|safe}}<br />
                              {% endfor %}
                           </blockquote>
                           <p>You Scored: <b>{{score}}</b> Point(s) out of <b>{{total}}</b> Point(s)</p>
                        </div>
                     </div>
                     {% elif question.type == questionTypes.multipleAnswers %}
                     <div class="row">
                        <div class="col s12">
                           {% for j,answer in question.answers_with_count %}
                           <p>
                              <input name="{{question.questionID}}" class="filled-in" type="checkbox" id="ans-{{question.questionID}}" {% for studAns in user %} {% ifequal answer.answerID|stringformat:"s" studAns|stringformat:"s" %}checked{% endifequal %}{% endfor %} disabled/>
                              <label for="ans-{{question.questionID}}">{% autoescape off %}{{answer.answerText|striptags}}{% endautoescape %}</label>
                           </p>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h5>Correct Answer(s): </h5>
                           <blockquote>
                              {% for count,correct_answer in question.correct_answers %}
                              {{correct_answer.answerID.answerText|safe}}<br>
                              {% endfor %}
                           </blockquote>
                           <p>You Scored: <b>{{score}}</b> Point(s) out of <b>{{total}}</b> Point(s)</p>
                        </div>
                     </div>
                     {% elif question.type == questionTypes.matching %}
                     <div class="row">
                        <div class="col s12">
                           {% for j,answer in question.answers_with_count %}
                           <p>{{j}} . {{answer.answerText}}</p>
                           {% endfor %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6">
                           {% for user_match_answer in user %}
                           <p>{{user_match_answer}}</p>
                           {% endfor %}
                         </div>
                         <div class="col s6">
                           {% for match in question.matches %}
                           <p>{{match.matchingAnswerText}}</p>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h5>Correct Answer(s): </h5>
                           <blockquote>
                           <div style="column-count:2;">
                              {% for match_count,match_answer in question.match_with_count %}
                              <p>{{match_count}} . {{match_answer.answerText}}</p>
                              {% endfor %}
                              {% for match in question.matches %}
                              <p>{{match.matchingAnswerText}}</p>
                              {% endfor %}
                              </div>
                           </blockquote>
                           <p>You Scored: <b>{{score}}</b> Point(s) out of <b>{{total}}</b> Point(s)</p>
                        </div>
                     </div>
                     {% elif question.type == questionTypes.trueFalse %}
                     <div class="row">
                        <div class="col s12">
                           <p>
                              <input name="{{question.questionID}}" type="radio" id="ans1-{{question.questionID}}" {% for j in user %}{% ifequal j|stringformat:"s" "True" %}checked{%else%}disabled{% endifequal %}{% endfor %}/>
                              <label for="ans1-{{question.questionID}}">True</label>
                           </p>
                           <p>
                              <input name="{{question.questionID}}" type="radio" id="ans2-{{question.questionID}}" {% for j in user %}{% ifequal j|stringformat:"s" "False" %}checked{%else%}disabled{% endifequal %}{% endfor %}/>
                              <label for="ans2-{{question.questionID}}">False</label>
                           </p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h5>Correct Answer: </h5>
                           <blockquote>
                              {% for count,correct_answer in question.correct_answers %}
                              {{correct_answer.answerID.answerText}}<br/>
                              {% endfor %}
                           </blockquote>
                           <p>You Scored: <b>{{score}}</b> Point(s) out of <b>{{total}}</b> Point(s)</p>
                        </div>
                     </div>
                     {% elif question.type == questionTypes.dynamic or question.type == questionTypes.templatedynamic %}
                     <div class="row">
                        {% for answer_blank_name, user_answer_value in q.user_answers.items %}
                        <p>For answer blank <b>{{answer_blank_name}}</b>: {{user_answer_value}}</p>
                        {% endfor %}
                     </div>
                     {% if q.evaluations %}
                     {% for answer in q.evaluations %}
                     <p>	
                        {% if answer.success %}
                        <span style='color: green;'>&#10004;</span> 
                        {% else %}
                        <span style='color: red;'>&#10006;</span>
                        {% endif %}
                        You got {{answer.value}} points on answer {{answer.name}}
                        {% if answer.details %}
                     <ul class="collection">
                        {% for detail in answer.details %}
                        <li class="collection-item">
                           {%if detail.success%}
                           <span style='color: green;'>&#10004;</span> 
                           {%else%}
                           <span style='color: red;'>&#10006;</span> 
                           {% endif %}
                           {{detail.value}}/{{detail.max_points}} points on criteria {{detail.name}}
                        </li>
                        {% endfor %}
                     </ul>
                     {% endif %}
                     </p>
                     {% endfor %}
                     {% endif %}
                     <div class="row">
                        <div class="col s12">
                           <p>Total for this question, You Scored: <b>{{score}}</b> Point(s) out of <b>{{total}}</b> Point(s)</p>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}
                  </div>
                  <div class="card-action right-align">
                     <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesTaken?challengeID={{challengeID}}{% if is_teacher %}&userID={{student}}{% endif %}{% if warmUp %}&warmUp{% endif %}">											
                     <i class="material-icons left">navigate_before</i>Back</a> 
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>