<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script type="text/javascript"> 

        
        var duration = {{startTime}}; //time limit in minutes from database
        if(duration > 0)
        {
            var now = new Date();
            var milli = now.getMilliseconds(); //current time in milliseconds
            var limit = milli + (duration * 1000 * 60); // start time in milliseconds (current time + time limit in milliseconds)
            
            setTimeout("formSubmit()", limit); //if the start time limit has reached, the page will be refreshed automatically and take button will appear
            
            function formSubmit() {
                document.getElementById('submit_hidden').click()
            };
        }
        
     </script>
   </head>
   <body>
      {% include 'stheading.html' %}
      <form id="refresh" name="refresh" action="/oneUp/students/DuelChallengeDescription?duelChallengeID={{sent_duel_challenge.duelChallengeID}}&sTime=0" method="GET">
        <input type="hidden" name="duelChallengeID" id="duelChallengeID" value ="{{sent_duel_challenge.duelChallengeID}}">
        <!--<input type="hidden" name="accept" id="accept" value="True">-->
        <input type="submit" id="submit_hidden" name="submit_hidden" style="display:none;">
      </form>
      <main>
         <div class="row center-align">
            <div class="col s12 m10 offset-m1">
               <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{sent_duel_challenge.duelChallengeName}}</h3>
            </div>
         </div> 
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  {% csrf_token %}        
                     <div class="card-content">
                    {% if hasEnded %}
                            <div class="section">
                                <h5><b>Duel Details</b></h5>
                                <p>{{message}}</p>
                            </div>
                            <ul style="font-size: 16px;">
                                    <li>
                                      
                                            <span ><img class="circle" width="30" height="30" src="{{your_avatar}}">&nbsp &nbsp vs &nbsp &nbsp<img class="circle" width="30" height="30" src="{{opponent_avatar}}"></span>
                                 
                                    </li>
                                    {% if hasExpired %}
                                        
                                        <li >
                                                <span><b>Status: </b></span>
                                                <span>Expired</span>
                                        </li>
                                    {% else %}
                                        <li >
                                                <span><b>Status: </b></span>
                                                <span>Completed</span>
                                        </li>
                                    {% endif %}
                                    <li >
                                        <span><b>Time Limit: </b></span>
                                        <span>{{sent_duel_challenge.timeLimit}} minute(s)</span>
                                    </li>
                                    {% if sent_duel_challenge.isBetting %}
                                    <li>
                                        <span><b>Betting: </b></span>
                                        <span>Yes</span>
                                    </li>
                                    <li>
                                        <span><b>Betting Amount: </b></span>
                                        <span>{{sent_duel_challenge.vcBet}}</span>
                                    </li>
                                    
                                    {% endif %}
                                    {% if duel_vc_const > 0 %}
	                                    <li>
	                                        <span><b>Winner's Award: </b></span>
	                                        <span>{{duel_vc_const}}</span>
	                                    </li>
	            
	                                {% endif %}
	                                {% if duel_vc_participants_const > 0 %}
	                                    <li>
	                                        <span><b>Participation Award: </b></span>
	                                        <span>{{duel_vc_participants_const}}</span>
	                                    </li>
	                                    {% endif %}
	                                    
	                               {% if award %}         
	                                    <li>
	                                         <span><b>Total Award for winner(s): </b></span>
	                                         <span>{{award}}</span>
	                                    </li>
	                                {% endif %}
                                    {% if isTaken %}
                                    <li>
                                        <span><b>Score: </b></span>
                                        <span>{{sChall.testScore}} / {{sChall.challengeID.totalScore}} pts</span>
                                    </li>
                                    {% endif %}
                                </ul>
                        {% elif isTaken %}
                        <div class="section">
                            <h5><b>Duel Details</b></h5>
                            <p>Duel has not ended yet. Duel is still in progress. Your opponent has not finished yet. Check back later to see the duel's winner(s).</p>
                        </div>
                        <ul style="font-size: 16px;">
                                <li>
                                        <span ><img class="circle" width="30" height="30" src="{{your_avatar}}">&nbsp &nbsp vs &nbsp &nbsp<img class="circle" width="30" height="30" src="{{opponent_avatar}}"></span>
                                
                                    </li>
                                <li >
                                        <span><b>Status: </b></span>
                                        <span>Taken</span>
                                </li>
                                <li >
                                    <span><b>Time Limit: </b></span>
                                    <span>{{sent_duel_challenge.timeLimit}} minute(s)</span>
                                </li>
                                {% if sent_duel_challenge.isBetting %}
                                <li>
                                    <span><b>Betting: </b></span>
                                    <span>Yes</span>
                                </li>
                                <li>
                                    <span><b>Betting Amount: </b></span>
                                    <span>{{sent_duel_challenge.vcBet}}</span>
                                </li>
                                
                                {% endif %}
                                {% if duel_vc_const > 0 %}
	                                    <li>
	                                        <span><b>Winner's Award: </b></span>
	                                        <span>{{duel_vc_const}}</span>
	                                    </li>
	            
	                                {% endif %}
	                                {% if  duel_vc_participants_const > 0 %}
	                                    <li>
	                                        <span><b>Participation Award: </b></span>
	                                        <span>{{duel_vc_participants_const}}</span>
	                                    </li>
	                                {% endif %}
	                                    
	                                    
	                               {% if award %}         
	                                    <li>
	                                         <span><b>Total Award for winner(s): </b></span>
	                                         <span>{{award}}</span>
	                                    </li>
	                               {% endif %}
                                    <span><b>Score: </b></span>
                                    <span>{{sChall.testScore}} / {{sChall.challengeID.totalScore}} pts</span>
                                </li>
                            </ul>
                        {% else %}
                            <div class="section">
                            <h5>Duel Detail</h5>
                            <p>{{sent_duel_challenge.customMessage}}</p>
                            </div>
                            <div>
                            <ul style="font-size: 16px;">
                                    <li>
                                            <span ><img class="circle" width="30" height="30" src="{{your_avatar}}">&nbsp &nbsp vs &nbsp &nbsp<img class="circle" width="30" height="30" src="{{opponent_avatar}}"></span>
                                
                                    </li>
                                <li>
                                    <span><b>Acceptance Status: </b></span>
                                    <span>{{acceptance_status}}</span>
                                </li>
                                <li >
                                    <span><b>Time Limit: </b></span>
                                    <span>{{sent_duel_challenge.timeLimit}} minute(s)</span>
                                </li>
                                {% if sent_duel_challenge.status == 1 %}
                                <li>
                                    <span><b>Time duel will start after acceptance: </b></span>
                                    <span>{{sent_duel_challenge.startTime}} minute(s)</span>
                                </li>
                                {% elif not sent_duel_challenge.hasStarted %}
                                <li>
                                    <span><b>Duel will start in: </b></span>
                                    <span id="count_down"></span>
                                    
                                    <script>
                                        // This script is for count down time 
                                        var duration = {{startTime}};
                                        var duration_milli = duration * 1000 * 60;
                                        var countDownDate = new Date(duration_milli).getTime() + new Date().getTime();
                                
                                        var x = setInterval(function() {
                                
                                            // Get now's date and time
                                            var now = new Date().getTime();
                                
                                            // Find the distance between now and the count down date + now
                                            var distance = countDownDate-now;
                                
                                            // Time calculations for days, hours, minutes and seconds
                                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                
                                            if(days != 0 )
                                                document.getElementById("count_down").innerHTML = days + "d " + hours + "h "
                                                + minutes + "m " + seconds + "s ";
                                            else if(hours != 0)
                                                document.getElementById("count_down").innerHTML = hours + "h "
                                                + minutes + "m " + seconds + "s ";
                                            else
                                                document.getElementById("count_down").innerHTML = minutes + "m " + seconds + "s ";
                                
                                            // If the count down is over, write Expired 
                                            if (distance < 0) {
                                                clearInterval(x);
                                                document.getElementById("count_down").innerHTML = "0";
                                            }
                                        }, 1000);
                                    </script> 
                                </li>
                                
                            {% else %}
                             <li>
                                 <span><b>Duel will finish in: </b></span>
                                 <span id="test_time"></span>
                                 <script>
                                    // This script is for count down time 
                                    var duration = {{testDuration}};
                                    var duration_milli = duration * 1000 * 60;
                                    var countDownDate = new Date(duration_milli).getTime() + new Date().getTime();
                            
                                    var x = setInterval(function() {
                            
                                        // Get now's date and time
                                        var now = new Date().getTime();
                            
                                        // Find the distance between now and the count down date + now
                                        var distance = countDownDate-now;
                            
                                        // Time calculations for days, hours, minutes and seconds
                                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                            
                                        if(days != 0 )
                                            document.getElementById("test_time").innerHTML = days + "d " + hours + "h "
                                            + minutes + "m " + seconds + "s ";
                                        else if(hours != 0)
                                            document.getElementById("test_time").innerHTML = hours + "h "
                                            + minutes + "m " + seconds + "s ";
                                        else
                                            document.getElementById("test_time").innerHTML = minutes + "m " + seconds + "s ";
                            
                                        // If the count down is over, write Expired 
                                        if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById("test_time").innerHTML = "0";
                                        }
                                    }, 1000);
                                </script> 
                             </li>
                            {% endif %}
                            {% if sent_duel_challenge.isBetting %}
                            <li>
                                <span><b>Betting: </b></span>
                                <span>Yes</span>
                            </li>
                            <li>
                                <span><b>Betting Amount: </b></span>
                                <span>{{sent_duel_challenge.vcBet}}</span>
                            </li>
                            
                            {% endif %}
                            {% if duel_vc_const > 0 %}
	                                    <li>
	                                        <span><b>Winner's Award: </b></span>
	                                        <span>{{duel_vc_const}}</span>
	                                    </li>
	            
	                        {% endif %}
	                        {% if duel_vc_participants_const > 0 %}
	                                    <li>
	                                        <span><b>Participation Award: </b></span>
	                                        <span>{{duel_vc_participants_const}}</span>
	                                    </li>
	                        {% endif %}
	                                    
	                                    
	                        {% if award %}         
	                                    <li>
	                                         <span><b>Total Award for winner(s): </b></span>
	                                         <span>{{award}}</span>
	                                    </li>
	                         {% endif %}
                        </ul>
                        </div>
                       {% endif %}
                    <!--<P> 
                    istaken: {{isTaken}} , isAccepted: {{isAccepted}}, hasEnded: {{hasEnded}}, sent_duel_challenge.hasStarted: {{sent_duel_challenge.hasStarted}}
                    </p> -->
                   <div class="card-action">
                        <div class="row right-align">
                            <!--  <a class="btn waves-effect waves-light add_more">Add More Files</a>   -->
                            {% if not hasEnded %}
                                {% if sent_duel_challenge.hasStarted %}
                                    {% if not isTaken %}
                                        <a class="btn waves-effect waves-light" href="/oneUp/students/ChallengeDescription?challengeID={{sent_duel_challenge.challengeID.challengeID}}&isWarmup={{isWarmup}}&isDuel=True&duelID={{sent_duel_challenge.duelChallengeID}}">
                                        <i class="material-icons right">send</i>Take</a>
                                    {% endif %}
                                {% elif not isAccepted %}
                                    {% if not isTaken %}
                                        <a class="waves-effect waves-light btn modal-trigger" tyle="color: #00bcd4" href="#modal_delete">
                                        <i class="material-icons left">close</i>Cancel Request</a>
                                        <!--<a class="btn waves-effect waves-light" href="/oneUp/students/DuelChallengeCreate?duelChallengeID={{sent_duel_challenge.duelChallengeID}}">
                                        <i class="material-icons left">create</i>Edit</a>-->
                                    {% endif %}
                                {% else %}
                                    {% if not isTaken %}
                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete" >
                                        <i class="material-icons right">close</i>Cancel Request</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            
                            <div id="modal_delete" class="modal">
                                    <div class="modal-content">
                                      <h5>This operation will cancel and delete your request. Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                     <!-- <button class="modal-action modal-close waves-effect waves-light btn-flat" type="submit" name="submit"
                                        value="Delete">Delete
                                      </button>-->
                                      <a class="modal-action modal-close waves-effect waves-light btn-flat" href="/oneUp/students/DuelChallengeDelete?duelChallengeID={{sent_duel_challenge.duelChallengeID}}">Delete
                                   </a>
                                    </div>
                            </div>
                            <a class="btn waves-effect waves-light" href="/oneUp/students/Callouts"><i class="material-icons left">navigate_before</i>Back</a> 										  						
                        </div>
                    </div>
                 
               </div>
            </div>
         </div>
        
      </main>
      {% include 'footer.html' %}
   </body>
</html>