<!-- GGM Student QA 6/22/2018 -->
<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}

   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Student QA</h3>
            </div>
         </div>
         <div class="row">
         	<div class="col s12 m4">
               <div class="card">
               	<div class="card-content">
               	  <ul class="collapsible expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Can I Set My Avatar?
      </div>
      <div class="collapsible-body"><span>You can set your avatar by going to Tools, then to Avatar Selection, and from there you can pick a new avatar.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Can I Remove the Class Leaderboard from My Course Home Page?</div>
      <div class="collapsible-body"><span>If you wish to disable the class leaderboard you can go to Course Tools-> preferences. Here you will find toggles to disable viewing the class leaderboard.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Can I Enable/Disable the Display of Class Average in My Achievement Page?</div>
      <div class="collapsible-body"><span>If you wish to disable the class leaderboard you can go to Course Tools-> preferences. Here you will find toggles to disable viewing the class leaderboard.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Can I Enable/Disable the Display of Class Skills?</div>
      <div class="collapsible-body"><span>If you wish to disable the class leaderboard you can go to Course Tools-> preferences. Here you will find toggles to disable viewing the class leaderboard.</span></div>
    </li>
  </ul>
               	</div>
               </div>
            </div>
            
            <div class="col s12 m4">
               <div class="card">
               	<div class="card-content">
               	  <ul class="collapsible expandable">
      <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>Where Can I See What Badges Are Available in This Course?</div>
      <div class="collapsible-body"><span>Badges are visible under course information, and in the link labeled Course Badges. Here you can view all the available badges, and how to earn the badges.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>Where Can I See How I Can Earn Virtual Currency?</div>
      <div class="collapsible-body"><span>The rules on earning virtual currency are available under Course Information, in the link labeled Currency rules. Here you can see all the methods to earn virtual currency.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Can I Check My Earned Virtual Currency?</div>
      <div class="collapsible-body"><span>Your earned Virtual Currency is located under Achievements. Information as to how your currency was earned is located under Tools->Your Earning Transactions.</span></div>
    </li>
	<li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>What Is the Status of My Purchases from the Course Shop?</div>
      <div class="collapsible-body"><span>You can check the status of your earned transactions from Tools->Your Spending Transactions.</span></div>
    </li>
  </ul>
               	</div>
               </div>
            </div>
            <div class="col s12 m4">
               <div class="card">
               	<div class="card-content">
               	  <ul class="collapsible expandable">
    
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>What Is the Difference Between Warm-up Challenges and Serious Challenges?</div>
      <div class="collapsible-body"><span>The difference between a Warm-Up Challenge is that a Warm-Up Challenge is intended to be used as a self-check tool. Warm-Up Challenges may be retaken as often as needed, and often give credits from successful attempts. <br><br> It is highly recommended to use Warm-Up Challenges to study for Serious challenges or Exams in your course. A Serious Challenge is intended to grade your knowledge and skills on a topic for a grade. You cannot retake a Serious Challenge. </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>What Are Parson's Problems and How Do I Solve Them?</div>
      <div class="collapsible-body"><span>Parsons problems are problems in which you have to order code in such way that if the code were ran on a computer it will be sucessful.

Drag and drop the code blocks onto the silver-grey box on the right. Please pay attention to indentation, as it may be graded.

When you click on the feedback button, the maximum amount of points for the question will be halved.<br><br> Each press of the feedback button after the initial press,will also halve the points.

Each wrong line in your solution when you press “Get Feedback” will be highlighted to indicate that the line is wrong.

Indentation errors will also be highlighted. A Parson problem is considered correct when the system highlights all the code in green.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>How Is a Parson's Problem Graded?</div>
      <div class="collapsible-body"><span>If you click the “Get Feedback” link and you did not get the problem correct, the max number of points for the problem is halved. If the problem was correct then the student will receive full credit.<br><br> The maximum points are halved each time you click the “Get Feedback” link. 

If “Code Indentation” selector is set to “true” by the instructor, indentation errors in the your solutions are counted against you at the rate of  1 deduction per N lines of code divided by half.

In mathematical notation (1/N)*(1/2).
<br><br>
Each code line or code block error is a deduction of 1/N

Each code line or code block over the required number of correct lines is a deduction of (1/N)
Each code line or code block under the required number of correct lines is a deduction of (1/N)</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>What Is the Meaning of the Different Colors in My Progress Bar in the Achievement Page?</div>
      <div class="collapsible-body"><span>The progress bar in the student dashboard consists of four parts displayed in different colors:
    <br>• The course points earned so far <strong>(purple)</strong>.
    <br>• The amount of course points that can be earned in the future <strong>(yellow)</strong>.
    <br>• The amount of points already lost <strong>(red)</strong>.
    <br>• The learning predictor shows the total amount of points that would be earned in this course if you maintain your current performance <strong>(dark blue).</strong></span></div>
    </li>
  </ul>
               	</div>
               </div>
            </div>
         </div> 
      </main>
      {% include 'footer.html' %}	
   </body>
</html>