<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/highcharts-more.js"></script>
      <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row">
            <div class="col s12 m12 l10 offset-l1">
               <div class="row" style="margin-bottom: 0px;">
               {% if ccparams.announcementsUsed %}
                  <div class="col s12 m6">
                     <div class="card-panel center-align">
                        <table>
                           <thead>
                              <th>Latest Announcements</th>
                           </thead>
                           <tbody>
                              {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                              <tr>
                                 <td style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{subject}}</td>
                                 <td>{{start_Timestamp}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align"><i>No announcements</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/Announcements"><i class="material-icons right">navigate_next</i>View All Announcements</a>
                     </div>
                  </div>
               {% endif %}
               {% if ccparams.seriousChallengesUsed %}
               {% if not ccparams.announcementsUsed %} 
               <div class=row>
               <div class="col s12 m6 offset-m3">
               {% else %}           
               <div class="col s12 m6">
               {%endif%} 
                     <div class="card-panel center-align">
                        <table>
                           <thead>
                              <th>Upcoming Serious Challenges</th>
                           </thead>
                           <tbody>
                              {% for i,chall_ID,chall_Name,start_Timestamp,due_date in challenge_ranges %}
                              <tr>
                                 <td class="left" style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{chall_Name}}</td>
                                 <td>{{due_date}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align"><i>No upcoming serious challenges</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesList"><i class="material-icons right">navigate_next</i>View All Serious Challenges</a>
                     </div>
                  </div>
               </div>
            {% endif %}
               
            {% if scparams.displayBadges and ccparams.gamificationUsed and ccparams.badgesUsed %}                            
            <div class="row">
                <div class="col s12">
                  <div class="card-panel">
                     <table>
                       <thead>
                         <th>Latest Badges </th>
                       </thead>
                       <tbody>
                           <tr>
                               <td style="display: flex; flex-wrap: wrap;">
                                  {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in badgesInfo %} 
                                  <div style="padding-right: 16px">                                                       
                                  <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px" height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}"/>
                                  <img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}" data-position="top" data-delay="50">
                                  </div>
                                  {% empty %}
                                  <i class="center-align" style="flex: 1;">No badges earned</i>
                                  {% endfor %}
                               </td>
                            </tr>
                       </tbody>
                     </table>
                </div>
            </div>
            </div>
            {% endif %}   
            {% if ccparams.gamificationUsed and ccparams.goalsUsed %}
            {% if ccparams.studCanChangeGoal and scparams.displayGoal or not ccparams.studCanChangeGoal %}
            {% if goal_range|length > 0 %}
            <div class="row">
            	<div class="col s12 m10 offset-m1">            
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Goals</span>
			            		<div style="display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; margin-bottom: 10px;">
			            			{% for i,goal_id,student_ID,course_ID,start_date,end_date,goal_name,goal_target,goal_progress,goal_status,recurring_goal,can_edit, targetExact in goal_range %}                                                           
			                          <div style="width: 240px; height: 240px; margin-bottom: 24px; margin-top: 8px;">
                                        <div style="padding-left: 8px; padding-right: 8px; height: 40px;">
                                            <p>{{goal_name}}</p>
                                        </div>
                                        <div id="goal-container-{{i}}" class="goalindicator" data-goalprogress="{{goal_progress}}" data-title="{{goal_name}}" title="{{goal_name}} by {{student_ID}}" data-target="{{goal_target}}" data-status="{{goal_status}}"></div>
                                            
                                        <div style="padding-left: 8px; padding-right: 8px; text-align: center;">
                                            <p>End Date: {{end_date}}</p>
                                        </div>
                                        </div>
			                        
                                  {% endfor %}	
                                </div>
                            </div>
                        </div>
                        <script type='text/javascript'>
                            $(document).ready(function () {
                                var chart_settings = {
                                        chart: {
                                            type: 'solidgauge',
                                            height: '60%',
                                            backgroundColor: "transparent",
                                        },

                                        title: {
                                            text: '',
                                            enabled: false,
                                        },

                                        tooltip: {
                                            borderWidth: 0,
                                            backgroundColor: 'none',
                                            shadow: false,
                                            style: {
                                                fontSize: '16px'
                                            },
                                            valueSuffix: '%',
                                            pointFormat: '{series.name}<br><span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}</span>',
                                            positioner: {},
                                        },

                                        pane: {
                                            startAngle: 0,
                                            endAngle: 360,
                                            background: [{ // Track for Move
                                                outerRadius: '112%',
                                                innerRadius: '88%',
                                                backgroundColor: Highcharts.color(Highcharts.getOptions().colors[4])
                                                    .setOpacity(0.3)
                                                    .get(),
                                                borderWidth: 0
                                            }]
                                        },

                                        yAxis: {
                                            min: 0,
                                            max: 100,
                                            lineWidth: 0,
                                            tickPositions: []
                                        },

                                        plotOptions: {
                                            solidgauge: {
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                linecap: 'round',
                                                stickyTracking: false,
                                                rounded: true
                                            }
                                        },
                                       credits: {
                                          enabled: false
                                       },

                                        series: [{
                                            name: '',
                                            data: [{
                                                color: Highcharts.getOptions().colors[4],
                                                radius: '112%',
                                                innerRadius: '88%',
                                                y: 80
                                            }]
                                        },]
                                    };
                                    var indicatorsFound = document.getElementsByClassName("goalindicator");
                                    // Colors array is in ChartTheme.html
                                    var colors = {'In Progress': Highcharts.getOptions().colors[4], 
                                                'Not Achieved': Highcharts.getOptions().colors[5], 
                                                'Completed': Highcharts.getOptions().colors[2]
                                        };
                                    var background_colors = {'In Progress': Highcharts.color(Highcharts.getOptions().colors[4]).setOpacity(0.3).get(), 
                                                'Not Achieved': Highcharts.color(Highcharts.getOptions().colors[5]).setOpacity(0.3).get(), 
                                                'Completed': Highcharts.color(Highcharts.getOptions().colors[2]).setOpacity(0.3).get()
                                        };
                                    for(var i = 0; i < indicatorsFound.length; i++){
                                        // Have to deep copy settings since highcharts uses references
                                        var copied_settings = JSON.parse(JSON.stringify(chart_settings));
                                        copied_settings.chart.renderTo = indicatorsFound[i].id;
                                        copied_settings.tooltip.positioner = function (labelWidth) {
                                                return {
                                                    x: (this.chart.chartWidth - labelWidth + 3) / 2,
                                                    y: (this.chart.plotHeight / 2)
                                                };
                                            };
                                        var status = indicatorsFound[i].dataset.status;
                                        copied_settings.pane.background[0].backgroundColor = background_colors[status];

                                        var chart = new Highcharts.Chart(copied_settings);
                                        var progress_data = indicatorsFound[i].dataset.goalprogress;
                                        
                                        if (progress_data <= 100){
                                            progress_data = parseInt(progress_data);
                                        }
                                        else {
                                            progress_data = 100;
                                        }
                                        
                                        chart.series[0].points[0].color = colors[status];
                                        chart.series[0].points[0].update(progress_data);
                                        
                                        // always show the label
                                        chart.series[0].points[0].onMouseOver(); 
                                        chart.tooltip.refresh(chart.series[0].points[0]);
                                        chart.tooltip.hide = function () {};
                                    }
                            });
                        </script>
           		    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
               {% if scparams.displayLeaderBoard and ccparams.leaderboardUsed and ccparams.gamificationUsed %}
               <div class="row" style="margin-bottom: 0px;">
                  <div class="col s12 m12">
                  <div class="row" style="display: flex; margin-bottom: 0px;">
                  <div class="col s12 m6"></div>
                  {% for leaderboardNames, leaderboardDescriptions, leaderboardRankings in leaderboardRange %}  
                  <div class="col s12">
                  <div class="card-panel">
                  <table>
                    <caption><h5>{{leaderboardNames}}</h5></caption>
                    <thead>
                      <th>Student</th>
                      <th>Points</th>
                    </thead>
                    <tbody>
                        {% for i, avatarImage, points, studentUsers in leaderboardRankings %}
                        <tr>
                            <td><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                            <td>{{points}}</td>
                        </tr>
                        {% empty %}
                        <tr><td class="center-align" colspan="2"><i>No students with enough results to place on leaderboard</i></td></tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  </div>
                  </div>
                  
                  {% endfor %} 
                  <div class="col s12 m6"></div>
                  </div>
                  </div>
               </div>
                {% endif %}
                  <div class="row">
                {% if ccparams.gamificationUsed and ccparams.classSkillsDisplayed and ccparams.studCanChangeClassSkillsVis and scparams.displayClassSkills or ccparams.gamificationUsed and ccparams.classSkillsDisplayed and not ccparams.studCanChangeClassSkillsVis %}
                <div class="col s12 m12">
                <div class="row" style="display: flex;">
                <div class="col s12 m6"style="
                     width: 200px;
                     height: 200px;"></div>
               
                <div class="col s12">
                    <div class="card-panel">
                    <table>
                    <caption><h5>Skills Board</h5></caption>
                      <thead>
                        <th>Skill</th>
                        <th>Skill Points</th>
                      </thead>
                      <tbody>
                          {% for skill in skills %}
                          <tr>
                             <td>{{skill.skillName}} </td>
                             <td>
                                {% for usi in skill.usersInfo %} 
                                <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="{{usi.user}}">
                                    <img src="{{usi.avatarImage}}">
                                    {{usi.skillPoints}}
                                    </div>
                                {% endfor %}
                             </td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td class="center-align" colspan="2"><i>No students with skill points</i></td>
                          </tr>
                          {% endfor %}  
                      </tbody>
                    </table>
                    </div>
                  </div>
                  <div class="col s12 m6" style="
                     width: 200px;
                     height: 200px;"></div>
                </div>
              </div>
                  {% endif %}     
     
               {% if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed and ccparams.classFundEnabled %}
                <div class="col s12 m12">
                <div class="row" style="display: flex;">
                <div class="col s12 m6"style="
                     width: 200px;
                     height: 200px;"></div>
               
                <div class="col s12">
                    <div class="card-panel">
                    <table>
                    <caption><h5>Current Class Fund Total: {{classFund}} $</h5></caption>
            			
                    </table>
                    </div>
                  </div>
                  <div class="col s12 m6" style="
                     width: 200px;
                     height: 200px;"></div>
                </div>
              </div>
                  {% endif %}                
            </div>  
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
   <script>
      window.onload = function(){    	
          var indicatorsFound = document.getElementsByClassName("goalindicator");
          console.log(indicatorsFound.length)
          for(var i = 0; i < indicatorsFound.length; i++){
              createProgressBar(indicatorsFound[i].dataset.goalprogress, indicatorsFound[i].dataset.target, indicatorsFound.item(i));
          }
          var streakIndicators = [];
      }
  
      function createProgressBar(currentCount ,treshold, objID){
          console.log(treshold);
          console.log(currentCount);
          treshold = parseInt(treshold);
          if (currentCount <= 100){
             currentCount = parseInt(currentCount);
          }
          else {
             currentCount = 100;
          }
        //   currentCount = 100;
          var bar = new ProgressBar.Circle(objID, {
        strokeWidth: 9,
        color: '#ADD8E6',
        trailColor: '#eee',
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 2000,
        svgStyle: null,
        text: {
          value: '',
          alignToBottom: false,
          autoStyleContainer: false,
        },
        from: {color: '#000000', width: 8},
        to: {color: '#1df704', width: 8},
        // Set default step function for all animate calls
        
        step: (state, bar) => {
          bar.path.setAttribute('stroke', state.color);
          bar.path.setAttribute('stroke-width', state.width);
          
          var value = Math.round(bar.value() * treshold);
          console.log(value)
          if (value === 0) {
            bar.setText('0%');
          } else if(value >= currentCount+1){
              bar.stop();    
          }
          else{
            bar.setText(`<span>${Math.round(bar.value() * 100)}%</span>`);
          }
      
          bar.text.style.color = state.color;
        }
      });
      bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
      bar.text.style.fontSize = '1rem';
      
      bar.animate(1.0);  // Number from 0.0 to 1.0
      }
  </script>
</html>