<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script type="text/javascript" src="/static/ThirdParty/progressbar.js/progressbar.js"></script>
      <script src="/static/ThirdParty/Highcharts-stable/highcharts.src.js"></script>
      <style>
        
      @media only screen and (max-width : 992px) {
            #sidenav-desktop {
                display: none;
            }
        }
      </style>
   </head>
   <body>
      {% include 'stheading.html' %}
   
      
      <main style="display: flex;">
        <div id="sidenav-desktop" class="side-nav fixed" style="position: relative; height: auto; min-width: 250px; width: 250px; max-width: 300px; padding-bottom: 16px;">
            <div class="user-view" style="padding: 16px; display: flex;">
                <div class="background">
                  <img src="/static/images/pic01.jpg" style="
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  filter: blur(1px);
                  transform: scale(1.1);
              ">
                </div>
                <div style="display: flex; width:100%; flex-direction: column;">
                {% if ccparams.gamificationUsed and ccparams.avatarUsed %}
                <img src="{{avatar}}" style="width: 96px; height: 96px; margin-right: auto; margin-left: auto; border-radius: 50%;">
                {% endif %}
                <div style="text-align: center; margin-top: 8px; color: #ecf9ff">
                    <!-- <div style="font-size: 1.6em;font-weight: 400;">Austin Hodge</div> -->
                    <div style="font-size: 1.3em;font-weight: 300;">{{username}}</div>
                    <div style="font-size: 0.95em;font-weight: 300;">Course: {{course_Name}}</div>
                </div>
                </div>
            </div>
           
            <div style="padding-left: 8px; padding-right: 8px; display:flex; justify-content: space-evenly;">
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="color: #3f51b5; font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        20
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Experience Points
                    </div>
                </div>
                {% if ccparams.warmupsUsed %}
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="color: #3f51b5; font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        100
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Practice Points
                    </div>
                </div>
                {% endif %}
                {% if virtualCurrencyUsed %}
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="color: #3f51b5; font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        20001
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Current VC
                    </div>
                </div>
                {% endif %}
                <!-- <div class="subheader" style="color: black; font-size: 1.64rem;font-weight: 400;">Experience Points</div>
                <div style="font-size: 1.3em;font-weight: 300;">100</div> -->
            </div>
            {% if challengeClassmates %}
            <div class="divider" style="margin-bottom: 8px;"></div>
            <div style="padding-left: 16px; padding-right: 8px; margin-bottom: 8px; font-size: 1.4rem;">
                Duels
            </div>
            <div class="collapsible" data-collapsible="accordion" style="padding-left: 8px; padding-right: 8px; display:flex; justify-content: space-evenly; margin-bottom: 8px; margin-top: 8px;">
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="color: #3f51b5; font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        20
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Wins
                    </div>
                </div>
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="color: #3f51b5; font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        100
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Losses
                    </div>
                </div>
                <a id="drop-duels" class="waves-effect waves-light" style="color: black; max-width: 80px; min-width: fit-content; align-self: center;">
                    <div style="font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        <i id="duels-drop-icon" class="material-icons">arrow_drop_up</i>
                    </div>
                </a>
                
            </div>
            
            <div id="duels-info" style="display: none; padding-left: 32px; padding-right: 8px; background-color: #039be50d;">
                <div>
                    <div class="subheader" style="color: black; font-size: 1.3rem;font-weight: 400;">Sent</div>
                    <div style="color: #3f51b5; font-size: 1.3em;font-weight: 300; overflow: hidden; text-overflow: ellipsis;">10123123123123123123231210</div>
                </div>
                <div>
                    <div class="subheader" style="color: black; font-size: 1.3rem;font-weight: 400;">Accepted</div>
                    <div style="color: #3f51b5; font-size: 1.3em;font-weight: 300; overflow: hidden; text-overflow: ellipsis;">100</div>
                </div>
            </div>

            <div class="divider" style="margin-bottom: 8px; margin-top: 0;"></div>
            <div style="padding-left: 16px; padding-right: 8px; margin-bottom: 8px; font-size: 1.4rem;">
                Callouts
            </div>
            <div class="collapsible" data-collapsible="accordion" style="padding-left: 8px; padding-right: 8px; display:flex; justify-content: space-evenly; margin-bottom: 8px; margin-top: 8px;">
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        20
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Wins
                    </div>
                </div>
                <div style="max-width: 80px; min-width: 80px;">
                    <div style="font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        100
                    </div>
                    <div style="font-size: 0.9em;font-weight: 300; text-align: center;">
                        Losses
                    </div>
                </div>
                <a id="drop-callouts" class="waves-effect waves-light" style="color: black; max-width: 80px; min-width: fit-content; align-self: center;">
                    <div style="font-size: 1.6em;font-weight: 400; text-align: center; overflow: hidden; text-overflow: ellipsis;">
                        <i id="callouts-drop-icon" class="material-icons">arrow_drop_up</i>
                    </div>
                </a>
                
            </div>
            
            <div id="callouts-info" style="display: none; padding-left: 32px; padding-right: 8px; background-color: #039be50d;">
                <div>
                    <div class="subheader" style="color: black; font-size: 1.3rem;font-weight: 400;">Sent</div>
                    <div style="font-size: 1.3em;font-weight: 300; overflow: hidden; text-overflow: ellipsis;">12</div>
                </div>
                <div>
                    <div class="subheader" style="color: black; font-size: 1.3rem;font-weight: 400;">Requested</div>
                    <div style="font-size: 1.3em;font-weight: 300; overflow: hidden; text-overflow: ellipsis;">100</div>
                </div>
            </div>
            
            {% endif %}

            <!-- {% if challengeClassmates %}
            <div class="divider" style="margin-bottom: 8px; margin-top: 0;"></div>
            <div  style="padding-left: 32px; padding-right: 8px;">
                <div class="subheader" style="color: black; font-size: 1.64rem;font-weight: 400;">Duel Wins & Losses</div>
                <div style="font-size: 1.3em;font-weight: 300;">100</div>
                <div style="font-size: 1.3em;font-weight: 300;">1</div>
            </div>
            {% endif %} -->
            <script>
                $("#drop-duels").click(function () {

                    $header = $(this);
                    // Getting the element to toggle
                    $content = $("#duels-info");
                    // Update icon
                    $("#duels-drop-icon").text(function(){
                        return $content.is(":visible") ? "arrow_drop_up" : "arrow_drop_down";
                    })
                    // Open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                    $content.slideToggle(500, function () {
                        // Execute this after slideToggle is done
                        
                    });

                });
                $("#drop-callouts").click(function () {

                    $header = $(this);
                    // Getting the element to toggle
                    $content = $("#callouts-info");
                    // Update icon
                    $("#callouts-drop-icon").text(function(){
                        return $content.is(":visible") ? "arrow_drop_up" : "arrow_drop_down";
                    })
                    // Open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                    $content.slideToggle(500, function () {
                        // Execute this after slideToggle is done
                        
                    });

                });
            </script>
        </div>

        <div id="content" style="width: 100%;">
            <div class="row center-align">
                <div class="col s12">
                   <h3>Welcome!</h3>
                </div>
             </div>
         {% if ccparams.progressBarUsed and ccparams.gamificationUsed %}
         <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Your Progress</span>
                        <div id="progressbar" style="height: 80px"></div>
                    </div>
                </div>
            </div>
            <script type='text/javascript'>
               // PROGRESS BAR
               $(function() {
                   var PointsEarnedData = function() {
       
                       var PointsEarnedDataArray1 = {{currentEarnedPoints}};
                       return PointsEarnedDataArray1;
                   };
                   var RemainingChallengePoints = function() {
       
                       var RemainingChallengePointsDataArray1 = {{remainingPointsToEarn}};
                       return RemainingChallengePointsDataArray1;
                   };
                   var ChallengePointsmissed = function() {
       
                       var ChallengePointsmissedDataArray1 = {{missedPoints}};
                       return ChallengePointsmissedDataArray1;
                   };
                   var ChallengePointsProjected = function() {
       
                       var ChallengePointsProjectedDataArray1 = {{projectedEarnedPoints}};
                       return ChallengePointsProjectedDataArray1;
                   };
                   var ChallengesMaxPoints = function() {
       
                       var ChallengesMaxPointsDataArray1 = {{progressBarTotalPoints}};
                       return ChallengesMaxPointsDataArray1;
                   };
                   //Your Progress
                   $('#progressbar').highcharts({
                       chart: {
                           renderTo: 'p1',
                           type: 'bar',
                           borderWidth: 0,
                           borderColor: '#333300',
                           margin: [0],
                       },
       
                       credits: {
                           enabled: false
                       },
                       exporting: {
                           enabled: false
                       },
                       title: {
                           text: ''
                       },
                       legend: {
                           enabled: false
                       },
                       xAxis: {
                           lineWidth: 0,
                           minorGridLineWidth: 0,
                           lineColor: 'transparent',
                           labels: {
                               enabled: false
                           },
                           minorTickLength: 0,
                           tickLength: 0
                       },
                       yAxis: {
                           tickInterval: 5,
                           allowDecimals: false,
                           tickColor: '#ccc',
                           tickWidth: 0,
                           tickLength: 300,
                           lineColor: '#eee',
                           lineWidth: 0,
                           gridLineWidth: 0,
                           gridLineColor: 'rgba(255,255,255,.15)',
                           endOnTick: true,
                           title: {
                               text: ''
                           },
                           //gridZIndex:4,
                           min: 0,
                           max: [ChallengesMaxPoints()],
                           endOnTick: true,
                           startOnTick: false,
                           plotLines: [{
                               value: [ChallengePointsProjected()],
                               width: 2,
                               zIndex: 4,
                               //Progressbar marker black color
                               color: 'darkblue'
                           }],
                           labels: {
                               style: {
                                   fontSize: '9px'
                               }
                           }
                       },
                       tooltip: {
                           useHTML: true,
                       },
                       plotOptions: {
                           bar: {
                               grouping: false,
                               shadow: false,
                               borderWidth: 0,
                               pointPadding: .25,
                               groupPadding: 0
                           },
                           scatter: {
                               marker: {
                                   symbol: 'line',
                                   lineWidth: 0,
                                   radius: 9,
                                   lineColor: '#333'
                               }
                           }
                       },
                       series: [{
                           name: 'Points Already Lost',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //progress bar red color points already lost
                           color: 'red', //darkred
                           data: [ChallengePointsmissed()]
                       }, {
                           name: 'Points Unclaimed',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //Progress bar yellow color points remaining.
                           color: '#FFFF33', //yellow
                           data: [ChallengesMaxPoints() - ChallengePointsmissed() - PointsEarnedData()]
                       }, {
                           //pointRange:1.1,
                           name: 'Points Earned',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //Progressbar purple color points earned.
                           color: '#9966FF', //purple
                           //color:'#3399ff',//blue
                           data: [PointsEarnedData()]
                       }, {
                           name: 'Projected Total Points',
                           //Progress bar total projected points black color.
                           color: 'darkblue',
                           //color:'#9966FF',
                           pointRange: .5,
                           zIndex: 1,
                           data: [ChallengePointsProjected()]
                       }, {
                           name: 'Warnings',
                           type: 'scatter',
                           marker: {
                               symbol: 'circle',
                               radius: 0,
                               color: '#FF5050',
                               lineWidth: 0,
                               lineColor: '#fff',
                               states: {
                                   hover: {
                                       enabled: false
                                   }
                               }
                           },
                           data: [{
                               x: 0,
                               y: 0,
                               marker: {
                                   fillColor: 'red'
                               }
                           }]
                       }]
                   });
               });
           </script>
         </div>
        {% endif %}
        {% if displayBadges and ccparams.gamificationUsed and ccparams.badgesUsed %}                            
        <div class="row">
           <div class="col s12 m10 offset-m1">
              <div class="card">
                  <div class="card-content">
                     <span class="card-title">Your Badges</span>
                     <div style="display: flex; flex-wrap: wrap;">
                        {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in studentBadges %}
                        <div style="height: 64px; width: fit-content; margin: 2px;">
                           <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px"
                              height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}" />
                        </div>
                        {% empty %}
                        <div><i class="center-align" style="flex: 1;">No badges earned</i></div>
                        {% endfor %}
                     </div>
                  </div>
              </div>
           </div>
        </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <span class="card-title">Latest Group Badges</span>
                     <div style="display: flex; flex-wrap: wrap;">
                        {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in badgesInfo %}
                        <div style="height: 64px; width: fit-content; margin: 2px;">
                           <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px"
                              height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}" />
                           <img alt="Avatar Image" width="30px" height="30px"
                                 src="{{avatarImage}}" data-position="top" data-delay="50">
                        </div>
                        {% empty %}
                        <div><i class="center-align" style="flex: 1;">No badges earned</i></div>
                        {% endfor %}
                     </div>
                  </div>
              </div>
            </div>
         </div>
         {% endif %}  
         {% if displayLeaderBoard and ccparams.leaderboardUsed and ccparams.gamificationUsed %}
         <div class="row">
            <div class="col s12 s12 m10 offset-m1">
               <div class="row" style="display: flex;">
                  <div class="col s12 m6"></div>
                  {% for leaderboardNames, leaderboardDescriptions, leaderboardRankings in leaderboardRange %}
                  <div class="col s12">
                     <div class="card-panel">
                        <table>
                           <caption>
                              <h5>{{leaderboardNames}}</h5>
                           </caption>
                           <thead>
                              <th>Student</th>
                              <th>Points</th>
                           </thead>
                           <tbody>
                              {% for i, avatarImage, points, studentUsers in leaderboardRankings %}
                              <tr>
                                 <td><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                                 </td>
                                 <td>{{points}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align" colspan="2"><i>No students with enough XP to place
                                       on leaderboard</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>

                  {% endfor %}
                  <div class="col s12 m6"></div>
               </div>
            </div>
         </div>
         {% endif %}
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>