<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script type="text/javascript" src="/static/ThirdParty/progressbar.js/progressbar.js"></script>
      <script src="/static/ThirdParty/Highcharts-stable/highcharts.src.js"></script>
      <!-- <style>
      main {
         padding-left: 300px;
      }
      </style> -->
   </head>
   <body>
      {% include 'stheading.html' %}
      <!-- <div id="sidenav-1" class="sidenav sidenav-fixed">
         <div class="row">
            <p>Hello</p>
         </div>
      </div>
      <script>
      
      </script> -->
      <main>
         {% if ccparams.progressBarUsed and ccparams.gamificationUsed %}
         <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Your Progress</span>
                        <div id="progressbar" style="height: 80px"></div>
                    </div>
                </div>
            </div>
            <script type='text/javascript'>
               // PROGRESS BAR
               $(function() {
                   var PointsEarnedData = function() {
       
                       var PointsEarnedDataArray1 = {{currentEarnedPoints}};
                       return PointsEarnedDataArray1;
                   };
                   var RemainingChallengePoints = function() {
       
                       var RemainingChallengePointsDataArray1 = {{remainingPointsToEarn}};
                       return RemainingChallengePointsDataArray1;
                   };
                   var ChallengePointsmissed = function() {
       
                       var ChallengePointsmissedDataArray1 = {{missedPoints}};
                       return ChallengePointsmissedDataArray1;
                   };
                   var ChallengePointsProjected = function() {
       
                       var ChallengePointsProjectedDataArray1 = {{projectedEarnedPoints}};
                       return ChallengePointsProjectedDataArray1;
                   };
                   var ChallengesMaxPoints = function() {
       
                       var ChallengesMaxPointsDataArray1 = {{progressBarTotalPoints}};
                       return ChallengesMaxPointsDataArray1;
                   };
                   //Your Progress
                   $('#progressbar').highcharts({
                       chart: {
                           renderTo: 'p1',
                           type: 'bar',
                           borderWidth: 0,
                           borderColor: '#333300',
                           margin: [0],
                       },
       
                       credits: {
                           enabled: false
                       },
                       exporting: {
                           enabled: false
                       },
                       title: {
                           text: ''
                       },
                       legend: {
                           enabled: false
                       },
                       xAxis: {
                           lineWidth: 0,
                           minorGridLineWidth: 0,
                           lineColor: 'transparent',
                           labels: {
                               enabled: false
                           },
                           minorTickLength: 0,
                           tickLength: 0
                       },
                       yAxis: {
                           tickInterval: 5,
                           allowDecimals: false,
                           tickColor: '#ccc',
                           tickWidth: 0,
                           tickLength: 300,
                           lineColor: '#eee',
                           lineWidth: 0,
                           gridLineWidth: 0,
                           gridLineColor: 'rgba(255,255,255,.15)',
                           endOnTick: true,
                           title: {
                               text: ''
                           },
                           //gridZIndex:4,
                           min: 0,
                           max: [ChallengesMaxPoints()],
                           endOnTick: true,
                           startOnTick: false,
                           plotLines: [{
                               value: [ChallengePointsProjected()],
                               width: 2,
                               zIndex: 4,
                               //Progressbar marker black color
                               color: 'darkblue'
                           }],
                           labels: {
                               style: {
                                   fontSize: '9px'
                               }
                           }
                       },
                       tooltip: {
                           useHTML: true,
                       },
                       plotOptions: {
                           bar: {
                               grouping: false,
                               shadow: false,
                               borderWidth: 0,
                               pointPadding: .25,
                               groupPadding: 0
                           },
                           scatter: {
                               marker: {
                                   symbol: 'line',
                                   lineWidth: 0,
                                   radius: 9,
                                   lineColor: '#333'
                               }
                           }
                       },
                       series: [{
                           name: 'Points Already Lost',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //progress bar red color points already lost
                           color: 'red', //darkred
                           data: [ChallengePointsmissed()]
                       }, {
                           name: 'Points Unclaimed',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //Progress bar yellow color points remaining.
                           color: '#FFFF33', //yellow
                           data: [ChallengesMaxPoints() - ChallengePointsmissed() - PointsEarnedData()]
                       }, {
                           //pointRange:1.1,
                           name: 'Points Earned',
                           enableMouseTracking: true,
                           borderWidth: 0,
                           borderRadius: 0,
                           stacking: 'normal',
                           grouping: false,
                           //Progressbar purple color points earned.
                           color: '#9966FF', //purple
                           //color:'#3399ff',//blue
                           data: [PointsEarnedData()]
                       }, {
                           name: 'Projected Total Points',
                           //Progress bar total projected points black color.
                           color: 'darkblue',
                           //color:'#9966FF',
                           pointRange: .5,
                           zIndex: 1,
                           data: [ChallengePointsProjected()]
                       }, {
                           name: 'Warnings',
                           type: 'scatter',
                           marker: {
                               symbol: 'circle',
                               radius: 0,
                               color: '#FF5050',
                               lineWidth: 0,
                               lineColor: '#fff',
                               states: {
                                   hover: {
                                       enabled: false
                                   }
                               }
                           },
                           data: [{
                               x: 0,
                               y: 0,
                               marker: {
                                   fillColor: 'red'
                               }
                           }]
                       }]
                   });
               });
           </script>
         </div>
        {% endif %}
        {% if displayBadges and ccparams.gamificationUsed and ccparams.badgesUsed %}                            
        <div class="row">
           <div class="col s12 m10 offset-m1">
              <div class="card">
                  <div class="card-content">
                     <span class="card-title">Your Badges</span>
                     <div style="display: flex; flex-wrap: wrap;">
                        {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in studentBadges %}
                        <div style="height: 64px; width: fit-content; margin: 2px;">
                           <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px"
                              height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}" />
                        </div>
                        {% empty %}
                        <div><i class="center-align" style="flex: 1;">No badges earned</i></div>
                        {% endfor %}
                     </div>
                  </div>
              </div>
           </div>
        </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <span class="card-title">Latest Group Badges</span>
                     <div style="display: flex; flex-wrap: wrap;">
                        {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in badgesInfo %}
                        <div style="height: 64px; width: fit-content; margin: 2px;">
                           <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px"
                              height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}" />
                           <img alt="Avatar Image" width="30px" height="30px"
                                 src="{{avatarImage}}" data-position="top" data-delay="50">
                        </div>
                        {% empty %}
                        <div><i class="center-align" style="flex: 1;">No badges earned</i></div>
                        {% endfor %}
                     </div>
                  </div>
              </div>
            </div>
         </div>
         {% endif %}  
         {% if displayLeaderBoard and ccparams.leaderboardUsed and ccparams.gamificationUsed %}
         <div class="row">
            <div class="col s12 s12 m10 offset-m1">
               <div class="row" style="display: flex;">
                  <div class="col s12 m6"></div>
                  {% for leaderboardNames, leaderboardDescriptions, leaderboardRankings in leaderboardRange %}
                  <div class="col s12">
                     <div class="card-panel">
                        <table>
                           <caption>
                              <h5>{{leaderboardNames}}</h5>
                           </caption>
                           <thead>
                              <th>Student</th>
                              <th>Points</th>
                           </thead>
                           <tbody>
                              {% for i, avatarImage, points, studentUsers in leaderboardRankings %}
                              <tr>
                                 <td><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                                 </td>
                                 <td>{{points}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align" colspan="2"><i>No students with enough results to place
                                       on leaderboard</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>

                  {% endfor %}
                  <div class="col s12 m6"></div>
               </div>
            </div>
         </div>
         {% endif %}
    
      </main>
      {% include 'footer.html' %}
   </body>
</html>