<!DOCTYPE html>
<html lang="en">
<head>

   {% include 'scripts.html' %}
 	<style>
	       table.table.container {
	         padding-bottom: 0px; 
	         margin-bottom: 15px; 
	         box-shadow:0px 1px 6px 0px #2A333E;
	         }
 	</style>
<script>
    window.location.hash = "no-back-button";
    window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange = function() {
        window.location.hash = "no-back-button";
    }
</script>
<script type="text/javascript">
    function goToNewPage() {
        var url1 = document.getElementById('qtype').value;
        var url2 = document.getElementById('list').value;
        if (url1 != 'none') {
            window.location = url1;
            url1 = 'none'
        } else {
            window.location = url2;
            url2 = 'none'
        }

    }
</script>
<script type="text/javascript">
    function toggleTable() {
     // Toggle visibility between none and '' 
      if ((document.getElementById('tableName').style.display == 'none')) { 
            document.getElementById(tableName).style.display = '' 
            event.preventDefault()
      } else { 
            document.getElementById('tableName').style.display = 'none'; 
            event.preventDefault()
      }    
    }
</script>

</head>
<body>
    <div id="page-wrapper">

       {% include 'stheading.html' %}
       <div class="frame" id="grad" align="center">
  		<div algin="center">
            <div class="container">
                <div class="row">
                    <div class="6u 12u(mobile)">
                        <table class="bg" id="bglinks">
                            <th>Announcements</th>
                            <th> </th>
                            {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                            <tr>
                                <div id={{announcement_ID}}>
                                    <td class="left" style="padding: 0em 8em 0em 1.5em">{{subject}}</td>
                                    <td class="left" style="padding: .25em 1em .25em 1.5em">{{start_Timestamp}}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </table>
                        <div style="padding-top: 0em">
                            <a href="/oneUp/students/Announcements">
                            <input type="button" value="View All Annoucements"></a>
                        </div>
                    </div>
                    <div class="6u 12u(mobile)">
                        <table class="bg" id="bglinks">
                            <th>Upcomming Challenges</th>
                            <th></th>
                            {% for i,chall_ID,chall_Name,start_Timestamp,end_Timestamp in challenge_range %}
                            <tr>
                                <div id={{chall_ID}}>
                                    <td class="left">{{chall_Name}}</td>
                                    <td class="left">{{end_Timestamp}}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </table>
                        <div style="padding-top: 0em">
                            <a href="/oneUp/students/ChallengesList">
                            <input type="button" value="View All Challenges"></a>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 80px;"></div>
                <table class="bg">
              <th></th>
              <th></th>
              <tr>
              <td style="    padding-right: 0px;
									    padding-bottom: 0px;
									    padding-top: 10px;
									    padding-left: 10px;
									    width: 50%;
									    vertical-align: top;">
                    <div class="12u 12u(mobile)">
                        {% if leaderboardUsed and displayLeaderBoard %}
                        <table class="bg" id="bglinks" style="padding-bottom: 0em; margin-bottom: 15px;">
                            <th> Student </th>
                            <th> XP Points </th>
                            {% for i,avatarImage,xpoints in user_range %}
                            <tr>
                                <div id="student{{i}}">
                                    <td class="left"><img alt="Avatar Image" width="30px" height="30px" src="{{avatar}}"></td>
                                    <td class="left">{{xpoints}}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                    </td>
                    <td style="    padding-right: 10px;
								    padding-bottom: 0px;
								    padding-top: 10px;
								    padding-left: 10px;
								    width: 50%;
								    vertical-align: top;">
                    <div class="12u 12u(mobile)">
                        {% if classSkillsDisplayed and displayClassSkills %}
                        <table class="bg" id="bglinks" style="margin-bottom: 15px;">
                            <th> Skill </th>
                            <th> Skill Points </th>
                            {% for skill in skills %}
                            <tr>
                                <td class="left">{{skill.skillName}} </td>
                                <td class="left">
                                    {% for usi in skill.usersInfo %} 
                                    <img alt="Avatar Image" width="30px" height="30px" src="{{usi.avatarImage}}">
                                    {{usi.skillPoints}}  &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                    </td>
                    </tr>
                    <tr>
                <td colspan="2" style="    padding-right: 10px;
							    padding-bottom: 0px;
							    padding-top: 10px;
							    padding-left: 10px;
							    width: 100%;">
                {% if badgesUsed and displayBadges %}
                    <table class="bg" id="bglinks" style="margin-bottom: 15px;">
                        <th> Latest Badges </th>
                        <tr>
                            <td class="left">
                                {% for i,studentBadgeID,studentID,badgeID,badgeImage,avatarImage in badgesInfo %}                                                       
                                <img src="/{{badgeImage}}" alt="Badge Image" width="60px" height="60px"/>
                                <img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    {% endif %}
                    </td>
                    </tr>
                    </table>
            </div>
        </div>
        </div>
        </div>
  <!-- Footer -->
  

    {% include 'footer.html' %}

  
</body>
</html>