<!-- GGM Student QA 6/22/2018 -->
<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Student Q&A</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m4">
               <div class="card">
                  <div class="card-content">
                     <ul class="collapsible expandable">
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Can I Set My Avatar?
                           </div>
                           <div class="collapsible-body">
                              <span>You can set your avatar by going to Tools menu, then to
                              <a href="/oneUp/students/avatar">"Avatar Selection"</a>, and from there you can pick a new avatar.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Can I Remove the Class Leaderboard from My Course Home Page?
                           </div>
                           <div class="collapsible-body">
                              <span>If you wish to disable the class Leaderboard you can go to Tools menu and select
                              <a href="/oneUp/students/Preferences">Preferences.</a> Here you will find toggles to disable viewing the class Leaderboard.</span>
                           </div>
                        </li>
                        <!-- GGM added leaderboard QA, and a dynamic selector to ensure students cant access leaderboard page without enabling it in preferences -->
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Can I View the Leaderboard?
                           </div>
                           {%if studentLeaderboardToggle %}
                           <div class="collapsible-body">
                              <span>If you wish to view the class Leaderboard you can go to Course Information menu and select
                              <a href="/oneUp/students/Leaderboard">Leaderboard.</a> Here you will find the class Leaderboard, if enabled.</span>
                           </div>
                           {% else %}
                           <div class="collapsible-body">
                              <span>If you wish to view the class Leaderboard you can go to Course Information menu and select Leaderboard.
                              Here you will find the class Leaderboard, if enabled.</span>
                           </div>
                           {% endif %}
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Can I Enable/Disable the Display of Class Average in My Achievement Page?
                           </div>
                           <div class="collapsible-body">
                              <span>If you wish to disable the class Achievements you can go to Tools menu and select
                              <a href="/oneUp/students/Preferences">Preferences.</a> Here you will find toggles to disable viewing the class Achievements.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Can I Enable/Disable the Display of Class Skills?
                           </div>
                           <div class="collapsible-body">
                              <span>If you wish to disable the Class Skills you can go to Tools menu and select
                              <a href="/oneUp/students/Preferences">Preferences.</a> Here you will find toggles to disable viewing the class Skills.</span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col s12 m4">
               <div class="card">
                  <div class="card-content">
                     <ul class="collapsible expandable">
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Where Can I See What Badges Are Available in This Course?
                           </div>
                           <div class="collapsible-body">
                              <span>To see
                              <a href="/oneUp/badges/CourseBadges">Course Badges</a> go to Course Information menu and select Course Badges. Here you can view all the
                              available Badges, and how to earn them.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How I Can Earn Virtual Currency?
                           </div>
                           <div class="collapsible-body">
                              <span>To see the rules on Earning Virtual Currency go to the Course Information menu and select
                              <a href="/oneUp/students/VirtualCurrencyRules">Currency Rules.</a>
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Where To Check How I Have Earned my Virtual Currency?
                           </div>
                           <div class="collapsible-body">
                              <span> To check how much virtual currency you have, go to your
                              <a href="/oneUp/students/achievements">Achievements</a> menu.
                              <br>
                              <br>To check your earned virtual currency transactions, go to the Tools menu and select
                              <a href="/oneUp/students/EarnedVCTransactions">Your Earning Transactions.</a>
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What Is the Status of My Purchases from the Course Shop?
                           </div>
                           <div class="collapsible-body">
                              <span>To check the status of your Earned Transactions go to the Tools menu and select
                              <a href="/oneUp/students/Transactions">Your Spending Transactions.</a>
                              </span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col s12 m4">
               <div class="card">
                  <div class="card-content">
                     <ul class="collapsible expandable">
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What Is the Difference Between Warm-Up Challenges and Serious Challenges?
                           </div>
                           <div class="collapsible-body">
                              <span>The difference between a
                              <a href="/oneUp/students/ChallengesWarmUpList">Warm-Up</a> and a
                              <a href="/oneUp/students/ChallengesList">Serious Challenge</a> is that a Warm-Up Challenge is intended to be used as a practicing and self-check
                              tool. Warm-Up Challenges may be re-taken as often as needed, and often give credits from successful
                              attempts.
                              <br>
                              <br> It is highly recommended to use
                              <a href="/oneUp/students/ChallengesWarmUpList">Warm-Up Challenges</a> to study for
                              <a href="/oneUp/students/ChallengesList">Serious Challenges</a> or Exams in your course. A Serious Challenge is intended to grade your knowledge
                              and skills on a topic for a grade.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What Are Parson's Problems and How Do I Solve Them?
                           </div>
                           <div class="collapsible-body">
                              <span>Parsons problems are problems in which you have to order code "code lines" in a correct order. You have
                              to drag and drop the given "code blocks" onto the silver-grey box on the right. Please pay attention
                              to indentation, as it may be graded.
                              <br>
                              <br> When you press the "Get Feedback" button, each wrong line will be highlighted in red to indicate that
                              the line is wrong. If your order is considered correct the code will be highlighted in green. Note
                              that each time you press the "Get Feedback" button, if the code is incorrect this will halve the points.
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How Is a Parson's Problem Graded?
                           </div>
                           <div class="collapsible-body">
                              <span>Each time you press the "Get Feedback" button, if the code is incorrect this will halve the points. If
                              the problem was correct, then you will receive full credit.
                              <br>
                              <br> If “Code Indentation” is set to “true” by the instructor, indentation errors in the your solutions
                              are counted against you at the rate of 1 point deduction per N lines of code divided by half, i.e.
                              (1/N)*(1/2).
                              <br>
                              <br> Each "code line" or "code block" error is a deduction of (1/N). Each "code line" or "code block" under
                              or over the required number of correct lines is also a deduction of (1/N).</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What Is the Meaning of the Different Colors in My Progress Bar in the Achievement
                              Page?
                           </div>
                           <div class="collapsible-body">
                              <span>The progress bar in the
                              <a href="/oneUp/students/achievements">Achievements</a> page consists of four parts displayed in different colors:
                              <br>• The course points earned so far
                              <strong>(purple)</strong>.
                              <br>• The amount of course points that can be earned in the future
                              <strong>(yellow)</strong>.
                              <br>• The amount of points already lost
                              <strong>(red)</strong>.
                              <br>• The learning predictor shows the total amount of points that would be earned in this course if you
                              maintain your current performance
                              <strong>(dark blue).</strong>
                              </span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m4">
               <div class="card">
                  <div class="card-content">
                     <ul class="collapsible expandable">
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What is Dueling?
                           </div>
                           <div class="collapsible-body">
                              <span>Dueling is a gamification feature that allows students to challenge each other to obtain higher scores on assignments for Virtual Currency. 
                              Whether or not you want to duel other students is entirely up to you, with very little Instructor involvement in the process.
                              The primary goal of Dueling is to provide students with an incentive and increase their competitiveness in a course. 
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Am I obligated to accept Duel requests?
                           </div>
                           <div class="collapsible-body">
                              <span>No. If a student declines or doesn’t respond to another student’s challenge, the duel is void and no Virtual Currency is awarded. 
                              To decline a challenge, go to the <a href="/oneUp/students/CalloutsChallenge">Challenge Classmates</a> page and click the View button on the duel you wish to decline. 
                              Simply click the <strong>Decline</strong> button to decline the challenge and remove it from your Challenge Classmates page.
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What can I Duel over?
                           </div>
                           <div class="collapsible-body">
                              <span>You can only duel over Warm-Up Challenges both you and your opponent have not completed. Also, you cannot select specific challenges; instead, challenges are selected at random by challenge Topic (ex. Addition, Multiplication). If either you or your opponent have completed a challenge, it is automatically ineligible to be available for the duel. 
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>If we’re anonymous, how will I know who I’m challenging to a Duel?
                           </div>
                           <div class="collapsible-body">
                              <span>There are two options: revealing your identity to your desired opponent, or maintaining anonymity and selecting an opponent at random. When selecting someone to challenge, the only information given is their Avatar. You would have to ask your opponent to reveal their Avatar to you in order to challenge specifically them. Otherwise, you have to select a random student to be your opponent.
                              </span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How do I start a Duel?
                           </div>
                           <div class="collapsible-body">
                              <span>In the Tools menu, click <a href="/oneUp/students/CalloutsChallenge">ChallengeClassmates</a> to be taken to the Dueling page. To start a duel, click on the Create Challenge button and then select the challenge type Duel. You’ll be taken to the Create Duel page. If you have a specific student you wish to challenge, you must know their Avatar for the Select Chalengee option. The Select Topic option specifies which Warm-Up topic the challenge will be pulled from. The Bet VC checkbox enables the option for you to wager VC with your opponent. Note that you can only wager an amount if both you and your opponent have the amount set. Click Confirm to send the duel request to your opponent.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How can I decline a Duel?
                           </div>
                           <div class="collapsible-body">
                              <span>In the <a href="/oneUp/students/CalloutsChallenge">Dueling page</a>, click on Requested Duels to view all the duels sent to you. Click on the duel you wish to reject and simply click the Decline button. The Duel request will be removed from both your page and your would be opponent’s.</span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col s12 m4">
               <div class="card">
                  <div class="card-content">
                     <ul class="collapsible expandable">
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>What is OneUp Chat?
                           </div>
                           <div class="collapsible-body">
                              <span><a href="/oneUp/chat/api/">Oneup Chat</a> is a online chatroom for OneUp that allows Instructors and Students of a course to communicate outside of the classroom. The primary use of the Chat is for students, like yourself, to ask the Instructor questions outside of class. Instructors can also create live discussion channels, have students post questions to different channels be answered during class, and create channels for different groups for group projects.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>How do I access Chat?
                           </div>
                           <div class="collapsible-body">
                              <span>The <a href="/oneUp/chat/api/">Chat</a> is course specific, so first make sure you are within a course. Then, click Chat on the OneUp toolbar to be taken to the course Chat.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Can I create my own channel?
                           </div>
                           <div class="collapsible-body">
                              <span>Currently, only Instructors can create channels for students. You can ask your Instructor if you wish for a channel to be created. Your cool channel for cool students will have to wait.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Can other students tell who I am?
                           </div>
                           <div class="collapsible-body">
                              <span>No, students are anonymous to each other. Only the Instructor can see student names in all channels. The only way for students to distinguish the difference between each other is their Avatars. If desired, you could reveal which Avatar you have to other students and abandon your anonymity.</span>
                           </div>
                        </li>
                        <li>
                           <div class="collapsible-header">
                              <i class="material-icons">question_answer</i>Are there Emojis?
                           </div>
                           <div class="collapsible-body">
                              <span>Of course! We’re cool and hip with the kids these days! Yo! Yo!</span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>