<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}
      <main>
         <div class="row">
            <div class="col s12 m12 l10 offset-l1">
               <div class="row">
                  <div class="col s12 m6">
                     <div class="card-panel center-align">
                        <table>
                           <thead>
                              <th>Latest Announcements</th>
                           </thead>
                           <tbody>
                              {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                              <tr>
                                 <td style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{subject}}</td>
                                 <td>{{start_Timestamp}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align"><i>No announcements</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/Announcements"><i class="material-icons right">navigate_next</i>View All Announcements</a>
                     </div>
                  </div>
                  <div class="col s12 m6">
                     <div class="card-panel center-align">
                        <table>
                           <thead>
                              <th>Upcoming Serious Challenges</th>
                           </thead>
                           <tbody>
                              {% for i,chall_ID,chall_Name,start_Timestamp,due_date in challenge_range %}
                              <tr>
                                 <td class="left" style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{chall_Name}}</td>
                                 <td>{{due_date}}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align"><i>No upcoming Serious challenges</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        <a class="waves-effect waves-light btn" href="/oneUp/students/ChallengesList"><i class="material-icons right">navigate_next</i>View Serious Challenges</a>
                     </div>
                  </div>
               </div>
            {% if displayBadges and ccparams.gamificationUsed %}                            
            <div class="row">
                <div class="col s12">
                  <div class="card-panel">
                  <table>
                    <thead>
                      <th>Latest Badges</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                               {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage in badgesInfo %}                                                       
                               <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="46px" height="46px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}"/>
                               <img class="tooltipped" alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}" data-position="top" data-delay="50">
                               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                               {% empty %}
                               <i>No badges earned</i>
                               {% endfor %}
                            </td>
                         </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>
            {% endif %}   
               {% if displayLeaderBoard %}
                  <div class="col s12 m12">
                  {% for leaderboardNames, leaderboardDescriptions, leaderboardRankings in leaderboardRange %} 
                  <div class="col s6 m3">
                  <div class="card-panel">
                  <table>
                    <caption><h5>{{leaderboardNames}}</h5></caption>
                    <thead>
                      <th>Student</th>
                      <th>Points</th>
                    </thead>
                    <tbody>
                        {% for i, avatarImage, points, studentUsers in leaderboardRankings %}
                        <tr>
                            <td><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                            <td>{{points}}</td>
                        </tr>
                        {% empty %}
                        <tr><td class="center-align" colspan="2"><i>No students with enough results to place on leaderboard</i></td></tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  </div>
                  </div>
                  {% endfor %}
                  </div>
                {% endif %}
               </div>
              
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>