<!DOCTYPE html>
<html lang="en">
   <head>

        {% include 'scripts.html' %}
		<script src="/static/assets/js/jquery.min.js"></script>
      <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
      <script>
         $( document ).ready(function(){
          $('.create').on('click', function(e){
        	  e.preventDefault();
        	  var student = $(this).data('student');
        	  var item = $(this).data('item');
        	  var description = $(this).data('description');
        	  var currency = $(this).data('currency');
        	  var date = $(this).data('date');
  
         	 var doc = new jsPDF({
         		  orientation: 'landscape'
         		})
         	 doc.setFontSize(20)
         		doc.text('Congrats! '+ student + '', 20, 15)
         		doc.text('Item bought: '+ item + '', 20, 35)
         		doc.text('Description: '+ description + '', 20, 60)
         		doc.text('You have earned: '+ currency +' VC', 20, 90)
         		doc.text('Date Earned: '+ date + '', 20, 120)
         		doc.save('certificate.pdf')
          });
         });
      </script>
	</head>
   <body>
   
        {% include 'stheading.html' %}  
          
		<div class="frame" id="grad" align="center">
        <div class="container">
        <div class="row">
        <div class="12u">
        	<h1>Your Purchases</h1>
		</div>
		</div>
        <div class="row">
        <div class="12u"> 
            <table class="bg">
        		<tr>
        			<th>Item Name</th>
        			<th>Item Description</th>
        			<th>Date Purchased</th>
 					<th>Item Cost</th>
 					<th>Item Status</th>
 					<th>View Notes</th>
 					<th>Download Receipt</th>
        		</tr>
        		{% for transactionID, name, description, purchaseDate, total, status in transactions %}
        		<tr> 
        			<td style="vertical-align:middle">{{name}}</td>
        			<td>{{description}}</td>
        			<td>{{purchaseDate}}</td>
        			<td>{{total}}</td>
        			<td><b>{{status}}</b></td>
        			<td><a href="/oneUp/students/TransactionNotes?transactionID={{transactionID}}"><input type="button" class="table" value="View Note From Instructor"></a></td>
        			{% if status != 'Complete' %}
                    <td><a class="create" href="#!" data-student="{{studentName}}" data-item="{{name}}" data-description="{{description}}" data-currency="{{total}}" data-date="{{purchaseDate}}"><button class="button" type="button">Download</button></a></td>
        			{% else %}
        			<td></td>
        			{% endif %}
        		</tr>
        		{% empty %}
        		<tr>
        			<td colspan="7">No transactions</td>
        		</tr>
        		{% endfor %}
       			
        	</table>
        	<a href="/oneUp/students/VirtualCurrencyShop"><button class="button" type="button">Back to Shop</button></a>
        	
        <!-- END DYNAMIC TABLE -->
		</div>
        </div>
        </div>
      	</div>
      <!-- Footer -->
      
        {% include 'footer.html' %}
           
   </body>
</html>