<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'scripts.html' %}
	<style>
		.btn-block{
		width: 100%;
		}
		.right-button{
		position: 	absolute;
		top: 		82%;
		right: 		3%;}
	</style>
</head>

<body>
	{% include 'stheading.html' %}
      <main>
		  <div class="row center-align">
		  	<div class="col s12 m10 offset-m1">
			  <h1 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">Trivia Student Dashboard</h1>
			  </div>
		  </div>
		  <div class="card-panel" style="width: 100%; height: 100%; min-height: 400px">
			  <div class="row" style="height: 100%;">
				  <div class="col s6" style="min-height: 400px">
					  	<a class="btn-large waves-effect waves-light" style="width: 100%; height: 100%; min-height: 400px;"><h1><p class="center-align">Join Trivia Game In Progress</p></h1></a>
				  </div>
				  <div class="col s6" style="min-height: 400px">
					  	<a class="btn-large waves-effect waves-light" style="width: 100%; height: 100%; min-height: 400px;"><h1><p class="center-align">Review Trivia Sessions</p></h1></a>
				  </div>
			  </div>
		  </div>
      </main>
      <footer class="page-footer">
         <div class="footer-copyright">
            <div class="container">Copyright &copy; 2021 OneUp. All rights reserved.</div>
         </div>
      </footer>
   </body>
</html>