<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'stheading.html' %}  
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Rules for Earning Virtual Currency </h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  <table class="responsive-table">
                     <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Course Bucks</th>
                     </thead>
                     <tbody>
                        {% for i,vcRuleID,vcRuleName, vcRuleDescription, vcAmount in vcEarningRuleInfo %}
                        <tr>
                           <td style="padding-bottom: .1em;">{{vcRuleName}}</td>
                           <td style="padding-bottom: .1em;">{{vcRuleDescription}}</td>
                           <td style="padding-bottom: .1em;">{% if vcAmount|add:"0" > 0 %}{{vcAmount}}{% else %}Varies{% endif %}</td> <!-- prevents automatic rules from display 'varies' -->
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="3"><i>No Virtual Currency Earning Rules</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     <tbody class="hide-on-large-only mobile-table-padding"></tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="row center-align">
            <div class="col s12">
               <h3>Rules for Spending Virtual Currency</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  <table class="responsive-table">
                     <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Course Bucks</th>
                        <th>Total Amount Allowed</th>
                     </thead>
                     <tbody>
                        {% for i,vcRuleID,vcRuleName, vcRuleDescription, vcAmount, vcLimit in vcSpendingRuleInfo %}
                        <tr>
                           <td style="padding-bottom: .1em;">{{vcRuleName}}</td>
                           <td style="padding-bottom: .1em;">{{vcRuleDescription}}</td>
                           <td style="padding-bottom: .1em;">{{vcAmount}}</td>
                           <td style="padding-bottom: .1em;">{{vcLimit}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="4"><i>No Virtual Currency Spending Rules</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     <tbody class="hide-on-large-only mobile-table-padding"></tbody>
                  </table>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>