<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'scripts.html' %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  {% include 'heading.html' %}
  <main>
    <div class="row center-align">
      <div class="col s12">
        <h3>Class Activities</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <form name="question" id="actForm" enctype="multipart/form-data" action="/oneUp/instructors/activitiesList"
          method="POST">
          {% csrf_token %}
          <div class="input-field col s4" id="actCats">
            <select name="actCat" form="actForm" onchange="this.form.submit()">
              <option value="all" name="actCat" selected>All</option>
              {% for cat in categories %}
              {% if cat == currentCat%}
              <option value={{cat.categoryID}} name="actCat" selected>{{cat.name}}</option>
              {% else %}
              <option value={{cat.categoryID}} name="actCat">{{cat.name}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <label for="actCats">Filter by Activity Categories</label>
          </div>
        </form>
        <br />
      </div>
      
    </div>
    <div class="row right-align">
				<div class="col s12 m10 offset-m1">
          <a class="waves-effect waves-light btn" href="/oneUp/instructors/createActivity"><i class="material-icons left">toys</i>Add
            AN Activity</a> 
            <a class="modal-trigger waves-effect waves-light btn" href="#modal-create-cat">
						<i class="modal-trigger material-icons left">add_circle</i>Add A Category</a>
                  <div id="modal-create-cat" class="modal">
                     <div class="modal-content">
                        <div class="row center-align">
                           <form name="question" action="/oneUp/instructors/activityCatsCreate" method="POST">
                              {% csrf_token %}
                              <div>
                                 <h4>Create a category</h4>
                              </div>
                              <input value="True" name="activityList" id="activityList" type="hidden" />
                              <div class="row center-align" style="margin-top: 50px;">
                                <label class="left" for="cat_name"><span class="red-text">*</span> Category Name</label>
                                 <input placeholder="Name" value="{{catName}}" name="catName" id="cat_name" type="text" class="validate" pattern=".*\S+.*" required>
                              </div>
                              <div class="row center-align">
                                <label class="left" for="xp_weight_multiplier"> <span class="red-text">*</span>Category XP Weight (to be used in calculating XP for activities of this category)</label>
                                <input value="{{xpWeight}}" name="xpWeight" id="xp_weight_multiplier" maxlength="3" type="number" min="0" max="999" step="any" required>
                              </div>
                           
                              <div class="modal-footer">
                                 <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                 <button class="btn waves-effect waves-light" type="submit" name="submit"> Save 
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
            <div id="modal_confirm" class="modal">
                <div class="modal-content left-align">
                   <h5>Are you sure you want to submit?</h5>
                   <p>Activities should be globally ordered (across categories).</p>
                </div>
                <div class="modal-footer">
                   <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat"
                      style="color: #00bcd4">Cancel</a>
                   <button class="modal-action modal-close waves-effect waves-light btn-flat" type="submit"
                      id="submit" name="submitchallenge" value="Submit">Submit
                   </button>
                </div>
             </div>
			</button>
   	</div>
   	</div>
    
    	{% csrf_token %}
    	<input type="hidden" name="courseID" value="{{courseID}}" id="courseID">
			
    <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  
                  <ul id="sortableCats" class="collapsible"  data-collapsible="expandable">
                     {% for activities, categoryId, categoryName, xpWeight in categories_range %}
                     <li id="{{categoryId}}">
                        <div class="collapsible-header"><i class="material-icons">swap_vert</i><i class="material-icons">layers</i>{{categoryName}}&nbsp;&nbsp;
                          <span class="new badge" data-badge-caption="{{xpWeight}}"> XP Weight</span>
                        </div>
                        <div class="collapsible-body">
                    <ul id="sortable{{categoryId}}">
			              {% for i, activityID, activityName, description, points, activityPosition in activities %}
			              <li class="row" id="{{activityID}}">
                      <div class="no-padding collapsible-header"> &nbsp&nbsp&nbsp&nbsp&nbsp
			                <i class="material-icons">swap_vert</i> <span style="max-width: 30%;min-width: 30%">{{activityName}}</span>
			                <span class="badge no-padding" style="max-width: 20%;min-width: 20%"><div class="col s12">{{description}}</div></span>
			                <span class=" badge no-padding" style="max-width: 20%;min-width: 20%"><div class="col s12">{{points}} Points</div></span>
                

			                <span class="badge right-align">
			                  <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false"
			                    data-beloworigin="true" data-activates='activity{{activityID}}' data-position="right" data-delay="50"
			                    data-tooltip="Options"><i class="material-icons">more_vert</i></a>
			                    
			                    <ul id='activity{{activityID}}' class='dropdown-content'>
			                      <li><a href="/oneUp/instructors/createActivity?activityID={{activityID}}"><i class="material-icons">edit</i>Edit</a></li>
			                      <li><a href="/oneUp/instructors/activityAssignPointsForm?activityID={{activityID}}"><i class="material-icons">playlist_add</i>Assign
			                          Points</a></li>
			                      <li class="divider"></li>
			                      <li><a class="modal-trigger" href="#modal_delete{{activityID}}">Delete</a></li>
			                    </ul>
			                    <div id="modal_delete{{activityID}}" class="modal">
			                      <div class="modal-content">
			                        <h5>Are you sure you want to delete?</h5>
			                      </div>
			                      <div class="modal-footer">
			                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
			                        <button class="modal-action modal-close waves-effect waves-light btn-flat" type="button" onclick="deleteActivity('{{activityID}}')"
			                          value="Delete">Delete
			                        </button>
			                      </div>
			                    </div>
			                </span>
                      </div>
			              </li>
			              
			              {% empty %}
			              <li>
			                <div class="center-align" colspan="4"><i>There are no activities for this category</i></div>
			              </li>
			              {% endfor %}
                    </ul>
                    <script>
                    $( function() {
                      $( "#sortable{{categoryId}}" ).sortable({

                        stop: function(event, ui) {

                        var itemOrder = $('#sortable{{categoryId}}').sortable("toArray");

                        var idsPositions = []

                        for (var i = 0; i < itemOrder.length; i++) {
                          if (itemOrder[i]){
                            console.log("Position: " + i + " ID: " + itemOrder[i]);
                            idsPositions.push(String(itemOrder[i])+"---"+String(i));
                          }
                        }

                        var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

                        console.log(idsPositions)

                        $.post( "/oneUp/instructors/ReorderActivities", {activityIdsPositions: idsPositions , csrfmiddlewaretoken: csrftoken,}, function( data ) {
                          console.log(data)
                        });

                        }
                        });
                      });
                    </script>
               </div>
              
               
               {% endfor %}
               </ul>
               <script>
                $( function() {
                  $( "#sortableCats" ).sortable({

                    stop: function(event, ui) {

                    var itemOrder = $('#sortableCats').sortable("toArray");

                    var idsPositions = []

                    for (var i = 0; i < itemOrder.length; i++) {
                      if (itemOrder[i]){
                        console.log("Position: " + i + " ID: " + itemOrder[i]);
                        idsPositions.push(String(itemOrder[i])+"---"+String(i));
                      }
                    }

                    var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

                    console.log(idsPositions)

                    $.post( "/oneUp/instructors/ReorderCategories", {catIdsPositions: idsPositions , csrfmiddlewaretoken: csrftoken,}, function( data ) {
                      console.log(data)
                    });

                    }
                    });
                  });
                </script>
               <div class="card-action right-align">   
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome?userID={{user}}"><i class="material-icons left">navigate_before</i>Back</a>
                     
               </div>
            </div>
            
         </div>
         </div>
  </main>
  {% include 'footer.html' %}
</body>
<script>
  function activityGlobalOrder(){
    alert("Are you sure that the activity numbers are globally ordered?");
  }
    function deleteActivity(activity_id) {
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
  
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
  
      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $.ajax({
        type: "POST",
        url: "/oneUp/instructors/deleteActivity",
        data: {
          'activityID': activity_id // from form
        },
        success: function () {
          console.log("Deleted");
          location.reload();
        }
      });
    }
  </script>
</html>
