<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>{{student}}'s Activities </h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card">
                  <div class="card-content">
                     <table>
                        <thead>
                           <th>Activity Name</th>
                           <th>Total Points</th>
                           <th>Grade</th>
                           <th>Feedback</th>
                        </thead>
                        <tbody>
                           {% for activityNames,maxPoints,points, feedbacks in activity_range%}
                           <tr>
                              <td>{{activityNames}}</td>
                              <td>{{maxPoints}}</td>
                              <td>{{points}}</td>
                              <td>{{feedbacks}}</td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="4"><i>No Activities Completed</i></td>
                           </tr>
                           {% endfor %}
                     </table>
                  </div>
                  <div class="card-action right-align">
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/studentAchievements"><i class="material-icons left">navigate_before</i>Back</a>
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>