<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">      
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    {% include 'scripts.html' %}  
      
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
   	<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script> 
    <script type="text/javascript">
 	// This script handels the datetime fields (AH)
      $(function() {
    	  $('#datetimepicker2').datetimepicker({
              language: 'en',
              pick12HourFormat: true,
            
            });
         $('#datetimepicker3').datetimepicker({
           language: 'en',
           pick12HourFormat: true           
         });
         if($("#datetimepicker3").data('datetimepicker').getDate() == $("#datetimepicker2").data('datetimepicker').getDate()){
             $("#datetimepicker3").data('datetimepicker').setDate(null);
         }
        // Called when first datefield(Display From) is changed (AH)
   		$("#datetimepicker2").on('changeDate', function(e) {
   			// Sets the Start Date of the second datefield(Display Until) to be the assigned date of the
   			// first datefield(Display From) (AH)
   			
   			console.log($("#datetimepicker3").data('datetimepicker').getDate());
   			if($("#datetimepicker3").data('datetimepicker').getDate() != null){
   		  		$("#datetimepicker3").data('datetimepicker').setStartDate(e.date);
	   			// If the saved date for the second datefield is somehow before the first datefield date,
	   			// set the second datefield to be the same as the first datefield (AH)
	   			
	   		  	if($("#datetimepicker3").data('datetimepicker').getDate() < e.date){
	   				$("#datetimepicker3").data('datetimepicker').setDate(e.date);
	   		  	}
			  	console.log(e.date);
   			}
		});
   		// Called when first datefield(Display From) is changed (AH)
   		$("#datetimepicker3").on('changeDate', function(e) {
   			// Sets the End Date of the first datefield(Display From) to be the assigned date of the
   			// second datefield(Display Until) (AH)
  		  $("#datetimepicker2").data('datetimepicker').setEndDate(e.date);
  			// If the saved date for the first datefield is somehow after the second datefield date,
 			// set the first datefield to be the same as the second datefield (AH)
  		  if($("#datetimepicker2").data('datetimepicker').getDate() > e.date){
  			$("#datetimepicker2").data('datetimepicker').setDate(e.date);
  		  }
  			console.log(e.date);
  		});
        
      });
    </script> 
 
    <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
   <script>
      $(document).ready(function(){
        $('.add_more').click(function(e){
          e.preventDefault();
          $(fileupload1).after('<span style="padding-left: 10px;"> <input id="fileupload1" name="actFile" type="file" multiple required/>');
          document.getElementById('fileupload1').id = 'fileupload'
        });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.oldFiles').click(function(e){
        	confirm("Are you sure you want to remove this file from the activity?");
            e.currentTarget.style.display = "none";
            var fileID = e.currentTarget.id;
            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
            console.log(fileID);
            
            
            $.post("activityRemoveFile",
            	    {
            	        fileID: fileID,
            	        csrfmiddlewaretoken: csrftoken,
            	    },
            	    function(data, status){
            	        console.log("Data: " + data + "\nStatus: " + status);
            	    });
            	});
            });
    </script>
   </head>
   
   <body>
      <div id="page-wrapper">

        {% include 'heading.html' %}
                     
         <div class="frame"  align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
            <h1>Create/Edit Class Activity</h1>
               <p class = "center"><span class = "red">*</span> Denotes Required Fields.</p>
               <div>
<!-- INSERTED PAGE CONTENT -->
			<form name="question" action="/oneUp/instructors/createActivity" enctype="multipart/form-data" method="POST">
               {% csrf_token %}
               {% if activityID %}
              		<input type="hidden" name="activityID" id="activityID" value="{{activityID}}">
               {% endif %}
				<table class="bg">
				<tr>
                   <td>Activity Name <span class = "red">*</span></td>
                </tr>
                        <tr>
                           <td>
                              <input id="mediumFormBox" type="text" name="activityName" value="{{activityName}}" pattern=".*\S+.*" required>
                           </td>
                        </tr>
                        <tr>
                           <td>Activity Description </td>
                        </tr>
                        <tr>
                           <td>
                              <textarea id="mediumFormBox" name="description" rows="3" value="">{{description}}</textarea>
                           </td>
                        </tr>
                        <tr>
                           <td>Default Points <span class = "red">*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <input id="extraSmallFormBox" type="number" name="points" maxlength="4" value="{{points}}" min="0" required >
                             
                           </td>
                        </tr>
            		<tr>
            			<th>Availability</th>
        			</tr>
        			<tr>
                    	<td>
                    		Display From:<span class = "red">*</span> <div id="datetimepicker2" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="startTime" value="{{startTimestamp}}" required></input>

                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    		Display Until:<div id="datetimepicker3" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="endTime" value="{{endTimestamp}}"></input>
                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    	</td>
            		</tr>
            		<tr>
                           <td>Allow Students to Upload Files <span class = "red">*</span></td>
                        </tr>
	                        <tr>
	                           <td><input type= radio name='fileUpload' value='True' required checked="checked"> Yes</td>
	                        </tr>
	                        <tr>
	                           <td><input type= radio name='fileUpload' value='False' required  onclick="changeUploadAttempts()"> No</td>
	                        </tr>
                        <tr>
                           <td>Upload attempts<span class = "red">*</span></td>
                        </tr>
                        <td>
                              <input id="extraSmallFormBox" class="upAttempts" type="number" name="attempts" maxlength="4" value="{{uploadAttempts}}" min="0" >     
                         </td>
                        <tr>
                           <td>Instructor Notes </td>
                        </tr>
                        <tr>
                           <td>
                              <textarea id="mediumFormBox" name="instructorNotes" rows="3">{{instructorNotes}}</textarea>
                           </td>
                        </tr>
                        
                        <tr>
                        	<td>Files</td>
                        </tr>
                        
                        	{% for file in activityFiles %}
                        	<tr>
                        		<td style="padding-left: 30px;" class="oldFiles" id="{{ file.ID }}">
                        		{{file.activityFileName}} 
                        		<span style="color:red;"><a href="#"> &#10008</a></span>
                        		</td>
                        	</tr>
                        	{% endfor %}                        
                        <tr>
	                  		<td>
	                    		 <input id="fileupload1" name="actFile" type="file" multiple/>   
	                  		</td>
	               		</tr>
                        
                     </table>
                     <button type='button' class="add_more">Add More Files</button>
                     <input type="submit" name="submit" value="Submit" class="button">
                     <a href="/oneUp/instructors/activitiesList"><button type="button" class="button special" value="Reset">Cancel</button></a>
                  </form>
                  <br>
                  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div></div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}

      </div>
   </body>
</html>