<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Class Activities</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="row right-align">
                  <div class="col s12">
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/createActivity"><i class="material-icons left">toys</i>Add New Activity</a>                    
                  </div>
               </div>
               <div class="card-panel">
                  <table>
                     <thead>
                        <tr>
                           <th>Activity Name</th>
                           <th>Description</th>
                           <th>Default Points</th>
                           <th> </th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i,activity_ID,activity_Name,description, points in activity_range %}
                        <tr>
                           <td>{{activity_Name}}</td>
                           <td>{{description}}</td>
                           <td>{{points}}</td>
                           <td>
                              <form action="/oneUp/instructors/deleteActivity " method="POST">
                                 {% csrf_token %} 
                                 <input type="hidden" name="activityID" value="{{activity_ID}}">
                                 <div class="hide-on-med-and-up">
                                    <div class="row">
                                       <a class="waves-effect waves-light btn secondary-content" href="/oneUp/instructors/createActivity?activityID={{activity_ID}}"><i class="material-icons right">edit</i>Edit</a>
                                    </div>
                                    <div class="row">
                                       <a class="waves-effect waves-light btn secondary-content" href="/oneUp/instructors/activityAssignPointsForm?activityID={{activity_ID}}"><i class="material-icons right">playlist_add</i>Assign Points</a>
                                    </div>
                                    <div class="row">
                                       <button class="btn waves-effect waves-light modal-trigger secondary-content" href="#modal_delete">Delete
                                       <i class="material-icons right">close</i>
                                       </button>
                                    </div>
                                 </div>
                                 <div class="hide-on-small-only">
                                    <a class="modal-trigger tooltipped secondary-content" href="#modal_delete" data-delay="50" data-position="right" data-tooltip="Delete Activity"><i class="material-icons right">close</i></a>
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/createActivity?activityID={{activity_ID}}"><i class="material-icons right">edit</i>Edit</a>
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/activityAssignPointsForm?activityID={{activity_ID}}"><i class="material-icons right">playlist_add</i>Assign Points</a>
                                 </div>
                                 <div id="modal_delete" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                       </button>                                        
                                    </div>
                                 </div>
                              </form>
                           </td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="4">No Activities</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>