<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Create/Edit Class Activity</h3>
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form name="question" action="/oneUp/instructors/createActivity" method="POST">
                  {% csrf_token %}
                  {% if activityID %}
                  <input type="hidden" name="activityID" id="activityID" value="{{activityID}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{activityName}}" name="activityName" id="act_name" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="act_name"><span class= "red-text">*</span> Activity Name</label>
                           </div>
                           <div class="input-field col s12">
                              <textarea id="act_description" name="description" class="materialize-textarea">{{description}}</textarea>
                              <label for="act_description">Activity Description</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Points" value="{{points}}" name="points" id="act_points" maxlength="4" type="number" class="validate" min="0" required>
                              <label for="act_points"><span class= "red-text">*</span> Default Points</label>
                           </div>
                           <tr>
                            <th>Availability</th>
                        </tr>
                        <tr>
                                <td>
                                  Display From:<div id="datetimepicker2" class="input-append">
          
                                           <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="startTime" value="{{startTimestamp}}"></input>
          
                                      <span class="add-on" style="height:2.75em; line-height:2em">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                      </span>
                                  </div>
                                  Display Until:<div id="datetimepicker3" class="input-append">
          
                                           <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="endTime" value="{{endTimestamp}}"></input>
                                      <span class="add-on" style="height:2.75em; line-height:2em">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                      </span>
                                  </div>
                                </td>
                          </tr>
                              <div class="col s12">
                                <input name="fileUpload" type="checkbox" id="file_upload"/>
                                    <label for="file_upload">Allow Students to Upload Files</label>
                                </div>
                                <tr>
                                  <td>Upload attempts<span class = "red">*</span></td>
                               </tr>
                               <td>
                                     <input id="extraSmallFormBox" type="number" name="attempts" maxlength="4" value="{{uploadAttempts}}" min="0" required >     
                                </td>
                           <div class="input-field col s12">
                              <textarea id="instructor_notes" name="instructorNotes" class="materialize-textarea">{{instructorNotes}}</textarea>
                              <label for="instructor_notes">Instructor Notes</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/activitiesList"><i class="material-icons left">close</i>Cancel</a>                                                                  
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>