<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Create/Edit Class Category</h3>
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form name="question" enctype="multipart/form-data" action="/oneUp/instructors/activityCatsCreate" method="POST">
                  {% csrf_token %}
                  {% if catID %}
                  <input type="hidden" name="catID" id="catID" value="{{catID}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{catName}}" name="catName" id="cat_name" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="cat_name"><span class= "red-text">*</span> Category Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">

                               <input value="{{xpWeight}}" name="xpWeight" id="xp_weight_multiplier" maxlength="3" type="number" min="0" max="999" step="any" required>

                               <label for="xp_weight_multiplier">Category XP Weight (multiplier for calculating XP for activities in this category)</label>
                            </div>
                       </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/activityCats"><i class="material-icons left">close</i>Cancel</a>                                                                  
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>
