<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
</head>

<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Activity Categories</h3>
            </div>
        </div>
        <div class="row right-align">
            <div class="col s12 m10 offset-m1">
                <a class="modal-trigger waves-effect waves-light btn" href="#modal-create-cat">
					<i class="modal-trigger material-icons left">add_circle</i>Add A Category</a>
                  <div id="modal-create-cat" class="modal">
                     <div class="modal-content">
                        <div class="row center-align" style="margin: 0;">
                           <form name="question" action="/oneUp/instructors/activityCatsCreate" method="POST">
                              {% csrf_token %}
                              <div>
                                 <h4>Create a category</h4>
                              </div>
                              <div class="row center-align" style="margin-top: 50px;">
                                <label class="left" for="cat_name"><span class="red-text">*</span> Category Name</label>
                                 <input placeholder="Name" value="{{catName}}" name="catName" id="cat_name" type="text" class="validate" pattern=".*\S+.*" required>
                              </div>
                              <div class="row center-align">
                                <label class="left" for="xp_weight_multiplier"> <span class="red-text">*</span>Category XP Weight (to be used in calculating XP for activities of this category)</label>
                                <input value="{{xpWeight}}" name="xpWeight" id="xp_weight_multiplier" maxlength="3" type="number" min="0" max="999" step="any" required>
                              </div>
                           
                              <div class="modal-footer">
                                 <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                                 <button class="btn waves-effect waves-light" type="submit" name="submit"> Save 
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel">
                    {% if cats|length > 0 %}
                    <ul id="sortable-categories" class="collapsible" >
                        {% for cat in cats %}
                            <li id="{{cat.categoryID}}">
                                <div class="collapsible-header">  <i class="material-icons">swap_vert</i>{{cat.name}}
                                {% if use_xp_weights %}
                                <span class="badge">{{cat.xpWeight}} XP Weight</span>
                                {% endif %}
                                <span class="badge right-align">
                                    <a class="dropdown-button tooltipped secondary-content" href="#!"
                                        data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown-{{cat.categoryID}}'
                                        data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>
                                    <ul id='dropdown-{{cat.categoryID}}' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#modal-edit-cat-{{cat.categoryID}}">Edit</a></li>
                                    
                                        <li class="divider"></li>
                                        <li><a class="modal-trigger" href="#modal_delete{{cat.categoryID}}">Delete</a></li>
                                    </ul>
                                    <div id="modal-edit-cat-{{cat.categoryID}}" class="modal">
                                        <div class="modal-content">
                                            <div class="row center-align" style="margin: 0;">
                                            <form name="question" action="/oneUp/instructors/activityCatsCreate" method="POST">
                                                {% csrf_token %}
                                                <div>
                                                    <h4>Edit a category</h4>
                                                </div>
                                                <div class="row center-align" style="margin-top: 50px;">
                                                    <input type="hidden" name="catID" id="{{cat.categoryID}}" value="{{cat.categoryID}}">
                                                    <label class="left" for="cat_name"><span class="red-text">*</span> Category Name</label>
                                                    <input placeholder="Name" value="{{cat.name}}" name="catName" id="cat_name" type="text" class="validate" pattern=".*\S+.*" required>
                                                </div>
                                                <div class="row center-align">
                                                    <label class="left" for="xp_weight_multiplier"> <span class="red-text">*</span>Category XP Weight (to be used in calculating XP for activities of this category)</label>
                                                    <input value="{{cat.xpWeight}}" name="xpWeight" id="xp_weight_multiplier" maxlength="3" type="number" min="0" max="999" step="any" required>
                                                </div>
                                            
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                                                    <button class="btn waves-effect waves-light" type="submit" name="submit"> Save 
                                                    </button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="modal_delete{{cat.categoryID}}" class="modal">
                                        <form action="/oneUp/instructors/activityCatsDelete" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="catID" value="{{cat.categoryID}}">
                                        <div class="modal-content">
                                            <h5>Are you sure you want to delete?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                                            <button class="modal-action modal-close waves-effect waves-light btn-flat"
                                                type="submit" name="submit" value="Delete">Delete
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Please add activity categories to your course</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
<script>
	$(document).ready(() => {
		$("#sortable-categories").sortable({
			items: "li:not(.not-sortable)",
			update: (event, ui) => {
				var item_list = $("#sortable-categories").sortable("toArray");
				var positions = []

				for (var i = 0; i < item_list.length; i++) {
					if (item_list[i]) {
						// console.log("Chall Position: " + i + " ID: " + item_list[i]);
						positions.push({
							"id": parseInt(item_list[i]),
							"value": i
						});
					}
				}

				// console.log(positions)
				const params = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val(),
					},
					body: JSON.stringify({
						type: 'activity-category',
						positions: positions
					})
				};
				fetch("/oneUp/instructors/reorderList", params)
				.then((response) => {return response.json()})
				.then((response) => {console.log(response)})
			}
		});
	});
</script>
</html>