<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script>
         $( document ).ready(function(){
             var endDate = $('#endTime').bootstrapMaterialDatePicker({
               weekStart: 0, format: 'MM/DD/YYYY hh:mm A'
             });
             
             var startDate = $('#startTime').bootstrapMaterialDatePicker({
               weekStart: 0, format: 'MM/DD/YYYY hh:mm A', shortTime : true
             }).on('change', function(e, date) {
               $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
             });
             {% if isFileUpload %}
             $('#num_attempts').attr("disabled", false);
             {% else %}
             $('#num_attempts').attr("disabled", true);
             {% endif %}
             $('#file_upload').change(function(){
                if(this.checked){
                  $('#num_attempts').attr("disabled", false);
                }
                else
                {
                  $('#num_attempts').attr("disabled", true);
                }
             });
         });
      </script>
   <script>
      $(document).ready(function(){
        $('.add_more').click(function(e){
          e.preventDefault();
          $(fileupload1).after('<div id="fileupload1" class="file-field input-field">\n'+
          '<div class="btn">\n'+'<span>File</span>\n'+'<input name="actFile" type="file" multiple />\n'+'</div>\n'+
          '<div class="file-path-wrapper">\n'+'<input class="file-path validate" type="text" placeholder="Upload one or mote files"/>\n'+'</div>\n'+'</div>')
          document.getElementById('fileupload1').id = 'fileupload'
        });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.oldFiles').click(function(e){
        	if(confirm("Are you sure you want to remove this file from the activity?")){
              e.currentTarget.style.display = "none";
              var fileID = e.currentTarget.id;
              var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
              console.log(fileID);
              
              
              $.post("activityRemoveFile",
                    {
                        fileID: fileID,
                        csrfmiddlewaretoken: csrftoken,
                    },
                    function(data, status){
                        console.log("Data: " + data + "\nStatus: " + status);
                    });
          }
        });
    });
    </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Create/Edit Class Activity</h3>
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form name="question" enctype="multipart/form-data" action="/oneUp/instructors/createActivity" method="POST">
                  {% csrf_token %}
                  {% if activityID %}
                  <input type="hidden" name="activityID" id="activityID" value="{{activityID}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{activityName}}" name="activityName" id="act_name" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="act_name"><span class= "red-text">*</span> Activity Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <textarea id="act_description" name="description" class="materialize-textarea">{{description}}</textarea>
                              <label for="act_description">Activity Description</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Points" value="{{points}}" name="points" id="act_points" maxlength="4" type="number" class="validate" min="0" required>
                              <label for="act_points"><span class= "red-text">*</span> Default Points</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12 m6">
                              <label for="startTime">Display From:</label> 
                              <input type="text" class="datepicker-from" name="startTime" value="{{startTimestamp}}" id="startTime">
                           </div>
                           <div class="col s12 m6">
                              <label for="endTime">Display Until:</label> 
                              <input type="text" class="datepicker-until" name="endTime" value="{{endTimestamp}}" id="endTime">
                           </div>
                        </div>
                        <div class="row">
                          <div class="col s12">
                              <input name="isGraded" type="checkbox" id="is_Graded" {% if isGraded %} checked {% endif %}/>
                              <label for="is_Graded">Activity is Graded</label>
                          </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <input name="fileUpload" type="checkbox" id="file_upload" {% if isFileUpload %} checked {% endif %}/>
                              <label for="file_upload">Allow Students to Upload Files</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{uploadAttempts}}" name="attempts" id="num_attempts" maxlength="4" type="number" class="validate" min="0" max="999" required>
                              <label for="num_attempts">Upload attempts</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <textarea id="instructor_notes" name="instructorNotes" class="materialize-textarea">{{instructorNotes}}</textarea>
                              <label for="instructor_notes">Instructor Notes</label>
                           </div>
                        </div>
                        <div class="row">
                          <div class="col s12">
                            <h5>Files</h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12">
                            <blockquote>
                            {% for file in activityFiles %}
                            <div class="row">
                                <a class="oldFiles" id="{{file.ID}}" href="#!" >{{file.activityFileName}}<i class="left material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Remove">close</i></a>
                            </div>
                            {% empty %}
                            <p>No files uploaded</p>
                            {% endfor %}
                            </blockquote>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12">
                            <div id="fileupload1" class="file-field input-field">
                              <div class="btn">
                                 <span>File</span>
                                 <input name="actFile" type="file" multiple>
                              </div>
                              <div class="file-path-wrapper">
                                 <input class="file-path validate" type="text" placeholder="Upload one or more files">
                              </div>
                           </div>
                          </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <a class="btn waves-effect waves-light add_more">Add More Files</a> 
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/activitiesList"><i class="material-icons left">close</i>Cancel</a>                                                                  
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>