<!DOCTYPE html>
<html lang="en">
   <head>
   <!-- GGM added scripts to display model solution for parson -->
      {% include 'scripts.html' %}
         <style>
                           .editor{
                           position: relative;
                           width: 100%;
                           height: 170px;
                           }
                           .lineHighlight {
                           position: absolute;
                           background: rgba(100, 200, 100, 0.5);
                           z-index: 20
                           }
                        </style>
   <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script>
   <script src="/static/ThirdParty/aceEditor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>  
      <script>
         function CheckboxTimeChange(checkbox) {
         	var inputbox = document.getElementsByName("timeLimit");
         	
           inputbox[0].disabled = checkbox.checked;
          
         }
         function CheckboxAttemptsChange(checkbox){
         var inputbox = document.getElementsByName("numberAttempts");
         	
            inputbox[0].disabled = checkbox.checked;
           
         }
       	 //GGM created validation for passwords
         function validatePasswords(){
         	  validated = false;
         	  if (document.getElementById("passwordConfirm").value == document.getElementById("password").value){
         		  validated = true;
         	  }
         	  else{
         		 window.alert("Passwords do not match!");
         	  }
         	  return validated;
           }
      </script>
      <script>
         $( document ).ready(function(){
          $("#collapsible-custom-content").css('display', 'none');

        	{% if view %}
	        	var tags = JSON.parse('{{ tags | escapejs }}')
				var topics = JSON.parse('{{ topics | escapejs }}')
				for(var i = 0; i < tags.length; i++){
					var tag = tags[i];
					var tagDOM = $("<div>").attr("class", "chip").append(tag['tag']);
					$('#tags').append($(tagDOM));
				}
				for(var i = 0; i < topics.length; i++){
					var topic = topics[i];
					var topicDOM = $("<div>").attr("class", "chip").append(topic['tag']);
					$('#topics').append($(topicDOM));
				}
        	{% else %}
        	
          var endDate = $('#endTime').bootstrapMaterialDatePicker({
            weekStart: 0, format: 'MM/DD/YYYY hh:mm A'
          });
          var dueDate = $('#dueDate').bootstrapMaterialDatePicker({
                 weekStart: 0, format: 'MM/DD/YYYY hh:mm A'
               });
          
          var startDate = $('#startTime').bootstrapMaterialDatePicker({
            weekStart: 0, format: 'MM/DD/YYYY hh:mm A', shortTime : true
          }).on('change', function(e, date) {
            $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
            $('#dueDate').bootstrapMaterialDatePicker('setMinDate', date);
          });
          
          $('.chips').material_chip();
          $('.chips-tags').material_chip({
            data: JSON.parse('{{ tags | escapejs }}'),
            placeholder: 'Enter a tag',
          });
          $('.chips-topics-autocomplete').material_chip({
            data: JSON.parse('{{ topics | escapejs }}'),
            placeholder: 'Choose a topic',
            autocompleteOptions: {
              data: JSON.parse('{{ topicsAuto | escapejs }}'),
              limit: Infinity,
              minLength: 0
            }
          });
          $('.chips-topics-autocomplete').on('chip.add', function(e, chip){
            var topics = JSON.parse('{{createdTopics | escapejs }}');
            $.each(topics, function(index, topic) {
              topic.tag = topic.tag.replace(/\s+/g, '').toLowerCase()
              chip.tag = chip.tag.replace(/\s+/g, '').toLowerCase()
              if(chip.tag==topic.tag)
              {
                chip.id = topic.id;
              }
            });
            /*for(var i = 0; i < topics.length; i++) {
              var topic = topics[i];
              topic.tag = topic.tag.replace(/\s+/g, '').toLowerCase()
              chip['tag'] = chip['tag'].replace(/\s+/g, '').toLowerCase()
              if(chip['tag'] == topic.tag){
                chip['id'] = topic.id
                break
              }
              else {
                chip['id'] = -1
              }
            }*/
            var data1 = $('.chips-topics-autocomplete').material_chip('data');
            if(chip.id==undefined)
            {
              data1.splice(data1.length-1,1);
              console.log("need to remove");
            }
            $('.chips-topics-autocomplete').material_chip({
            data: data1,
            placeholder: 'Choose a topic',
            autocompleteOptions: {
              data: JSON.parse('{{ topicsAuto | escapejs }}'),
              limit: Infinity,
              minLength: 0
            }
            });
            console.log(data1);
          });
          $('#form').submit(function(){
            var tags = $("<input>").attr("type", "hidden").attr("name", "tags").val(JSON.stringify($('.chips-tags').material_chip('data')));
            var topics = $("<input>").attr("type", "hidden").attr("name", "topics").val(JSON.stringify($('.chips-topics-autocomplete').material_chip('data')));
            
            $('#form').append($(tags));
            $('#form').append($(topics));
            console.log($('.chips-tags').material_chip('data'));
            console.log($('.chips-topics-autocomplete').material_chip('data'));
            condOnSubmit();
          });
          
          {% endif %}
         });
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if challengeID %}
               {% if warmUp %}
               <h3>Edit Warm Up Challenge</h3>
               {% else %}
               <h3>Edit Serious Challenge</h3>
               {% endif %}
               {% else %}
               {% if warmUp %}
               <h3>Create Warm Up Challenge</h3>
               {% else %}
               <h3>Create Serious Challenge</h3>
               {% endif %}
               {% endif %}
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="form" name="question" action="/oneUp/instructors/challengeCreateView" method="POST" >
                  {% csrf_token %}
                  <input type="hidden" name="numAnswers" id="numAnswers" value="{{num_answers}}">
                  <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
                  {% if not warmUp %}
                  <input type="hidden" name ="isGraded" value="true">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{challengeName}}" name="challengeName" id="challenge_name" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="challenge_name"><span class= "red-text">*</span> Challenge Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <select id="difficulty" name="challengeDifficulty" {%if view%}readonly{%endif%}>
                                 <option value="" disabled selected>Choose Difficulty</option>
                                 <option id= "Easy" value="Easy" {%if view%}disabled{%endif%}>Easy</option>
                                 <option id="Medium" value="Medium" {%if view%}disabled{%endif%}>Medium</option>
                                 <option id="Hard" value="Hard" {%if view%}disabled{%endif%}>Hard</option>
                              </select>
                              <label>Difficulty</label>
                              <script  type="text/javascript"> 
                                 window.onload = function() {
                                 	if ("{{challengeDifficulty}}" != '')  {
                                 	document.getElementById("{{challengeDifficulty}}").selected = true;
                                    $("#difficulty").material_select();
                                 	} 
                                 }
                              </script> 
                           </div>
                        </div>
                        <div class="col s12">
                              <input name="randomizeProblems" type="checkbox" id="randomizeProblems" {% if randomizeProblems %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="randomizeProblems">Randomize Problems</label>
                           </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Availability</h5>
                           </div>
                           <div class="col s12">
                              <input name="isVisible" type="checkbox" id="challenge_visible" {% if isVisible %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="challenge_visible">Make challenge available</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12 m4">
                              <label for="startTime">Display From:</label> 
                              <input type="text" class="datepicker-from" name="startTime" value="{{startTimestamp}}" id="startTime" {%if view%}readonly{%endif%}>
                           </div>
                           <div class="col s12 m4">
                              <label for="endTime">Display Until:</label> 
                              <input type="text" class="datepicker-until" name="endTime" value="{{endTimestamp}}" id="endTime" {%if view%}readonly{%endif%}>
                           </div>
                           <div class="col s12 m4">
                        		<label for="dueDate">Due Date:</label>
                        		<input type="text" class="datepicker-until" name="dueDate" id="dueDate" value="{{dueDate}}">
                        	</div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{numberAttempts}}" name="numberAttempts" id="num_attempts" maxlength="4" type="number" class="validate" min="0" max="999" {%if view%}readonly{%endif%}>
                              <label for="num_attempts">Number of Attempts</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedAttempts" onchange="CheckboxAttemptsChange(this)" type="checkbox" id="unl_attempts" {% if unlimitedAttempts %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="unl_attempts">Unlimited Attempts</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{timeLimit}}" name="timeLimit" id="time_limit" maxlength="4" type="number" class="validate" min="0" max="999" {%if view%}readonly{%endif%}>
                              <label for="time_limit">Time Limit</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedTime" onchange="CheckboxTimeChange(this)" type="checkbox" id="unl_time" {% if unlimitedTime %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="unl_time">Unlimited Time</label>
                           </div>
                        </div>
                        <!-- GGM added password confirm for challenges -->
                        <div class="row">
                           <div class="input-field col s12">
                              <input name="challengePassword" id="password" type="password" value="{{challengePassword}}" class="validate" autocomplete="new-password" {%if view%}readonly{%endif%}>
                              <label for="password" data-error="incorrect">Password</label>
                           </div>
                           <div class="input-field col s12">
                              <input name="challengePasswordConfirm" id="passwordConfirm" type="password" value="{{challengePassword}}" class="validate" {%if view%}readonly{%endif%}>
                              <label for="passwordConfirm" data-error="incorrect">Confirm Password</label>
                           </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">

                                <input value="{{manuallyGradedScore}}" name="manuallyGradedScore" id="manually_Graded_Score" maxlength="4" type="number" {% if view == False %}class="validate"{%endif%} min="0" max="999" step="any" {%if view%}readonly{%endif%}>

                                <label for="manually_Graded_Score">Possible points for a manually graded section of the challenge</label>
                             </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">

                                <input value="{{curve}}" name="curve" id="curve_id" maxlength="4" type="number" {% if view == False %}class="validate"{%endif%} min="0" max="999" step="any" {%if view%}readonly{%endif%}>

                                <label for="curve_id">Curve</label>
                             </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="topics">Topics</label>
                              <div id="topics" {%if view == False%}class="chips chips-topics-autocomplete"{%endif%}></div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="tags">Tags</label>
                              <div id="tags" {%if view == False%}class="chips chips-tags"{%endif%}></div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Feedback Options</h5>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswer" type="checkbox" id="display_correct" {% if displayCorrectAnswer %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="display_correct">Display Correct Answers</label>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswerFeedback" type="checkbox" id="display_correct_feedback" {% if displayCorrectAnswerFeedback %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="display_correct_feedback">Display Correct Answer Feedback</label>
                           </div>
                           <div class="col s12">
                              <input name="displayIncorrectAnswerFeedback" type="checkbox" id="display_incorrect_feedback" {% if displayIncorrectAnswerFeedback %} checked {% endif %} {%if view%}disabled{%endif%}/>
                              <label for="display_incorrect_feedback">Display Incorrect Answer Feedback</label>
                           </div>
                        </div>
                        {% if view %}
	                        <div class="divider"></div>
	                       
	                        {% for i,question in question_range %}
	             				{% include "../question.html" with q=question graded=False showcorrect=True instructorview=True %}     	
	                        {% endfor %}
                        {% endif %}
                        
                      </div>
                     
                     <div class="card-action right-align">
                     	{% if view == False %}
                     	<!-- GGM added validation for passwords -->
                        <button class="btn waves-effect waves-light" onclick="return validatePasswords()" type="submit" name="submit">Save<i class="material-icons right">send</i>
                        </button>
                        {% endif %}
                        {% if warmUp %}									
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/warmUpChallengeList">
                        {% else %}
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList">											
                        {% endif %}
                        <i class="material-icons left">close</i>Cancel</a>                                                                  									
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>
