<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script>
         $(document).ready(function(){
             $('#create').on('click', function(){
                 var val = $('#create-type').find(':selected').val();
                 if (val){
                     top.location.href = val;
                 }
             });
         
             $('.chips').material_chip();
             $('.chips-tags').material_chip({
                 placeholder: 'Enter a tag'
             });
         });
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if unassign %}  
               <h3>Problems</h3>
               {% else %}
               <h3>Problems for {{challengeName}}</h3>
               {% endif %}
            </div>
         </div>
         <form name="questionOrder" action="/oneUp/instructors/reorderChallengeSaveQuestions" method="POST">
            {% csrf_token %}
            <input type="hidden" name="challengeID" value="{{challengeID}}">
         <div class="row right-align">
            <div class="col s12 m8 offset-m2">
               <a class="modal-trigger waves-effect waves-light btn" href="#modal-create"><i class="material-icons left">add_circle</i>Create Problem</a>  
               <div id="modal-create" class="modal modal-fixed-footer">
                  <div class="modal-content">
                     <div class="row center-align">
                        <div class="col s12 m8 offset-m2">
                           <h4>Select Problem Type</h4>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                           {% if challenge %} 
                           <select id="create-type">
                              <option value="" disabled selected>Select Problem Type</option>
                              <option value="/oneUp/instructors/forms/TrueFalseForm?challengeID={{challengeID}}">True/False</option>
                              <option value="/oneUp/instructors/forms/MultipleChoiceForm?challengeID={{challengeID}}">Multiple Choice</option>
                              <option value="/oneUp/instructors/forms/MatchingForm?challengeID={{challengeID}}">Matching</option>
                              <option value="/oneUp/instructors/forms/MultipleAnswersForm?challengeID={{challengeID}}">Multiple Answers</option>
                              {%if lupa_available%}
                              <option value="/oneUp/instructors/forms/TemplateDynamicQuestionForm?challengeID={{challengeID}}">Dynamic (Template)</option>
                              <option value="/oneUp/instructors/forms/DynamicQuestionForm?challengeID={{challengeID}}">Dynamic (Raw Lua)</option>
                              {%endif%}
                           </select>
                           {%else%} 
                           <select id="create-type">
                              <option value="" disabled selected>Select Problem Type</option>
                              <option value="/oneUp/instructors/forms/TrueFalseForm">True/False</option>
                              <option value="/oneUp/instructors/forms/MultipleChoiceForm">Multiple Choice</option>
                              <option value="/oneUp/instructors/forms/MatchingForm">Matching</option>
                              <option value="/oneUp/instructors/forms/MultipleAnswersForm">Multiple Answers</option>
                              {%if lupa_available%}
                              <option value="/oneUp/instructors/forms/TemplateDynamicQuestionForm">Dynamic (Templated)</option>
                              <option value="/oneUp/instructors/forms/DynamicQuestionForm">Dynamic (Raw Lua)</option>
                              {%endif%}
                           </select>
                           {%endif%}
                           <label>Problem Type</label>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                     <a href="#!" class="modal-action modal-close waves-effect waves-light btn" id="create">Create Problem</a>
                  </div>
                  
               </div>
               {% if not unassign %}
            	<a class="waves-effect waves-light btn" href="/oneUp/instructors/search?challengeID={{challengeID}}"><i class="material-icons left">search</i>Search Problems</a>  
            	{% endif %}
            	<button class="btn waves-effect waves-light" type="submit" name="submit">Reorder Questions
                  <i class="material-icons right">reorder</i>
                  </button>
            </div>
         </div>
         
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card">
                  <div class="card-content">
                     <table>
                        <thead>
                           <tr>
                              <th>Problem Name</th>
                              <th>Problem Type</th>
                              <th>Position</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for i,q_ID,q_preview,q_type_name,q_type_displayName,q_difficulty, q_position in question_range %}
                           <tr>
                              <td>{{q_preview}}</td>
                              <td>{{q_type_displayName}}</td>                              
                              <td>
                              <div class="input-field col s12">
                                    <input value="{{q_position}}" name="{{q_ID}}" maxlength="4" type="number" min="0" required>
                              </div>
                           	  </td>
                              <td>
                                    <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                                    <ul id='dropdown{{i}}' class='dropdown-content'>
                                       {% csrf_token %} 
                                       {% if q_type_name == 'multipleChoice' %}
                                       <li><a href="/oneUp/instructors/forms/MultipleChoiceForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'multipleAnswers' %}
                                       <li><a href="/oneUp/instructors/forms/MultipleAnswersForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'matching' %}
                                       <li><a href="/oneUp/instructors/forms/MatchingForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'trueFalse' %}
                                       <li><a href="/oneUp/instructors/forms/TrueFalseForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'essay' %}
                                       <li><a href="/oneUp/instructors/forms/EssayForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'dynamic' %}
                                       <li><a href="/oneUp/instructors/forms/DynamicQuestionForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       {% if q_type_name == 'templatedynamic' %}
                                       <li><a href="/oneUp/instructors/forms/TemplateDynamicQuestionForm?questionId={{q_ID}}&challengeID={{challengeID}}">Edit</a></li>
                                       {% endif %}
                                       <li class="divider"></li>
                                       <li><a class="modal-trigger" href="#modal_delete{{i}}">Delete</a></li>
                                    </ul>
                                    <div id="modal_delete{{i}}" class="modal">
                                       <div class="modal-content">
                                          <h5>Are you sure you want to delete?</h5>
                                       </div>
                                       <div class="modal-footer">
                                          <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                          <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" {% if challenge %}onclick="deleteQuestion({{q_ID}},{{challengeID}})" {%else%}onclick="deleteQuestion({{q_ID}}, 0)" {%endif%}value="Delete">Delete
                                          </button>                                        
                                       </div>
                                    </div>
                              </td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="3"><i>No Problems Created</i></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                        
                     </table>
                  </div>
                  
                  <div class="card-action right-align">
                     {% if warmUp %}
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/warmUpChallengeList"><i class="material-icons left">navigate_before</i>Back</a>
                     {% elif serious %}
                     <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList"><i class="material-icons left">navigate_before</i>Back</a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      	</form>
      </main>
      {% include 'footer.html' %}
      <script>
                              function deleteQuestion(questionID, challengeID) {
                            	  var xhttp = new XMLHttpRequest();
                            	  {% if not unassign %}
                            	  xhttp.open("POST", "/oneUp/instructors/deleteQuestionFromChallenge", true);
                            	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                            	  xhttp.send("questionId="+questionID+"&challengeID="+challengeID+"&csrfmiddlewaretoken={{csrf_token}}");
                            	  {% else %}
                            	  xhttp.open("POST", "/oneUp/instructors/deleteQuestion", true);
                            	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                            	  xhttp.send("questionId="+questionID+"&csrfmiddlewaretoken={{csrf_token}}");
                            	  {% endif %}
                            	}
                              </script>
   </body>
</html>