<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
         {% include 'scripts.html' %}
		
   </head>
   
   <body>
     <div>

        {% include 'heading.html' %}
            
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
               {% if warmUp %}
               <h1>Warm Up Challenges</h1>
               {% else %}
               <h1>Serious Challenges</h1>
               {% endif %}
               <br />
                  <!-- INSERTED DYNAMIC TABLE -->  
                  {% if warmUp %}      
                  <a href="/oneUp/instructors/challengeCreate?warmUp"><input type="button" value="Add New Warm Up Challenge"></a>
                  {% else %}
                  <a href="/oneUp/instructors/challengeCreate"><input type="button" value="Add New Challenge"></a>
                  {% endif %}
                  <br /><br />
                  
        	<form name="challengeOrder" action="/oneUp/instructors/reorderChallenges" method="POST">
         	<input type="hidden" name="courseID" value="{{courseID}}" id="courseID">	
         	<input type="hidden" name="challengeType" value="Serious" id="challengeType{{courseID}}">
        	{% csrf_token %}

        	<input style="float:right" type="submit" name="submit" value="Reorder Challenges" class="button">
			<br /><br />
                  
                  <table class="bg">
                     <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Display From</th>
                        <th>Display Until</th>
                        <th style="width: 125px;">Position</th>
                     </tr>
                     {% for i,chall_ID,chall_Name, chall_visible,start_Timestamp,end_Timestamp,chall_position in challenge_range %}
                     <tr style="background-color: {% cycle '#EDF0F2' '#ffffff' %}; line-height: 20px;">
                        <div id="challenges{{i}}">
                           <td>{{chall_Name}}</td>
                           <td>{{chall_visible}}</td>
                           <td>{{start_Timestamp}}</td>
                           <td>{{end_Timestamp}}</td>
              			   <td style="width: 125px;">
    					   		<input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" name="{{chall_ID}}" value="{{chall_position}}" id="chall_position" pattern=".*\S+.*" required>
    					   </td>
                           
                           <td align="right">
                           {% if warmUp %}
                              <form action="/oneUp/instructors/deleteChallenge?warmUp" method="POST">
                              {% csrf_token %} 
                                 <a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}&wView"><input type="button" class="table" value="View"></a>                 
                                 <a href="/oneUp/instructors/challengeCreate?warmUp=True&challengeID={{chall_ID}}"><input type="button" class="table" value="Edit"></a> 
                                 <a href="/oneUp/instructors/challengeQuestionsList?challengeID={{chall_ID}}"><input type="button" class="table" value="Problems"></a> &nbsp;&nbsp;                            
                           {% else %}
                              <form action="/oneUp/instructors/deleteChallenge" method="POST">
                              {% csrf_token %} 
                                 <a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}&view"><input type="button" class="table" value="View"></a> 
                                 <a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}"><input type="button" class="table" value="Edit"></a>
                                 <a href="/oneUp/instructors/challengeQuestionsList?challengeID={{chall_ID}}"><input type="button" class="table" value="Problems"></a> &nbsp;&nbsp;                                             
                           {% endif %}                                 
                                 <input type="hidden" name="challengeID" value="{{chall_ID}}">
                                 <input type="submit" name="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?')">
                              </form>
                           </td>
                        </div>
                     </tr>
                     {% endfor %}
                  </table>
 				</form>                 
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
      </div>
      <!-- Footer -->

       {% include 'footer.html' %}
      
   </body>
</html>