<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}  
      <script>
         function CheckboxTimeChange(checkbox) {
         	var inputbox = document.getElementsByName("timeLimit");
         	
           inputbox[0].disabled = checkbox.checked;
          
         }
         function CheckboxAttemptsChange(checkbox){
         var inputbox = document.getElementsByName("numberAttempts");
         	
            inputbox[0].disabled = checkbox.checked;
           
         }
      </script>
      <script>
         $( document ).ready(function(){
         var endDate = $('#endTime').bootstrapMaterialDatePicker({
         weekStart: 0, format: 'MM/DD/YYYY hh:mm A'
         });
         
         var startDate = $('#startTime').bootstrapMaterialDatePicker({
         weekStart: 0, format: 'MM/DD/YYYY hh:mm A', shortTime : true
         }).on('change', function(e, date) {
         $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
         });
         
         $('.chips').material_chip();
         $('.chips-tags').material_chip({
         data: JSON.parse('{{ tags | escapejs }}'),
         placeholder: 'Enter a tag',
         });
         $('.chips-topics-autocomplete').material_chip({
         data: JSON.parse('{{ topics | escapejs }}'),
         placeholder: 'Choose a topic',
         autocompleteOptions: {
         	data: JSON.parse('{{ topicsAuto | escapejs }}'),
         	limit: Infinity,
         	minLength: 0
         }
         });
         $('.chips-topics-autocomplete').on('chip.add', function(e, chip){
         var topics = JSON.parse('{{createdTopics | escapejs }}')
         for(var i = 0; i < topics.length; i++) {
         	var topic = topics[i];
         	if(chip['tag'] == topic.tag){
         		chip['id'] = topic.id
         	}
         }
         });
         $('#form').submit(function(){
         var tags = $("<input>").attr("type", "hidden").attr("name", "tags").val(JSON.stringify($('.chips-tags').material_chip('data')));
         var topics = $("<input>").attr("type", "hidden").attr("name", "topics").val(JSON.stringify($('.chips-topics-autocomplete').material_chip('data')));
         
         $('#form').append($(tags));
         $('#form').append($(topics));
         console.log($('.chips-tags').material_chip('data'));
         console.log($('.chips-topics-autocomplete').material_chip('data'));
         });
         });
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if challengeID %}
               {% if warmUp %}
               <h3>Edit Warm Up Challenge</h3>
               {% else %}
               <h3>Edit Serious Challenge</h3>
               {% endif %}
               {% else %}
               {% if warmUp %}
               <h3>Create Warm Up Challenge</h3>
               {% else %}
               <h3>Create Serious Challenge</h3>
               {% endif %}
               {% endif %}
               <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form id="form" name="question" action="/oneUp/instructors/challengeCreateView" method="POST" >
                  {% csrf_token %}
                  <input type="hidden" name="numAnswers" id="numAnswers" value="{{num_answers}}">
                  <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
                  {% if not warmUp %}
                  <input type="hidden" name ="isGraded" value="true">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{challengeName}}" name="challengeName" id="challenge_name" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="challenge_name"><span class= "red-text">*</span> Challenge Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <select name="challengeDifficulty">
                                 <option value="" disabled selected>Choose Difficulty</option>
                                 <option id= "Easy" value="Easy">Easy</option>
                                 <option id="Medium" value="Medium">Medium</option>
                                 <option id="Hard" value="Hard">Hard</option>
                              </select>
                              <label>Difficulty</label>
                              <script  type="text/javascript"> 
                                 window.onload = function() {
                                 	if ("{{challengeDifficulty}}" != '')  {
                                 	document.getElementById("{{challengeDifficulty}}").selected = "true";
                                 	} 
                                 }
                              </script> 
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Availability</h5>
                           </div>
                           <div class="col s12">
                              <input name="isVisible" type="checkbox" id="challenge_visible" {% if isVisible %} checked {% endif %}/>
                              <label for="challenge_visible">Make challenge available</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12 m6">
                              <label for="startTime">Display From:</label> 
                              <input type="text" class="datepicker-from" name="startTime" value="{{startTimestamp}}" id="startTime">
                           </div>
                           <div class="col s12 m6">
                              <label for="endTime">Display Until:</label> 
                              <input type="text" class="datepicker-until" name="endTime" value="{{endTimestamp}}" id="endTime">
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{numberAttempts}}" name="numberAttempts" id="num_attempts" maxlength="4" type="number" class="validate" min="0" max="999">
                              <label for="num_attempts">Number of Attempts</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedAttempts" onchange="CheckboxAttemptsChange(this)" type="checkbox" id="unl_attempts" {% if unlimitedAttempts %} checked {% endif %}/>
                              <label for="unl_attempts">Unlimited Attempts</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{timeLimit}}" name="timeLimit" id="time_limit" maxlength="4" type="number" class="validate" min="0" max="999">
                              <label for="time_limit">Time Limit</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedTime" onchange="CheckboxTimeChange(this)" type="checkbox" id="unl_time" {% if unlimitedTime %} checked {% endif %}/>
                              <label for="unl_time">Unlimited Time</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input name="challengePassword" id="password" type="password" value="{{challengePassword}}" class="validate">
                              <label for="password" data-error="incorrect">Password</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="topics">Add Topics</label>
                              <div id="topics" class="chips chips-topics-autocomplete"></div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="tags">Add Tags</label>
                              <div id="tags" class="chips chips-tags"></div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Feedback Options</h5>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswer" type="checkbox" id="display_correct" {% if displayCorrectAnswer %} checked {% endif %}/>
                              <label for="display_correct">Display Correct Answers</label>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswerFeedback" type="checkbox" id="display_correct_feedback" {% if displayCorrectAnswerFeedback %} checked {% endif %}/>
                              <label for="display_correct_feedback">Display Correct Answer Feedback</label>
                           </div>
                           <div class="col s12">
                              <input name="displayIncorrectAnswerFeedback" type="checkbox" id="display_incorrect_feedback" {% if displayIncorrectAnswerFeedback %} checked {% endif %}/>
                              <label for="display_incorrect_feedback">Display Incorrect Answer Feedback</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Save
                        <i class="material-icons right">send</i>
                        </button>
                        {% if warmUp %}									
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/warmUpChallengeList">
                        {% else %}
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList">											
                        {% endif %}
                        <i class="material-icons left">close</i>Cancel</a>                                                                  									
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>