<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">      
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    {% include 'scripts.html' %}  
      
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
   	<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script> 
    <script type="text/javascript">
 	// This script handels the datetime fields (AH)
      $(function() {
    	  $('#datetimepicker2').datetimepicker({
              language: 'en',
              pick12HourFormat: true,
            
            });
         $('#datetimepicker3').datetimepicker({
           language: 'en',
           pick12HourFormat: true           
         });
         if($("#datetimepicker3").data('datetimepicker').getDate() == $("#datetimepicker2").data('datetimepicker').getDate()){
             $("#datetimepicker3").data('datetimepicker').setDate(null);
         }
        // Called when first datefield(Display From) is changed (AH)
   		$("#datetimepicker2").on('changeDate', function(e) {
   			// Sets the Start Date of the second datefield(Display Until) to be the assigned date of the
   			// first datefield(Display From) (AH)
   			
   			console.log($("#datetimepicker3").data('datetimepicker').getDate());
   			if($("#datetimepicker3").data('datetimepicker').getDate() != null){
   		  		$("#datetimepicker3").data('datetimepicker').setStartDate(e.date);
	   			// If the saved date for the second datefield is somehow before the first datefield date,
	   			// set the second datefield to be the same as the first datefield (AH)
	   			
	   		  	if($("#datetimepicker3").data('datetimepicker').getDate() < e.date){
	   				$("#datetimepicker3").data('datetimepicker').setDate(e.date);
	   		  	}
			  	console.log(e.date);
   			}
		});
   		// Called when first datefield(Display From) is changed (AH)
   		$("#datetimepicker3").on('changeDate', function(e) {
   			// Sets the End Date of the first datefield(Display From) to be the assigned date of the
   			// second datefield(Display Until) (AH)
  		  $("#datetimepicker2").data('datetimepicker').setEndDate(e.date);
  			// If the saved date for the first datefield is somehow after the second datefield date,
 			// set the first datefield to be the same as the second datefield (AH)
  		  if($("#datetimepicker2").data('datetimepicker').getDate() > e.date){
  			$("#datetimepicker2").data('datetimepicker').setDate(e.date);
  		  }
  			console.log(e.date);
  		});
        
      });
    </script> 
 
    <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
      <script>
      	function CheckboxTimeChange(checkbox) {
      		var inputbox = document.getElementsByName("timeLimit");
      		
    	    inputbox[0].disabled = checkbox.checked;
    	   
    	}
      	function CheckboxAttemptsChange(checkbox){
			var inputbox = document.getElementsByName("numberAttempts");
      		
    	     inputbox[0].disabled = checkbox.checked;
    	    
      	}
      </script>
   </head>
   
   <body>
      <div id="page-wrapper">

        {% include 'heading.html' %}
                     
         <div class="frame"  align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
               {% if challengeID %}
                    {% if warmUp %}
                        <h1>Edit <span class = "red">Warm Up Challenge</span></h1>
                    {% else %}
                        <h1>Edit <span>Serious Challenge</span></h1>
                    {% endif %}
               {% else %}
                    {% if warmUp %}
                        <h1>Create New <span>Warm Up Challenge</span></h1>
                    {% else %}
                        <h1>Create New <span>Serious Challenge</span></h1>
                    {% endif %}
               {% endif %}
               <p class = "center"><span class = "red">*</span> Denotes Required Fields.</p>
               <div>
<!-- INSERTED PAGE CONTENT -->
				<form name="question" action="/oneUp/instructors/challengeCreateView" method="POST" >
    		{% csrf_token %}
    
					<input type="hidden" name="numAnswers" id="numAnswers" value="{{num_answers}}">
					<input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
					<input type="hidden" name="newTopics" id="newTopics" value="">
				<table class="bg">
        			<tr>
            			<th>Challenge Name<span class = "red">*</span></th>
        			</tr>
        			<tr>
                		<td><input id="mediumFormBox" type="text" name="challengeName" value="{{challengeName}}" pattern=".*\S+.*" required></td>
            		</tr>
        			<tr>
            			<th> Difficulty</th>
        			</tr>
        		    <tr>
                           <td>
                             <div class="select-wrapper">
                                <select name="challengeDifficulty" style="width: 190px" >
                                   <option value=""selected>Select Difficulty</option>
                                   <option id="Easy" value="Easy">Easy</option>
                                   <option id="Medium" value="Medium">Medium</option>
                                   <option id="Hard" value="Hard">Hard</option>
                                </select>
                             </div>
                             <script  type="text/javascript"> 
                                window.onload = function() {
                                    if ("{{challengeDifficulty}}" != '')  {
                                    document.getElementById("{{challengeDifficulty}}").selected = "true";
                                    } 
                                }
                             </script> 
                          </td>
 	    			</tr>
            		<tr>
            			<th>Availability</th>
        			</tr>
        			<tr>
                    	<td>
							{% if isVisible %}
							<input style="vertical-align: initial" type="checkbox" name ="isVisible" value="true" checked="true""document.getElementById('isAvailable').disabled = this.checked;> &nbsp;&nbsp;Make challenge available
							{% else %}
        					<input type="checkbox" name ="isVisible">&nbsp;&nbsp;Make challenge available
        					{% endif %}
                    		<br>
                    		Display From:<div id="datetimepicker2" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="startTime" value="{{startTimestamp}}"></input>

                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    		Display Until:<div id="datetimepicker3" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="endTime" value="{{endTimestamp}}"></input>
                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    	</td>
            		</tr>
  
        			<tr>
            			<th>Number of Attempts</th> 
        			</tr>
            		<tr>
	                    <td><input id="extraSmallFormBox" type="number" name="numberAttempts" value="{{numberAttempts}}" min="0" max="999" style="vertical-align: -1px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            				{% if unlimittedAttempts %}
            				<input type="checkbox" name="unlimittedAttempts" value="true" onchange="CheckboxAttemptsChange(this)" checked="true" style="vertical-align: -2px"/>&nbsp;Unlimited Attempts						
							{% else %}
							<input type="checkbox" name="unlimittedAttempts" onchange="CheckboxAttemptsChange(this)" style="vertical-align: -2px" value ="true"/>&nbsp;Unlimited Attempts					
							{% endif %}
	                    </td>
            		</tr>
       				<tr>      				
            			<th>Time Limit (in minutes)</th> 
        			</tr>
        			
            		<tr>
                    	<td><input id="extraSmallFormBox" type="number" name="timeLimit" value="{{timeLimit}}" min="0" max="999" style="vertical-align: -1px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            				{% if unlimittedTime %}
            				<input type="checkbox" name="unlimittedTime" value="true" onchange="CheckboxTimeChange(this)" checked="true" style="vertical-align: -2px"/>&nbsp;Unlimited Time						
							{% else %}
							<input type="checkbox" name="unlimittedTime" onchange="CheckboxTimeChange(this)" style="vertical-align: -2px" value ="true"/>&nbsp;Unlimited Time</td>					
							{% endif %}
	                    </td>	                    
            		</tr>
            		
		 			<tr>
            			<th>Password </th> 
        			</tr>
            		<tr>
                    	<td><input id="smallFormBox"  type="text" name="challengePassword" value="{{challengePassword}}"></td>
            		</tr>
  		 			<tr>
            			<th>Possible points for a manually graded section of the challenge </th> 
        			</tr>
            		<tr>
                    	<td><input id="extraSmallFormBox" type="number" name="manuallyGradedScore" value="{{manuallyGradedScore}}" min="0" max="999" style="vertical-align: -1px" />
            		</tr>
        			

                    <th>Topics </th>
                	</tr> 
                	<tr>
                           <td>
                             {% include "Instructors/ChallengeTopicEmbed.html" %}                           
 							</td>
                        </tr>
                        
                    <tr>
            			<th>Tags</th>
        			</tr>
            		<tr>
                    	<td><textarea style="margin-bottom:0" id="mediumFormBox" name="tags" value="{{tags}}"></textarea>
                    	<font style="font-size:.8em;">Enter tags separated by commas (,)</font></td>
            		</tr>
					{% if not warmUp %}
					<input type="hidden" name ="isGraded" value="true">
					{% endif %}
					
					<tr>
            			<th>Feedback Options</th>
        			</tr>
            		{% if displayCorrectAnswer %}
            		<tr>
						<td><input type="checkbox" name="displayCorrectAnswer" value="true" checked="true" style="vertical-align: -2px"/>&nbsp;&nbsp;Display Correct Answer</td>
					</tr>
					{% else %}
					<tr>
						<td><input type="checkbox" name="displayCorrectAnswer"  style="vertical-align: -2px" />&nbsp;&nbsp;Display Correct Answer</td>
					</tr>
					{% endif %}
					
					{% if displayCorrectAnswerFeedback %}
					<tr>			
						<td><input type="checkbox" name="displayCorrectAnswerFeedback"value="true" checked="true" style="vertical-align: -2px"/>&nbsp;&nbsp;Display Correct Answer Feedback</td>
					</tr>
					{% else %}
					<tr>			
						<td><input type="checkbox" name="displayCorrectAnswerFeedback" style="vertical-align: -2px" />&nbsp;&nbsp;Display Correct Answer Feedback</td>
					</tr>
					{% endif %}
					
					{% if displayIncorrectAnswerFeedback %}
					<tr >	
						<td><input type="checkbox" name="displayIncorrectAnswerFeedback"value="true" checked="true" style="vertical-align: -2px"/>&nbsp;&nbsp;Display Correct Answer Feedback</td>	
					</tr>
					{% else %}
					<tr >	
						<td><input type="checkbox" name="displayIncorrectAnswerFeedback" style="vertical-align: -2px" />&nbsp;&nbsp;Display Incorrect Answer Feedback</td>	
					</tr>			
					{% endif %}
					</table>	
						<input type="submit" name="submit" value="Save" class="button" onclick="prepareSubmit()">								
						{% if warmUp %}
			               <a href="/oneUp/instructors/warmUpChallengeList">
			            {% else %}
			               <a href="/oneUp/instructors/challengesList">
			            {% endif %}
						<input type="button" class="special" value="Cancel"></a>
						</form>
						<br><br>
                  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div></div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}

      </div>
   </body>
</html>