<!DOCTYPE html>
<html lang="en">
<head>

{% include 'scripts.html' %}

</head>
<body>
		{% include 'heading.html' %}
	<main>
		<div class="row center-align">
					<div class="col s12">
						<h3>Import Challenges</h3>
					</div>
				</div>
		<div class="row">
			<div class="col s12 m10 offset-m1">
				<form id="uploadbanner" action="/oneUp/instructors/uploadChallenges" enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					<div class="card">
						<div class="card-content">
							<span class="card-title">Upload Your Challenges File</span>
							<div class="file-field input-field">
                              <div class="btn">
                                 <span>Select File</span>
                                 <input name="challenges" type="file" accept=".xml">
                              </div>
                              <div class="file-path-wrapper">
                                 <input class="file-path validate" type="text" placeholder="Select File to Upload">
                              </div>
                           </div>
						</div>
						<div class="card-action right-align">
							<button class="btn waves-effect waves-light" type="submit" name="submit">Upload<i class="material-icons right">file_upload</i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>