<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if challenge %}
               <h3>Select Problems for {{challengeName}}</h3>
               {% else %}      
               <h3>Search Problems</h3>
               {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form name="question" action="/oneUp/instructors/challengeSaveSelectedQuestions" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
                  <div class="card">
                     <div class="card-content">
                        {% if empty %}
                        <div class="row">
                           <div class="col s12">
                              <h5>No results were found.</h5>
                           </div>
                        </div>
                        {% endif %}
                        <table>
                           <thead>
                              <th>Problem</th>
                              <th>Type</th>
                              <th>Points</th>
                              <th></th>
                           </thead>
                           <tbody>
                              {% for i,q_ID,q_preview,q_type,q_type_name,q_difficulty,q_challengeId in question_range %}
                              <input type="hidden" name="questionID{{i}}" value="{{q_ID}}" />
                              <tr>
                                 <td><input type="checkbox" id="selected-{{i}}" class="filled-in" name="selected" value="{{i}}"/>
                                    <label for="selected-{{i}}">{{q_preview}}</label>
                                 </td>
                                 <td>{{q_type_name}}</td>
                                 <td><input value="{{points}}" name="points{{i}}" id="{{eventIndex}}_amount" maxlength="4" type="number" min="0" max="999" step="any" /></td>
                                 <td class="right-align">
                                    {% if q_type == 1 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/MultipleChoiceForm?questionId={{q_ID}}&challengeID={{q_challengeId}}&view">
                                    {% elif q_type == 2 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/MultipleAnswersForm?questionId={{q_ID}}&challengeID={{q_challengeId}}&view">
                                    {% elif q_type == 3 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/MatchingForm?questionId={{q_ID}}&challengeID={{q_challengeId}}&view">
                                    {% elif q_type == 4 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/TrueFalseForm?questionId={{q_ID}}&challengeID={{q_challengeId}}&view">
                                    {% elif q_type == 5 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/EssayForm?questionId={{q_ID}}&challengeID={{q_challengeId}}&view">
                                    {% elif q_type == 6 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/DynamicQuestionForm?questionId={{q_ID}}&challengeID={{challengeID}}&view">
                                    {% elif q_type == 7 %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/TemplateDynamicQuestionForm?questionId={{q_ID}}&challengeID={{challengeID}}&view">
                                    {% elif q_type == 8 %}<!-- GGM added parsons type 8 -->
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/forms/ParsonsForm?questionId={{q_ID}}&challengeID={{challengeID}}&view">
                                    {% else %}
                                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengeCreate">
                                    {% endif %} 
                                    <i class="material-icons left">visibility</i>View</a>
                                 </td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <td class="center-align" colspan="4"><i>No questions</i></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                     <div class="card-action right-align">
                        {% if not empty %}
                        <button class="waves-effect waves-light btn" type="submit" name="submit" value="Submit"><i class="material-icons left">add_circle</i>Add to challenge
                        </button>
                        {% endif %}
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/search?challengeID={{challengeID}}"><i class="material-icons left">navigate_before</i>Back</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>