<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="screen"
      href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
       {% include 'scripts.html' %}
      
      <!--[if lt IE 7]>
      <link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen">
      <script type="text/javascript" src="/static/js/ie_png.js"></script>
      <script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
      <![endif]-->
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
        <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
    // This script handels the datetime fields (AH)
      $(function() {
    	  $('#datetimepicker2').datetimepicker({
              language: 'en',
              pickDate: false,
              pickTime: false
            
            });
         $('#datetimepicker3').datetimepicker({
           language: 'en',
           pickDate: false,
           pickTime: false
           
         });
        
      });
    </script> 
  
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
      
      
   </head>
   
   <body>
      <div id="page-wrapper">

        {% include 'heading.html' %}

         <div class="frame" id="grad" align="center">
         <div class="container">
         <div class="row">
         <div class="12u">
               <h1><span>{{challengeName}}</span></h1>
            <br />
<!-- INSERTED PAGE CONTENT -->
{% csrf_token %}
	<input type="hidden" name="challengeID" id="challengeID"
	       value="{{challengeID}}">
	<table class="bg">
        			<tr>
            			<th>Challenge Name<span class = "red">*</span></th>
        			</tr>
        			<tr>
                		<td><input id="mediumFormBox" type="text" name="challengeName" value="{{challengeName}}" required></td>
            		</tr>
        			<tr>
            			<th>Difficulty</th>
        			</tr>
            		<tr>
	    				<td><form method="post">
                        <select id="difficulty" name="challengeDifficulty" >
			                <option value="" disabled selected>Select Difficulty</option>
			                <option id="Easy" value="Easy">Easy</option>
			                <option id="Medium" value="Medium">Medium</option>
			                <option id="Hard" value="Hard">Hard</option>
			            </select>
			            </form>
						<script  type="text/javascript"> 
						
						  window.onload = function() {
                                     if ("{{difficulty}}" != '')  {
                                     document.getElementById("{{difficulty}}").selected = "true";
                                     } 
                           }	
						</script>
						</td>
	    			</tr>
            		<tr>
            			<th>Availability</th>
        			</tr>
        			<tr>
                    	<td>
							{% if isVisible %}
							<input style="vertical-align: initial" type="checkbox" name ="isVisible" value="true" checked="true""document.getElementById('isAvailable').disabled = this.checked;> &nbsp;&nbsp;Make challenge available
							{% else %}
        					<input type="checkbox" name ="isVisible">&nbsp;&nbsp;Make challenge available
        					{% endif %}
                    		<br>
                    		Display From:<div id="datetimepicker2" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="startTime" value="{{startTimestamp}}"></input>

                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    		Display Until:<div id="datetimepicker3" class="input-append">

                                 <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm PP" type="text" name="endTime" value="{{endTimestamp}}"></input>
                            <span class="add-on" style="height:2.75em; line-height:2em">
                            	<i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </td>
            		</tr>
            		
            		
        			<tr>
            			<th>Number of Attempts<span class = "red">*</span></th> 
        			</tr>
            		<tr>
	                    <td><input id="extraSmallFormBox" type="number" name="numberAttempts" value="{{numberAttempts}}" min="0" max="999" style="vertical-align: -1px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            				{% if unlimittedAttempts %}
            				<input type="checkbox" name="unlimittedAttempts" value="true" checked="true" style="vertical-align: -2px"/>&nbsp;Unlimited Attempts						
							{% else %}
							<input type="checkbox" name="unlimittedAttempts" style="vertical-align: -2px"/>&nbsp;Unlimited Attempts					
							{% endif %}
	                    </td>
            		</tr>
       				<tr>
            			<th>Time Limit (in minutes) <span class = "red">*</span></th> 
        			</tr>
            		<tr>
                    	<td><input id="extraSmallFormBox" type="number" name="timeLimit" value="{{timeLimit}}" min="1" max="999" style="vertical-align: -1px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            				{% if unlimittedTime %}
            				<input type="checkbox" name="unlimittedTime" value="true" checked="true" style="vertical-align: -2px"/>&nbsp;Unlimited Time						
							{% else %}
							<input type="checkbox" name="unlimittedTime" style="vertical-align: -2px"/>&nbsp;Unlimited Time</td>					
							{% endif %}
	                    </td>	                    
            		</tr>
            		<tr>
            			<th>Password </th> 
        			</tr>
            		<tr>
                    	<td><input id="smallFormBox"  type="text" name="challengePassword" value="{{challengePassword}}"></td>
            		</tr>
		 			<tr>
            			<th>Tags</th>
        			</tr>
            		<tr>
                    	<td><textarea id="mediumFormBox" name="tags" value="{{tags}}">{{tags}}</textarea>Enter tags separated by commas (,)</td>
            		</tr>
					<tr>
                    	<th>Topics </th>
                	</tr> 
                	<tr> 
                		<td>Selected Topics for this Challenge <br>
                		{% if isGraded %}
                		<input id="mediumFormBox" type="text" name="all_Topics" id="sendTopic"  value="{{all_Topics}}" disabled></td>
                	</tr>
		 			<tr>
		 				<td>Add New Topic<br> 
						<select name="Topic" id="sendTopic2" accesskey="target" font-family= "Tahoma, Geneva, sans-serif">
					  	{% else %}
					  	<input id="mediumFormBox" type="text" name="all_Topics" value="{{all_Topics}}" disabled></td>
					  	</td></tr>
					<tr>
						<td>Add New Topic<br>
						<select name="Topic" id="{{i}}" accesskey="target" font-family= "Tahoma, Geneva, sans-serif">
					  	{% endif %}
					  	<option  value="" selected>Select Topic</option>
					{% for i,topic_ID,topic_Name in topic_range %}
						<div id="topic{{i}}">
							<option value="{{topic_ID}}">{{topic_Name}}</option>							  	
						</div>
					{% endfor %}
						</select>
						</td>
					</tr>
					<tr>
						<td>
						{% if isGraded %}
            				<input type="checkbox" name ="isGraded" value="true" checked="true" 
							onchange="document.getElementById('sendTopic').disabled = this.checked; 
							document.getElementById('sendTopic2').disabled = this.checked;"> Is this challenge going to be graded? 
        				{% else %}
        					<input type="checkbox" name ="isGraded">&nbsp;&nbsp;Is this challenge going to be graded?
        				{% endif %}
						</td>
					</tr>
					<tr>
            			<th>Feedback Options</th>
        			</tr>
        			
        			{% if displayCorrectAnswer %}
            		<tr>
						<td><input type="checkbox" name="displayCorrectAnswer" value="true" checked="true">&nbsp;&nbsp;Display Correct Answer</td>
					</tr>
					{% else %}
					<tr>
						<td><input type="checkbox" name="displayCorrectAnswer">&nbsp;&nbsp;Display Correct Answer</td>
					</tr>
					{% endif %}
					
					
					{% if displayCorrectAnswerFeedback %}
					<tr>			
						<td><input type="checkbox" name="displayCorrectAnswerFeedback"value="true" checked="true"/>&nbsp;&nbsp;Display Correct Answer Feedback</td>
					</tr>
					{% else %}
					<tr>			
						<td><input type="checkbox" name="displayCorrectAnswerFeedback"/>&nbsp;&nbsp;Display Correct Answer Feedback</td>
					</tr>
					{% endif %}
					
					{% if displayIncorrectAnswerFeedback %}
					<tr>			
						<td><input type="checkbox" name="displayIncorrectAnswerFeedback" value="true" checked="true"/>&nbsp;&nbsp;Display Incorrect Answer Feedback</td>
					</tr>
					{% else %}
					<tr>			
						<td><input type="checkbox" name="displayIncorrectAnswerFeedback"/>&nbsp;&nbsp;Display Incorrect Answer Feedback</td>
					</tr>
					{% endif %}	
				</table>	
				<h1><span style="color:rgba(255,255,255,.75)"> {{challengeName}}: Questions</span></h1>		
	<br>
	</div></div>
	<div class="row">
    <div class="12u">
	<table class="bg">
		{% for i,question in question_range %}
		<tr> 
			<div id="question{{i}}">
				<th> {{i}}. {{question.questionText|safe}}</th><th></th></tr>									
				<th> point: {{question.point|safe}}</th>	
							{% if question.typeID == '1' %}
							<!-- multiple choice question -->
							{% for count,correct_answer in question.correct_answers %}<!-- use a for loop and display the answers in radio buttons -->						
								<tr><td colspan="2">{% for j,answer in question.answers_with_count %}	
								
									<!-- use a for loop and display the answers in radio buttons -->
									<input type="radio" name="{{question.questionID}}" value="{{answer.answerText}}"
									 {% ifequal answer.answerText|stringformat:"s" correct_answer.answerID.answerText|stringformat:"s" %}checked
									 {% else %}disabled="disabled"{% endifequal %}>{{answer.answerText|safe}}<br />
								{% endfor %}
								{% endfor %}
								</td></tr>													
							{% elif question.typeID == '2' %}
							<!-- multiple answer question -->
								<tr><td colspan="2">
								<!-- use a for loop and display the answers in checkbox buttons -->
								{% for j,answer in question.answers_with_count %}
									
									<input type="checkbox" name="{{question.questionID}}" value="{{answer.answerText}}"
									{% for k,correct_answer in question.correct_answers %}	
										{% ifequal answer.answerText|stringformat:"s" correct_answer.answerID.answerText|stringformat:"s" %}checked
										{% else %}
										{% endifequal %}
									{% endfor %}
									>{{answer.answerText|safe}}<br />
								{% endfor %}
								</td></tr>
							{% elif question.typeID == '3' %}
							<!-- matching question -->
							<tr><td width="50%">{% for match_count,match_answer in question.match_with_count %}
								<!-- use a for loop and display the answers in the matching form-->
								{{match_count}} . &nbsp{{match_answer.answerText}}
									<br />
							{% endfor %}
							</td>
							<td>
							{% for match in question.matches %}
							{{match.matchingAnswerText}}
							<br />	
							{% endfor %}
							</td></tr>	
							{% elif question.typeID == '4' %}
							<!-- true/false question -->
							{% for count,correct_answer in question.correct_answers %}
							<tr><td colspan="2"><input type="radio" name="{{question.questionID}}" value="True" {% ifequal correct_answer.answerID.answerText|stringformat:"s" "true" %}checked{% else %}disabled="disabled"{% endifequal %}>True<br />
							<input type="radio" name="{{question.questionID}}" value="False" {% ifequal correct_answer.answerID.answerText|stringformat:"s" "false" %}checked{% else %}disabled="disabled"{% endifequal %}>False
							{% endfor %}
							</td></tr>
							{% elif question.typeID == '5' %}
							<!-- Essay question -->
							<tr><td colspan="2"><textarea name="{{question.questionID}}" rows="5" width="auto" placeholder="<Enter Answer Here>" readonly></textarea>
							</td></tr>{% endif %}
			{% endfor %}
	</table>
	<script>
	$(':input').attr('readonly','readonly');
	$(':input').attr('disabled', 'disabled');
	</script>
	<td align="left">							
		{% if warmUp %}
           <a href="/oneUp/instructors/warmUpChallengeList">
        {% else %}
           <a href="/oneUp/instructors/challengesList">
        {% endif %}
		<input type="button" value="Back" class="button"></a>
</form>	
<br><br>
    <script>
    	{% for i,skill_ID,skill_Name in skill_range3 %}
    		document.getElementById("skill"+{{skill_ID}}).style.display = "none";
    	{% endfor %}
    </script>
  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div></div>
         </div>
         <!-- Footer -->

       {% include 'footer.html' %}

      
   </body>
</html>