<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if warmUp %}
               <h3>Warm Up Challenges</h3>
               {% else %}
               <h3>Serious Challenges</h3>
               {% endif %}
            </div>
         </div>
         <form name="challengeOrder" action="/oneUp/instructors/reorderChallenges" method="POST">
            {% csrf_token %}
            <input type="hidden" name="courseID" value="{{courseID}}" id="courseID">	
            <input type="hidden" name="challengeType" value="Serious" id="challengeType{{courseID}}">
         <div class="row right-align">
            <div class="col s12 m8 offset-m2">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">Reorder Challenges
                  <i class="material-icons right">reorder</i>
                  </button>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card-panel">
                  <table>
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Status</th>
                           <th>Display From</th>
                           <th>Display Until</th>
                           <th>Position</th>
                           <th class="secondary-content">
                              {% if warmUp %}
                              <a class="tooltipped" href="/oneUp/instructors/challengeCreate?warmUp" data-position="top" data-delay="50" data-tooltip="Create WarmUp Challenge"><i class="material-icons" >add_circle</i></a>
                              {% else %}
                              <a class="tooltipped" href="/oneUp/instructors/challengeCreate" data-position="top" data-delay="50" data-tooltip="Create Serious Challenge"><i class="material-icons" >add_circle</i></a>
                              {% endif %}
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i,chall_ID,chall_Name, chall_visible,start_Timestamp,end_Timestamp, chall_position in challenge_range %}
                        <tr>
                           <td>{{chall_Name}}</td>
                           <td>{{chall_visible}}</td>
                           <td>{{start_Timestamp}}</td>
                           <td>{{end_Timestamp}}</td>
                           <td>
                              <div class="input-field col s12">
                                    <input placeholder="Points" value="{{chall_position}}" name="{{chall_ID}}" id="chall_position" maxlength="4" type="number" class="validate" min="0" required>
                              </div>
                           </td>
                           <td>
                              {% if warmUp %}
                              <form action="/oneUp/instructors/deleteChallenge?warmUp" method="POST">
                              {% else %}
                              <form action="/oneUp/instructors/deleteChallenge" method="POST">
                              {% endif %}
                              {% csrf_token %}
                              <input type="hidden" name="challengeID" value="{{chall_ID}}"> 
                              <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                              <ul id='dropdown{{i}}' class='dropdown-content'>
                                    {% if warmUp %}
                                    <li><a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}&wView">View</a></li>
                                    <li><a href="/oneUp/instructors/challengeCreate?warmUp=True&challengeID={{chall_ID}}">Edit</a></li>
                                    <li><a href="/oneUp/instructors/challengeQuestionsList?challengeID={{chall_ID}}">Problems</a></li>
                                    {% else %}
                                    <li><a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}&view">View</a></li>
                                    <li><a href="/oneUp/instructors/challengeCreate?challengeID={{chall_ID}}">Edit</a></li>
                                    <li><a href="/oneUp/instructors/challengeQuestionsList?challengeID={{chall_ID}}">Problems</a></li>
                                    {% endif %}    
                                    <li><a href="/oneUp/instructors/adjustmentList?challengeID={{chall_ID}}">Adjustment</a></li>
                                    <li class="divider"></li>                         
                                    <li><a class="modal-trigger" href="#modal_delete{{i}}">Delete</a></li>
                              </ul>
                              <div id="modal_delete{{i}}" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                       </button>                                        
                                    </div>
                                 </div>
                                </form>                                                                
                           </td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="5"><i>No Serious Challenges Created</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         </form>
      </main>
      {% include 'footer.html' %}
   </body>
</html>