<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}  
      <script>
         function CheckboxTimeChange(checkbox) {
         	var inputbox = document.getElementsByName("timeLimit");
         	
           inputbox[0].disabled = checkbox.checked;
          
         }
         function CheckboxAttemptsChange(checkbox){
         var inputbox = document.getElementsByName("numberAttempts");
         	
            inputbox[0].disabled = checkbox.checked;
           
         }
      </script>
      <script>
         $( document ).ready(function(){
         
		 $(function(){
			var tags = JSON.parse('{{ tags | escapejs }}')
			var topics = JSON.parse('{{ topics | escapejs }}')
			for(var i = 0; i < tags.length; i++){
				var tag = tags[i];
				var tagDOM = $("<div>").attr("class", "chip").append(tag['tag']);
				$('#tags').append($(tagDOM));
			}
			for(var i = 0; i < topics.length; i++){
				var topic = topics[i];
				var topicDOM = $("<div>").attr("class", "chip").append(topic['tag']);
				$('#topics').append($(topicDOM));
			}
		 });
		
         });
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>{{challengeName}}</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <form id="form" action="#!">
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Name" value="{{challengeName}}" name="challengeName" id="challenge_name" type="text" readonly>
                              <label for="challenge_name">Challenge Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <select name="challengeDifficulty" readonly>
                                 <option value="" disabled selected>Choose Difficulty</option>
                                 <option id= "Easy" value="Easy" disabled>Easy</option>
                                 <option id="Medium" value="Medium" disabled>Medium</option>
                                 <option id="Hard" value="Hard" disabled>Hard</option>
                              </select>
                              <label>Difficulty</label>
                              <script  type="text/javascript"> 
                                 window.onload = function() {
                                 	if ("{{challengeDifficulty}}" != '')  {
                                 	document.getElementById("{{challengeDifficulty}}").selected = "true";
                                 	} 
                                 }
                              </script> 
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Availability</h5>
                           </div>
                           <div class="col s12">
                              <input name="isVisible" type="checkbox" id="challenge_visible" {% if isVisible %} checked {% endif %} disabled/>
                              <label for="challenge_visible">Make challenge available</label>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                               <h5>Graded</h5>
                            </div>
                            <div class="col s12">
                               <input name="isGraded" type="checkbox" id="challenge_graded" {% if isGraded %} checked {% endif %} disabled/>
                               <label for="challenge_graded">Is challenge graded?</label>
                            </div>
                         </div>
                        <div class="row">
                           <div class="col s12 m6">
                              <label for="startTime">Display From:</label> 
                              <input type="text" name="startTime" value="{{startTimestamp}}" id="startTime" readonly>
                           </div>
                           <div class="col s12 m6">
                              <label for="endTime">Display Until:</label> 
                              <input type="text"name="endTime" value="{{endTimestamp}}" id="endTime" readonly>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{numberAttempts}}" name="numberAttempts" id="num_attempts" maxlength="4" type="number"  min="0" max="999" readonly>
                              <label for="num_attempts">Number of Attempts</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedAttempts" onchange="CheckboxAttemptsChange(this)" type="checkbox" id="unl_attempts" {% if unlimitedAttempts %} checked {% endif %} disabled/>
                              <label for="unl_attempts">Unlimited Attempts</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{timeLimit}}" name="timeLimit" id="time_limit" maxlength="4" type="number" min="0" max="999" readonly>
                              <label for="time_limit">Time Limit</label>
                           </div>
                           <div class="col s12">
                              <input name="unlimitedTime" onchange="CheckboxTimeChange(this)" type="checkbox" id="unl_time" {% if unlimitedTime %} checked {% endif %} disabled/>
                              <label for="unl_time">Unlimited Time</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input name="challengePassword" id="password" type="password" value="{{challengePassword}}" readonly>
                              <label for="password" data-error="incorrect">Password</label>
                           </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                    <input value="{{manuallyGradedScore}}" name="manuallyGradedScore" id="manually_Graded_Score" maxlength="4" type="number" min="0" max="999" readonly>
                                    <label for="manually_Graded_Score">Possible points for a manually graded section of the challenge</label>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="{{curve}}" name="curve" id="curve_id" maxlength="4" type="number" min="0" max="999" readonly>
                                    <label for="curve_id">Curve</label>
                                 </div>
                            </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="topics">Topics</label>
                              <div id="topics">

							  </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="tags">Tags</label>
                              <div id="tags">
							  </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Feedback Options</h5>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswer" type="checkbox" id="display_correct" {% if displayCorrectAnswer %} checked {% endif %} disabled/>
                              <label for="display_correct">Display Correct Answers</label>
                           </div>
                           <div class="col s12">
                              <input name="displayCorrectAnswerFeedback" type="checkbox" id="display_correct_feedback" {% if displayCorrectAnswerFeedback %} checked {% endif %} disabled/>
                              <label for="display_correct_feedback">Display Correct Answer Feedback</label>
                           </div>
                           <div class="col s12">
                              <input name="displayIncorrectAnswerFeedback" type="checkbox" id="display_incorrect_feedback" {% if displayIncorrectAnswerFeedback %} checked {% endif %} disabled/>
                              <label for="display_incorrect_feedback">Display Incorrect Answer Feedback</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <table>
                                 <thead>
                                 </thead>
                                 <tbody>
                                    {% for i,question in question_range %}
                                    <tr>
                                       <th> {{i}}. {{question.questionText|safe}}</th>
                                       <th></th>
                                    </tr>
                                    {% if question.typeID == '1' %}
                                    <!-- multiple choice question -->
                                    {% for count,correct_answer in question.correct_answers %}<!-- use a for loop and display the answers in radio buttons -->						
                                    <tr>
                                       <td colspan="2">
                                          {% for j,answer in question.answers_with_count %}	
                                          <!-- use a for loop and display the answers in radio buttons -->
                                          <input type="radio" name="{{question.questionID}}" value="{{answer.answerText}}"
                                          {% ifequal answer.answerText|stringformat:"s" correct_answer.answerID.answerText|stringformat:"s" %}checked
                                          {% else %}disabled="disabled"{% endifequal %}>{{answer.answerText|safe}}<br />
                                          {% endfor %}
                                       </td>
									</tr>
									{% endfor %}									
                                    {% elif question.typeID == '2' %}
                                    <!-- multiple answer question -->
                                    <tr>
                                       <td colspan="2">
                                          <!-- use a for loop and display the answers in checkbox buttons -->
                                          {% for j,answer in question.answers_with_count %}
                                          <input type="checkbox" name="{{question.questionID}}" value="{{answer.answerText}}"
                                          {% for k,correct_answer in question.correct_answers %}	
                                          {% ifequal answer.answerText|stringformat:"s" correct_answer.answerID.answerText|stringformat:"s" %}checked
                                          {% else %}
                                          {% endifequal %}
                                          {% endfor %}
                                          >{{answer.answerText|safe}}<br />
                                          {% endfor %}
                                       </td>
                                    </tr>
                                    {% elif question.typeID == '3' %}
                                    <!-- matching question -->
                                    <tr>
                                       <td>
                                          {% for match_count,match_answer in question.match_with_count %}
                                          <!-- use a for loop and display the answers in the matching form-->
                                          {{match_count}} . &nbsp{{match_answer.answerText}}
                                          <br />
                                          {% endfor %}
                                       </td>
                                       <td>
                                          {% for match in question.matches %}
                                          {{match.matchingAnswerText}}
                                          <br />	
                                          {% endfor %}
                                       </td>
                                    </tr>
                                    {% elif question.typeID == '4' %}
                                    <!-- true/false question -->
                                    {% for count,correct_answer in question.correct_answers %}
                                    <tr>
                                       <td colspan="2"><input type="radio" name="{{question.questionID}}" value="True" {% ifequal correct_answer.answerID.answerText|stringformat:"s" "true" %}checked{% else %}disabled="disabled"{% endifequal %}>True<br />
                                          <input type="radio" name="{{question.questionID}}" value="False" {% ifequal correct_answer.answerID.answerText|stringformat:"s" "false" %}checked{% else %}disabled="disabled"{% endifequal %}>False
                                       </td>
									</tr>
									{% endfor %}									
                                    {% elif question.typeID == '5' %}
                                    <!-- Essay question -->
                                    <tr>
                                       <td colspan="2"><textarea name="{{question.questionID}}" rows="5" width="auto" placeholder="<Enter Answer Here>" readonly></textarea>
                                       </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        {% if warmUp %}									
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/warmUpChallengeList">
                        {% else %}
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList">											
                        {% endif %}
                        <i class="material-icons left">navigate_before</i>Back</a>                                                                  									
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>