<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

{% include 'scripts.html' %}

</head>
<body>
	<div>

		{% include 'heading.html' %}

		<div class="frame" id="grad" align="center">
			<div class="container">
				<div class="row">
					<div class="12u">
						<h1>Export Challenges</h1>
					</div>
				</div>
						<!-- INSERTED DYNAMIC TABLE -->
							<em><strong> Select Challenges to Export</strong></em>
							<div class="col s12 m6">
									<div class="card white">
						<form name="question" action="/oneUp/instructors/exportChallenges"
							method="POST">
							{% csrf_token %}
					
							<table>
								{% if empty %}
								<tr>
									<td>**No Results Where Found**</td>
								</tr>
								{% else %} {% for i, chall_ID, chall_name in challenge_range %}
								<form action="#">
										<p>
										  <input type="checkbox" name="selected" value="{{i}}" id="{{chall_ID}}">
										  <label for="{{chall_ID}}" value="{{chall_name}}"></label>
										  {{chall_name}}
										</p>
										</form>
								{% endfor %} {% endif %}
							</table>

							<input class="waves-effect waves-light btn" type="submit" name="submit" value="Submit" class="button" />
							<button class="waves-effect waves-light btn" type="reset" value="Reset">Reset</button>
							<a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><input
								type="button" value="Back"></a>

						</form>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->

		{% include 'footer.html' %}

	</div>

</body>
</html>