<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
    <script>
        var AdjustmentScore = document.getElementsByClassName("AdjustmentScore");

        [].forEach.call(AdjustmentScore, function(p) {
            p.addEventListener("change", AdjustmentScoreChanged);
        });
    </script>
    <style>
		body, div, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        body {
            line-height: 1;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
	</style>
</head>

<body>

    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12 m10 offset-m1">
                <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{challengeName}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <form name="question" action="/oneUp/instructors/challengeAdjustment" method="POST">
                    {% csrf_token %} {% if challengeID %}
                    <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}" /> {% endif %}
                    <div class="card">
                        <div class="card-content">
                            <table class="responsive-table">
                                <thead>
                                    <th style="padding-bottom: .1em;">Student</th>
                                    <th style="padding-bottom: .1em;">Score</th>
				    {% if isVcUsed %}
                                    <th style="padding-bottom: .1em;">Purchased Points</th>
				    {% endif %}
                                    <th style="padding-bottom: .1em;">Adjustment</th>
                                    <th style="padding-bottom: .1em;">Adjustment Reason</th>
                                </thead>
                                <tbody>
                                    {% for i, student_ID, student_Name, student_TestScore, student_BonusScore, student_AdjustmentScore, student_AdjustmentReason in challengeAdjustment_range %}
                                    <tr style="max-height: 10px; margin-top: 0px, padding-top: 0px" >
                                        <td style="padding-bottom: .1em;">{{student_Name}}</td>
                                        <td style="padding-bottom: .1em;">{{student_TestScore}}</td>
					{% if isVcUsed %}
                                        <td style="padding-bottom: .1em">
                                            <div class="col">
                                                <input value="{{student_BonusScore}}" name="student_BonusScore{{student_ID}}" id="{{student_ID}}_BonusScore" type="number"  min="0" step="any" required>
                                            </div>
                                        </td>
					{% endif %}
                                        <td style="padding-bottom: .1em;"> 
                                            <div class="col">
                                                <input value="{{student_AdjustmentScore}}" name="student_AdjustmentScore{{student_ID}}" id="{{student_ID}}_AdjustmentScore"  type="number"  min="0" step="any" required>
                                            </div>
                                        </td>
                                        <td style="padding-bottom: .1em;">
                                            <div class="row">
                                            <div class="col">
                                                <textarea  id="{{student_ID}}_AdjustmentReason" name="adjustmentReason{{student_ID}}" class="materialize-textarea">{{student_AdjustmentReason}}</textarea>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td class="center-align" colspan="5"><i>No Students in the course!</i></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="submit">Save<i class="material-icons right">send</i>
                                </button>
                            <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList">											
                                <i class="material-icons left">close</i>Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
