<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
    <script>
        var AdjustmentScore = document.getElementsByClassName("AdjustmentScore");

        [].forEach.call(AdjustmentScore, function(p) {
            p.addEventListener("change", AdjustmentScoreChanged);
        });
    </script>
</head>

<body>

    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>{{challengeName}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <form name="question" action="/oneUp/instructors/challengeAdjustment" method="POST">
                    {% csrf_token %} {% if challengeID %}
                    <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}" /> {% endif %}
                    <div class="card">
                        <div class="card-content">
                            <table>
                                <thead>
                                    <th>Student</th>
                                    <th>Score</th>
                                    <th>Purchased Points</th>
                                    <th>Adjustment</th>
                                    <th>Adjustment Reason</th>
                                </thead>
                                <tbody>
                                    {% for i, student_ID, student_Name, student_TestScore, student_BonusScore, student_AdjustmentScore, student_AdjustmentReason in challengeAdjustment_range %}
                                    <tr>
                                        <td>{{student_Name}}</td>
                                        <td>{{student_TestScore}}</td>
                                        <td>
                                            <div class="input-field col s12">
                                                <input value="{{student_BonusScore}}" name="student_BonusScore{{student_ID}}" id="{{student_ID}}_BonusScore" type="number" class="validate" min="0" step="any" required>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-field col s12">
                                                <input value="{{student_AdjustmentScore}}" name="student_AdjustmentScore{{student_ID}}" id="{{student_ID}}_AdjustmentScore" type="number" class="validate" min="0" step="any" required>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="{{student_ID}}_AdjustmentReason" name="adjustmentReason{{student_ID}}" class="materialize-textarea">{{student_AdjustmentReason}}</textarea>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students in the course!</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="submit">Save<i class="material-icons right">send</i>
                                </button>
                            <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList">											
                                <i class="material-icons left">close</i>Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>