<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />


{% include 'scripts.html' %}

</head>
<body>
	<div>

		{% include 'heading.html' %}

		<div class="frame" id="grad" align="center">
			<div class="container">
				<div class="row">
					<div class="12u">
						<h1>Import Challenges</h1>
					</div>
				</div>
				<br />
				<!-- INSERTED DYNAMIC TABLE -->

				<form id="uploadbanner" action="/oneUp/instructors/uploadChallenges"
					enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					<h6>Upload Your Challenges File</h6>
					<table>
									
						<tr>
							<form action="#">
									<div class="file-field input-field">
									  <div class="btn">
										<span>File</span>
										<input id="fileupload" name="challenges" type="file">
									  </div>
									  <div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									  </div>
									</div>
								  </form>
						</tr>
						<tr>
						<tr>
							<td><input class="waves-effect waves-light btn" type="submit" value="Upload" id="Upload" /></td>
						</tr>

					</table>

				</form>

			</div>
		</div>
	</div>
	<!-- Footer -->

	{% include 'footer.html' %}

	</div>

</body>
</html>