<!DOCTYPE html>
<html lang="en">
<head>

{% include 'scripts.html' %}
<script>
	function checkAllBoxes() {
		var checkBoxes = document.getElementsByName('selected');
		for (var i = 0; i < checkBoxes.length; i++) {
			if (!checkBoxes[i].checked) {
				checkBoxes[i].checked = true;
			}
		}
		console.log("done!");
	}
</script>
</head>
<body>

		{% include 'heading.html' %}
		<main>
				<div class="row center-align">
					<div class="col s12">
						<h3>Export Challenges</h3>
						<em><strong> Select Challenges to Export</strong></em>
					</div>
				</div>
				
				<!-- GGM added export all button -->
				<div class="row right-align">
					<div class="col s12 m10 offset-m1">
						<button class="btn waves-effect waves-light" onclick="checkAllBoxes()" type="button" >Select All<i class="material-icons right">select_all</i></button>
					</div>
				</div>
				
				<div class="row">
					<div class="col s12 m10 offset-m1">
							<form name="question" action="/oneUp/instructors/exportChallenges" method="POST">
							{% csrf_token %}
							<div class="card">
								<div class="card-content">
								{% if empty %}
									<blockquote>No Results Where Found</blockquote>
								{% else %} 
									{% for i, chall_ID, chall_name in challenge_range %}
										<p>
										  <input type="checkbox" class="filled-in" name="selected" value="{{chall_ID}}" id="{{chall_ID}}" />
										  <label for="{{chall_ID}}">{{chall_name}}</label>
										</p>
								{% endfor %} 
								{% endif %}
								</div>
								<div class="card-action right-align">
										<button class="btn waves-effect waves-light" type="submit" name="submit">Export<i class="material-icons right">send</i></button>
										<button class="btn waves-effect waves-light" type="reset" name="Reset">Clear<i class="material-icons right">clear_all</i></button>
										<a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><i class="material-icons left">navigate_before</i>Back</a>
								</div>
							</div>
						</form>
						</div>
						</div>
		</main>

		{% include 'footer.html' %}


</body>
</html>