<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
</head>

<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Class Scores</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                {% if ID == '2' %}
                <p class="flow-text">Displaying Earliest Scores</p>
                {% elif ID == '3' %}
                <p class="flow-text">Displaying Highest Scores</p>
                {% elif ID == '4' %}
                <p class="flow-text">Displaying Lowest Scores</p>
                {% else %}
                <p class="flow-text">Displaying Latest Scores</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <table>
                        <thead>
                            <th> Name</th>
                            <th> Total</th>
                            {% for i,chall_Name in challenge_range %}
                            <th>{{chall_Name}} </th>
                            {% endfor %}
                            <th class="secondary-content">
                                <a class="dropdown-button tooltipped" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown1' data-position="top" data-delay="50" data-tooltip="Display"><i class="material-icons" >filter_list</i></a>
                                <ul id='dropdown1' class='dropdown-content'>
                                    <li><a href="/oneUp/instructors/classAchievements?ID={{1}}">Latest Score</a></li>
                                    <li><a href="/oneUp/instructors/classAchievements?ID={{2}}">Earliest Score</a></li>
                                    <li><a href="/oneUp/instructors/classAchievements?ID={{3}}">Highest Score</a></li>
                                    <li><a href="/oneUp/instructors/classAchievements?ID={{4}}">Lowest Score</a></li>
                                </ul>
                            </th>
                        </thead>
                        <tbody>
                            {% for i,first_Name,last_Name,grade_range,allActivityGrade_range, gradeTotal in user_range %}
                            <tr>
                                <div id="student{{i}}">
                                    <td><b>{{first_Name}} {{last_Name}} </b></td>
                                    <td>{{gradeTotal}}</td>
                                    {% for grade,sc_user,sc_chall in grade_range %}
                                    <input type="hidden" name="challID" value="{{sc_user}}">
                                    <input type="hidden" name="challID" value="{{sc_chall}}">
                                    <td><a href="/oneUp/instructors/studentChallengesCompleted?userID={{sc_user}}&challengeID={{sc_chall}}">   {{grade}}</a> {% endfor %}
                                    </td>
                                    {% for activityGrades in allActivityGrade_range %}
                                    <td> {{activityGrades}}</td>
                                    {% endfor %}
                                </div>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>

</html>