<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script src="/static/ThirdParty/Highcharts-stable/highcharts.src.js"></script>
      
      <script>           
	      Highcharts.chart('container', {
	      		
	      		chart: {
	      			type: 'column'
	      		},
	      
	      		title: {
	      			text: '{{user_names}}'
	      		},
	      
	      		subtitle: {
	      			text: ''
	      		},
	      		
	      		xAxis: {
	      			categories: [
	      				'{{user_names}}'
	      			],
	      			crosshair: true      			
	      		},
	      		
	      		yAxis: {
	      			min: 0
	      			title: {
	      				text: 'Number of Goals'
	      			}
	      		},
	      		tooltip: {
	      			headerFormat: '<span style="font-size:10px">{point.key}</span><table>;,'
	      			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
	      			+ '<td style="padding:0"><b>{point.y:.1f}mm</b></td></tr>',
	      			footerFormat: '</table>',
	      			shared: true,
	      			useHTML: true
	      		},
	      		plotOptions: {
	      			column: {
	      				pointPadding: 0.2,
	      				borderWidth: 0
	      			}
	      		},
	      		series: [{
	      			name: 'Created',
	      			data: [{{created}}]
	      		},{
	      			name: 'Completed',
	      			data: [{{completed}}]
	      		},{
	      			name: 'Missed',
	      			data: [{{failed}}]
	      		}]     			
	      		
	      });        
      </script>
      
      
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Goals Visualization</h3>            
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                  {% for i,allGoals in goalsRange %}
                     <script>         
                         document.write('<div class="row"><div class="col s12"><div id="container" class="js-box"></div></div></div>');                        
                         
                     </script>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>