<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <script src="/static/ThirdParty/Highcharts-stable/highcharts.src.js"></script>
      <script>$(function () {	
         var series = [];
         var arrayName = [];
         var arrayData = [];
         var userChartsData = [];
         var skillNames = [];
            
         var userPoints = function() {
                var userArray  = [{% for i, allStudSkillPoints in pointsRange %} 
                 				  	{% for userNames, userSkillPoints in allStudSkillPoints %} 
                       						[ '{{userNames}}',{{userSkillPoints}}]	
                    						{% if not forloop.last %},{% endif %}{% endfor %}
                    					  {% if not forloop.last %},{% endif %}{% endfor %}
                                        ]; 	  
                      return userArray ;
            }
         
         var skills = function() {
               var skillArray  = [{% for i,skillNames in skillsRange %}  
               						'{{skillNames}}'	
            					  	  {% if not forloop.last %},{% endif %}{% endfor %}
                                  ]; 
                return skillArray ;
          	 }
         
         
         $(document).ready(function (){
         
         userChartsData = userPoints();
         skillNames = skills();
         numStudents = userChartsData.length/{{skillsCount}};
         
         //alert("userChartsData: "+userChartsData);
         for (i=0 ; i < skillNames.length ; i++){
         	
         	var options = {chart : {
         		renderTo : 'container'+(i+1),
         		type : 'column'
         	},			
         	title : {
         		text : []
         	},
         	tooltip : {
         		formatter: function() {
                           return ''+ this.series.name +': '+ this.y +' points';
                       }
         	},
         	xAxis : {
         		categories : []
         	},
         	yAxis : {
         		title:{text:'Skill Points'
         		}
         	},
         	credits: {
         	      enabled: false
         	  },
         	series : []
         	};
         	
         	options.title.text.push(skillNames[i]);
         	
         	var dataPoints = [];
         		
         	for (j=0; j < numStudents ; j++){	
         	    options.xAxis.categories.push(userChartsData[i*numStudents+j][0]); 
         		dataPoints[j] = userChartsData[i*numStudents+j][1];
         	}
         
         	var series1 = {
         		name : 'Skill Points',
         		data : dataPoints 
         	}
         
         	options.series.push(series1);
         		
         	//alert(JSON.stringify(options));
         	var chart = new Highcharts.Chart(options);
         	
         	} // end i - skill
         
         });			
           
          });
         
          
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Skills Visualization</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <script>   
                        if({{skillsCount}} <= 0){
                           $(".card-content").append("<blockquote>No Challenges with Skills</blockquote>");
                        }      
                        for (i=0; i < {{skillsCount}} ; i++ )
                        {
                        document.write('<div class="row"><div class="col s12"><div id="container'+(i+1)+'" class="js-box"></div></div></div>');
                        }      

                     </script>
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>