<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
       {% include 'scripts.html' %}
      
      <script src="/static/ThirdParty/Highcharts-4.1.4/api/js/jquery-1.9.1.min.js"></script>
	  <script src="/static/ThirdParty/Highcharts-4.1.4/js/highcharts.js"></script>
	  
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
	 <script>$(function () {	
	 var series1 = [];
	 var arrayName = [];
	 var arrayData = [];
	 var userChartsData = [];
	 var userChallengesNames = [];
	    
	function rows2cols(a) {
		    	  var r = [];
		    	  var t;

		    	  for (var i=0, iLen=a.length; i<iLen; i++) {
		    	    t = a[i];

		    	    for (var j=0, jLen=t.length; j<jLen; j++) {
		    	      if (!r[j]) {
		    	        r[j] = [];
		    	      }
		    	      r[j][i] = t[j];
		    	    }
		    	  }
		    	  return r;
	}	   
	
	 var userPoints = function() {
		        var userArray  = [{% for i,allChallengGrades in challengesRange %} 
		        				  	{% for challengeName,sc_user_name,maxTestScores, mediumTestScores, minTestScores in allChallengGrades %} 
                						[ '{{challengeName}}','{{sc_user_name}}',{{maxTestScores}},{{mediumTestScores}},{{minTestScores}}]	
             						{% if not forloop.last %},{% endif %}{% endfor %}
             					  {% if not forloop.last %},{% endif %}{% endfor %}
                                 ]; 
               // alert('userArray: '+userArray);
                var userArray1 = [] ;
                userArray1Index = 0 ;
                for (i= 0; i<userArray.length; i++ ){    
                	var recordExists = 'N';
                	for (j=0; j <userArray1.length; j++)
                		{
                		  if ((userArray[i][0] == userArray1[j][0]) &&
                		     (userArray[i][1] == userArray1[j][1]) && i!=j
                		     ){
                			  recordExists = 'Y';
                			  
                		  }
                		} 
                	 
                	if (recordExists != 'Y'){
                		userArray1[userArray1Index] = userArray[i];
                		userArray1Index++;
                	}
                }
               // alert('userArray1: '+userArray1);
                var arrayforCharts = rows2cols(userArray1);                
                var index = 0;
                var valueFound = 'N';
                for (i=0 ; i < arrayforCharts[0].length ; i++)
                	{
                	  valueFound = 'N';                	  
                	  if (i == 0)
                	  {
                		  userChallengesNames[index] = arrayforCharts[0][i];
                		  index +=1;
                	  }
                	  else
                		  {
                		    for (j=0; j < userChallengesNames.length ; j++ ){                		    	
                		    	if (arrayforCharts[0][i] == userChallengesNames[j]) {
                		    		valueFound = 'Y';
                		    	}
                		    }
                		    
                		    if (valueFound == 'N'){
                		    	
                		    	userChallengesNames[index] = arrayforCharts[0][i];
                      		  index +=1;
                		    }
                		  } 
                	}             
              // alert('arrayforCharts: '+arrayforCharts);
	           return arrayforCharts;
		    };	
		  

	$(document).ready(function (){
		
		userChartsData = userPoints();
		//alert('userChallengesNames: '+userChallengesNames);
		for (i=0 ; i < userChallengesNames.length ; i++){
			var options = {chart : {
				renderTo : 'container'+(i+1),
				type : 'column'
			},
			title : {
				text : []
			},
			tooltip : {
				formatter: function() {
                    return ''+ this.series.name +': '+ this.y +' points';
                }
			},
			xAxis : {
				categories : []
			},
			yAxis : {
				title:{text:'Points'
				}
			},
			credits: {
			      enabled: false
			  },
			series : []
			};
			
			options.title.text.push(userChallengesNames[i]);
			var MaximumScorePointsAdded = 'Y';
			var MediumScorePointsAdded = 'Y' ;
			var MinimumScorePointsAdded = 'Y';
			var TotalSkillPointsAdded = 'Y';
			for (k = 0; k < userChartsData.length ; k++){		
			
			  	for (j=0; j < userChartsData[0].length ; j++){	
			  		//alert('userChartsData[0].length : '+userChartsData[0].length);
					if (userChallengesNames[i] == userChartsData[0][j]){	
						
						if (k == 1){							
						//	alert('userChartsData[1][j]: '+userChartsData[1][j]);
						   options.xAxis.categories.push(userChartsData[1][j]);
						}
						else if (k == 2){							
							if (MaximumScorePointsAdded == 'Y'){
									var dataPoints = [];
									dataPointsIndex = 0;
									
									for (l= 0 ; l < userChartsData[0].length ; l++)
										{
										  if (userChallengesNames[i] == userChartsData[0][l]){
											  dataPoints[dataPointsIndex] = userChartsData[2][l];
											  dataPointsIndex++;
											}
										}
									
									var series1 = {
										name : 'MaximumScorePoints'	,
										data : dataPoints 
									}
									options.series.push(series1);
									MaximumScorePointsAdded = 'N';
								}
							 }	
													
						else if (k == 3){
							if (MediumScorePointsAdded == 'Y')	{
								var dataPoints3 = [];
								dataPointsIndex3 = 0;
								
								for (l= 0 ; l < userChartsData[0].length ; l++)
									{
									  if (userChallengesNames[i] == userChartsData[0][l]){
										//  alert('userChartsData[3][l]'+userChartsData[3][l]);
										  dataPoints3[dataPointsIndex3] = userChartsData[3][l];
										  dataPointsIndex3++;
										}
									}
								var series11 = {
										name : 'AverageScorePoints'	,
										color: 'darkblue', 
										data : dataPoints3 
									}
								
								options.series.push(series11);
								MediumScorePointsAdded = 'N';
								}
											
							}
						else if (k == 4){
							if (MinimumScorePointsAdded == 'Y')	{
								var dataPoints4 = [];
								dataPointsIndex4 = 0;
								
								for (l= 0 ; l < userChartsData[0].length ; l++)
									{
									  if (userChallengesNames[i] == userChartsData[0][l]){
										 // alert('userChartsData[4][l]'+userChartsData[4][l]);
										  dataPoints4[dataPointsIndex4] = userChartsData[4][l];
										  dataPointsIndex4++;
										}
									}
								var series111 = {
										name : 'MinimumScorePoints'	,
										color: 'lightgreen', 
										data : dataPoints4 
									}
								
								options.series.push(series111);
								MinimumScorePointsAdded = 'N';
								}
											
							}//k if end
						
						}
							
					}
				
				}
			//alert(JSON.stringify(options));
			var chart = new Highcharts.Chart(options);
			}			
			
	}	);  
    
});</script>
   </head>  
   
   <body>
     <div>

        {% include 'heading.html' %}

         <!-- <div class="frame"> -->
         <div class="frame"  id="grad" align="center">
            <br />
            <br />
         	<br />
        	<br />  
        	 {% if serious %}
               <h2>Serious Challenges</h2>
             {% endif %}
        	 {% if warmUp %}
               <h2>Warm-Up Challenges</h2>
             {% endif %}             
                <br />
                            
       <table>
<!--           <tr>
             <td colspan="2" align="left" style="font-size:0.8em;" width="50%" >
               <b style="color:white;">Challenges</b>
             </td>
            
         </tr>                    
 -->         
         <script>         
          for (i=0; i < {{challengesCount}} ; i++ )
        	  {
        	  document.write('<tr><td colspan="2"><div id="container'+(i+1)+'" class="js-box" style="width:1060px; "></div></td></tr>');
        	  }        	  
         </script>
   

 
         </table>
                 
               </div>
            </section>
         </div>
      </div>
       
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>
     
   </body>
</html>
