<!DOCTYPE html>
<html lang="en">
   <head>
    {% include 'scripts.html' %}
    <script>
        $( document ).ready(function(){
            var endDate = $('#endTime').bootstrapMaterialDatePicker({
                weekStart: 0, time: false, format: 'MMMM D, Y'
            }).on('change', function(e, date) {
                $('#startTime').bootstrapMaterialDatePicker('setMaxDate', date);
            });;
            
            var startDate = $('#startTime').bootstrapMaterialDatePicker({
                weekStart: 0, time: false, format: 'MMMM D, Y'
            }).on('change', function(e, date) {
                $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
            });
        });
    </script>
   </head>
   <body>
        {% include 'heading.html' %}
        <main>
            <div class="row center-align" style="margin-bottom: 0;">
                <div class="col s12">
                    <h3>Course Configuration</h3>
                </div>
            </div>
            <form name="CourseConfigParam" action="/oneUp/instructors/courseConfiguration" method="POST">
            {% csrf_token %} 
            <input type="hidden" name="ccpID" id="ccpID" value="{{ccpID}}">
            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Availability</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Make Course Available
                                        {% if courseAvailable %}
                                        <input name="courseAvailable" type="checkbox" checked>
                                        {% else %}
                                        <input name="courseAvailable" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Duration</span>
                            <div class="row">
                                <div class="col s12 m6">
                                    <label for="startTime">Course Start Date</label> 
                                    <input type="text" class="datepicker-from" name="courseStartDate" value="{{courseStartDate}}" id="startTime">
                                </div>
                                <div class="col s12 m6">
                                    <label for="endTime">Course End Date</label> 
                                    <input type="text" class="datepicker-until" name="courseEndDate" value="{{courseEndDate}}" id="endTime">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Warmup Challenges</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Warmup Support
                                        {% if warmupsUsed %}
                                        <input name="warmupsUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="warmupsUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
             <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Serious Challenges</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Serious Challenges
                                        {% if seriousUsed %}
                                        <input name="seriousUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="seriousUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
                <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Display the Serious Challenges List By Topics</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Grouping
                                        {% if seriousChallengesGrouped %}
                                        <input name="seriousChallengesGrouped" type="checkbox" checked>
                                        {% else %}
                                        <input name="seriousChallengesGrouped" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
             <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Activities</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Activities
                                        {% if activitiesUsed %}
                                        <input name="activitiesUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="activitiesUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
             <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Skills</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Skills
                                        {% if skillsUsed %}
                                        <input name="skillsUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="skillsUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Gradebook</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Gradebook
                                        {% if gradebookUsed %}
                                        <input name="gradebookUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="gradebookUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Announcements</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Announcements
                                        {% if announcementsUsed %}
                                        <input name="announcementsUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="announcementsUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Chat</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Chat Support
                                        {% if chatUsed %}
                                        <input name="chatUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="chatUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div> -->
           
                   <div class="row" style="margin-bottom: 0;">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Attendance Streaks</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Attendance Streaks
                                        {% if attendanceUsed %}
                                        <input name="attendanceUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="attendanceUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Set Gamification</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Gamification Support
                                        {% if gamificationUsed %}
                                        <input name="gamificationUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="gamificationUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
               
                <div class="row">
                    <div class="col s12 m4 offset-m8">
                        <button class="btn waves-effect waves-light" type="submit" name="save" value="Save">Save<i class="material-icons right">done</i></button> 
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><i class="material-icons right">close</i>Cancel</a>
                    </div>
                </div>
            </form>
        </main>
        {% include 'footer.html' %}
    </body>
</html>