<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
    <script>
        $(document).ready(function () {
            var endDate = $('#endTime').bootstrapMaterialDatePicker({
                weekStart: 0,
                time: false,
                format: 'MMMM D, Y'
            }).on('change', function (e, date) {
                $('#startTime').bootstrapMaterialDatePicker('setMaxDate', date);
            });;

            var startDate = $('#startTime').bootstrapMaterialDatePicker({
                weekStart: 0,
                time: false,
                format: 'MMMM D, Y'
            }).on('change', function (e, date) {
                $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
            });
        });
    </script>
    <style>
        .card{
            margin-top:25px!important;
            padding-top:0px!important;
        }
    </style>
</head>

<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align" style="margin-bottom: 0;">
            <div class="col s12">
                <h3>Adaptation Configuration</h3>
            </div>
        </div>
        <form name="AdapationConfiguration" action="/oneUp/instructors/CreatePlayerType" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ccpID" id="ccpID" value="{{ccpID}}">
            <div class="row" style="margin-bottom: 0;">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Name</span>
                            <div class="row">
                                <div class="col s12">
                                    <label for="name">Adapation Profile Name</label>
                                    <input type="text" class="datepicker-from" name="name"
                                        value="{{name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Badges</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Badges
                                        {% if courseAvailable %}
                                        <input name="badgesUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="badgesUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Progress Bar</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Progress Bar
                                        {% if warmupsUsed %}
                                        <input name="progressBarUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="progressBarUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card"  style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Achievements Configuration</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Achievement Page
                                        {% if displayAchievementPage %}
                                        <input name="displayAchievementPage" type="checkbox" checked>
                                        {% else %}
                                        <input name="displayAchievementPage" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Virtual Currency</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Virtual Currency
                                        {% if virtualCurrencyUsed %}
                                        <input name="virtualCurrencyUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="virtualCurrencyUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col s6">
                    <div class="card"  style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Classmate Challenges</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable the use of Duels and Callouts
                                        {% if classmateChallenges %}
                                        <input name="classmateChallenges" type="checkbox" checked>
                                        {% else %}
                                        <input name="classmateChallenges" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Allow students to bet virtual currency in duels
                                        {% if betVC%}
                                        <input name="betVC" type="checkbox" checked>
                                        {% else %}
                                        <input name="betVC" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Leveling</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Leveling
                                        {% if levelingUsed %}
                                        <input name="levelingUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="levelingUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Student Course Home Page</span>
                            <div class="row">
                                <p>
                                    <input class="with-gap" name="displayStudentStartPageSummary" type="radio"
                                        id="displayStudentStartPageClass" value="False"
                                        {% if displayStudentStartPageSummary == False %} checked {%endif%} />
                                    <label for="displayStudentStartPageClass">Display only class/group
                                        achievements</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="displayStudentStartPageSummary" type="radio"
                                        value="True" id="displayStudentStartPageSummary"
                                        {% if displayStudentStartPageSummary == True %} checked {%endif%} />
                                    <label for="displayStudentStartPageSummary">Display summary of student
                                        achievements</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Leaderboard</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Leaderboard
                                        {% if leaderboardUsed %}
                                        <input name="leaderboardUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="leaderboardUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Student Goals</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable the use of goal setting for students
                                        {% if goalsUsed %}
                                        <input name="goalsUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="goalsUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                    
                </div>
                
                </div>
            </div>





            <div class="row">
                <div class="col s12 m4 offset-m8">
                    <button class="btn waves-effect waves-light" type="submit" name="save" value="Save">Save<i
                            class="material-icons right">done</i></button>
                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><i
                            class="material-icons right">close</i>Cancel</a>
                </div>
            </div>
        </form>
    </main>
    {% include 'footer.html' %}
</body>

</html>