<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
        {% include 'scripts.html' %}
      
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
		
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>
     
         {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
               <h1>Students</h1>
               <br />
                  <!-- INSERTED DYNAMIC TABLE -->
                  <a href="/oneUp/instructors/createStudentView"><input type="button" value="Add New Student"></a>
<!--                   <a href="/oneUp/instructors/importStudents"><input type="button" value="Import Students"></a> -->
                 <br />  <br />
                  <table class="bg">
                     <tr>
                     	<th> </th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Last Log in</th>
                        <th> </th>
                     </tr>
                     {% for i,userID,first_Name,last_Name,user_Email,user_Login,user_Avatar in user_range %}
                     <tr>
                        <div id="student{{i}}">
                           <td><img alt="Avatar Image" width="35" height="35" src="{{user_Avatar}}"></td> 
                           <td>{{first_Name}}</td>
                           <td>{{last_Name}}</td>
                           <td>{{user_Email}}</td>
                           <td>{{user_Login}}</td>
                           <td align="right">
                              <form action="/oneUp/instructors/deleteUser " method="POST">
                                 {% csrf_token %} 
                                 <input type="hidden" name="userID" value="{{userID}}">
                                 <a href="/oneUp/instructors/createStudentView?userID={{userID}}"><button type="button">Edit</button></a>                                                                       
                                 <!--a href="/oneUp/instructors/challengeEditOutlook?challengeID={{activity_ID}}"><button type="button" >View </button></a  -->                                                                                                                                                                                       
                                 <input  type="submit" name="submit" value="Delete" class="button" onclick="return confirm('Are you sure you want to delete {{userID}}?')">
                              </form>
                           </td>
                        </div>
                     </tr>
                     {% endfor %}
                  </table>
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
         </div>
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>
    
   </body>
</html>