<!DOCTYPE html>
<html lang="en">

<head>
   {% include 'scripts.html' %}
   <style>
   .waves-effect.waves-cyan .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #69e2f1ce;
    }
    table tr td {
			padding: 0 0 0 12px;
			height: 48px;
			/* font-size: 13px; */
			/* color: rgba(0, 0, 0, 0.87); */
			/* border-bottom: solid 1px #DDDDDD; */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
      }
		table td:first-child {
			padding: 0 0 0 8px;
      }
		table td:last-child {
			padding: 0 14px 0 0;
		}
   </style>
</head>

<body>
   {% include 'heading.html' %}
   <main>
      <div class="row center-align">
         <div class="col s12">
            <h3>Students</h3>
         </div>
      </div>
      <div class="row right-align">
         <div class="col s12 m10 offset-m1">
            <form id="uploadbanner" name="uploader">
               {% csrf_token %}
               <input type="hidden" name="file_number" id="file_number" value="">
               <div class="row">
                  <div class="row right-align">
                     <div class="col s6" style="position:relative; top:4.7em; left:36em;">
                        <div class="file-field input-field">
                           <div class="btn">
                              <span>Select Import File</span>
                              <input id="fileupload" name="studentslist" type="file">
                           </div>
                           <div class="file-path-wrapper ">

                              <input class="file-path validate" type="text" placeholder="Import Students" width="20px">
                           </div>
                        </div>
                     </div>
                     <input type="hidden" id="file_type" name="file_number" value="1">
                     <!-- <div class="input-field col s6">
                        <select id="file_type" name="file_number">
                           {% for i, csv_type in file_types %}
                           {% if csv_type.display_name == "OneUp" %}
                           <option value="{{i}}">File Type: {{csv_type.display_name}}</option>
                           {% endif %}
                           {% endfor %}
                        </select>
                     </div> -->
                  </div>
                  <button class="btn waves-effect waves-light" type="button" id="Upload" name="upload" value="Import"
                     onclick="importStudents()">Import Students
                     <i class="material-icons right">file_upload</i>
                  </button>
               </div>
            </form>
            <a class="waves-effect waves-light btn" href="/oneUp/instructors/addStudentListView"><i
                  class="material-icons left">add_circle</i>Add Existing Student</a>
            <a class="waves-effect waves-light btn" href="/oneUp/instructors/createStudentView"><i
                  class="material-icons left">add_circle</i>Add New Student</a>
                  <!-- <a class="modal-trigger" href="#users-modal">Debug</a> -->
         </div>
      </div>
      <div class="row">
         <div class="col s12 m10 offset-m1">
            <div class="card-panel">
               <table class="responsive-table">
                  <thead>
                     <tr>
                        <th>Avatar</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Last Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for i,userID,first_Name,last_Name,user_Email,user_Action, user_Avatar, pk in user_range %}
                     <tr>
                        <td><img alt="Avatar Image" class="circle" width="28" height="28"  src="{{user_Avatar}}"></td>
                        <td>{{first_Name}}</td>
                        <td>{{last_Name}}</td>
                        <td>{{user_Email}}</td>
                        <td>{{user_Action}}</td>
                        <td>
                           <form action="/oneUp/instructors/deleteStudent" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="userID" value="{{userID}}">
                              <input type="hidden" name="student_internal_id" id="student_internal_id" value="{{pk}}">
                              <a class="dropdown-button tooltipped secondary-content" href="#!"
                                 data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown-{{i}}'
                                 data-position="right" data-delay="50" data-tooltip="Options"><i
                                    class="material-icons">more_vert</i></a>
                              <ul id='dropdown-{{i}}' class='dropdown-content'>
                                 <li><a href="/oneUp/instructors/createStudentView?userID={{userID}}">Edit</a></li>
                                 <li class="divider"></li>
                                 <li><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
                              </ul>
                              <div id="modal_delete-{{i}}" class="modal">
                                 <div class="modal-content">
                                    <h5>Are you sure you want to delete?</h5>
                                 </div>
                                 <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                                    <button class="modal-action modal-close waves-effect waves-light btn-flat"
                                       type="submit" name="submit" value="Delete">Delete
                                    </button>
                                 </div>
                              </div>
                           </form>
                        </td>
                     </tr>
                     {% empty %}
                     <tr>
                        <td class="center-align" colspan="5"><i>No Students</i></td>
                     </tr>
                     {% endfor %}
                  </tbody>
                  <tbody class="hide-on-large-only mobile-table-padding"></tbody>
               </table>
            </div>
         </div>
      </div>
      <div id="users-modal" class="modal">
         <form id="savepasswords" name="savepasswords">
            {% csrf_token %}
            <div class="modal-content">
               <h4>Generated Student Passwords</h4>
               <p>We generated passwords for students that are new to OneUp. Please copy these passwords to a safe place and feel free to edit them here.
                  <b>After closing this window these passwords will not be shown again.</b></p>
               <ul class="collection">
                  <li class='collection-item'>
                     <table class="responsive-table highlight">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Student</th>
                              <th>Password</th>
                              
                           </tr>
                        </thead>
                        <tbody id="users">
                           <!-- <tr>
                              <td><span class="new badge indigo" style='margin-left: 0;' data-badge-caption="">New</span></td>
                              <td>Sam Man (sman432@fsu.edu)</td>
                              <td>
                                 <div style="display: flex;">
                                    <div class="input-field col s6 s12" style="width: 90%;">
                                       <input type="text" placeholder="change" class="validate" id="default-input" style="display:none;">
                                       <p id="default-text" style="height: 3.05rem; line-height: 3.1rem; width: 100%; margin-bottom: 8px; margin-top: 0;">change</p>
                                    </div>
                                    
                                    <a id="edit-password" class="waves-effect waves-cyan waves-light btn-flat" style="padding: 0; margin-right: 16px; align-self: center; border-radius: 60px; width: 38px; display: flex;">
                                       
                                       <i class="material-icons prefix" style="right: 0; padding-left: 6px;">check</i>
                                       <div style="font-size: 0.8rem; padding-left: 4px;" >done</div>
                                    </a>
                                 </div>   
                              </td>
                              
                              
                           </tr>
                           <tr>
                              <td></td>
                              <td>Sam Man (sman432@fsu.edu)</td>
                              <td>This student is already using OneUp</td>
                              
                           </tr> -->
                        </tbody>
                        <tbody class="hide-on-large-only mobile-table-padding"></tbody>
                     </table>
                  </li>
               </ul>
            </div>
            <div class="modal-footer">
               <button type="button" onclick="saveImportedStudentsPasswords()" class="modal-action waves-effect waves-light btn-flat secondary-colored-text">Close</button>
            </div>
         </form>
      </div>
   </main>
   {% include 'footer.html' %}
</body>
<script>
   function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
            }
         }
      }
      return cookieValue;
   }

   function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
   }

   var csrftoken = getCookie('csrftoken');
   $.ajaxSetup({
      beforeSend: function (xhr, settings) {
         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
         }
      }
   });

   function validateFileSelection() {
      x = document.forms["uploader"]["studentslist"].value;
      // email_domain_data = document.forms["uploader"]["email_domain_name"].value;
      if (x == "") {
         alert("Please choose a file.");
         return false;
      }

      // if (email_domain_data == "") {
      //    alert("Please input a email domain name.");
      //    return false;
      // }
   }
   function validatePasswords(){
      var inputs = $("input[id^='default-input-']");
      for(var i = 0; i < inputs.length; i++){
         if(inputs[i].value.replace(/^\s+|\s+$/g, "").length == 0){
            alert("Please input a password.");
            return false;
         }
         if(inputs[i].style.display != "none"){
            alert("Please confirm the password.");
            return false;
         }
      }
   }

   function importStudents() {
      //   console.log("validating");
      if (validateFileSelection() == false) return false;

      $.ajax({
         type: "POST",
         url: "/oneUp/instructors/importStudentsView",
         data: new FormData($('#uploadbanner')[0]),
         cache: false,
         contentType: false,
         processData: false,
         success: function (response) {
            console.table(response);
            let users = response['users'];

            // If there are no users just go ahead and refresh the page
            if (users.length == 0) {
               window.location.reload();
               return;
            }

            let users_container = $("#users");
            users_container.empty();
            if(file_type.value == 0)
               users_container.append("<input type='hidden' name='users' value='"+ JSON.stringify(users)+"'>\n");
            else
               users_container.append("<input type='hidden' name='users' value='"+ JSON.stringify(users)+"'>\n"); // Not sure why the OneUp csv was un-escaped.

            // Add the users information to users container
            for (var index = 0; index < users.length; index++) {
               let user_info = users[index];
               if (user_info['new'] == true) {
                  users_container.append("<tr>\n" +
                     "<td><span class='new badge indigo' style='margin-left: 0;' data-badge-caption=''>New</span></td>\n" +
                     "<td>" + user_info['first-name'] + " " + user_info['last-name'] + "</td>\n" +
                     "<td>\n" +
                     "<div style='display: flex;'>\n" +
                        "<div class='input-field col s6 s12' style='width: 90%;'>\n" +
                           "<input type='text' placeholder='' id='default-input-"+user_info['id']+"' name='default-input-"+user_info['id']+"' style='display:none;' value='" + user_info['password'] + "'>\n" +
                           "<p id='default-text-"+user_info['id']+"' style='height: 3.05rem; line-height: 3.1rem; width: 100%; margin-bottom: 8px; margin-top: 0;'>" + user_info['password'] + "</p>\n" +
                        "</div>\n" +
                        "<a id='edit-password' value="+user_info['id']+" class='waves-effect waves-cyan waves-light btn-flat' style='padding: 0; margin-right: 16px; align-self: center; border-radius: 60px; width: 38px; display: flex;'>\n" +
                           "<i class='material-icons prefix' style='right: 0; padding-left: 6px;'>edit</i>\n" +
                           "<div style='font-size: 0.8rem; padding-left: 4px; display: none;'>confirm</div>\n"+
                        "</a>\n" +
                     "</div>\n" +
                     "</td>\n" +   
                     
                     "</tr>");
               } else {
                  users_container.append("<tr>\n" +
                     "<td></td>\n" +
                     "<td>" + user_info['first-name'] + " " + user_info['last-name'] + "</td>\n" +
                     "<td>Already in Oneup System</td>\n" +
                     
                     "</tr>");
               }
            }
            // Show the users
            $('#users-modal').modal('open');
         }
      });
      return false;
   }
   function saveImportedStudentsPasswords() {
      //   console.log("validating");
      if (validatePasswords() == false) return false;
      $('#users-modal').modal('close');
      $.ajax({
         type: "POST",
         url: "/oneUp/instructors/saveImportStudentsPasswords",
         data: new FormData($('#savepasswords')[0]),
         cache: false,
         contentType: false,
         processData: false,
         success: function (response) {
        	window.location.reload();
         },
      });
      return false;
   }
   $(function () {
      $('#users-modal').modal({
         dismissible: false, // Modal can be dismissed by clicking outside of the modal
         opacity: .5, // Opacity of modal background
         inDuration: 300, // Transition in duration
         outDuration: 200, // Transition out duration
         startingTop: '4%', // Starting top style attribute
         endingTop: '10%', // Ending top style attribute

      });
      
      var isAnimating = false;
      $('#users').on('click', '#edit-password', (element) => {

         if (isAnimating) {
            return;
         }

         isAnimating = true;

         // Start animation. Add a css class or do this by javascript or whatever

         
         var id = $(element.currentTarget).attr("value");
         if($("#default-input-"+ id.toString()).css("display") == "none"){
            $("#default-text-"+ id.toString()).hide();
            $("#default-input-"+ id.toString()).show();

            $(element.currentTarget).css("width", "120px");
            
            // May have to add icon back since it sometimes gets deleted on click for some odd reason
            if($(element.target).attr('id') == "edit-password"){
               $(element.target).append("<i class='material-icons prefix' style='right: 0; padding-left: 6px;'>check</i>\n"+
                                       "<div style='font-size: 0.8rem; padding-left: 4px;'>done</div>");
            } else if ($(element.target).is('div')) {
               console.log($(element));
               
               $(element.currentTarget).children().eq(0).text("check");
               $(element.currentTarget).children().eq(1).show();
            } else {
               $(element.target).text("check");
               $(element.currentTarget).children().eq(1).show();
            }
            $(element.currentTarget).css("color" , "#00bcd4");

         } else {
            if($("#default-input-"+ id.toString()).val().replace(/^\s+|\s+$/g, "").length != 0){
               $("#default-input-"+ id.toString()).hide();
               $("#default-text-"+ id.toString()).text($("#default-input-"+ id.toString()).val());
               $("#default-text-"+ id.toString()).show();
               
               
               $(element.currentTarget).css("width", "38px");

               if($(element.target).attr('id') == "edit-password"){
                  $(element.target).append("<i class='material-icons prefix' style='right: 0; padding-left: 6px;'>edit</i>\n"+
                                          "<div style='font-size: 0.8rem; padding-left: 4px; display: none;'>done</div>");
               } else if ($(element.target).is('div')) {
                  console.log($(element));
                 
                  $(element.currentTarget).children().eq(0).text("edit");
                  $(element.currentTarget).children().eq(1).hide();
               } else {
                  $(element.target).text("edit");
                  $(element.currentTarget).children().eq(1).hide();
               }
               $(element.currentTarget).css("color" , "black");
            } else {
               $("#default-input-"+ id.toString()).focus();
            }
         }
         // Assuming the animation duration is 2 seconds
         setTimeout(function() {
            isAnimating = false;
         }, 700);

      });
      // var enabled = false;
      // $("#edit-password").click((element) =>{
      //    enabled != enabled;
      //    if(enabled){
      //       $("#default-text").hide();
      //       $("#default-input").show();
            
      //       // May have to add icon back since it sometimes gets deleted on click for some odd reason
      //       if($(element.target).attr('id') == "edit-password"){
      //          $(element.target).append("<i class='material-icons prefix' style='right: 0; padding-left: 6px;'>check</i>\n")
      //       } else {
      //          $(element.target).text("check");
      //       }
      //    } else {
      //       if($("#default-input").val().replace(/^\s+|\s+$/g, "").length != 0){
      //          $("#default-input").hide();
      //          $("#default-text").text($("#default-input").val());
      //          $("#default-text").show();
      //          if($(element.target).attr('id') == "edit-password"){
      //             $(element.target).append("<i class='material-icons prefix' style='right: 0; padding-left: 6px;'>edit</i>\n")
      //          } else {
      //             $(element.target).text("edit");
      //          }
      //          $(element.target).css("color" , "black");
      //       } else {
      //          $("#default-input").focus();
      //       }
      //    }
      // });
   });
</script>

</html>