<!DOCTYPE html>
<html lang="en">

<head>

  {% include 'scripts.html' %}

  <!-- JQuery lib for searching select box -->

  <script>
      // Updates the objects section
    function updateObjects () {
      var sysVar = $('#sysVar').find(":selected").val();
      $('#objectSelect').material_select();
      $("#objectSelect").empty().html(' ');
      $('#objectSelect').append('<option disabled selected value> Select an Object Type </option>');
      $('#objectSelect').append('<option value="all" name="objectType">All</option>');

      $.post( "/oneUp/instructors/getObjsForSysVar", {sysVarIndex : sysVar} ,function( data ) {
        var count = 0;
        for (obj in data['objects']) {
          objIndex = obj;
          objName = data['objects'][obj];
            $('#objectSelect').append('<option value='+obj+'>'+objName+'</option>');
          $("#objectSelect").material_select('update');
        }
        console.table(data)
        $("#time_period_selector").css("display", data['is_periodic'] == true ? 'block' : 'none');
    });
    //$( "#debugForm" ).submit();
    };

  </script>
</head>

<body>

  {% include 'heading.html' %}

  <main>
    <div class="row center-align">
      <div class="col s12">
        <h3>System Variables Debug</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m10 offset-m1">

        <form name="debugForm" id="debugForm" enctype="multipart/form-data" action="/oneUp/instructors/debugSysVars"
          method="POST">
          {% csrf_token %}
          <div style="display: flex;">
          <div class="input-field col s4" id="student">
            <select name="student" form="debugForm" id="studentSelect" onchange="this.form.submit()">
              <option value="all" name="student">All</option>
              {% for i,userID,first_Name,last_Name,user_Avatar in user_range %}
              {% if userID == currentStudet %}
              <option value={{userID}} name="student" selected>{{first_Name}} {{last_Name}}</option>
              {% else %}
              <option value={{userID}} name="student">{{first_Name}} {{last_Name}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <label for="studentDebug">Filter by Student Names</label>
          </div>


          <div class="input-field col s4" id="eventSelector">
            <select name="sysVar" form="debugForm" id="sysVar" onchange="updateObjects()">
                <option disabled selected value> Select a System Variable </option>
                
                <optgroup label="System Variables">
                {% for i, sysVarNumber, sysVarName in sysVars %}
                  <option value={{sysVarNumber}}  {% if sysVarNumber == currenSysVar %}selected {% endif %}>{{sysVarName}}</option>
                {% endfor %}
                </optgroup>
                <optgroup label="Periodic Variables">
                  {% for var in periodic_variables %}
                    <option value={{var.index}} {% if var.index == currenSysVar %} selected {% endif %}>{{var.displayName}}</option>
                  {% endfor %}
                </optgroup>
            </select>
            <label for="studentDebug">Filter by System Variable</label>
          </div>
          <div class="input-field col s4" id="time_period_selector" {% if not periodic_var_selected %}style="display: none;"{% endif %}>
            <select name="time_period" form="debugForm" onchange="updateObjects()">
                <option disabled selected value> Select a Time Period </option>
                {% for var in time_periods %}
                  <option value={{var.index}} {% if var.index == current_tp %} selected {% endif %}>{{var.displayName}}</option>
                {% endfor %}
            </select>
            <label for="studentDebug">Filter by a Time Period</label>
          </div>
          

          <div class="input-field col s4" id="objectSelector">
            <select name="objectType" form="debugForm" id="objectSelect" onchange="this.form.submit()">
              <option disabled selected value> Select an Object Type </option>
              {% if isAll %}
                <option value="all" selected>All</option>
              {% else %}
                <option value="all">All</option>
              {% endif %}
              {% for i, obj, objName in objects %}
              {% if obj == currentObj %}
              <option value={{obj}} selected>{{objName}}</option>
              {% else %}
              <option value={{obj}}>{{objName}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <label for="studentDebug">Filter by Object Type</label>
          </div>
        </div>
        </form>


        
        <div class="card">
          <div class="card-content">
            <table>
              <thead>
                <th></th>
                <th>Student Name</th>
                <th>Assignment</th> 
                <th>Object Type</th>
                <th>Value</th>
              </thead>
              <tbody>
                {% for data in debugData %}
                <tr>
                  <td><img class="circle" alt="Avatar Image" width="36" height="36" src="{{data.5}}"></td>
                  <td>{{data.0}}</td>
                  <td style="max-width: 40vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{data.1}}</td>
                  <td>{{data.2}}</td>
                  <td>{{data.4}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td class="center-align" colspan="8"><i>No students debug data available</i></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>