{% if error %}
	<p><strong>Lua Error:</strong> 
	{% if error.type == 7702 %} <!-- Module Not Found Error -->
		Module not found.</p>
		<p>The module '{{error.module}}' does not exist despite being referenced in 
			{% if error.source == "module" %} module {{error.file}}
			{% else %} the following code segment: {% include 'Instructors/CodeSegmentError.html' %}
			{% endif %}
		</p>
	{% elif error.type == 7704 %} <!-- Required part not defined -->
		Required function not defined.</p>
		<p>Each problem part must have the function <tt>{{error.function_name}}</tt> defined.  The code for this question does not have that function defined.
		This can be caused either by omitting or misspelling the function in raw lua code or by certain syntax errors before the function definition
		in either raw lua or template mode.  Unfortunately, we have no other information about the location of the error.</p>
	{% elif error.type == 7701 or error.type == 7703 %} <!-- Syntax Error or Runtime Error (any sort) -->
		{% if error.type == 7701 %} Syntax {% else %} Runtime {% endif %} Error in Lua code. </p>
		<p>There was a {% if error.type == 7701 %} syntax {% else %} runtime {% endif %} error with message: <pre>{{error.message}}</pre></p>
			This is on line {{error.line}} of 
			{% if error.source == "module" %}
				module {{error.file}}
			{% else %}
				the following code segment: {% include 'Instructors/CodeSegmentError.html' %}
			{% endif %}
		</p>
	{% endif %}
{% endif %}
{% if evaluations %}
	<table class="bg">
	  {% for answer in evaluations %}
	  	<tr><td>	
	  	{% if answer.success %}
	  		<span style='color: green;'>&#10004;</span>
	  	{% else %}
			<span style='color: red;'>&#10006;</span>
		{% endif %}
		You got {{answer.value}} points on answer {{answer.name}} 

	  	{% if answer.details %}
	  		<ul>
	  		{% for detail in answer.details %}
	  			<li>
	  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  				{%if detail.success%}
						  <span style='color: green;'>&#10004;</span>
	  				{%else%}
					      <span style='color: red;'>&#10006;</span>
	  				{% endif %}
	  				{{detail.value}}/{{detail.max_points}} points on criteria: {{detail.name}} 
	  			</li>
	  		{% endfor %}
	  		</ul>
	  	{% endif %}
	  	</tr></td>
	 {% endfor %}
	</table>
{% endif %}
<div id="{{uniqid}}-{{part}}-exact">
  <div class="darkClassParent">
    <div id="{{uniqid}}-{{part}}-darkLayer" class="darkClass" style="display:none"></div>
    {{formhead|safe}}
    {% csrf_token %}
    <input name="{{type}}" type="hidden" value="yup">
    {{formbody|safe}}
  </div>
</div>

<div id="{{uniqid}}-{{partplusone}}-results">
</div>