<!DOCTYPE html>

<html lang="en">

<head>
   {% include 'scripts.html' %}
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
      $(function () {
         $("#sortableGroups").sortable({

            stop: function (event, ui) {

               var itemOrder = $('#sortableGroups').sortable("toArray");

               var idsPositions = []

               for (var i = 0; i < itemOrder.length; i++) {
                  if (itemOrder[i]) {
                     console.log("Position: " + i + " ID: " + itemOrder[i]);
                     idsPositions.push(String(itemOrder[i]) + "---" + String(i));
                  }
               }

               var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

               console.log(idsPositions)

               $.post("/oneUp/instructors/ReorderGroups", {
                  groupIdsPositions: idsPositions,
                  csrfmiddlewaretoken: csrftoken,
               }, function (data) {
                  console.log(data)
               });

            }
         });
      });

      function validateFlashcard(front) {
         cardFront = document.getElementById(front).value;
         console.log(cardFront);
         function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
               var cookies = document.cookie.split(';');
               for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                  }
               }
            }
            return cookieValue;
         }

         function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
         }

         var csrftoken = getCookie('csrftoken');
         $.ajaxSetup({
            beforeSend: function (xhr, settings) {
               if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
               }
            }
         });
         $.ajax({
            type: "POST",
            url: "/oneUp/instructors/validateFlashCard",
            data: {
               'flashcard-front': cardFront // from form
            },
            success: function (data) {
               if (data.duplicate){
                  console.log("Dupe");
                  alert("A flash card with this front side already exists.")
                  location.reload();
               }
               else{
                  console.log("Unique")
               }
               
            }
         });
      }
   </script>
</head>

<body>
   {% include 'heading.html' %}
   <main>
      <div class="row center-align">
         <div class="col s12">
            <h3>Flash Card Groups</h3>
         </div>
      </div>
      <div class="row right-align">
         <div class="col s12 m10 offset-m1">

            <a class="waves-effect waves-light btn" href="/oneUp/instructors/groupCreate">
               <i class="material-icons left">add_circle</i>Add New Group</a>
            <a class="waves-effect waves-light btn" href="#!" onclick="clear_card()">
               <i class="material-icons left">add_circle</i>Add A Flashcard</a>

            <div id="flashcard-modal" class="modal">
               <div class="modal-content">
                  <div class="row center-align">
                     <form id="flashcard-form" name="flashcard"
                        action="/oneUp/instructors/createFlashCard" method="POST">
                        {% csrf_token %}
                        <h4 id="flashcard-modal-title">Create a Flashcard</h4>
                        <!-- <input id='flashcard-id' type='hidden' name='flashcard-id' value='' /> -->
                        
                        <div class="row center-align" style="margin-top: 50px;">

                           <label class="left" for="flashcard-name"><span class="red-text">*</span>
                              Flashcard Name</label>
                           <input value="{{card.flashName}}" name="cardName" id="flashcard-name"
                              type="text" class="validate">

                        </div>
                        <div class="row center-align" style="margin-top: 50px;">
                           <label class="left" for="flashcard-front"><span
                                 class="red-text">*</span>Front</label>
                           <textarea id="flashcard-front" name="front" class="materialize-textarea"
                              data-length="5000" required>{{card.front}}</textarea>

                        </div>
                        <div class="row center-align" style="margin-top: 50px;">
                           <label class="left" for="flashcard-back"><span
                                 class="red-text">*</span>Back</label>
                           <textarea id="flashcard-back" name="back" class="materialize-textarea"
                              data-length="5000" required>{{card.back}}</textarea>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <select id="flashcard-groups" name="cardGroups" multiple>
                              <option value="" disabled selected>Choose group(s)</option>
                              {% for group in groups %}
                                <option id="{{group.id}}" value="{{group.id}}">{{group.name}}</option>
                              {% endfor %}
                              </select>
                              <label>Group(s)</label>
                           </div>
                        </div>

                        <div class="modal-footer">
                           <a href="#!"
                              class="modal-action modal-close waves-effect waves-light btn-flat"
                              style="color: #00bcd4">Cancel</a>
                           <button class="btn waves-effect waves-light" type="submit"
                              name="submit" onclick="validateFlashcard('flashcard-front')"> Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col s12 m10 offset-m1">
            <div class="card-panel">

               <ul id="sortableGroups" class="collapsible" data-collapsible="expandable">
                  {% for i,groupID,groupName,groupPosition,all_cards_in_group in group_range %}
                  <li id={{groupID}}>
                     <div class="collapsible-header"> <i class="material-icons">swap_vert</i> {{groupName}} &nbsp;&nbsp;
                        {% if not groupName == "Unassigned" %}
                        <span class="badge">
                           <form action="/oneUp/instructors/deleteGroup" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="groupID" value="{{groupID}}">
                              <a class="dropdown-button tooltipped secondary-content" href="#!"
                                 data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown-{{i}}'
                                 data-position="right" data-delay="50" data-tooltip="Options"><i
                                    class="material-icons">more_vert</i></a>
                              <ul id='dropdown-{{i}}' class='dropdown-content'>
                                 <li><a href="/oneUp/instructors/groupCreate?groupID={{groupID}}">Edit</a></li>
                                 <li class="divider"></li>
                                 <li><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
                              </ul>
                              <div id="modal_delete-{{i}}" class="modal">
                                 <div class="modal-content">
                                    <h5>Are you sure you want to delete?</h5>
                                    <p>The flash cards in group will not be deleted. They will be sent to unassigned group</p>
                                 </div>
                                 <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat"
                                       style="color: #00bcd4">Cancel</a>
                                    <button class="modal-action modal-close waves-effect waves-light btn-flat"
                                       type="submit" name="submit" value="Delete">Delete
                                    </button>
                                 </div>
                              </div>
                           </form>
                        </span>
                        {% endif %}
                     </div>
                     <div class="collapsible-body">

                        <ul id="{{groupID}}">
                           {% for card in all_cards_in_group %}
                           <li class="row">
                              <div class="no-padding collapsible-header"> &nbsp&nbsp&nbsp&nbsp&nbsp
                                 <i class="material-icons">swap_vert</i>
                                 <span style="max-width: 40%;min-width: 40%">{{card.flashName}}</span>

                                 <span class="badge right-align">
                                    <a class="dropdown-button tooltipped secondary-content" href="#!"
                                       data-constrainwidth="false" data-beloworigin="true"
                                       data-activates='dropdown-{{i}}-{{groupID}}-{{card.flashID}}' data-position="right"
                                       data-delay="50" data-tooltip="Options">
                                       <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul id='dropdown-{{i}}-{{groupID}}-{{card.flashID}}' class='dropdown-content'>
                                       <li>
                                          <a href="#!" onclick="edit_card('{{card.flashID}}')">Edit</a>
                                       </li>

                                       <li class="divider"></li>
                                       <li>
                                          <a class="modal-trigger"
                                             href="#modal_delete-{{i}}-{{card.flashID}}">Delete</a>
                                       </li>
                                    </ul>

                                    <div id="modal_delete-{{i}}-{{card.flashID}}" class="modal">
                                       <div class="modal-content">
                                          <h5>Are you sure you want to delete?</h5>
                                          <p>The selected flash card will be deleted.</p>
                                       </div>
                                       <div class="modal-footer">
                                          <a href="#!"
                                             class="modal-action modal-close waves-effect waves-light btn-flat"
                                             style="color: #00bcd4">Cancel</a>
                                          <button type="button"
                                             class="modal-action modal-close waves-effect waves-light btn-flat"
                                             value="Delete" onclick="deleteFlashcard('{{card.flashID}}')">Delete
                                          </button>
                                       </div>
                                    </div>
                                 </span>

                              </div>
                           </li>
                           {% empty %}
                           <li>
                              <td class="center-align" colspan="4">
                                 <i>There are no flash cards in this group</i>
                              </td>
                           </li>
                           {% endfor %}
                        </ul>

                     </div>
                  </li>

                  {% empty %}

                  <li class="center-align" colspan="5">No Groups</li>

                  {% endfor %}
               </ul>

            </div>
         </div>
      </div>
   </main>
   {% include 'footer.html' %}
   <script>
         var cards = JSON.parse(JSON.stringify({{cards|safe}}));
         console.log(cards);
         function find(id){
            return cards.find(element => element['id'] == id);
         }
         function clear_card(){
            $('#flashcard-modal-title').text("Create Flashcard");
            $('#flashcard-name').val("");
            $('#flashcard-front').val("");
            $('#flashcard-back').val("");
            
            $('#flashcard-groups > option').each(function() {
               $(this).prop('selected', false);
            });

            $('#flashcard-id').remove();
            $("#flashcard-groups").material_select();
            $("#flashcard-modal").modal('open');
         }
         function edit_card(id){
            var item = find(id);
            var hidden_input = `<input id='flashcard-id' type='hidden' name='flashID' value="${item['id']}" />`;
            
            $('#flashcard-modal-title').text("Edit Flashcard");
            $('#flashcard-name').val(item['name']);
            $('#flashcard-front').val(item['front']);
            $('#flashcard-back').val(item['back']);
            
            $('#flashcard-groups > option').each(function() {
               let id = $(this).val();
               let enabled = false;
               for (const element of item['groups']) {
                  if(element['id'] == id){
                     enabled = true;
                     break;
                  }
               }
               $(this).prop('selected', enabled);
            });
            $('#flashcard-id').remove();
            $("#flashcard-form").append(hidden_input);
            $("#flashcard-groups").material_select();
            $("#flashcard-modal").modal('open');
         }

         function deleteFlashcard(flashcard_id) {
            function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                     }
                  }
               }
               return cookieValue;
            }

            function csrfSafeMethod(method) {
               // these HTTP methods do not require CSRF protection
               return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
               beforeSend: function (xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                     xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
               }
            });
            $.ajax({
               type: "POST",
               url: "/oneUp/instructors/deleteFlashCard",
               data: {
                  'flashcardID': flashcard_id // from form
               },
               success: function () {
                  console.log("Deleted");
                  location.reload();
               }
            });
	      }
   
   </script>
</body>