<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Your Images</h3>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="uploadbanner" action="/oneUp/instructors/imageUploadView" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}  
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="col s12">
                              <p>Upload New Image</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <div id="fileupload1" class="file-field input-field">
                                 <div class="btn">
                                    <span>File</span>
                                    <input name="imagefile" type="file" required>
                                 </div>
                                 <div class="file-path-wrapper">
                                    <input class="file-path validate">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <p>Image Description</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input name="description" id="preview" type="text" class="validate">
                              <label for="preview">Description</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <div class="row">
                           <div class="col s12">
                              <button class="btn waves-effect waves-light" id="Upload" type="submit" name="Upload">Upload
                              <i class="material-icons right">send</i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <table>
                        <thead>
                           <th>Image</th>
                           <th>Image File Path</th>
                           <th>Image Description</th>
                        </thead>
                        <tbody>
                           {% for i, image,imageID,imageFilePath,imageDescription in image_range %}
                           <tr>
                              <td><img alt="Image" width="76px" height="76px" src="/{{image}}"></td>
                              <td> {{imageFilePath}}</td>
                              <td> {{imageDescription}}</td>
                              <td>
                                 <form action="/oneUp/instructors/imageDelete" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="imageID" value="{{imageID}}">
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete{{i}}">Delete</a>
                                    <div id="modal_delete{{i}}" class="modal">
                                       <div class="modal-content">
                                          <h5>Are you sure you want to delete?</h5>
                                       </div>
                                       <div class="modal-footer">
                                          <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                          <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                          </button>                                        
                                       </div>
                                    </div>
                                 </form>
                              </td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td class="center-align" colspan="3"><i>No Images Uploaded</i></td>
                           </tr>
                           {% endfor %}	
                        </tbody>
                     </table>
                  </div>
                  <div class="card-action right-align">
                     <div class="row">
                        <div class="col s12">
                           <button class="btn waves-effect waves-light" value="Save" type="submit" name="submit">Save
                           <i class="material-icons right">send</i>
                           </button>
                           <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><i class="material-icons left">navigate_before</i>Back</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>