<!DOCTYPE html>
<html lang="en">
   <head>
   
	   {% include 'scripts.html' %}
       <style>
	       table.table.container {
	         padding-bottom: 0px; 
	         margin-bottom: 15px; 
	         box-shadow:0px 1px 6px 0px #2A333E;
	         }
       </style>
   </head>
   <body>
      <div id="page-wrapper">

       {% include 'heading.html' %}
         <div class="frame" id="grad" align="center">
         <div align="center">
            <div class="container">
              <div class="row">
                  <div class="6u 12u(mobile)">
                     <table class="bg">
                        <th> Announcements </th>
                        <th> </th>
                        {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                        <tr>
                           <div id={{announcement_ID}}>
                              <td class="left">{{subject}}</td>
                              <td class="left">{{start_Timestamp}}</td>
                           </div>
                        </tr>
                        {% endfor %}
                     </table>
                     <div>
                        <a href="/oneUp/instructors/announcements">
                        <input type="button" class="button" value="View All Announcements"></a>
                     </div>
                  </div>
                  <div class="6u 12u(mobile)">
                     <table class="bg">
                        <th> Upcoming Challenges </th>
                        <th> </th>
                        {% for i,chall_ID,chall_Name,start_Timestamp,end_Timestamp in challenge_range %}
                        <tr>
                           <div id={{chall_ID}}>
                              <td class="left">{{chall_Name}}</td>
                              <td class="left">{{end_Timestamp}}</td>
                           </div>
                        </tr>
                        {% endfor %}
                     </table>
                     <div>
                        <a href="/oneUp/instructors/challengesList">
                        <input type="button" class="button" value="View All Challenges"></a>
                     </div>
                  </div>
               </div>
              <div class="row" style="padding-top: 80px;"></div>
              <table class="bg">
              <th></th>
              <th></th>
              <tr>
                     {% if leaderboardUsed %}
                     
                     	<td style="    padding-right: 0px;
									    padding-bottom: 0px;
									    padding-top: 10px;
									    padding-left: 10px;
									    width: 50%;
									    vertical-align: top;">
                      <div class="12u 12u(mobile)">
                     <table class="bg">
                        <th> Student </th>
                        <th> XP Points</th>
                        {% for i,avatarImage,xpoints in user_range %}
                        <tr>
                           <div id="student{{i}}">
                              <td class="left"><img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                              <td class="left">{{xpoints}}</td>
                           </div>
                        </tr>
                        {% endfor %}
                     </table>
                     </div>
                     </td>
                     {% endif %}
                     {% if classSkillsDisplayed %}
                     <td style="    padding-right: 10px;
								    padding-bottom: 0px;
								    padding-top: 10px;
								    padding-left: 10px;
								    width: 50%;
								    vertical-align:top;">
                      <div class="12u 12u(mobile)">
                     <table class="bg">
                        <th> Skill </th>
                        <th> Skill Points </th>
                        {% for skill in skills %}
                        <tr>
                           <td class="left">{{skill.skillName}} </td>
                           <td class="left">
                              {% for usi in skill.usersInfo %} 
                              <img alt="Avatar Image" width="30px" height="30px" src="{{usi.avatarImage}}"> &nbsp;{{usi.skillPoints}}  &nbsp;&nbsp;&nbsp;&nbsp;
                              {% endfor %}
                           </td>
                        </tr>
                        {% endfor %}                           
                     </table>
                     </div>
                     
                     </td>
                     {% endif %}
                     
                     </div>
                     </tr>
               
               {% if badgesUsed %}
               <tr>
               	<td colspan="2" style="    padding-right: 10px;
							    padding-bottom: 0px;
							    padding-top: 10px;
							    padding-left: 10px;
							    width: 100%;">
               <table class="bg">
                  <th> Latest Badges </th>
                  <tr>
                     <td class="left">
                        {% for i,studentBadgeID,studentID,badgeID,badgeImage,avatarImage in badgesInfo %}                                                       
                        <img src="/{{badgeImage}}" alt="Badge Image" width="60x" height="60px"/>
                        <img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        
                     </td>
                  </tr>
               </table>
               </td>
               </tr>
               {% endif %}
           </table>
           </div>
         </div>
         </div>
         <!-- Footer -->
    
       {% include 'footer.html' %}
      
      </div> 
   </body>
</html>