<!DOCTYPE html>
<html lang="en">
   <head> 
 	    {% include 'scripts.html' %}
       <script>
         window.location.hash="no-back-button";
         window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
         window.onhashchange=function(){window.location.hash="no-back-button";}
	   </script>
   </head>
   <body>
	{% include 'heading0.html' %}
    	<main>
			<div class="row">
				<div class="col s12 m12 l8 offset-l2">
			<div class="row">
					<div class="col s12 m6">
						<div class="card-panel">
						<table>
							<thead>
							<th>Latest Announcements</th>
							<th> </th>
							<th> </th>
							</thead>
							<tbody>
							   {% for i,announcement_ID,announcement_course,start_timestamp,subject,message in announcement_range %}
								<tr>
									<td>{{announcement_course}}: </td>
									<td>{{subject}}</td>
									<td>{{start_timestamp}}</td>
								</tr>
								{% empty %}
								<tr>
									<td>No Announcements</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel">
						<table>
							<thead>
								<th>Your Courses</th>
							</thead>
							<tbody>
								{% for i,course_ID,course_Name in course_range %}
								<tr>
									<td>{{course_Name}}</td>
									<td>
										<form action="/oneUp/setCourse" method="POST">
										{% csrf_token %}                                                                        
											<input type="hidden" name="courseID" value="{{course_ID}}">
											<button class="btn waves-effect waves-light cyan" type="submit" name="submit" value="Select">Select
											</button>                         
										</form>
									</td>
								</tr>
								{% empty %}
								<tr>
									<td>No Courses</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col s12 m6">
						<div class="card-panel">
						<table>
							<thead>
								<th>Upcoming Assignments</th>
								<th> </th>
								<th> </th>
							</thead>
							<tbody>
								{% for i,chall_ID,chall_course,chall_Name,start_Timestamp,end_Timestamp in challenge_range %}
								<tr>
									<td>{{chall_course}}: </td>
									<td>{{chall_Name}}</td>
									<td>{{end_Timestamp}}</td>
								</tr>
								{% empty %}
								<tr>
									<td>No Upcomming Assignments</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
			</div>
			</div>
			</div>
		</main>
       {% include 'footer.html' %}
   </body>
</html>