<!DOCTYPE html>
<html lang="en">
   <head>
   
	   {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
          <div class="row">
              <div class="col s12 m12 l8 offset-l2">
            <div class="row">
                <div class="col s12 m6">
                  <div class="card-panel">
                  <table>
                    <thead>
                    <th>Latest Announcements</th>
                    </thead>
                    <tbody>
                        {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                        <tr>
                        <td>{{subject}}</td>
                        <td>{{start_Timestamp}}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td class="center-align"><i>No announcements</i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="row center-align">
                      <div class="col s12">
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/announcements"><i class="material-icons right">navigate_next</i>View All Announcements</a>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card-panel">
                  <table>
                    <thead>
                      <th>Upcomming Challenges</th>
                    </thead>
                    <tbody>
                        {% for i,chall_ID,chall_Name,start_Timestamp,end_Timestamp in challenge_range %}
                        <tr>
                            <td>{{chall_Name}}</td>
                            <td>{{end_Timestamp}}</td>
                         </tr>
                      {% empty %}
                      <tr>
                        <td class="center-align"><i>No upcomming challenges</i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="row center-align">
                      <div class="col s12">
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList"><i class="material-icons right">navigate_next</i>View All Challenges</a>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
            <div class="row">
                {% if leaderboardUsed and ccparams.gamificationUsed %}                
                <div class="col s12 m6">
                  <div class="card-panel">
                  <table>
                    <caption><h5>Leaderboard</h5></caption>
                    <thead>
                      <th>Student</th>
                      <th>XP</th>
                    </thead>
                    <tbody>
                        {% for i,avatarImage,xpoints, usi in user_range %}
                        <tr>
                            <td><img class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{usi}}" alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                            <td>{{xpoints}}</td>
                        </tr>
                        {% empty %}
                        <tr><td class="center-align" colspan="2"><i>No students with XP</i></td></tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
                {% endif %}
                {% if classSkillsDisplayed and ccparams.gamificationUsed %}                
                <div class="col s12 m6">
                    <div class="card-panel">
                    <table>
                      <thead>
                        <th>Skill</th>
                        <th>Skill Points</th>
                      </thead>
                      <tbody>
                          {% for skill in skills %}
                          <tr>
                             <td>{{skill.skillName}} </td>
                             <td>
                                {% for usi in skill.usersInfo %} 
                                <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="{{usi.user}}">
                                    <img src="{{usi.avatarImage}}">
                                    {{usi.skillPoints}}
                                    </div>
                                {% endfor %}
                             </td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td class="center-align" colspan="2"><i>No students with skill points</i></td>
                          </tr>
                          {% endfor %}  
                      </tbody>
                    </table>
                    </div>
                  </div>
                  {% endif %}                  
            </div>
            {% if badgesUsed and ccparams.gamificationUsed %}                            
            <div class="row">
                <div class="col s12">
                  <div class="card-panel">
                  <table>
                    <thead>
                      <th>Latest Badges</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                               {% for i,studentBadgeID,studentID,badgeID,badgeImage,avatarImage in badgesInfo %}                                                       
                               <img src="/{{badgeImage}}" alt="Badge Image" width="46px" height="46px"/>
                               <img alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}">
                               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                               {% empty %}
                               <i>No badges earned</i>
                               {% endfor %}
                            </td>
                         </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>
            {% endif %}            
            </div>
            </div>
        </main>
       {% include 'footer.html' %}
    </body>
</html>