<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'scripts.html' %}

</head>

<body>
	{% include 'heading0.html' %}
	<main>
		<div class="row">
			<div class="col s12 m12 l10 offset-l1">
				<div class="row">
					<div class="col s12 m6">
						<div class="card-panel">
							<table>
								<thead>
									<th>Latest Announcements</th>

								</thead>
								<tbody>
									{% for i,announcement_ID,announcement_course,start_timestamp,subject,message in announcement_range %}
									<tr>
										<td>{{announcement_course}}: </td>
										<td
											style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">
											{{subject}}</td>
										<td>{{start_timestamp}}</td>
									</tr>
									{% empty %}
									<tr>
										<td class="center-align"><i>No announcements</i></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					
<!-- 					Commented out for the case when OneUp is only use for gamification, e.g. serious challenges are not used
	 -->					
<!-- 					<div class="col s12 m6">
						<div class="card-panel">
							<table>
								<thead>
									<th>Upcoming Assignments</th>

								</thead>
								<tbody>
									{% for i,chall_ID,chall_course,chall_Name,start_Timestamp,due_date in challenge_range %}
									<tr>
										<td>{{chall_course}}: </td>
										<td
											style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">
											{{chall_Name}}</td>
										<td>{{due_date}}</td>
									</tr>
									{% empty %}
									<tr>
										<td class="center-align"><i>No upcoming assignments</i></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div> -->
				</div>
				<div class="row">
					<div class="col s12 m6">
						<div class="card-panel">
							<table>
								<thead>
									<tr>
										<th>Your Courses</th>
										<td>
											<button onclick="showOldCourses()" class="btn waves-effect waves-light secondary-content">Show Older</button>
										</td>
									</tr>
								</thead>
								<tbody>
									{% for i,course_ID,course_Name, course_university, course_end_date in course_range %}
									<tr id="course{{course_ID}}" class="course" data-end-date="{{course_end_date}}" data-course-id="course{{course_ID}}">
										<td>{{course_Name}} &nbsp ({{course_university}})</td>
										<td style="padding:0;">
											<form action="/oneUp/setCourse" method="POST">
												{% csrf_token %}
												<input type="hidden" name="courseID" value="{{course_ID}}">
												<button class="btn waves-effect waves-light secondary-content"
													type="submit" name="submit" value="Select">Select
												</button>
											</form>
										</td>
									</tr>
									{% empty %}
									<tr>
										<td class="center-align"><i>No courses</i></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% include 'footer.html' %}
	<script>
		var courses = document.getElementsByClassName("course");
		function hideOldCourses()
		{	
			for(var i = 0; i < courses.length; i += 1)
			{
				console.log(courses[i].dataset.endDate);
				let currentDate = new Date();
				let courseDate = new Date(courses[i].dataset.endDate + " 00:00:00");
				let courseID = courses[i].dataset.courseId;
				
				if((currentDate.getTime() - courseDate.getTime()) > (2 * 31536000000))
				{
					// Attempt to hide row based on course ID, if that course is 2+ years from its start date.
					document.getElementById(courseID).style.display = 'none';
					console.log(courseID);
				}
			}
		}
		hideOldCourses();
		
		function showOldCourses()
		{
			for(var i = 0; i < courses.length; i += 1)
				{
					let courseID = courses[i].dataset.courseId;
					document.getElementById(courseID).style.display = '';
				}
		}
	</script>
</body>

</html>