<!DOCTYPE html>
<html lang="en">
   <head>
   
	   {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
          <div class="row">
              <div class="col s12 m12 l10 offset-l1">

            {% if ccparams.announcementsUsed %}
            <div class="row" style="margin-bottom: 0px;">
                <div class="col s12 m6">
                  <div class="card-panel center-align">
                  <table>
                    <thead>
                    <th>Latest Announcements</th>
                    </thead>
                    <tbody>
                        {% for i,announcement_ID,author_ID,start_Timestamp, end_Timestamp, subject, message in announcement_range %}
                        <tr>
                        <td style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{subject}}</td>
                        <td>{{start_Timestamp}}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td class="center-align"><i>No announcements</i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/announcementList"><i class="material-icons right">navigate_next</i>View All Announcements</a>
                      
                  </div>
                </div>
           {% endif %}
           
           {% if ccparams.seriousChallengesUsed %}       
                {% if not ccparams.announcementsUsed %} 
                <div class=row>
                <div class="col s12 m6 offset-m3">
                {% else %}           
                <div class="col s12 m6">
                {%endif%} 
                  <div class="card-panel center-align">
                  <table>
                    <thead>
                      <th>Upcoming Serious Challenges</th>
                    </thead>
                    <tbody>
                        {% for i,chall_ID,chall_Name,start_Timestamp,due_date in challenge_ranges %}
                        <tr>
                            <td style="max-width:24vw; overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{chall_Name}}</td>
                            <td>{{due_date}}</td>
                         </tr>
                      {% empty %}
                      <tr>
                        <td class="center-align"><i>No upcoming serious challenges</i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengesList"><i class="material-icons right">navigate_next</i>View All Serious Challenges</a>
                      
                  
                  </div>
                </div>

         {% endif %}     
  		 {% if gamificationUsed and virtualCurrencyUsed and classFundEnabled %}
                <div class="col s12 m12">
                <div class="row" style="display: flex;">
                <div class="col s12 m6"style="
                     width: 200px;
                     height: 75;"></div>
               
                <div class="col s12">
                    <div class="card-panel">
                    <table>
                    <caption><h5>Current Class Fund Total: {{classFund}} $</h5></caption>
            			
                    </table>
                    </div>
                  </div>
                  <div class="col s12 m6" style="
                     width: 200px;
                     height: 75;"></div>
                </div>
              </div>
            {% endif %}   
 		 {% if not ccparams.announcementsUsed and not ccparams.seriousChallengesUsed %}
 		   <div class="row center-align">
                <div class="col s12">
                   <h3>Welcome!</h3>
                </div>
             </div>
         {% endif %}   
         </div> 
                                       
            <div class="row">
             {% if badgesUsed and gamificationUsed %}     
                <div class="col s12">
                  <div class="card-panel">
                  <table>
                    <thead>
                      <th>Latest Badges</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="display: flex; flex-wrap: wrap;">
                               {% for i,studentBadgeID,studentID,badgeID,badgeName, badgeImage,avatarImage, user in badgesInfo %}  
                               <div style="padding-right: 16px">                                                     
                               <img class="tooltipped" src="/{{badgeImage}}" alt="Badge Image" width="64px" height="64px" data-position="top" data-delay="50" data-tooltip="{{badgeName}}"/>
                               <img class="tooltipped" alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}" data-position="top" data-delay="50" data-tooltip="{{user}}">
                               </div>
                               {% empty %}
                               <i class="center-align" style="flex: 1;">No students with badges</i>
                               {% endfor %}
                            </td>
                         </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                {% endif %}
            </div>
        
            <div class="row">
            {% if leaderboardUsed and gamificationUsed %}    
                <div class="col s12 m12">
                    <div class="row" style=" display: flex;
                                             margin-bottom: 0px;">
                    <div class="col s12 m6">
                      
                    </div>
                  {% for leaderboardNames, leaderboardDescriptions, leaderboardRankings in leaderboard_range %} 
                  {% if leaderboardNames == "XP Leaderboard" and not ccparams.xpLeaderboardUsed %}
                  {% else %}
                  <div class="col s12">
                  <div class="card-panel">
                  <table>
                    <caption><h5>{{leaderboardNames}}</h5></caption>
                    <thead>
                      <th>Student</th>
                      <th>Points</th>
                    </thead>
                    <tbody>
                        {% for i, avatarImage, points, studentUsers in leaderboardRankings %}
                        <tr>
                            <td><img class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{studentUsers}}" alt="Avatar Image" width="30px" height="30px" src="{{avatarImage}}"></td>
                            <td>{{points}}</td>
                        </tr>
                        {% empty %}
                        <tr><td class="center-align" colspan="2"><i>No students with enough results to place on leaderboard</i></td></tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                   <div class="col s12 m6"></div>
                  </div>
                </div>
                  {% endif %}
                </div>
            <div class="row">
                {% if classSkillsDisplayed and gamificationUsed %}
                <div class="col s12 m12">
                <div class="row" style="display: flex;">
                <div class="col s12 m6"style="
                     width: 200px;
                     height: 200px;"></div>
               
                <div class="col s12">
                    <div class="card-panel">
                    <table>
                    <caption><h5>Skills Board</h5></caption>
                      <thead>
                        <th>Skill</th>
                        <th>Skill Points</th>
                      </thead>
                      <tbody>
                          {% for skill in skills %}
                          <tr>
                             <td>{{skill.skillName}} </td>
                             <td>
                                {% for usi in skill.usersInfo %} 
                                <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{usi.user}}">
                                    <img src="{{usi.avatarImage}}">
                                    {{usi.skillPoints}}
                                    </div>
                                {% endfor %}
                             </td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td class="center-align" colspan="2"><i>No students with skill points</i></td>
                          </tr>
                          {% endfor %}  
                      </tbody>
                    </table>
                    </div>
                  </div>
                  <div class="col s12 m6" style="
                     width: 200px;
                     height: 200px;"></div>
                </div>
              </div>
              {% endif %}    
                            
            </div>         
            </div>
        </main>
       {% include 'footer.html' %}
    </body>
</html>
