<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
 
 	    {% include 'scripts.html' %}
 		
       <script>
         window.location.hash="no-back-button";
         window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
         window.onhashchange=function(){window.location.hash="no-back-button";}
      </script>
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
   </head>
   <body>
      <div id="page-wrapper"> 
          
        {% include 'heading0.html' %}
          
         <div class="frame" id="grad" align="center">
         <div class="container">
 			<!-- This row below is used to give the space between this and the nav bar -->        
         	<div class="row">
                  <div class="12u">
                     

                  </div>
               </div>
         	<div class="row">
         		<div class="6u 12u(mobile)" >
         			<table class="bg" id="bglinks">
         				<th>Latest Announcements</th>
         				<th> </th>
         				<th> </th>
							{% for i,announcement_ID,announcement_course,start_timestamp,subject,message in announcement_range %}
		                     <tr>
		                        <div id={{announcement_ID}}>
		                           	<td class="left">{{announcement_course}}: </td>
		                           	<td class="left">{{subject}}</td>
                    				<td class="left">{{start_timestamp}}</td>
		                           <!-- td style="padding:.25em 0em .35em 0em">{{skill_Name}}</td  -->
		                        </div>
		                     </tr>
                     		{% endfor %}
         			</table>
         		</div>
         		<div class="6u 12u(mobile)">
           			<table class="bg" id="bglinks">
            			<th>Your Courses</th>
            			<th> </th> <!-- This is needed to fill in the th above the buttons -->
               				{% for i,course_ID,course_Name in course_range %}
               			<tr>
            			<td class="left">{{course_Name}}</td>
               			<td class="left"><form action="/oneUp/setCourse" method="POST">
                       	 {% csrf_token %}                                                                        
                        	<input type="hidden" name="courseID" value="{{course_ID}}">
                       	 <input type="submit" name="submit" value="Select">                           
                     	</form></td>
            			</tr>
               				{% endfor %}
         			</table>
            	</div>
         	</div>
         	<div class="row">
	         	<div class="6u 12u(mobile)" >
	         			<table class="bg" id="bglinks">
	         				<th>Upcomming Assignments</th>
	         				<th> </th>
	         				<th> </th>
								{% for i,chall_ID,chall_course,chall_Name,start_Timestamp,end_Timestamp in challenge_range %}
			                     <tr>
			                        <div id={{chall_ID}}>
			                           	<td class="left">{{chall_course}}: </td>
			                           	<td class="left">{{chall_Name}}</td>
	                    				<td class="left">{{end_Timestamp}}</td>
			                           <!-- td style="padding:.25em 0em .35em 0em">{{skill_Name}}</td  -->
			                        </div>
			                     </tr>
	                     		{% endfor %}
	         			</table>
	         		</div>
         	</div>
         </div>
         </div>
         <!-- Footer -->
         
       {% include 'footer.html' %}

      </div>
    
   </body>
</html>