<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <!-- <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script> -->
      <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor-init.js"></script>
      <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor/ckeditor.js"></script>
      <script>
         $( document ).ready(function(){
        	 {% if view %}
	        	var tags = JSON.parse('{{ tags | escapejs }}')
				var topics = JSON.parse('{{ topics | escapejs }}')
				for(var i = 0; i < tags.length; i++){
					var tag = tags[i];
					var tagDOM = $("<div>").attr("class", "chip").append(tag['tag']);
					$('#tags').append($(tagDOM));
				}
	        {% else %}
            $('.chips').material_chip();
             $('.chips-tags').material_chip({
                 data: JSON.parse('{{ tags | escapejs }}'),
                 placeholder: 'Enter a tag',
             });
             $('#form').submit(function(){
                 var tags = $("<input>").attr("type", "hidden").attr("name", "tags").val(JSON.stringify($('.chips-tags').material_chip('data')));
                 
                 $('#form').append($(tags));
                 console.log($('.chips-tags').material_chip('data'));
             });
             {% endif %}
         });
      </script>
      <script>
         /* Should always hold the number of answers displayed. */
         var numAnswers = {{num_answers}};
         var numberOfItems = 0;
         
         
         /* Adds a new blank answer */
         function addAnswer() {
         
           /* If there are only two answers, we've hidden the remove button
              now we're adding a new answer, so we show it again. */
           if(numAnswers == 2) {
             document.getElementById('removeAnswer').classList.remove('disabled');
           }
         
           /* Increment the javascript variable */
           numAnswers++;
         
           /* Update the number which will be returned to python */
           document.question.elements['numAnswers'].value=numAnswers;
         
           /* Construct a new answer blank. */
           
         var id = "ans"+numAnswers;
         var name = "answer"+numAnswers;
         var ans = "answer"+numAnswers;
         var match = "matchingAnswer"+numAnswers;
           var newElement = "<div id='"+id+"'>\n"+
              "<div class='row'> \n"+
              "<div class='input-field col s12 m6'> \n"+
              "<textarea class='materialize-textarea' name="+ans+" id='answer_"+numAnswers+"' rows='1' required></textarea> \n"+
              "<label for='answer_"+numAnswers+"'>Question "+numAnswers+"</label> \n"+
              "</div> \n"+
              "<div class='input-field col s12 m6'> \n"+
              "<textarea class='materialize-textarea' name='"+match+"' id='match_"+numAnswers+"' rows='1' required></textarea> \n"+  
              "<label for='match_"+numAnswers+"'>Matching Answer for Question "+numAnswers+"</label> \n"+   
              "</div> \n"+
              "</div> \n"+
              "<input type='hidden' name='ansPK"+numAnswers+"' value=''/> \n"+
              "</div>";
                   
           /* And put it in place. */
           var node = document.createTextNode(newElement);
           var previous = document.getElementById("ans"+(numAnswers-1));
           previous.insertAdjacentHTML('afterEnd',newElement);
           
         }
         
         /* Removes the bottom answer */
         function removeAnswer() {
           /* Remove last answer blank. */
           var lastAnswer = document.getElementById("ans"+numAnswers);
           lastAnswer.parentElement.removeChild(lastAnswer);
         
           /* Decrement js variable */
           numAnswers--;
         
           /* Update the number which will be returned to python */ 
           document.question.elements['numAnswers'].value = numAnswers;
         
           /* If we're down to just two answers, hide the button which
              removes answers */
           if (numAnswers == 2) {
             document.getElementById('removeAnswer').classList.add('disabled');
           }
         }
         
      </script>
   </head>
   <body>
           {% include 'heading.html' %}
 <main>
         	<div class="row center-align">
            <div class="col s12 m10 offset-m1">
                <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{challengeName}}</h3>
                <h4>Create/Edit Matching Problem</h4>
                <p><span class= "red-text">*</span> Denotes Required Fields.</p>
            </div>
          </div>
          <div class="row">
              <div class="col s12 m10 offset-m1">
                  <form id="form" name="question" action="/oneUp/instructors/forms/MatchingForm" method="POST">
                     {% csrf_token %}
                     <input type="hidden" name="numAnswers" id="numAnswers" value="{{num_answers}}">
                     {% if questionId %}
                     <input type="hidden" name="questionId" id="questionId" value="{{questionId}}">
                     {% endif %}
                     {% if challengeID %}
                     <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
                     {% endif %}
                     <input type="hidden" name="newSkills" id="newSkills" value="">
                     <div class='card'>
                        <div class='card-content'>
                           <div class="row">
                              <div class="col s12">
                                 <h5>Problem Info</h5>
                              </div>
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">mode_edit</i>
                                 <input value="{{preview}}" name="preview" id="preview" type="text" {% if view == False %}class="validate"{%endif%}  pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                                 <label for="preview"><span class= "red-text">*</span> Problem Preview</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col s12">
                                 <label for="question_text"><span class= "red-text">*</span> Problem Text</label>
                                 <div class="django-ckeditor-widget" data-field-id="0">
                                    <textarea name="questionText" id="question_text" rows="2" cols="70" {%if view%}readonly{%else%}required{%endif%} data-processed="0" data-config="{{ ckeditor.config }}" data-external-plugin-resources="{{ ckeditor.external_plugin_resources }}" data-id="question_text" data-type="ckeditortype">{{ questionText }}</textarea>
                                </div>            
                              </div>
                           </div>
                           <div class="row">
                              <div class="col s12">
                                 <h5>Problem Answer</h5>
                              </div>
                           </div>
                           <div id="answers">
                              {% for i,ansValue,ansPK,ansChecked, matchText in answer_range %}
                              <input type="hidden" name="ansPK{{i}}" value="{{ansPK}}">
                              <div id="ans{{i}}">
                                 <div class="row">
                                    <div class="input-field col s12 m6">
                                        <textarea class="materialize-textarea" name="answer{{i}}" id="answer_{{i}}" rows="1" {%if view%}readonly{%else%}required{%endif%}>{{ansValue}}</textarea>
                                       <label for="answer_{{i}}">Question {{i}}</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <textarea class="materialize-textarea" name="matchingAnswer{{i}}" id="match_{{i}}" rows="1" {%if view%}readonly{%else%}required{%endif%}>{{matchText}}</textarea>
                                        <label for="match_{{i}}">Matching Answer for Question {{i}}</label>   
                                    </div>
                                 </div>
                              </div>
                              {% endfor %}
                           </div>
                           <div class="row">
                              <div class="col s12 m6">
                                 <a class="waves-effect waves-light btn" id="addAnswer" onclick="addAnswer();" {%if view%}disabled{%endif%}><i class="material-icons left">add</i>Add Answer</a>
                                 <a class="waves-effect waves-light btn" id="removeAnswer" onclick="removeAnswer();" {%if view%}disabled{%endif%}><i class="material-icons left">remove</i>Remove Last Answer</a>                                      
                              </div>
                           </div>
                           
                           <!-- GGM Difficulty Setting Updated Code -->
                        <div class="row">
                            <div class="col s12">
                              <h5>Difficulty</h5>
                           </div>                                               
                           <div class="input-field col s12">
                              <select  name="difficulty" id="difficulty" {%if view%}readonly{%endif%}>
                                 <option val="Easy" value="Easy"  {%if view%}disabled{%endif%}>Easy</option>
                                 <option val="Medium" value="Medium" {%if view%}disabled{%endif%}>Medium</option>
                                 <option val="Hard" value="Hard" {%if view%}disabled{%endif%}>Hard</option>
                              </select>
                              
                              <script  type="text/javascript"> 
                                                           
                              $( document ).ready(function() {
                                     if ("{{difficulty}}" != '')  {
                                    	 console.log("med");
                                    	 $('#difficulty').val("{{difficulty}}");

                                         // re-initialize material-select
                                         $('#difficulty').material_select();
                                     } 
                                 });
                              </script> 
                           </div>
                        </div>  
                           {% if challenge %}
                           {% if unassign %}
                           <input type="hidden" name="points" value="0" id="Points">
                           {% else %}
                           <div class="row">
                             <div class="col s12">
                              <h5>Points<span class= "red-text">*</span></h5>
                           </div>                                                 
                              <div class="input-field col s12">
                                 <input value="{{points}}" name="points" id="points" maxlength="4" type="number" {% if view == False %}class="validate"{%endif%}  min="1" max="999" step="any" {%if view%}disabled{%else%}required{%endif%}>
                                 <label for="points"> Points</label>
                              </div>
                           </div>
                           {% endif %}
                           <div class="row">
                              <div class="col s12">
                                 <div class="col s12">
                                    <h5>Skills</h5>
                                 </div>
                                 <div class="col s12">
                                    {% include "Instructors/ProblemSkillEmbed.html" %}
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           <div class="row">
                              <div class="col s12">
                                 <h5>Feedback</h5>
                              </div>
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">mode_edit</i>
                                 <textarea name="correctAnswerFeedback" id="correct_feedback" class="materialize-textarea">{{correctAnswerFeedback}}</textarea>
                                 <label for="correct_feedback">Feedback for Correct Answers</label>
                              </div>
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">mode_edit</i>
                                 <textarea name="incorrectAnswerFeedback" id="incorrect_feedback" class="materialize-textarea">{{incorrectAnswerFeedback}}</textarea>
                                 <label for="incorrect_feedback">Feedback for Incorrect Answers</label>
                              </div>
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">mode_edit</i>
                                 <textarea name="instructorNotes" id="instructor_notes" class="materialize-textarea">{{instructorNotes}}</textarea>
                                 <label for="instructor_notes">Instructor Notes</label>
                              </div>
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">mode_edit</i>
                                 <textarea name="author" id="author" class="materialize-textarea">{{author}}</textarea>
                                 <label for="author">Author</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col s12">
                                 <h5>Tags</h5>
                              </div>
                              <div class="col s12">
                                 <label for="tags">Add Tags</label>
                                 <div id="tags" class="chips chips-tags"></div>
                              </div>
                           </div>
                        </div>
                        <div class='card-action right-align'>
                           {% if view %}
                           <a class="waves-effect waves-light btn" href="#!" onclick="window.history.back();"><i class="material-icons left">navigate_before</i>Back</a>
                           {% else %}
                           <button class="btn waves-effect waves-light" type="submit" name="submit">Save<i class="material-icons right">send</i></button>
                           <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}">									
                           <i class="material-icons left">close</i>Cancel</a>
                           {% endif %}
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </main>
         {% include 'footer.html' %}
      </body>
   </html>