<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      
         {% include 'scripts.html' %}
      
      <!--[if lt IE 7]>
      <link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen">
      <script type="text/javascript" src="/static/js/ie_png.js"></script>
      <script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
      <![endif]-->
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }            
         }
      </script>
   </head>
   
   <body>

     <div>

         {% include 'heading.html' %}

            <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
            <div class="12u">
               <h1>Create/Edit <span>Milestone</span></h1>
               <p><span>*</span> Denotes Required Fields.</p>
                  <!-- INSERTED PAGE CONTENT -->
                  <form name="question" action="/oneUp/instructors/createMilestone" method="POST">
                     {% csrf_token %}
                     {% if milestoneID %}
                     <input type="hidden" name="milestoneID" id="milestoneID" value="{{milestoneID}}">
                     {% endif %}
                     <table class="bg">
                        <tr>
                           <td>Milestone Name <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <input id="mediumFormBox" type="text" name="milestoneName" value="{{milestoneName}}" required><br>
                           </td>
                        </tr>
                        <tr>
                           <td>Milestone Description <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <textarea id="mediumFormBox" name="description" rows="2" maxlength='100' value="">{{description}}</textarea>
                              <font style="font-size:.8em;">Limit 100 characters</font>
                           </td>
                        </tr>
                        <tr>
                           <td>Max Points <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <input id="extraSmallFormBox" type="text" name="points" maxlength="4" value={{points}}>
                           </td>
                        </tr>
                     </table>
                     <input type="submit" name="submit" value="Submit" class="button">
                     <a href="/oneUp/instructors/milestonesList"><button type="button" class="special button" value="Reset">Cancel</button></a>
                  </form>
                  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div>
         </div></div>
         <!-- Footer -->

        {% include 'footer.html' %}

      </div>
      <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>