<!DOCTYPE html>
<html lang="en">
   <head>      
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Create/Edit <i>Milestone</i></h3>
               <p><span class= "red-text">*</span> Denotes Required Fields</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card">
                  <form name="question" action="/oneUp/instructors/createMilestone" method="POST">
                     {% csrf_token %}
                     {% if milestoneID %}
                     <input type="hidden" name="milestoneID" id="milestoneID" value="{{milestoneID}}">
                     {% endif %}
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{milestoneName}}" name="milestoneName" id="milestoneName" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="milestoneName"><span class='red-text'>*</span> Milestone Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <textarea name="description" id="description" class="materialize-textarea validate" data-length="100">{{description}}</textarea>
                              <label for="description"><span class='red-text'>*</span> Milestone Description</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{points}}" name="points" id="points" type="number" class="validate" min="0" max="9999" required>
                              <label for="points"><span class='red-text'>*</span> Max Points</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Create<i class="material-icons right">send</i></button>
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/milestonesList"><i class="material-icons left">close</i>Cancel</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>