<!DOCTYPE html>

<html lang="en">

<head>
   {% include 'scripts.html' %}
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
   
		
      
   </script>
</head>

<body>
   {% include 'heading.html' %}
   <main>
      <div class="row center-align">
         <div class="col s12">
            <h3>Past Teams</h3>
         </div>
      </div>
            <div class="row">
               <div class="col s12 m10 offset-m1">
                  <div class="card-panel">
                
                     <ul id="sortableGroups" class="collapsible" data-collapsible="expandable">
                        {% for i, team_ID, team_name, team_avatar, students_in_group in teams_range %}

                        <li id={{team_ID}}>
                           <div class="collapsible-header"> <img width="5%" src={{team_avatar}}><i
                                 class="material-icons">people_outline</i> {{team_name}}
                              &nbsp;&nbsp;
                              
                           </div>
                           <div class="collapsible-body">
                              <ul class="sortable-students" data-team-id="{{team_ID}}"
                                 style="padding-bottom: 1px;">
                                 {% for student, enrollment in students_in_group %}
                                 <li id="{{student.id}}" data-team-id="{{team_ID}}">
                                    <div class="sortable-item" style="display: grid;
                                    grid-template-columns: auto 1fr auto; text-align: left">
                                       <div style="padding-right: 8px;">
                                          <i class="material-icons" style="vertical-align: bottom;">swap_vert</i>
                                       </div>
                                       
                                       <span style="max-width: 40%;min-width: 40%">{{student}} </span> 
                                       {% if not team_name == "Unassigned Students" %}
                                       <span style="color:gray;">Enrollment Method: <b>{{enrollment}}</b></span>

                                       
                                       {% if forloop.first %}
                                       <span id="{{team_ID}}-star" style="width:15%;white-space: nowrap;padding-right: 8px;">
                                          <i class="material-icons" style="vertical-align: bottom;">stars</i>
                                       </span>
                                       {% endif %}
                                       {% endif %}
                                    </div>
                                 </li>
                                 {% endfor %}
                              </ul>

                           </div>
                        </li>

                        {% empty %}

                        <li class="center-align" colspan="5">No Teams</li>

                        {% endfor %}
                     </ul>

                  </div>
               </div>
            </div>
   </main>
   {% include 'footer.html' %}
   <script>
      document.addEventListener('DOMContentLoaded', function () {
         var elems = document.querySelectorAll('.modal');
         var instances = M.Modal.init(elems, options);
      });

      // Or with jQuery

      $(document).ready(function () {
         $('.modal').modal();
         
      });
   </script>
</body>