<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %}
    <style>
        .cards-container {
            -webkit-column-break-inside: avoid;
            /* Chrome, Safari, Opera */
            page-break-inside: avoid;
            /* Firefox */
            break-inside: avoid;
            column-gap: 0;
        }


        @media only screen and (max-width : 600px) {
            .cards-container {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }

        @media only screen and (min-width : 601px) {
            .cards-container {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }

        @media only screen and (min-width : 993px) {
            .cards-container {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }
    </style>
</head>

<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Course Gamification Configuration</h3>
            </div>
        </div>
        <form name="CourseConfigParam" onsubmit="return checkIfBadgesNumberIsZero()"
            action="/oneUp/instructors/preferences" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ccpID" id="ccpID" value="{{ccpID}}">
            <input type="hidden" name="xpLeaderboardID" value="{{xpLeaderboardID}}">
            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 cards-container" style="height: 100%;">
                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="margin-top: 0; transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Course Leaderboard Configuration</span>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Enable Leaderboard
                                            {% if leaderboardUsed %}
                                            <input name="leaderboardUsed" type="checkbox" checked>
                                            {% else %}
                                            <input name="leaderboardUsed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Progress Bar Configuration</span>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Enable Progress Bar
                                            {% if progressBarUsed %}
                                            <input name="progressBarUsed" type="checkbox" checked>
                                            {% else %}
                                            <input name="progressBarUsed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Total points on the Progress Bar</p>
                                        <input value="{{progressBarTotalPoints}}" name="progressBarTotalPoints"
                                            id="progressBarTotalPoints" maxlength="3" type="number" min="0"
                                            max="999999">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Set Group Progress Bar
                                            {% if progressBarGroupUsed %}
                                            <input name="progressBarGroupUsed" type="checkbox" checked>
                                            {% else %}
                                            <input name="progressBarGroupUsed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col s12">
                                            <p>Set Group Progress Bar Calculation</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <input class="with-gap" name="progressBarGroupAverage" type="radio"
                                                id="progressBarGroupAverage" value="True"
                                                {% if progressBarGroupAverage == True %} checked {%endif%} />
                                            <label for="progressBarGroupAverage">Calculate as Average</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="progressBarGroupAverage" type="radio"
                                                value="False" id="progressBarGroupTotal"
                                                {% if progressBarGroupAverage == False %} checked {%endif%} />
                                            <label for="progressBarGroupTotal">Calculate as Total</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Student Course Starting Page</span>
                                <div class="row">
                                    <p>
                                        <input class="with-gap" name="displayStudentStartPageSummary" type="radio"
                                            id="displayStudentStartPageClass" value="False"
                                            {% if displayStudentStartPageSummary == False %} checked {%endif%} />
                                        <label for="displayStudentStartPageClass">Display only class/group
                                            achievements</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="displayStudentStartPageSummary" type="radio"
                                            value="True" id="displayStudentStartPageSummary"
                                            {% if displayStudentStartPageSummary == True %} checked {%endif%} />
                                        <label for="displayStudentStartPageSummary">Display summary of student
                                            achievements</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Achievements Configuration</span>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Enable Achievement Page
                                            {% if displayAchievementPage %}
                                            <input name="displayAchievementPage" type="checkbox" checked>
                                            {% else %}
                                            <input name="displayAchievementPage" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Calculating Total Experience Points (XP) </span>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <p style="font-size: 0.8rem;">Weight of <i>serious challenge points (in %)</i>
                                        </p>
                                        <input value="{{xpWeightSChallenge}}" name="xpWeightSChallenge"
                                            id="s_challenge_weight" maxlength="3" type="number" min="0" max="100">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Weight of <i>warmup challenge points (in % )</i>
                                        </p>
                                        <input value="{{xpWeightWChallenge}}" name="xpWeightWChallenge"
                                            id="w_challenge_weight" maxlength="3" type="number" min="0" max="100">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Weight of <i>skill points (in % )</i></p>
                                        <input value="{{xpWeightSP}}" name="xpWeightSP" id="s_points_weight"
                                            maxlength="3" type="number" class="validate" min="0" max="100">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Weight of <i>activity points (in % )</i></p>
                                        <input value="{{xpWeightAPoints}}" name="xpWeightAPoints" id="a_points_weight"
                                            maxlength="3" type="number" min="0" max="100">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col s12">
                                            <p>Serious Challenges</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <input class="with-gap" name="xpCalculateSeriousByMaxScore" type="radio"
                                                id="xpSeriousMaxScore" value="True"
                                                {% if xpCalculateSeriousByMaxScore == True %} checked {%endif%} />
                                            <label for="xpSeriousMaxScore">Calculate XP by max score</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="xpCalculateSeriousByMaxScore" type="radio"
                                                value="False" id="xpSeriousFirstAttempt"
                                                {% if xpCalculateSeriousByMaxScore == False %} checked {%endif%} />
                                            <label for="xpSeriousFirstAttempt">Calculate XP by first attempt</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col s12">
                                            <p>Warmup Challenges</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <input class="with-gap" name="xpCalculateWarmupByMaxScore" type="radio"
                                                id="xpWarmupMaxScore" value="True"
                                                {% if xpCalculateWarmupByMaxScore == True %} checked {%endif%} />
                                            <label for="xpWarmupMaxScore">Calculate XP by max score</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="xpCalculateWarmupByMaxScore" type="radio"
                                                value="False" id="xpWarmupFirstAttempt"
                                                {% if xpCalculateWarmupByMaxScore == False %} checked {%endif%} />
                                            <label for="xpWarmupFirstAttempt">Calculate XP by first attempt</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Skills Configuration</span>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label style="display: block;">
                                            Display skill points on the leaderboard
                                            {% if classSkillsDisplayed %}
                                            <input name="classSkillsDisplayed" type="checkbox" checked>
                                            {% else %}
                                            <input name="classSkillsDisplayed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Skill Leaderboard Displayed
                                            {% if skillLeaderboardDisplayed %}
                                            <input name="skillLeaderboardDisplayed" type="checkbox" checked>
                                            {% else %}
                                            <input name="skillLeaderboardDisplayed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Number of top students displayed on skill
                                            leaderboard</p>
                                        <input value="{{numStudentBestSkillsDisplayed}}"
                                            name="numStudentBestSkillsDisplayed" id="skills_top_students" maxlength="3"
                                            type="number" min="0" max="100" required>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                <!--moved to course config as 'attendance streaks'
  				    <div class="col s12"
                        style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                        <div class="card" style="transform: translateZ(0);">
                            <div class="card-content">
                                <span class="card-title">Streak Configuration</span>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Enable Streaks
                                            {% if streaksUsed %}
                                            <input name="streaksUsed" type="checkbox" checked>
                                            {% else %}
                                            <input name="streaksUsed" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Student Configuration</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Students can change leaderboard visibility
                                        {% if leaderboardUsed and studCanChangeLeaderboardVis %}
                                        <input name="studCanChangeLeaderboardVis" type="checkbox" checked>
                                        {% else %}
                                        <input name="studCanChangeLeaderboardVis" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Students can change skill points visibility
                                        {% if classSkillsDisplayed and studCanChangeClassSkillsVis %}
                                        <input name="studCanChangeClassSkillsVis" type="checkbox" checked>
                                        {% else %}
                                        <input name="studCanChangeClassSkillsVis" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Students can change recent badge visibility
                                        {% if badgesUsed and studCanChangeBadgeVis %}
                                        <input name="studCanChangeBadgeVis" type="checkbox" checked>
                                        {% else %}
                                        <input name="studCanChangeBadgeVis" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Students can change class average visibility on <br />achievement page
                                        {% if classAverageUsed and studCanChangeclassAverageVis %}
                                        <input name="studCanChangeclassAverageVis" type="checkbox" checked>
                                        {% else %}
                                        <input name="studCanChangeclassAverageVis" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Display class average on student achievement page
                                        {% if classAverageUsed %}
                                        <input name="classAverageUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="classAverageUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col s12" style="height: 5px;"><br /></div> -->

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">XP Leaderboard</span>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p style="font-size: 0.8rem;">Number of Students Shown</p>
                                    <input id="studentsShown" value="{{numStudentsDisplayed}}"
                                        name="numStudentsDisplayed" type="number" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Badges Configuration</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable the use of badges
                                        {% if badgesUsed %}
                                        <input name="badgesUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="badgesUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Number of recent badges to be displayed on the
                                            leaderboard</p>
                                        <input value="{{numBadgesDisplayed}}" name="numBadgesDisplayed"
                                            id="badges_recent" maxlength="3" type="number" min="0" max="100" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Thresholds for Challenge Difficulty</span>
                            <div class="row">
                                <div class="row">
                                    <div class="col s12">
                                        <p>From <i>easy</i> to <i>medium</i></p>
                                    </div>
                                </div>
                                <div class="input-field col s12 inline">
                                    <p style="font-size: 0.8rem;">Threshold</p>
                                    <input value="{{thresholdToLevelMedium}}" name="thresholdToLevelMedium"
                                        id="threshold_1" maxlength="3" type="number" min="0" max="100" required>

                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col s12">
                                        <p>From <i>medium</i> to <i>high</i></p>
                                    </div>
                                </div>
                                <div class="input-field col s12 inline">
                                    <p style="font-size: 0.8rem;">Threshold</p>
                                    <input value="{{thresholdToLevelDifficulty}}" name="thresholdToLevelDifficulty"
                                        id="threshold_2" maxlength="3" type="number" min="0" max="100" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Virtual Currency Configuration</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Virtual Currency
                                        {% if virtualCurrencyUsed %}
                                        <input name="virtualCurrencyUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="virtualCurrencyUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p style="font-size: 0.8rem;">Increase the virtual currency of all students by
                                            ($$)</p>
                                        <input value="0" name="virtualCurrencyAdded" id="vc_added" maxlength="3"
                                            type="number" min="0" max="100" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Classmates Challenges</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable the use of duels and call-outs
                                        {% if classmatesChallenges %}
                                        <input name="classmatesChallenges" type="checkbox" checked>
                                        {% else %}
                                        <input name="classmatesChallenges" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="switch col s12">
                                        <label>
                                            Call out after solving a warmup correctly on the first attempt
                                            {% if calloutAfterWarmup %}
                                            <input name="calloutAfterWarmup" type="checkbox" checked>
                                            {% else %}
                                            <input name="calloutAfterWarmup" type="checkbox">
                                            {% endif %}
                                            <span class="lever secondary-content"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Allow students to bet virtual currency in duels
                                        {% if betVC %}
                                        <input name="betVC" type="checkbox" checked>
                                        {% else %}
                                        <input name="betVC" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p style="font-size: 0.8rem;">Amount of virtual currency rewarded to duel winners
                                    </p>
                                    <input value="{{vc_duel}}" name="vc_duel" id="vc_duel" maxlength="7" type="number"
                                        min="0" max="100" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p style="font-size: 0.8rem;">Amount of virtual currency rewarded to duel
                                        participants</p>
                                    <input value="{{vc_duel_participants}}" name="vc_duel_participants"
                                        id="vc_duel_participants" maxlength="7" type="number" min="0" max="100"
                                        required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p style="font-size: 0.8rem;">Maximum amount of virtual currency allowed for
                                        betting</p>
                                    <input value="{{vc_duel_max_bet}}" name="vc_duel_max_bet" id="vc_duel_max_bet"
                                        maxlength="7" type="number" min="0" max="100" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p style="font-size: 0.8rem;">Amount of virtual currency rewarded to call-outs
                                        participants</p>
                                    <input value="{{vc_callout}}" name=vc_callout id="vc_callout" maxlength="7"
                                        type="number" min="0" max="100" required>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Avatars Configuration</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable the use of Avatars
                                        {% if avatarUsed %}
                                        <input name="avatarUsed" type="checkbox" checked>
                                        {% else %}
                                        <input name="avatarUsed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Content Unlocking</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Enable Content Unlocking Menu
                                        {% if contentUnlockingDisplayed %}
                                        <input name="contentUnlockingDisplayed" type="checkbox" checked>
                                        {% else %}
                                        <input name="contentUnlockingDisplayed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12"
                    style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                    <div class="card" style="transform: translateZ(0);">
                        <div class="card-content">
                            <span class="card-title">Debug System Variables Displayed</span>
                            <div class="row">
                                <div class="switch col s12">
                                    <label>
                                        Display Menu to Debug System Variables
                                        {% if debugSystemVariablesDisplayed %}
                                        <input name="debugSystemVariablesDisplayed" type="checkbox" checked>
                                        {% else %}
                                        <input name="debugSystemVariablesDisplayed" type="checkbox">
                                        {% endif %}
                                        <span class="lever secondary-content"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col s12" style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                            <div class="card" style="transform: translateZ(0);">
                                <div class="card-content">
                                    <span class="card-title">Leveling Configuration</span>
                                    <div class="row">
                                        <div class="switch col s12">
                                            <label>
                                                Enable Leveling
                                                {% if levelingUsed %}
                                                <input name="levelingUsed" type="checkbox" checked>
                                                {% else %}
                                                <input name="levelingUsed" type="checkbox">
                                                {% endif %}
                                                <span class="lever secondary-content"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m6 right-align" style="padding-right: 1.50rem">
                    <button class="btn waves-effect waves-light" type="submit" name="save" value="Save">Save<i
                            class="material-icons right">done</i></button>
                    <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome"><i
                            class="material-icons right">close</i>Cancel</a>
                </div>
            </div>
        </form>
        <script>
            function checkIfBadgesNumberIsZero() {
                if (document.getElementById('badgesUsed').checked &&
                    document.getElementById('badges_recent').value == 0) {
                    var answer = confirm("Are you sure you wish to have zero badges displayed?")
                    if (answer) {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
        </script>
    </main>
    {% include 'footer.html' %}
</body>

</html>