<!DOCTYPE html>
<html>
   <head>
      {% include 'scripts.html' %}
      <script>
         $(document).ready(function(){
             $('.chips').material_chip();
             $('.chips-tags').material_chip({
                 placeholder: 'Enter a tag'
             });
             $('#search').submit(function(){
                 var tags = $("<input>").attr("type", "hidden").attr("name", "tags").val(JSON.stringify($('.chips-tags').material_chip('data')));
         
                 $('#search').append($(tags));
                 console.log($('.chips-tags').material_chip('data'));
             });
         });
     /*    function parsonsWarning(i,checkbox){
	        if(checkbox.checked){
	       		 if (i==8){
			         var isSerious = "{{isSerious}}";
			         if(!!isSerious)
		        		 alert("Warning: Adding Parson's Problems to a Serious Challenge is not recommended.");
	        	 }
	        }
         }*/
      </script>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12 m10 offset-m1">
               {% if challenge %}
               <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">Search Problems for <br /> {{challengeName}}</h3>
               {% else %}      
               <h3>Search Problems</h3>
               {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="search" name="search" action="/oneUp/instructors/sresults" method="POST">
                  {% csrf_token %}
                  {% if challenge %}
                  <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="col s12">
                              <h5>Course Topic</h5>
                           </div>
                           <div class="col s12">
                              {% for i,ctopicID,ctopicName in topic_range %}
                              <p>
                                 <input name="selectedTopic" class="filled-in" type="checkbox" id="topic-{{i}}" value="{{ctopicID}}"/>
                                 <label for="topic-{{i}}">{{ctopicName}}</label>
                              </p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Problem Types</h5>
                           </div>
                           <div class="col s12">
                              {% for i,displayName in qtypes_range %}
                              <!-- filters Raw lua out since unused-->
                                 {% if 'Raw' in displayName %}
                                 {% else %}
                              <p>
                                 <input name="selectedType" class="filled-in" type="checkbox" id="pType-{{i}}" value="{{i}}"/>
                                 <label for="pType-{{i}}">{{displayName}}</label>
                              </p>
                                 {% endif %}
                              {% endfor %}
                           </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Difficulty</h5>
                           </div>
                           <div class="col s12">
                              {% for i,qdifficulty in qdifficulty_range %}
                              <p>
                                 <input name="selectedDifficulty" class="filled-in" type="checkbox" id="difficulty-{{i}}" value="{{qdifficulty}}"/>
                                 <label for="difficulty-{{i}}">{{qdifficulty}}</label>
                              </p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Related Skill</h5>
                           </div>
                           <div class="col s12">
                              {% for i,qskill in skill_range %}
                              <p>
                                 <input name="selectedSkills" class="filled-in" type="checkbox" id="skill-{{i}}" value="{{qskill}}"/>
                                 <label for="skill-{{i}}">{{qskill}}</label>
                              </p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Challenges</h5>
                           </div>
                           <div class="col s12">
                              {% for i,qchallengeName,qchallengeID in challenge_range %}
                              <p>
                              		
                              			<input name="selectedChallenges" class="filled-in" type="checkbox"  id="challenge-{{i}}" value="{{qchallengeID}}"/>
                                 		<label for="challenge-{{i}}">{{qchallengeName}}</label>
                                 	
                              </p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Tags</h5>
                           </div>
                           <div class="col s12">
                              <label for="tags">Add Tags</label>
                              <div id="tags" class="chips chips-tags"></div>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button class="waves-effect waves-light btn" type="submit" name="submit" value="Seach"><i class="material-icons left">search</i>Search
                        </button>  
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}"><i class="material-icons left">navigate_before</i>Back</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>