<!DOCTYPE html>
<html lang="en">
   <head>
      
         {% include 'scripts.html' %}
    
		
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

         {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
               {% if challenge %}
			<h1>Search Problems for <span>{{challengeName}}</span></h1>
		{% else %}      
            <h1>Search Problems</h1> 
        {% endif %}
			<br />
<!-- INSERTED DYNAMIC TABLE --> 
			<form name="search" action="/oneUp/instructors/sresults" method="POST">
				{% csrf_token %}
				{% if challenge %}
					<input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
		  		{% endif %}
  				<table class="bg">

        			<tr>
            			<th>Course Topics</th>
        			</tr>
        			<tr>
                	<td> 				
 	    			{% for i,ctopicID,ctopicName in topic_range %}
	    				<div id="ctopic{{i}}">      
	     					<input type="checkbox" name="selectedTopic" value="{{ctopicID}}">
		     				{{ctopicName}}<br>
	      					<input type="hidden" name="ctopicID{{i}}" value="{{ctopicID}}">
						</div>
	    			{% endfor %}
 
 					</td>
					</tr> 

        			<tr>
            			<th>Problem Types</th>
        			</tr>
        			<tr>
                	<td> 				
 	    			{% for i,displayName in qtypes_range %}
	    				<div id="qtype{{i}}">      
	     					<input type="checkbox" name="selectedType" value="{{i}}">
		     				{{displayName}}<br>
	      					<input type="hidden" name="stypeID{{i}}" value="{{type}}">
						</div>
	    			{% endfor %}
 
 					</td>
					</tr> 
					<tr>
            			<th>Difficulty</th>
        			</tr>
        			<tr >
                		<td> 	
                							
 	    			{% for i,qdifficulty in qdifficulty_range %}
	    				<div id="qdifficulty{{i}}">	      
	     					<input type="checkbox" name="selectedDifficulty" value="{{qdifficulty}}" >
		     				{{qdifficulty}}
	      					<input type="hidden" name="qdifficulty{{i}}" value="{{qdifficulty}}">
	    				</div>
	    			{% endfor %}
 	    			
	    				</td>
	  				</tr>	  
	  				
					<tr>
            			<th>Related Skills</th>
        			</tr>
        			<tr >
                		<td> 	
                							
 	    			{% for i,qskill in skill_range %}
	    				<div id="qskill{{i}}">	      
	     					<input type="checkbox" name="selectedSkills" value="{{qskill}}" >
		     				{{qskill}}
	      					<input type="hidden" name="qskill{{i}}" value="{{qskill}}">
	    				</div>
	    			{% endfor %}
 	    			
	    				</td>
	  				</tr>	  			
	  							
					<tr>
            			<th>Challenges</th>
        			</tr>
        			<tr>
                		<td> 				
	    			{% for i,qchallengeName,qchallengeID in challenge_range %}
	    				<div id="qchallengeID{{i}}">	      
	     					<input type="checkbox" name="selectedChallenges" value="{{qchallengeID}}" >
		     				{{qchallengeName}} <br>
	      					<input type="hidden" name="qchallengeID{{i}}" value="{qchallengeID}">
	    				</div>
	    			{% endfor %}
	    			<tr>
            			<th>Tags</th>
        			</tr>
        			<tr>
                		<td> 		
  					<input id="mediumFormBox" type="text" name="tags" value="{{tags}}">
  					<font style="font-size:.8em;">Enter tags separated by commas (,)</font>				
  				
  					 </table>
      			<input type="submit" name="submit" value="Search" class="button">
      			<a href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}"><input type="button" class="special button" value="Cancel"></a>
      		</form>
      		<br>
<!-- END DYNAMIC TABLE -->
		</div></div></div></div>
      </div>
      <!-- Footer -->

        {% include 'footer.html' %}
      </div>
 
   </body>
</html>