<!DOCTYPE html>
<html lang="en">
   <head>      
      {% include 'scripts.html' %}
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Skills</h3>
            </div>
         </div>
         <div class="row right-align">
         	<div class="col s12 m8 offset-m2">
         	<a class="waves-effect waves-light btn" href="/oneUp/instructors/skillsCreate"><i class="material-icons left">add_circle</i>Add New Skill</a>
         	</div>
         </div>
         <div class="row">
            <div class="col s12 m8 offset-m2">
               <div class="card-panel">
                  <table>
                     <thead>
                        <tr>
                           <th>Skill Name</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i,skill_ID,skill_Name in skill_range %}
                        <tr>
                           <td>{{skill_Name}}</td>
                           <td>
                              <form action="/oneUp/instructors/deleteSkill" method="POST">
                                 {% csrf_token %}
                                 <input type="hidden" name="skillID" value="{{skill_ID}}">                      
                                 <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='skill{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                                 <ul id='skill{{i}}' class='dropdown-content'>
                                    {% csrf_token %} 
                                    <li><a href="/oneUp/instructors/skillsCreate?skillID={{skill_ID}}">Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a class="modal-trigger" href="#modal_delete{{i}}">Delete</a></li>
                                 </ul>
                                 <div id="modal_delete{{i}}" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to delete?</h5>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                       </button>                                        
                                    </div>
                                 </div>
                              </form>
                           </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="center-align" colspan="2">No Skills</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>