<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
        {% include 'scripts.html' %}
      
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
		
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

          {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
               <h1>Enter New Skill</h1>
                <p><span>*</span>Skills can be linked to problems</p>
               <br />
                  <!-- INSERTED DYNAMIC TABLE -->  
                  <form name="question" action="/oneUp/instructors/skillsCreate" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="skillID" id="skillID"
                     value="{{skillID}}">
                  <table class="bg">
                     <tr>
                        <th>Skill Name</th>
                     </tr>
                     <tr>
                        <td> 
                           <input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" name="skillName" value="{{skillName}}" id="preview" pattern=".*\S+.*" required>
                  </table>
                  <input type="submit" name="submit" value="Submit" class="button" onclick="return check();">
                  <a href="/oneUp/instructors/skillsList"><input type="button" value="Done"></a>
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
      </div>
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>
      <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>