<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
         {% include 'scripts.html' %}
      
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
		
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

          {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
         	<div class="12u">
               <h1>Student Scores</h1>
               <br />
                  <!-- INSERTED DYNAMIC TABLE --> 
                  <table class="bg">
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th></th>
                     </tr>
                     {% for i,first_Name,last_Name,user_Email,userID in user_range %}
                     <tr>
                    <div class="col s12 m6">
                        <div class="card blue-grey darken-1">
                        <div id="student{{i}}">
                           <td>{{first_Name}}</td>
                           <td>{{last_Name}}</td>
                           <td>{{user_Email}}</td>
                           <td align="right">
            
                                <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select</a>
  
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/oneUp/instructors/studentSkillsEarned?userID={{userID}}">Skills</a></li>
                        <li><a href="/oneUp/students/ChallengesWarmUpList?userID={{userID}}&page={{2}}">Warm Up</a></li>
                        <li><a href="/oneUp/students/ChallengesList?userID={{userID}}&page={{3}}">Challenges</a></li>
                        <li><a href="/oneUp/students/achievements?userID={{userID}}&page={{4}}">Dashboard</a></li>
                    </ul>
                              </form> 
                           </td>
                        </div>
                     </tr>
                     {% endfor %}
                     
                  </table>
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
      </div>
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>
  
   </body>
</html>