<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts.html' %}
    <style>
        table tr td {
			padding: 0 0 0 12px;
			height: 48px;
			/* font-size: 13px; */
			/* color: rgba(0, 0, 0, 0.87); */
			/* border-bottom: solid 1px #DDDDDD; */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
      }
		table td:first-child {
			padding: 0 0 0 8px;
      }
		table td:last-child {
			padding: 0 14px 0 0;
		}
    </style>
</head>
<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12">
                <h3>Student Scores</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel">
                    <table>
                        <thead>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for i,first_Name,last_Name,user_Email,userID in user_range %}
                            <tr>
                                <td>{{first_Name}}</td>
                                <td>{{last_Name}}</td>
                                <td>{{user_Email}}</td>
                                <td class="right-align"><a class="dropdown-button tooltipped" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown-{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons" >more_vert</i></a>
                                    <ul id='dropdown-{{i}}' class='dropdown-content'>
                                    {% if skillsUsed %}
                                        <li><a href="/oneUp/instructors/studentSkillsEarned?userID={{userID}}">Skills</a></li>
                                    {% endif %}
                                    {% if activitiesUsed %}
                                        <li><a href="/oneUp/instructors/activityScore?userID={{userID}}">Activities</a></li>
                                    {% endif %}
                                    {% if warmupsUsed%}
                                        <li><a href="/oneUp/students/ChallengesWarmUpList?userID={{userID}}">Warm Ups</a></li>
                                    {% endif %}
                                    {% if seriousUsed %}
                                        <li><a href="/oneUp/students/ChallengesList?userID={{userID}}">Challenges</a></li>
                                    {% endif %}
                                    {% if ccparams.displayAchievementPage %}
                                        <li><a href="/oneUp/students/achievements?userID={{userID}}">Dashboard</a></li>
                                    {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>