<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
       {% include 'scripts.html' %}
      
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>  
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    {% include 'scripts.html' %}  
      
      <!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5.js"></script><![endif]-->
    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
       $('#datetimepicker').datetimepicker({
         format: 'dd/MM/yyyy hh:mm:ss',
         language: 'pt-BR'
       });
    </script>  
    <script type="text/javascript">
    // This script handels the datetime fields (AH)
      $(function() {
          $('#datetimepicker2').datetimepicker({
              language: 'en',
              pick12HourFormat: true,
            
            });
         $('#datetimepicker3').datetimepicker({
           language: 'en',
           pick12HourFormat: true,
           
         });
        // Called when first datefield(Display From) is changed (AH)
        $("#datetimepicker2").on('changeDate', function(e) {
            // Sets the Start Date of the second datefield(Display Until) to be the assigned date of the
            // first datefield(Display From) (AH)
          $("#datetimepicker3").data('datetimepicker').setStartDate(e.date);
            // If the saved date for the second datefield is somehow before the first datefield date,
            // set the second datefield to be the same as the first datefield (AH)
          if($("#datetimepicker3").data('datetimepicker').getDate() < e.date){
            $("#datetimepicker3").data('datetimepicker').setDate(e.date);
          }
          console.log(e.date.toString());
        });
        // Called when first datefield(Display From) is changed (AH)
        $("#datetimepicker3").on('changeDate', function(e) {
            // Sets the End Date of the first datefield(Display From) to be the assigned date of the
            // second datefield(Display Until) (AH)
          $("#datetimepicker2").data('datetimepicker').setEndDate(e.date);
            // If the saved date for the first datefield is somehow after the second datefield date,
            // set the first datefield to be the same as the second datefield (AH)
          if($("#datetimepicker2").data('datetimepicker').getDate() > e.date){
            $("#datetimepicker2").data('datetimepicker').setDate(e.date);
          }
            console.log(e.date.toString());
        });
        
      });
    </script>    
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

          {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
               <h1> Configure SubTopic </h1>
               <!-- <p><span>*</span>Topics can be linked to problems</p> -->
            </div></div>
            <div class="row">
            <div class="12u">
                  <!-- INSERTED DYNAMIC TABLE -->
                  <form name="question" action="/oneUp/instructors/subTopicsCreate?subTopicID={{subTopicID}}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="subTopicID" id="subTopicID" value="{{subTopicID}}">
                  <input type="hidden" name="topicID" id="topicID" value="{{topicID}}">
                  <table class="bg">
                     <tr>
                        <th></th>
                     </tr>
                     <tr>
                        <td class="left"> Topic Name </td>
                        <td> 
                           <input style="max-width: 30em; max-height: 2em; border: solid 1px " type="text" name="topicName" value="{{topicName}}"  pattern=".*\S+.*" readonly>
                        </td>
                    </tr>
                        <tr>
                        <td class="left"> Enter Sub Topic Name </td>
                        <td><input style="max-width: 30em; max-height: 2em; border: solid 1px " type="text" name="subTopicName" value="{{subTopicName}}"  pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                        <td class="left"> Enter Sub Topic Position </td>
                        <td><input style="max-width: 10em; max-height: 2em; border: solid 1px " type="text" name="subTopicPos" value="{{subTopicPos}}" pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                        <td class="left"> Enter XP Threshold </td>
                        <td><input style="max-width: 10em; max-height: 2em; border: solid 1px " type="text" name="thresholdXP" value="{{thresholdXP}}" pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                        <td class="left"> Enter Skill Points Threshold </td>
                        <td><input style="max-width: 10em; max-height: 2em; border: solid 1px " type="text" name="thresholdSP" value="{{thresholdSP}}"  pattern=".*\S+.*" required></td>
                        </tr>
                        <tr>
                        <td>Display Date:</td>
                        <td>
                        <div id="datetimepicker3" class="input-append">
                            <input style="display:inline-block" id="smallFormBox" data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="displayDate" value="{{displayDate}}">
                            <span class="add-on" style="height:2.75em; line-height:2em">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                        </td>
                        <!-- <td><input type="date" align="left" name="displayDate" pattern=".*\S+.*" required></td> -->
                        </tr>
                  </table>
                  <input type="submit" name="submit" value="Submit" class="button" onclick="return check();">
                  <a href="/oneUp/instructors/subTopicsListView?topicID={{topicID}}"><input type="button" value="Done"></a>
                  <br>
                  </form>
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
      </div>
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>
      <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>