<!DOCTYPE html>

<html lang="en">

<head>
   {% include 'scripts.html' %}
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
      $(function () {
         $("#sortableGroups").sortable({

            stop: function (event, ui) {

               var itemOrder = $('#sortableGroups').sortable("toArray");

               var idsPositions = []

               for (var i = 0; i < itemOrder.length; i++) {
                  if (itemOrder[i]) {
                     console.log("Position: " + i + " ID: " + itemOrder[i]);
                     idsPositions.push(String(itemOrder[i]) + "---" + String(i));
                  }
               }

               var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

               console.log(idsPositions)

               $.post("/oneUp/instructors/ReorderGroups", {
                  groupIdsPositions: idsPositions,
                  csrfmiddlewaretoken: csrftoken,
               }, function (data) {
                  console.log(data)
               });

            }
         });
      });
   </script>
</head>

<body>
   {% include 'heading.html' %}
   <main>
      <div class="row center-align">
         <div class="col s12">
            <h3>Teams</h3>
         </div>
      </div>
      <div class="row right-align">
         <div class="col s12 m10 offset-m1">

            <a class="waves-effect waves-light btn" href="/oneUp/instructors/teamCreate">
               <i class="material-icons left">add_circle</i>Add a New Team</a>
            <a class="waves-effect waves-light btn modal-trigger" href="#add-modal">
               <i class="material-icons left">add_circle</i>Add N New Teams</a>
            <a class="waves-effect waves-light btn" href="#!">
               <i class="material-icons left">add_circle</i>Auto Assign Students</a>

            <div id="add-modal" class="modal">
               <div class="modal-content">
                  <div class="row center-align">
                     <form id="add-form" name="add" action="/oneUp/instructors/teamCreateN" method="POST">
                        {% csrf_token %}
                        <h4 id="add-modal-title">Create N Teams</h4>

                        <div class="row center-align" style="margin-top: 50px;">

                           <label class="left" for="flashcard-name"><span class="red-text">*</span>
                              Number of Teams to be Created</label>
                           <input value="0" name="numberOfTeams" id="numberOfTeams" type="text" class="validate">
                        </div>

                        <div class="modal-footer">
                           <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat"
                              style="color: #00bcd4">Cancel</a>
                           <button class="btn waves-effect waves-light" type="submit" name="submit"> Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col s12 m10 offset-m1">
                  <div class="card-panel">

                     <ul id="sortableGroups" class="collapsible" data-collapsible="expandable">
                        {% for i, team_ID, team_name, team_avatar, students_in_group in teams_range %}
                        <li id={{team_ID}}>
                           <div class="collapsible-header"> <img width="5%" src={{team_avatar}}><i class="material-icons">swap_vert</i> {{team_name}}
                              &nbsp;&nbsp;
                              {% if not team_name == "Unassigned Students" %}
                              <span class="badge">
                                 <form action="/oneUp/instructors/deleteTeam" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_ID" value="{{team_ID}}">
                                    <a class="dropdown-button tooltipped secondary-content" href="#!"
                                       data-constrainwidth="false" data-beloworigin="true"
                                       data-activates='dropdown-{{i}}' data-position="right" data-delay="50"
                                       data-tooltip="Options"><i class="material-icons">more_vert</i></a>
                                    <ul id='dropdown-{{i}}' class='dropdown-content'>
                                       <li><a href="/oneUp/instructors/teamCreate?teamID={{team_id}}">Edit</a></li>
                                       <li class="divider"></li>
                                       <li><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
                                    </ul>
                                    <div id="modal_delete-{{i}}" class="modal">
                                       <div class="modal-content">
                                          <h5>Are you sure you want to delete?</h5>
                                       </div>
                                       <div class="modal-footer">
                                          <a href="#!"
                                             class="modal-action modal-close waves-effect waves-light btn-flat"
                                             style="color: #00bcd4">Cancel</a>
                                          <button class="modal-action modal-close waves-effect waves-light btn-flat"
                                             type="submit" name="submit" value="Delete">Delete
                                          </button>
                                       </div>
                                    </div>
                                 </form>
                              </span>
                              {% endif %}
                           </div>
                           <div class="collapsible-body">

                              <ul id="{{groupID}}">
                                 {% for student in students_in_group %}
                                 <li class="row">
                                    <div class="no-padding collapsible-header"> &nbsp&nbsp&nbsp&nbsp&nbsp
                                       <i class="material-icons">swap_vert</i>
                                       <span style="max-width: 40%;min-width: 40%">{{student}}</span>

                                       <span class="badge right-align">
                                          <a class="dropdown-button tooltipped secondary-content" href="#!"
                                             data-constrainwidth="false" data-beloworigin="true"
                                             data-activates='dropdown-{{i}}-{{groupID}}-{{card.flashID}}'
                                             data-position="right" data-delay="50" data-tooltip="Options">
                                             <i class="material-icons">more_vert</i>
                                          </a>
                                          <ul id='dropdown-{{i}}-{{groupID}}-{{card.flashID}}' class='dropdown-content'>
                                             <li>
                                                <a href="#!" onclick="edit_card('{{card.flashID}}')">Edit</a>
                                             </li>

                                             <li class="divider"></li>
                                             <li>
                                                <a class="modal-trigger"
                                                   href="#modal_delete-{{i}}-{{card.flashID}}">Delete</a>
                                             </li>
                                          </ul>

                                          <div id="modal_delete-{{i}}-{{card.flashID}}" class="modal">
                                             <div class="modal-content">
                                                <h5>Are you sure you want to delete?</h5>
                                                <p>The selected flash card will be deleted.</p>
                                             </div>
                                             <div class="modal-footer">
                                                <a href="#!"
                                                   class="modal-action modal-close waves-effect waves-light btn-flat"
                                                   style="color: #00bcd4">Cancel</a>
                                                <button type="button"
                                                   class="modal-action modal-close waves-effect waves-light btn-flat"
                                                   value="Delete" onclick="deleteFlashcard('{{card.flashID}}')">Delete
                                                </button>
                                             </div>
                                          </div>
                                       </span>

                                    </div>
                                 </li>
                                 {% empty %}
                                 <li>
                                    <td class="left-align" colspan="4">
                                       <i>There are no students in this team</i>
                                    </td>
                                 </li>
                                 {% endfor %}
                              </ul>

                           </div>
                        </li>

                        {% empty %}

                        <li class="center-align" colspan="5">No Teams</li>

                        {% endfor %}
                     </ul>

                  </div>
               </div>
            </div>
   </main>
   {% include 'footer.html' %}
   <script>
      document.addEventListener('DOMContentLoaded', function () {
         var elems = document.querySelectorAll('.modal');
         var instances = M.Modal.init(elems, options);
      });

      // Or with jQuery

      $(document).ready(function () {
         $('.modal').modal();
      });
   </script>
</body>