<!DOCTYPE html>

<html lang="en">

<head>
   {% include 'scripts.html' %}
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
      $(document).ready(function () {
         
         // Format Date
         date='{{lockInDate}}';
         tokens = date.split(',').slice(0,-1)
         result = tokens.join(','); 
         console.log(result,'XXX');
         document.getElementById('date').innerHTML = result
      });
      $(function () {
         /*$("#sortableGroups").sortable({

            stop: function (event, ui) {

               var itemOrder = $('#sortableStudents').sortable("toArray");

               var idsPositions = []

               for (var i = 0; i < itemOrder.length; i++) {
                  if (itemOrder[i]) {
                     console.log("Position: " + i + " ID: " + itemOrder[i]);
                     idsPositions.push(String(itemOrder[i]) + "---" + String(i));
                  }
               }

               var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

               console.log(idsPositions)

               $.post("/oneUp/instructors/moveTeamStudents", {
                  groupIdsPositions: idsPositions,
                  csrfmiddlewaretoken: csrftoken,
               }, function (data) {
                  console.log(data)
               });

            }
         });*/
         $(".sortable-students").sortable({
			connectWith: ".sortable-students",
			items: "li:not(.not-sortable)",
			placeholder: "sortable-placeholder",
			forcePlaceholderSize: true,
			update: (event, ui) => {
				var team_id = $(event.target).data("team-id");
				var item_list = $(`.sortable-students[data-team-id="${team_id}"]`).sortable(
					"toArray");
            
            var positions = []
				// console.log(item_list);
				for (var i = 0; i < item_list.length; i++) {
					if (item_list[i]) {
						// console.log("Chall Position: " + i + " ID: " + item_list[i]);
						positions.push(item_list[i]);
					}
				}
            var student_id = positions[0];
            
            console.log("team id:"+team_id, "itemList:" + item_list, student_id)
            // console.log(positions)
            if (student_id !== undefined){
               const params = {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json',
                     'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val(),
                  },
                  body: JSON.stringify({
                     "student-id": parseInt(student_id),
                     "team-id": parseInt(team_id)
                  })
               };
               fetch("/oneUp/instructors/updateTeamLeader", params)
               .then((response) => {return response.json()})
               .then((response) => {console.log(response); update_star(team_id)})
            }
			},
			receive: (event, ui) => {
				var team_id = $(event.target).data("team-id");
				var student_id = ui.item[0].id;

				$(`#${student_id}`).data("team-id", team_id);
            console.log("Team ID:" ,team_id, "Student ID: ",student_id)

				const params = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val(),
					},
					body: JSON.stringify({
						"student-id": parseInt(student_id),
						"team-id": parseInt(team_id)
					})
				};
				fetch("/oneUp/instructors/moveTeamStudents", params)
				.then((response) => { return response.json()})
				.then((response) => {console.log(response); update_star(team_id)})
			},
			stop: (event, ui) => {
				$(`#${ui.item[0].id}`).removeClass("sortable-item-active");
			},
			sort: (event, ui) => {
				$(`#${ui.item[0].id}`).addClass("sortable-item-active");
			}
      });
      var update_star = (team_id) => {
         var get_team_star_element = (element) => {
            return $(element).children().first();
         }
         var team_leader = $(`.sortable-students[data-team-id="${team_id}"]`).sortable(
               "toArray")[0];
         if (team_leader === undefined) return;

         var items = $(`.sortable-students[data-team-id="${team_id}"]`).children();
         for(let i = 0; i < items.length; i++){
            let item = items[i];
            let star = get_team_star_element(item);
            if (star !== undefined && star.children().length > 2){
               star.children()[2].remove();
            }
         }
         var team_star = `<div id="${team_id}-star" style="padding-right: 8px; justify-self:center;">
                                          <i class="material-icons" style="vertical-align: bottom;">stars</i>
                     </div>`;
         $(`.sortable-students[data-team-id="${team_id}"]`).children().first().children().first().append(team_star)
      }

      });
      
   </script>
</head>

<body>
   {% include 'heading.html' %}
   <main>
      <div class="row center-align">
         <div class="col s12">
            <h3>Teams</h3>
         </div>
      </div>
      <div class="row right-align">
         
         <div class="col s12 m10 offset-m1">
            <a class="waves-effect waves-light btn" href="/oneUp/instructors/teamCreate">
               <i class="material-icons left">add_circle</i>Add a New Team</a>
            <a class="waves-effect waves-light btn modal-trigger" href="#add-modal">
               <i class="material-icons left">add_circle</i>Add N New Teams</a>
            <a class="waves-effect waves-light btn" href="/oneUp/instructors/teamAutoAssign">
               <i class="material-icons left">autorenew</i>Auto Assign Students</a>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a class="waves-effect waves-light btn modal-trigger" href="#modal-new-teams"><i class="material-icons left">archive</i>Archive All Teams</a></li>
               <div id="modal-new-teams" class="modal">
                  <div class="modal-content">
                     <h5>Are you sure you want to create a new team set?</h5>
                     <p>All current teams will be deactivated allowing for a new set of teams to be created.</p>
                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                     <a href='/oneUp/instructors/deactivateTeams' class="modal-action modal-close waves-effect waves-light btn-flat">Continue</a>
               
                  </div>
               </div>
               <a class="waves-effect waves-light btn" href="/oneUp/instructors/pastTeams">
                  <i class="material-icons left">remove_red_eye</i>View Archived Teams</a>
            <div id="add-modal" class="modal">
               <div class="modal-content">
                  <div class="row center-align">
                     <form id="add-form" name="add" action="/oneUp/instructors/teamCreateN" method="POST">
                        {% csrf_token %}
                        <h4 id="add-modal-title">Create N Teams</h4>

                        <div class="row center-align" style="margin-top: 50px;">

                           <label class="left" for="numberOfTeams"><span class="red-text">*</span>
                              Number of Teams to be Created</label>
                           <input value="0" name="numberOfTeams" id="numberOfTeams" type="text" class="validate">
                        </div>

                        <div class="modal-footer">
                           <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat"
                              style="color: #00bcd4">Cancel</a>
                           <button class="btn waves-effect waves-light" type="submit" name="submit"> Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col s12 m10 offset-m1">
                  <div class="card-panel">
                     {% if selfAssignment %}
                     <p style="text-align: left;"><b>Student Self-Assignment Deadline:</b> <span id='date'> </span></p>
                     {% endif %}
                     <ul id="sortableGroups" class="collapsible" data-collapsible="expandable">
                        {% for i, team_ID, team_name, team_avatar, students_in_group in teams_range %}

                        <li id={{team_ID}}>
                           <div class="collapsible-header"> <img width="5%" src={{team_avatar}}><i
                                 class="material-icons">people_outline</i> {{team_name}}
                              &nbsp;&nbsp;
                              {% if not team_name == "Unassigned Students" %}
                              <span class="badge">
                                 <form action="/oneUp/instructors/deleteTeam" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_ID" value="{{team_ID}}">
                                    <a class="dropdown-button tooltipped secondary-content" href="#!"
                                       data-constrainwidth="false" data-beloworigin="true"
                                       data-activates='dropdown-{{i}}' data-position="right" data-delay="50"
                                       data-tooltip="Options"><i class="material-icons">more_vert</i></a>
                                    <ul id='dropdown-{{i}}' class='dropdown-content'>
                                       <li><a href="/oneUp/instructors/teamCreate?teamID={{team_ID}}">Edit</a></li>
                                       <li class="divider"></li>
                                       <li><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
                                    </ul>
                                    <div id="modal_delete-{{i}}" class="modal">
                                       <div class="modal-content">
                                          <h5>Are you sure you want to delete?</h5>
                                       </div>
                                       <div class="modal-footer">
                                          <a href="#!"
                                             class="modal-action modal-close waves-effect waves-light btn-flat"
                                             style="color: #00bcd4">Cancel</a>
                                          <button class="modal-action modal-close waves-effect waves-light btn-flat"
                                             type="submit" name="submit" value="Delete">Delete
                                          </button>
                                       </div>
                                    </div>
                                 </form>
                              </span>
                              {% endif %}
                           </div>
                           <div class="collapsible-body">
                              <ul class="sortable-students" data-team-id="{{team_ID}}"
                                 style="padding-bottom: 1px;">
                                 {% for student, enrollment in students_in_group %}
                                 <li id="{{student.id}}" data-team-id="{{team_ID}}">
                                    <div class="sortable-item" style="display: grid;
                                    grid-template-columns: auto 1fr auto auto; text-align: left">
                                       <div style="padding-right: 8px;">
                                          <i class="material-icons" style="vertical-align: bottom;">swap_vert</i>
                                       </div>
                                       
                                       <span style="max-width: 30%;min-width: 30%">{{student}} </span> 
                                       {% if not team_name == "Unassigned Students" %}
                                       <span style="color:gray;">Enrollment Method: <b>{{enrollment}}</b></span>

                                       
                                       {% if forloop.first %}
                                       <span id="{{team_ID}}-star" style="width:15%;white-space: nowrap;padding-right: 8px; justify-self:center;">
                                          <i class="material-icons" style="vertical-align: bottom;">stars</i>
                                       </span>
                                       {% endif %}
                                       {% endif %}
                                    </div>
                                 </li>
                                 {% endfor %}
                              </ul>

                           </div>
                        </li>

                        {% empty %}

                        <li class="center-align" colspan="5">No Teams</li>

                        {% endfor %}
                     </ul>

                  </div>
               </div>
            </div>
   </main>
   {% include 'footer.html' %}
   <script>
      document.addEventListener('DOMContentLoaded', function () {
         var elems = document.querySelectorAll('.modal');
         var instances = M.Modal.init(elems, options);
      });

      // Or with jQuery

      $(document).ready(function () {
         $('.modal').modal();
         
      });
   </script>
</body>