<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'scripts.html' %} {% load staticfiles %}
    <!-- <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script> -->
    <link href="/static/ThirdParty/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="/static/ThirdParty/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor-init.js"></script>
    <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor/ckeditor.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/ThirdParty/aceEditor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    {% include 'dynamicQuestionSetup.html' %}
    <script type="text/javascript">
var testResultsVar;
        function testQuestion() {
        	data = {}
        	for (var i = 1; i <= numParts; i++) {
                data['_templateText'+i]=CKEDITOR.instances['templateTextVisible' + i].getData();
                data['_partpoints'+i]=document.getElementById("partpoints"+i).value;
            }
        	data['_partNum']=1
        	data['_inittestquestion']='true'
        	data['_attemptId'] = attemptId;
        	data['_inChallenge'] = inChallenge;
        	data['_inTryOut'] = inTryOut;
            data['_seed'] = document.trial.seed.value;
            data['_numParts'] = numParts;
            data['_setupCode'] = editor.getValue();
            data['_dependentLuaLibraries[]']=lua_lib_selected
            data['_submissionsAllowed']=document.question.submissionsAllowed.value;
            data['_resubmissionPenalty']=document.question.resubmissionPenalty.value;
            data['_points']=document.question.points.value;
            data['_questionId']='{{questionId}}';
        	$.ajax({
        		url: "doDynamicQuestion",
        		type: "POST",
        		data: data,
        		dataType: 'html',
        		success: function(result,textStatus, jqXHR) {
        			$("#codeResults").html(result);
        			testResultsVar=result;
        			makeAllEditors();
        		}
        	});
        }

        function copyContentsToHidden() {
            document.question.setupCode.value = editor.getValue();
            document.question.numParts.value = numParts;

            for (var i = 1; i <= numParts; i++)
                document.question["templateText" + i].value = CKEDITOR.instances["templateTextVisible" + i].getData(); //Note that x["foo"] is the same as x.foo;

        }

        function disableDiv(name) {
            var darkLayer = document.getElementById(name + "-darkLayer");
			console.log(darkLayer);
            darkLayer.style.display = "";
            var element = document.getElementById(name + "-exact");
            var descendents = element.getElementsByTagName("*");
            var i, e;
            for (i = 0; i < descendents.length; i++) {
                e = descendents[i];
                if ((e.tagName == "INPUT") || (e.tagName == "TEXTAREA") || (e.tagName == "BUTTON") || (e.tagName == "SELECT") ||
                    (e.tagName == "OPTION") || (e.tagName == "OPTGROUP") || (e.tagName == "FIELDSET")) {
                    e.disabled = "disabled";
                }
                if ((e.tagName == "INPUT") && (e.type.toUpperCase() == "SUBMIT")) {
                    e.value = "Submitted";
                }

            }
        }

        var numParts = {{numParts}}
        var ckeditor_config = "{{ckeditor.config}}";
        var ckeditor_plugins_resources = "{{ckeditor.external_plugin_resources}}";

        function addPart() {

            /*If there is only one part then don't show the delete part button */
            if (numParts == 1) {
                document.getElementById('removePart').classList.remove('disabled');
            }

            /*Update number of JS variable */
            numParts++;

            /*Update the number of parts that is sent to the python for the question */
            document.question.elements['numParts'].value = numParts;

            /* used to make the actaul html code block */
            var id = "questionPart" + numParts;
            var name = "templateTextVisible" + numParts;
            var newElement = "<div id='"+id+"superdiv'> \n" +
	            "<div class='row'> \n" +
	            	"<div id='questionPartNumPoints"+numParts+"' class='col s12'> \n" +
	            		"<b>Part "+numParts+"</b> \n" +
	        			"<input type='number' name='partpoints"+numParts+"' id='partpoints"+numParts+"' value='10'/> \n" +
	            		"<label for='part"+numParts+"points'>Total Points for Part "+numParts+" Answer Blanks</label> \n" +
	            	"</div> \n" +
	            "</div> \n" +
	            "<div class='row'> \n" +
	            	"<div id='" + id + "' class='col s12' >\n"+
    		            "<div class='django-ckeditor-widget' data-field-id='"+name+"'> \n"+
              				"<textarea style='resize:none; border: solid 1px rgba(128, 128, 128, 0.5)' name='"+name+"' id='"+name+"' rows='10' cols='70' data-processed='0' data-config='"+ckeditor_config+"' data-external-plugin-resources='"+ckeditor_plugins_resources+"' data-id='"+name+"' data-type='ckeditortype'>{{initalTemplateTextPart}}</textarea> \n"+
              			"</div>"+
                		"<input type='hidden' name='templateText" + numParts + "'  style='display: none;' /> <br /> \n"+
                	"</div> \n" +
                "<\div> \n" +
            "</div> \n";

            /* Put the new text part in place */
            var node = document.createTextNode(newElement);
            var previous = document.getElementById("questionPart" + (numParts - 1) +"superdiv");
            previous.insertAdjacentHTML('afterEnd', newElement);

            // CKEDITOR.config.autoParagraph = false;
            // CKEDITOR.replace(name);
            runInitialisers();


        }

        function removePart() {

            /* Remove last answer blank. */
            var lastAnswer = document.getElementById("questionPart" + numParts + "superdiv");
            lastAnswer.parentElement.removeChild(lastAnswer);

            /*Decrease Js variable */
            numParts--;

            /* Update the number which will be returned to python */
            document.question.elements['numParts'].value = numParts;

            /* If we're down to just two answers, hide the button which
            removes answers */
            if (numParts == 1) {
                document.getElementById('removePart').classList.add('disabled');
            }
        }

        function populateEditor() {
            /* Start local number parts at 1 os that when calling add it won't increase pass our given */
            numParts = 1;

            /* var step = {{numParts}} //DEBUG
            window.alert(step); */

            /*Loop through and add the new ediotrs to the page */
            for (var i = 1; i < {{numParts}}; i++)
                addPart();

            {% if checkInitalTemplateTextPart %}
            CKEDITOR.instances['templateTextVisible1'].setData(String.raw `{{initalTemplateTextPart |safe}}`); //gets the right ediotr and then
            {% endif %}

            /*Populate text for each new editor we added */
            {% for templatePart in templateTextParts %}
            CKEDITOR.instances['templateTextVisible' + {{templatePart.partNumber}}].setData(String.raw `{{templatePart.templateText |safe}}`); //gets the right editor and then
            //sets the data to be what is located in the text part of our tempatePart object NOTE: Safe means dont porcess html treat as regular code
            // Also set the number of points in each part.
            document.getElementById("partpoints"+{{templatePart.partNumber}}).value = {{templatePart.pointsInPart}};
            {% endfor %}
        }
    </script>
    <script>
        $(document).ready(function() {
        	{% if view %}
        	var tags = JSON.parse('{{ tags | escapejs }}')
			var topics = JSON.parse('{{ topics | escapejs }}')
			for(var i = 0; i < tags.length; i++){
				var tag = tags[i];
				var tagDOM = $("<div>").attr("class", "chip").append(tag['tag']);
				$('#tags').append($(tagDOM));
			}
        {% else %}
            $('.chips').material_chip();
            $('.chips-tags').material_chip({
                data: JSON.parse('{{ tags | escapejs }}'),
                placeholder: 'Enter a tag',
            });
            $('#form').submit(function() {
                var tags = $("<input>").attr("type", "hidden").attr("name", "tags").val(JSON.stringify($('.chips-tags').material_chip('data')));

                $('#form').append($(tags));
                console.log($('.chips-tags').material_chip('data'));
                copyContentsToHidden();
            });
            {% endif %}
        });
    </script>
     <script>
      $(document).ready(function(){
        $('.add_more').click(function(e){
          e.preventDefault();
          $(fileupload1).after('<div id="fileupload1" class="file-field input-field">\n'+
          '<div class="btn">\n'+'<span>File</span>\n'+'<input name="testFile" type="file" multiple />\n'+'</div>\n'+
          '<div class="file-path-wrapper">\n'+'<input class="file-path validate" type="text" placeholder="choose a file"/>\n'+'</div>\n'+'</div>')
          document.getElementById('fileupload1').id = 'fileupload'
        });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.uploadedFiles').click(function(e){
        	if(confirm("Are you sure you want to remove this file from the question?")){
              e.currentTarget.parentElement.style.display = "none";
              var fileID = e.currentTarget.id;
              var fileName = e.currentTarget.name;
              var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

              $.post("/oneUp/instructors/remQuestionFileTempQ",
                    {
                        fileID: fileID,
                        fileName: fileName,
                        csrfmiddlewaretoken: csrftoken,
                    },
                    function(data, status){
                        console.log("Data: " + data + "\nStatus: " + status);
                    });
          }
        });
    });
    </script>
    <style>
        #editor {
            position: relative;
            width: 100%;
            height: 300px;
        }

        .lineHighlight {
            position: absolute;
            background: rgba(100, 200, 100, 0.5);
            z-index: 20
        }
    </style>

</head>

<body>
    {% include 'heading.html' %}
    <main>
        <div class="row center-align">
            <div class="col s12 m10 offset-m1">
                <h3 style="overflow-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">{{challengeName}}</h3>
                <h4>Create/Edit Dynamic Problems</h4>
                <p><span class="red-text">*</span> Denotes Required Fields.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <form id="form" enctype="multipart/form-data" name="question" action="" method="POST">
                    {% csrf_token %} {% if questionId %}
                    <input type="hidden" name="questionId" id="questionId" value="{{questionId}}"> {% endif %} {% if challengeID %}
                    <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}"> {% endif %}
                    <input type="hidden" name="numParts" style="display: none;" />

                    <div class="card">
                        <div class="card-content">
                                <div id="modal_doc" class="modal">
                                    <div class="modal-content">
                                        <p>Templated dynamic problems allow instructors to write problems and evaluate answers programmatically using Lua code. Lua code to set up any needed variables and perform any complex math should be included in the SetupCode section. The problem itself should be below.</p>
                                        <p>Inside the problem area, if you wish to display a variable, simply enclose it in <b>[|</b> and <b>|]</b>. For example, to display the variable x, you would type <b>[|x|]</b>. To include Lua code, simply enclose it in <b>[{</b> and <b>}]</b>. One bit of Lua code which you will need to include for any problem is a call to the make_answer function which is used to create answer blanks. Use of this function is required (although it is possible to make answer spaces appear by adding HTML code directly, answer spaces added that way will not function properly in the system).</p>
                                        <p><b> make_answer</b> takes five arguments:
                                            <ul>
                                                <li>- The first is the name of the answer blank. This name will be displayed to students when describing their results.</li>
                                                <li>- The second is the type of the answer blank. </li>
                                                <li>- The third is the size.</li>
                                                <li>- The fourth is the answer checking function which will be used. There are several standard answer checking functions provided.</li>
                                                <li>- The fifth is the maximum number of points which the student can receive for their answer in this blank.</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col s12">
										<a class="secondary-content modal-trigger tooltipped" href="#modal_doc" data-position="top" data-delay="50" data-tooltip="Show Documentation"><i class="small material-icons">help</i></a>										
                                    <h5>Problem Info</h5>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input value="{{preview}}" name="preview" id="preview" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                                    <label for="preview"><span class= "red-text">*</span> Problem Preview</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="difficulty" name="difficulty" {%if view%}readonly{%endif%}>
										  <option id="Easy" value="Easy" {%if view%}disabled{%endif%} selected>Easy</option>
										  <option id="Medium" value="Medium" {%if view%}disabled{%endif%}>Medium</option>
										  <option id="Hard" value="Hard" {%if view%}disabled{%endif%}>Hard</option>
									   </select>
                                    <label>Difficulty</label>
                                    <script type="text/javascript">
                                        window.onload = function() {
                                            if ("{{difficulty}}" != '') {
                                                document.getElementById("{{difficulty}}").selected = true;
                                                $("#difficulty").material_select();
                                            }
                                            populateEditor();
                                        }
                                    </script>
                                </div>
							</div>
							{% if unassign %}
                            <input type="hidden" name="points" value="0" id="Points"> {% else %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="{{points}}" name="points" id="points" maxlength="4" type="number" {% if view == False %}class="validate"{%endif%} min="1" max="999" step="any" {%if view%}readonly{%else%}required{%endif%}>
                                    <label for="points"><span class= "red-text">*</span> Points</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col s12">
                                    <h5>Feedback</h5>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea name="instructorNotes" id="instructor_notes" class="materialize-textarea">{{instructorNotes}}</textarea>
                                    <label for="instructor_notes">Instructor Notes</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea name="author" id="author" class="materialize-textarea">{{author}}</textarea>
                                    <label for="author">Author</label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12">
                                    <div class="col s12">
                                        <h5>Skills</h5>
                                    </div>
                                    <div class="col s12">
                                        {% include "Instructors/ProblemSkillEmbed.html" %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h5>Tags</h5>
                                </div>
                                <div class="col s12">
                                    <label for="tags">Add Tags</label>
                                    <div id="tags" class="chips chips-tags"></div>
                                </div>
                            </div>
             				<div class="row">
             					<div class="col s12">
                                    <h5>Submission</h5>
                                </div>
								<div class="col s12">
									<input value="{{submissionsAllowed}}" name="submissionsAllowed" id="submissionsAllowed" type="number" {% if view == False %}class="validate"{%endif%} min="1" max="999" step="any" {%if view%}readonly{%else%}required{%endif%}>
									<label for="submissionsAllowed"><span class= "red-text">*</span> Number of Submissions Allowed for Each Part</label>
								</div>
								<div class="col s12">
									<input value="{{resubmissionPenalty}}" name="resubmissionPenalty" id="resubmissionPenalty" type="number" {% if view == False %}class="validate"{%endif%} min="0" max="999" step="any" {%if view%}readonly{%else%}required{%endif%}>
									<label for="resubmissionPenalty"><span class= "red-text">*</span>Resubmission Penalty (in percent)</label>
								</div>
							</div>	
                            {% include "Instructors/luaLibraryDependencies.html" %}

                            <div class="row">
                                <div class="col s12">
                                    <h5>Program Files</h5>
                                    
                                    <div id="fileupload1" class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input name="testFile" type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Choose a file">
                                        </div>
                                    </div>
                                    
                                    <a class="btn waves-effect waves-light add_more"><i class="material-icons left">add_circle</i>Add another file</a> 
                                    
                                </div>
                            </div>
                            {% if programmingFiles%}
                                <div class="row">
                                    <div class="col s12">
                                        <h5>Uploaded Program Files</h5>
                                        <blockquote style="margin-top: 0;">
                                        {% for ID, testFileName in programmingFiles %}
                                        <div class="row">
                                            <a class="uploadedFiles" id="{{ID}}" name="{{testFileName}}" href="#!" >{{testFileName}}<i class="left material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Remove">close</i></a>
                                        </div>
                                        {% endfor %}
                                        </blockquote>
                                    </div>
                                </div>
                            {% endif %}
                            
                            <div class="row">
                                <div class="col s12">
                                    <h5>Set-Up Code</h5>
                                </div>
                                <div class="col s12">
                                    <div id="editor"><textarea style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="20" cols="70" name="setupCode" id="setupCode">{{setupCode}}</textarea></div>
                                    <script>
                                        var editor = ace.edit("editor");
                                        editor.setTheme("ace/theme/chrome");
                                        editor.session.setMode("ace/mode/lua");
                                    </script>
                                    <input type="hidden" name="setupCode" style="display: none;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <h5>Template</h5>
                                </div>
	                        </div>
                            <div id="questionPart1superdiv">
	                            <div class="row">
	                                <div id="questionPartNumPoints1" class="col s12">
	                                	<b>Part 1</b>
	                                	<input type="number" name="partpoints1" id="partpoints1" value="10"/>
	                                	<label for="part1points">Total Points for Part 1 Answer Blanks</label>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div id="questionPart1" class="col s12">
	                                        <div class="django-ckeditor-widget" data-field-id="0">
	                                                <textarea style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" name="templateTextVisible1" id="templateTextVisible1" rows="10" cols="70" {%if view%}readonly{%else%}required{%endif%} data-processed="0" data-config="{{ ckeditor.config }}" data-external-plugin-resources="{{ ckeditor.external_plugin_resources }}" data-id="templateTextVisible1" data-type="ckeditortype">{{ templateText1 }}</textarea>
	                                            </div>
	                                    <input type="hidden" name="templateText1" style="display: none;" />
	                                    <br />
	                                </div>	
	                            </div>
	                        </div>
                            <div class="row">
                                <a id="addPart" class="waves-effect waves-light btn" onclick="addPart();return false;"><i class="material-icons left">add</i>Add Part</a>
                                <a id="removePart" class="waves-effect waves-light btn disabled" onclick="removePart();return false;"><i class="material-icons left">remove</i>Remove Last Part</a>
                            </div>
                        </div>
                        <div class="card-action right-align">
                            {% if view %}
                            <a class="waves-effect waves-light btn" href="#!" onclick="window.history.back();"><i class="material-icons left">navigate_before</i>Back</a> 
                            {% else %}
                            <button class="btn waves-effect waves-light" type="submit" name="submit">Save<i class="material-icons right">send</i></button> 
                            <a class="waves-effect waves-light btn" href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}">
							<i class="material-icons left">close</i>Cancel</a> 
							{% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1">
                <form name="trial" id="trial" action="doDynamicQuestion" method="POST" onSubmit="testQuestion();return false;">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
							<span class="card-title">Try Out Problem</span>

                            <div class="row">
                                <div class="input-field col s12">
									<p>Random Seed</p>
                                    <input id="seed1" name="seed" min="0" max="1000000000" value="0">
                                </div>
							</div>
						</div>
						<div class="card-action right-align">
								<button class="btn waves-effect waves-light" type="submit" value="Try Out Question" name="test">Try Out Question<i class="material-icons right">send</i></button>								
						</div>
					</div>
				</form>
				</div>
				</div>
				<div id="tryOutResults" class="row">
					<div class="col s12 m10 offset-m1">
							<div class="card">
									<div class="card-content">
										<div id="codeResults"></div>
								</div>
							</div>
                        </div>
                    </div>
  
    </main>
    {% include 'footer.html' %}
</body>
</html>