<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8" />
    
    {% include 'scripts.html' %}  
    {% load staticfiles %}
    
    
    <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script>
    <script src="/static/ThirdParty/aceEditor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <!--  <script src="/static/ThirdParty/aceEditor/src-noconflict/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/ThirdParty/aceEditor/src-noconflict/mode-lua.js" type="text/javascript" charset="utf-8"></script> -->
    
    
    
    <script src="/static/js/AJAXgetquerystring.js" type="text/javascript"></script>
    
    <script type="text/javascript">

    	function testQuestion() {
    		var xmlhttp;
			if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			} else {// code for IE6, IE5 
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			  			
  			xmlhttp.open("POST","doDynamicQuestion",true);
  			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
  			xmlhttp.onreadystatechange =
  				function () {
  					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
  						document.getElementById("codeResults").innerHTML = xmlhttp.responseText;
  					}
  					makeNewEditors();
  					makeNewReadOnlyEditors()
  				}
  			templateTextValues = "";
  			for (var i=1; i<=numParts; i++) {
  				templateTextValues += '&_templateText'+i+'='+encodeURIComponent(CKEDITOR.instances['templateTextVisible'+i].getData());
  			}
  			var formDataEncoded = '_test=true&_phase=1&_uniqid=edit&_seed='+encodeURIComponent(document.trial.seed.value)+
				 '&_numParts='+encodeURIComponent(numParts)+
			         '&_setupCode='+encodeURIComponent(editor.getValue())+
			         templateTextValues +
			         '&csrfmiddlewaretoken={{ csrf_token }}';
  			formDataEncoded = formDataEncoded + getLibsEncoded()
  			xmlhttp.send(formDataEncoded);
    	}
    	
    	function copyContentsToHidden() {
    	    document.question.setupCode.value = editor.getValue();
    	    document.question.numParts.value = numParts;

    	    for(var i=1; i <= numParts; i++)
    	   		 document.question["templateText"+i].value = CKEDITOR.instances["templateTextVisible"+i].getData(); //Note that x["foo"] is the same as x.foo;
    	   		  
    	}
    	
    	function disableDiv(name) {
    		var darkLayer = document.getElementById(name+"-darkLayer");
    		darkLayer.style.display="";
    		var element = document.getElementById(name+"-exact");
    		var descendents = element.getElementsByTagName("*");
    		var i, e;
			for (i = 0; i < descendents.length; i++) {
    			e = descendents[i];
    			if ((e.tagName == "INPUT") || (e.tagName == "TEXTAREA") || (e.tagName == "BUTTON") || (e.tagName == "SELECT") ||
    				(e.tagName == "OPTION") || (e.tagName == "OPTGROUP") || (e.tagName == "FIELDSET")) {
    				e.disabled = "disabled";
    			}
    			if ((e.tagName == "INPUT") && (e.type.toUpperCase() == "SUBMIT")) {
    				e.value = "Submitted";
    			}
    			
    		}
    	}
    	 
    	var numParts = {{numParts}}
    	
  		function addPart(){
    		
    		/*If there is only one part then don't show the delete part button */
    		if(numParts == 1){
    	          document.getElementById('removePart').style.display ='initial';
    		}
    		
    		/*Update number of JS variable */
    		numParts++;
    		
    		/*Update the number of parts that is sent to the python for the question */
			document.question.elements['numParts'].value=numParts; 
    		
			/* used to make the actaul html code block */    
			var id = "questionPart"+numParts;
			var name = "templateTextVisible"+numParts;
    		var newElement = "<div id='"+id+"'><textarea style='resize:none; border: solid 1px rgba(128, 128, 128, 0.5)' rows='10' cols='70' name='"+name+"' id='"+name+"' >{{initalTemplateTextPart}}</textarea>" +
  							"<input type='hidden' name='templateText"+numParts+"'  style='display: none;' /> <br /> </div>"
  							;
  			
  			/* Put the new text part in place */ 				
            var node = document.createTextNode(newElement);
            var previous = document.getElementById("questionPart"+(numParts-1));
            previous.insertAdjacentHTML('afterEnd',newElement);
            
            CKEDITOR.replace( name );

  			
    	}
    	
    	function removePart() {
    		
    		 /* Remove last answer blank. */
            var lastAnswer = document.getElementById("questionPart"+numParts);
            lastAnswer.parentElement.removeChild(lastAnswer);
            
            /*Decrease Js variable */
            numParts--;

            /* Update the number which will be returned to python */ 
            document.question.elements['numParts'].value = numParts;
            
            /* If we're down to just two answers, hide the button which
            removes answers */
         	if (numParts == 1) {
           		document.getElementById('removePart').style.display = 'none';
         }
    	}
    	
    	function populateEditor() {
    		/* Start local number parts at 1 os that when calling add it won't increase pass our given */
    		numParts =1;
    		
    		/* var step = {{numParts}} //DEBUG
    		window.alert(step); */
    		
    		/*Loop through and add the new ediotrs to the page */
    		for(var i=1; i < {{numParts}}; i++)
    			addPart();
    		
    		{%if checkInitalTemplateTextPart%}
    			CKEDITOR.instances['templateTextVisible1'].setData( String.raw `{{initalTemplateTextPart |safe}}`); //gets the right ediotr and then
    		{%endif%}
    			
    			/*Populate text for each new editor we added */
    		{% for templatePart in templateTextParts %}
    			CKEDITOR.instances['templateTextVisible'+{{templatePart.partNumber}}].setData( String.raw `{{templatePart.templateText |safe}}`); //gets the right ediotr and then
    			//sets the data to be what is located in the text part of our tempatePart object NOTE: Safe means dont porcess html treat as regular code
    		{%endfor%}
    		
			
    	}
    	
    	
		
    </script> 
    
    <style>
    	#editor {
    		postion: absolute;
    		width: 300;
    		height: 300px;
    	}
        .lineHighlight {
  			position:absolute;
  			background:rgba(100,200,100,0.5);
  			z-index:20
		}
    
    </style>
      
  </head>
  <body>
  
  <div>
  
     {% include 'heading.html' %}
  
          <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
            <div class="12u">
            	<h1><span>{{challengeName}}</span></h1>
            	<h3>Create/Edit <span>Dynamic Problems</span></h3>
            <p><span>*</span> Denotes Required Fields.</p>
  
    <form name="question" action="" onsubmit="copyContentsToHidden();" method="POST">
      {% csrf_token %}
      {% if questionId %}
           <input type="hidden" name="questionId" id="questionId" value="{{questionId}}">
      {% endif %}
      {% if challengeID %}
           <input type="hidden" name="challengeID" id="challengeID" value="{{challengeID}}">
      {% endif %}
      <table class="bg">
      	<tr>
      	</tr>
      	<tr>
      		<td>
      			<div hidden id="instructions">
	      			<p>Templated dynamic problems allow instructors to write problems and evaluate answers programmatically using Lua code.
	      			Lua code to set up any needed variables and perform any complex math should be included
	      			in the SetupCode section.
	      			The problem itself should be below.</p>
	      			<p>Inside the problem area, if you wish to display a variable, simply enclose it in <b>[|</b> and <b>|]</b>.
	      			For example, to display the variable x, you would type <b>[|x|]</b>.
	      			To include Lua code, simply enclose it in <b>[{</b> and <b>}]</b>.
	      			One bit of Lua code which you will need to include for any problem is a call to the
	      			make_answer function which is used to create answer blanks.
	      			Use of this function is required (although it is possible to make answer spaces appear
	      			by adding HTML code directly, answer spaces added that way will not function properly in
	      			the system).</p>
	      			<p><b> make_answer</b> takes five arguments: 
	      			<ul>
	      			<li>- The first is the name of the answer blank. This name will be displayed to students when describing their results.</li>
	      			<li>- The second is the type of the answer blank. </li>
	      			<li>- The third is the size.</li>
	      			<li>- The fourth is the answer checking function which will be used.
	      			There are several standard answer checking functions provided.</li>
	      			<li>- The fifth is the maximum number of points which the student can receive for
	      			their answer in this blank.</li>
	      			</ul></p>
      			</div>
      			<script>
      				function showDocumentation() {
      					var instDiv = document.getElementById("instructions");
      					var showDiv = document.getElementById("showInstructions");
      					instDiv.removeAttribute("hidden");
      					showDiv.hidden = true;
      				}
      			</script>
      			<div id="showInstructions">
      				<a onclick="showDocumentation();return false;"> Show documentation </a>
      			</div>
      	</td>
      </tr>
	<tr>
			<td> Preview</td>
	</tr>
	<tr>	
		<td><input type="text" style="border: solid 1px rgba(128, 128, 128, 0.5)" name="preview" value="{{preview}}"></td>
	</tr>
	<tr>
		<td>Difficulty</td>
	</tr>
	<tr>
		<td>
            <div class="select-wrapper">
				<select name="difficulty" style="width: 190px">
					<option value=""selected>Select Difficulty</option>
					<option id="Easy" value="Easy">Easy</option>
					<option id="Medium" value="Medium">Medium</option>
					<option id="Hard" value="Hard">Hard</option>
				</select>
			</div>
            <script  type="text/javascript"> 
                 window.onload = function() {
				document.getElementById("{{difficulty}}").selected = "true";
				populateEditor();
				}
			</script> 
		</td>
	</tr>
	<tr>
		<td>Instructor Notes</td>
	</tr>
	<tr>
		<td>
			<textarea name="instructorNotes" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70" value="instructorNotes">{{instructorNotes}}</textarea>
		</td>
	</tr>
	<tr>
         <td>Author</td>
    </tr>
    <tr>
         <td>
              <textarea name="author" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70">{{author}}</textarea>
         </td>
    </tr>
	{% if unassign %}
       	<tr>
			<td><input type="hidden" name="points" value="0" id="Points"></td>
		</tr>
	{% else %}
      	<tr>
         	<td>Points <span class = "red">*</span></td>
      	</tr>
      	<tr>
         	<td>
            	<input type="hidden" name="challengeID" value="{{challengeID}}">
            	<input style="max-width: 4em;	border: solid 1px rgba(128, 128, 128, 0.5);" type="number" name="points" min="1" max="9999" value="{{points}}" id="Points" required>
   			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
	{% endif %}
 	<tr>
       	<td>
          {% include "Instructors/ProblemSkillEmbed.html" %}                           
 		</td>
    </tr>
	<tr>
		<td>Tags</td>
	</tr>
	<tr>
   		<td>
      		<input style="border: solid 1px rgba(128, 128, 128, 0.5);" type="text" name="tags" value="{{tags}}">
			<font style="font-size:.8em;">Enter tags separated by commas (,)</font>
   		</td>
	</tr>
	{% include "Instructors/luaLibraryDependencies.html" %}
	<tr>
		<td>Set-Up Code</td>
	</tr>
	<tr>
		<td>
			<div id="editor"><textarea style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="20" cols="70" name="setupCode" id="setupCode">{{setupCode}}</textarea></div>
			<script>
		    		var editor = ace.edit("editor");
				    editor.setTheme("ace/theme/chrome");
				    editor.session.setMode("ace/mode/lua");
			</script>
			<input type="hidden" name="setupCode" style="display: none;" />
		</td>
	</tr>
	<tr>
		<td>Template</td>
	</tr>
	<tr>
		<td>
		<div id="questionPart1"	>
			<textarea style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="10" cols="70" name="templateTextVisible1" id="templateTextVisible1" >{{templateText1}}</textarea>
			<script type="text/javascript" >
                // Replace the <textarea id="templateTextVisible"> with a CKEditor instance, using default configuration.
                CKEDITOR.replace( 'templateTextVisible1' );
             </script> 
             <input type="hidden" name="templateText1" style="display: none;" />
             <br />      
        </div>
		</td>
		
	</tr>
	<tr>
		<td>
			<a id="addPart" href="#" onclick="addPart();return false;">
			<button type="button">&nbsp;&nbsp;Add Part&nbsp;&nbsp;</button></a>
			<a id="removePart" href="#" onclick="removePart();return false;">
			<button type="button">Remove Last Part</button></a>
		</td>
	</tr>	
 </table>
 
  <input type="hidden" name="numParts" style="display: none;" />
 	{% if view %}
		<script>
		$(':input').attr('readonly','readonly');
		$(':input').attr('disabled', 'disabled');
		</script>
		<button onclick="goBack()">Back</button>
                     	
		{% elif challenge %}
			<ul class="actions">
			<li style="margin:0"><input type="submit" name="submit" value="Submit" class="button"></li>
			<a href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}"><button type="button" class="button special" value="Reset">Cancel</button></a>
		{% else %}	
			<ul class="actions">
			<li><input type="submit" name="submit" value="Submit" class="button"></li>
			<a href="/oneUp/instructors/questionList"><button type="button" class="button special" value="Reset">Cancel</button></a>
		{% endif %}
			<script>
			function goBack() {
			window.history.back();
			}
			</script>
		</ul>
		
		  
		
</form>
<br/>
 
 <!-- <input type="hidden" name="whichform" value="questionedit">      
  <input type="submit" name="submit" value="Submit" class="button">
 <br> -->
  
  <table class="bg">
	<form name="trial" id="trial" action="doDynamicQuestion" method="POST" onSubmit="testQuestion();return false;">
		{% csrf_token %}
	<tr>
		<td>
			<input type="submit" name="test" value="Try Out Question" class="button"> &nbsp;
			Random Seed: <input type="number" name="seed" min="0" max="1000000000" value="0">
		</td>
	</tr>
	</form>
	<tr>
		<td><div id="codeResults" ></div> </td> <!-- Need to see the code for this so we can add border -->
	</tr>
 </table>
 
	</div></div></div></div>
</div>	
    {% include 'footer.html' %}
  </body>
  
</html>
