<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
         {% include 'scripts.html' %} 
     
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script>
		
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

          {% include 'heading.html' %}
   
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
               <h1>Topics</h1>
			</div></div>
			<div class="row">
            <div class="12u">
                  <!-- INSERTED DYNAMIC TABLE --> 
                  <a href="/oneUp/instructors/topicsCreate"><input type="button" value="Add New Topic"></a>
                  <br /><br />
                  <table class="bg">
                     <tr>
                        <th>Topic Name</th>
                        <th> </th>
                     </tr>
                     {% for i,topic_ID,topic_Name in topic_range %}
                     <tr>
                        <div id="topics{{i}}">
                           <td>{{topic_Name}}</td>
                           <td align="right">
                              <form action="/oneUp/instructors/deleteTopic " method="POST">
                                 {% csrf_token %}                                                                        
                                 <input type="hidden" name="topicID" value="{{topic_ID}}">                           
                                 <a href="/oneUp/instructors/subTopicsCreate?topicID={{topic_ID}}"><button type="button">Add Sub Topic</button></a>
                                 <a href="/oneUp/instructors/subTopicsListView?topicID={{topic_ID}}"><button type="button">Edit Sub Topic</button></a>
                                 <a href="/oneUp/instructors/topicsCreate?topicID={{topic_ID}}"><button type="button">Edit</button></a>
                                 <input type="submit" name="submit" value="Delete" class="button"  onclick="return confirm('Are you sure you want to delete?')">
                              </form>
                           </td>
                        </div>
                     </tr>
                     {% endfor %}
                  </table>
                  <!-- END DYNAMIC TABLE -->
         </div></div></div></div>
      </div>
      <!-- Footer -->

       {% include 'footer.html' %}

      </div>

   </body>
</html>