<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'scripts.html' %}
	<style>
		.btn-block{
		width: 100%;
		}
		.right-button{
		position: 	absolute;
		top: 		82%;
		right: 		3%;}
	</style>
</head>

<body>
	{% include 'heading.html' %}
	<main>
		<div class="row center-align">
			<div class="col s12 m10 offset-m1">
				
				<h3>Trivia Questions</h3>
				
			</div>
		</div>
		{% csrf_token %}
		<div class="row right-align">
			<div class="col s12 m10 offset-m1">
				{% if trivia_question_range|length > 0 %}
				<button class="btn waves-effect waves-light" onclick="ToggleAllCheckboxes(this)" type="button"><i class="material-icons left">select_all</i>Select All</button>
				{% endif %}
				<a class="modal-trigger waves-effect waves-light btn" href="#modal-create-import"><i
						class="material-icons left">cloud_download</i>Import Problem</a>
				<div id="modal-create-import" class="modal modal-fixed-footer">
					<div class="modal-content">
						<div class="row center-align">
							<div class="col s12 m10 offset-m1">
								<h4>Select a problem to import.</h4>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m10 offset-m1">		
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="#!"
							class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
						<a href="#!" class="modal-action modal-close waves-effect waves-light btn" id="import">Import Problem</a>
					</div>
				</div>
				<a class="modal-trigger waves-effect waves-light btn" href="#modal-create-new"><i
						class="material-icons left">add_circle</i>Add a Question</a>
				<div id="modal-create-new" class="modal modal-fixed-footer">
					<div class="modal-content">
						<div class="row center-align">
							<div class="col s12 m10 offset-m1">
								<h4>Select Question Type</h4>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m10 offset-m1">								
								<select id="question_type" name="question_type">
									<option value="/oneUp/instructors/TriviaTrueFalseForm?triviaID={{triviaID}}" selected>True/False</option>
									<option value="/oneUp/instructors/TriviaMultipleAnswerForm?triviaID={{triviaID}}">Multiple Choice</option>
								</select>
								<label for="question_type">Question Type</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="#!"
							class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
						<a href="#!" class="modal-action modal-close waves-effect waves-light btn" id="create">Create Problem</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1">
				<div class="card-panel left-align">
					{% if trivia_question_range|length > 0 %}
						<ul id="sortable-questions" class="collapsible">
							{% for i,question_id, question_text, question_type,question_answers in trivia_question_range %}
							<li id="{{question_id}}">
								<div class="collapsible-header"><i class="material-icons">swap_vert</i>
									<span class="left-align" style="max-width: 30%;min-width: 30%; padding-left: 0px">
										{{question_text}}</span>
									<span class="left-align"
										style="max-width: 20%;min-width: 20%;">{{question_type}}</span>
									<span class="badge left-align" style="max-width: 30%;min-width: 30%">
										<span class="badge left-align" style="max-width: 20%;min-width: 20%">
											<input class="filled-in" type="checkbox" name="deletion-checkboxes" id="{{question_id}}_checkbox"
												value="{{question_id}}" />
											<label for="{{question_id}}_checkbox">Delete</label>
										</span>
									</span>
									<span class="badge right-align" style="max-width: 4%;min-width: 4%;">
										<a class="dropdown-button tooltipped secondary-content" href="#!"
											data-constrainwidth="false" data-beloworigin="true"
											data-activates='dropdown-{{i}}' data-position="right" data-delay="50"
											data-tooltip="Options"><i class="material-icons">more_vert</i></a>
										<ul id='dropdown-{{i}}' class='dropdown-content'>
											{% csrf_token %}
											{% if question_type == 'MC' %}
											<li><a href="/oneUp/instructors/TriviaMultipleAnswerForm?questionID={{question_id}}&triviaID={{triviaID}}">Edit</a></li>
											{% elif question_type == "TF" %}
											<li class="not-sortable"><a href="/oneUp/instructors/TriviaTrueFalseForm?triviaID={{triviaID}}&questionID={{question_id}}">Edit</a>
											</li>
											{% endif %}
											<li class="divider not-sortable"></li>
											<li class="not-sortable"><a class="modal-trigger" href="#modal_delete-{{i}}">Delete</a></li>
										</ul>
										<div id="modal_delete-{{i}}" class="modal no-padding">
											<div class="modal-content">
												<h5>Are you sure you want to delete?</h5>
											</div>
											<div class="modal-footer">
												<a href="#!"
													class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
												<button
													class="modal-action modal-close waves-effect waves-light btn-flat"
													type="button"
													{% if challenge %}onclick="deleteQuestion({{question_id}},{{triviaID}})"
													{% else %}onclick="deleteQuestion({{question_id}}, 0)"
													{% endif %}value="Delete">Delete
												</button>
											</div>
										</div>
									</span>
								</div>
							</li>
							{% endfor %}
						</ul>
					{% else %}
						<p>No problems created</p>
					{% endif %}
					<div class="card-action right-align">
						{% if trivia_question_range|length > 0 %}
						<a id="submit3" class="waves-effect waves-light btn modal-trigger" href="#modal_confirm1">
							<i class="material-icons right">send</i>Delete all checked</a>
						<div id="modal_confirm1" class="modal">
							<div class="modal-content left-align">
								<h5>Are you sure you want to submit?</h5>
								<p>Warning, this will delete the selected problems. Please confirm.</p>
							</div>
							<div class="modal-footer">
								<a href="#!"
									class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
								<button class="modal-action modal-close waves-effect waves-light btn-flat" type="submit"
									id="submit4" onclick="return deleteTriviaProblemsButFilter();" value="Submit">Submit
								</button>
							</div>
						</div>
						{% endif %}
						<a class="waves-effect waves-light btn" href="/oneUp/instructors/TriviaSessionSetup?triviaID={{triviaID}}">
							<i class="material-icons left">navigate_before</i>Back</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

<script>
	$(document).ready(() => {
		$('#create').on('click', function () {
            var val = $('#question_type').find(':selected').val();
            if (val) {
            	top.location.href = val;
            }
        });
		$('input[type=radio]').click(function() {
			alert($(this).val());
		  });
		$("#sortable-questions").sortable({
			items: "li:not(.not-sortable)",
			update: (event, ui) => {
				var item_list = $("#sortable-questions").sortable("toArray");
				var questionIdsPositions = []

				for (var i = 0; i < item_list.length; i++) {
					if (item_list[i]){
						// console.log("Chall Position: " + i + " ID: " + item_list[i]);
						questionIdsPositions.push({"id": parseInt(item_list[i]), "value": i});
					}
				}

				// console.log(positions)
				const params = {
					method: 'POST',
					headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val(),
					},
					body: JSON.stringify({triviaID: {{triviaID}}, questionIdsPositions: questionIdsPositions})
				};
				fetch("/oneUp/instructors/reorderTriviaQuestions", params)
				.then((response) => { return response.json()})
				.then((response) => {console.log(response)})
			}
		});
	});

	var checked = false;
	var checkBoxes = document.getElementsByName('deletion-checkboxes');

	function ToggleAllCheckboxes(event) {
		checked = !checked;
		if (checked)
			event.childNodes[1].textContent = "Deselect All"
		else
			event.childNodes[1].textContent = "Select All"

		for (var i = 0; i < checkBoxes.length; i++) {
			checkBoxes[i].checked = checked;
		}
	}
	function deleteQuestion(questionID) {
		var xhttp = new XMLHttpRequest();
		
		xhttp.open("POST", "/oneUp/instructors/deleteSingleTriviaQuestion", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("questionId=" + questionID + "&triviaId={{triviaID}}&csrfmiddlewaretoken={{csrf_token}}");
		
		xhttp.onload = function () {
			location.reload();
		}
	}
	function collectAllSelectedCheckboxes() {
		var selectedList = [];
		var checkboxes = document.getElementsByName('deletion-checkboxes');
		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				selectedList.push(checkboxes[i].value)
			}
		}
		return selectedList;
	}
	function deleteTriviaProblemsButFilter() {
		var selectedChallenges = collectAllSelectedCheckboxes();
		if (selectedChallenges.length > 0) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/oneUp/instructors/removeQuestionTriviaBatch", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("deletion_checkboxes=" + selectedChallenges + "&triviaId={{triviaID}}&csrfmiddlewaretoken={{csrf_token}}");
			console.table(xhttp.responseText);
			Materialize.toast(xhttp.responseText.errorMessages, 4000);

			xhttp.onload = function () {location.reload();}
		}
  	}
</script>
</html>
