<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      
        {% include 'scripts.html' %}
      
      <script type="text/javascript">
         function goToNewPage()
         {
             var url1 = document.getElementById('qtype').value;
             var url2 = document.getElementById('list').value;
             if(url1 != 'none') 
             {
                 window.location = url1;
                 url1='none'
             }
             else
             {
                 window.location = url2;
                 url2='none'
             }
             
         }
      </script> 
      <script type="text/javascript">
      var numberOfItems = 0;
   
      // Adds a skill into the 'Added Skills' box (AH)
      function addSkill() {
    	    var x = document.getElementById("SelectedSkill");
    	    var e = document.getElementById("SelectSkill");
    	    var option = document.createElement("option");
    	    if(document.getElementById("SP").value && e.options[e.selectedIndex].value != ""){
    	    	//console.log("Skill added");
    	    	option.text = e.options[e.selectedIndex].text + " (" + document.getElementById("SP").value + ")";
    	    	option.value = e.options[e.selectedIndex].value;
    	    	x.add(option);
    	    }
    	    
    	    numberOfItems = x.options.length;

    	    if(numberOfItems <= 0){
    	    	document.getElementById('removeSkills').style.display = 'none';
    	    }
    	    else{
    	    	document.getElementById('removeSkills').style.display = 'initial';
    	    }
    	}
      // Removes skill from 'Added Skills' box (AH)
      function removeSkill() {
    	    var x = document.getElementById("SelectedSkill");
    	   
    	    if(x.options.length){
    	    	if(!x.options[x.selectedIndex])
    	    		alert('Skill to remove is not selected!');
    	    	x.remove(x.selectedIndex);
    	    }
    	    numberOfItems = x.options.length;
    	    if(numberOfItems <= 0){
    	    	document.getElementById('removeSkills').style.display = 'none';
    	    }
    	    else
    	    	document.getElementById('removeSkills').style.display = 'initial';
    	}
      // Format 'Added Skills' box to a string (AH)
      // Ex. SQL (10), Database (20), etc. (AH)
      function prepareSubmit(){
    	  var x = document.getElementById("SelectedSkill");
    	  var txt = "";
    	  for(var i =0; i < x.options.length; i++){
    		  if(i < x.options.length-1)
    		  	txt += x.options[i].text + ",";
    		  else
    			txt += x.options[i].text;
    	  }
    	  
    	  document.getElementById("newSkills").value=txt;
      }
      </script>      
   </head>
   <body>
      <!-- START PAGE SOURCE -->

     <div>

          {% include 'heading.html' %}
 
         <div class="frame" id="grad" align="center">
         	<div class="container">
         	<div class="row">
            <div class="12u">
				<h1><span>{{challengeName}}</span></h1>
               	<h3>Create/Edit <span>True or False Question</span></h3>            
               	<p><span>*</span> Denotes Required Fields.</p>
            <!-- INSERTED PAGE CONTENT -->
                  <form name="question" action="/oneUp/instructors/forms/TrueFalseForm" method="POST">
                     {% csrf_token %}
                     {% if questionId %}
                     <input type="hidden" name="questionId" id="questionId"
                        value="{{questionId}}">
                     {% endif %}
                     {% if challengeID %}
                     <input type="hidden" name="challengeID" id="challengeID"
                        value="{{challengeID}}">
                     {% endif %}
                     <input type="hidden" name="numAnswers" id="numAnswers"
                        value="2">
                     <input type="hidden" name="newSkills" id="newSkills" value="">
                     <table class="bg">
                        <tr>
                           <td>Preview <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <input style="border: solid 1px rgba(128, 128, 128, 0.5)" type="text" name="preview" value="{{preview}}" id="preview" required>
                           </td>
                        </tr>
                        <tr>
                           <td>Question Text <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <textarea name="questionText" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70" value="" required>{{questionText}}</textarea>
                           </td>
                        </tr>
                        <tr>
                           <td>Answer <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <div id="answers">
                                 {% for i,ansValue,ansPK,ansChecked in answer_range %}
                                 <div id="ans{{i}}">
                                    <input style="float:left" type="radio" name="correctAnswer" value="{{i}}" {{ansChecked}} id="Answer{{i}}" required>                              
                                    {% if i == 1 %}
                                    <label for="Answer{{i}}">True</label> 
                                    {% else %}
                                    <label for="Answer{{i}}">False</label>
                                    {% endif %}
                                    <input type="hidden" name="ansPK{{i}}" value="{{ansPK}}">
                                 </div>
                                 {% endfor %}
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>Feedback for Correct Answer</td>
                        </tr>
                        <tr>
                           <td>  
                              <textarea name="correctAnswerFeedback" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70" value="">{{correctAnswerFeedback}}</textarea>
                           </td>
                        </tr>
                        <tr>
                           <td>Feedback for Incorrect Answer</td>
                        </tr>
                        <tr>
                           <td>
                              <textarea name="incorrectAnswerFeedback" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70" value="">{{incorrectAnswerFeedback}}</textarea>
                           </td>
                        </tr>
                        <tr>
                           <td>Instructor Notes</td>
                        </tr>
                        <tr>
                           <td>
                              <textarea name="instructorNotes" style="resize:none; border: solid 1px rgba(128, 128, 128, 0.5)" rows="2" cols="70">{{instructorNotes}}</textarea>
                           </td>
                        </tr>
                        <tr>
                           <td>Difficulty </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="select-wrapper">
                                 <select name="difficulty" style="width: 190px" >
                                    <option value=""selected>Select Difficulty</option>
                                    <option id="Easy" value="Easy">Easy</option>
                                    <option id="Medium" value="Medium">Medium</option>
                                    <option id="Hard" value="Hard">Hard</option>
                                 </select>
                              </div>
                              <script  type="text/javascript"> 
                                 window.onload = function() {
                                     document.getElementById("{{difficulty}}").selected = "true";
                                 }
                              </script> 
                           </td>
                        </tr>
                        {% if challenge %}
                        {% if unassign %}
                        <input type="hidden" name="points" value="0" id="Points">
                        {% else %}
                        <tr>
                           <td>Points <span>*</span></td>
                        </tr>
                        <tr>
                           <td>
                              <input type="hidden" name="challengeID" value="{{challengeID}}">
                              <input style="max-width: 4em;	border: solid 1px rgba(128, 128, 128, 0.5);" type="number" name="points" min="1" max="9999" value="{{points}}" id="Points" required>
                           </td>
                           {% endif %}
                        <tr>
                           <td>Skills </td>
                        </tr>
                        <tr>
                           <td>
                              Add New Skill<br> 
                              <select name="Skill" id="SelectSkill" accesskey="target" font-family= "Tahoma, Geneva, sans-serif" style="width:150px">
                                 <option value="" selected>Select Skill</option>
                                 {% for i,skill_ID,skill_Name in skill_range %}
                                 <div id="skill{{i}}">
                                    <option value="{{skill_ID}}">{{skill_Name}}</option>
                                 </div>
                                 {% endfor %}
                              </select>
                              <div id="SkillPoints">
                              Skill Points for New Skill<span>*</span><br>
                              <input style="max-width: 4em;	border: solid 1px rgba(128, 128, 128, 0.5);" type="number" min="1" max="9999" id="SP" name="q_skill_points">
                          	  </div>
                          	  
	    					 Added Skills<br> 
                              <select id="SelectedSkill" name="S_Skill" font-family= "Tahoma, Geneva, sans-serif" style="width:150px; height:100px;" size="8">
                                 {% for i, skill_ID, skill_Name, skill_Points in all_Skills %}
                                 	<option value={{skill_ID}}>{{skill_Name}} ({{skill_Points}})</option>
                                 {% endfor %}
                              </select>
                           </td>
                        </tr>
                        <tr>
                        	<td>
                        		<button type="button" id="addSkills" onclick="addSkill()">Add Skill</button>
	    						<button type="button" id="removeSkills" onclick="removeSkill()">Remove Skill</button>
                        	</td>
                        </tr>
                        {% endif %}                                               
                        <tr>
                           <td>Tags</td>
                        </tr>
                        <tr>
                           <td>
                              <input style="border: solid 1px rgba(128, 128, 128, 0.5);" type="text" name="tags" value="{{tags}}">
                              <font style="font-size:.8em;">Enter tags separated by commas (,)</font>
                           </td>
                        </tr>
                     </table>
                     {% if view %}
						<script>
						$(':input').attr('readonly','readonly');
						$(':input').attr('disabled', 'disabled');
						</script>
                     	<button onclick="goBack()">Back</button>
                     	
                        {% elif challenge %}
                        <ul class="actions">
                        <li style="margin:0"><input type="submit" name="submit" value="Submit" class="button" onclick="prepareSubmit()"></li>
                        <a href="/oneUp/instructors/challengeQuestionsList?challengeID={{challengeID}}"><button type="button" class="button special" value="Reset">Cancel</button></a>
                        {% else %}	
                        <ul class="actions">
                        <li><input type="submit" name="submit" value="Submit" class="button" onclick="prepareSubmit()"></li>
                        <a href="/oneUp/instructors/questionList"><button type="button" class="button special" value="Reset">Cancel</button></a>
                        {% endif %}  
<script>
function goBack() {
    window.history.back();
}
</script>
                     </ul>
                  </form>
                  <br>
         </div></div></div></div>
         <!-- END INSERTED PAGE CONTENT -->
      </div>
      <!-- Footer -->

     {% include 'footer.html' %}

   </body>
</html>