<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}
      <title> Lua Library Upload </title>
   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               <h3>Lua  Libraries</h3>
               {% if libEdit %}
               <p>Edit {{libName}}</p>
               {% else %}
               <p>Upload New Library</p>
               {% endif %}  
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="uploadbanner" action="/oneUp/instructors/luaLibUploadView" enctype="multipart/form-data" method="POST" >
                  {% csrf_token %}   		
                  <input type="hidden" name="libID" id="libID" value="{{libID}}"> 
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="col s12">
                              <div id="fileupload1" class="file-field input-field">
                                 <div class="btn">
                                    <span>File</span>
                                    <input id="fileupload" name="libfile" type="file" />
                                 </div>
                                 <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload Library">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <script>
                              function nospaces(event) {
                              	if ('which' in event) {
                              		return event.which != 32;
                              	} else {
                              		return event.key != " "; 
                              	}
                              }
                           </script>
                           <div class="col s12">
                              <h5>Library Name</h5>
                           </div>
                           <div class="input-field col s12">
                              <i class="material-icons prefix">mode_edit</i>
                              <input {% if libEdit %}value="{{libName}}"{%endif%} name="libraryName" id="libraryName" type="text" onchange="checkUnique()" onkeydown="return nospaces(event)" pattern=".*\S+.*">
                              <label for="libraryName">Library Name</label>
                              <div id="uniqueNameWarning" style="display:none" color="red">Libraries are required to have unique names!  That one is already taken!</div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <h5>Library Description</h5>
                           </div>
                           <div class="input-field col s12">
                              <i class="material-icons prefix">mode_edit</i>
                              <input {% if libEdit %}value="{{libDescription}}"{%endif%} name="libDescription" id="lib_Description" type="text" onchange="checkUnique()" onkeydown="return nospaces(event)" pattern=".*\S+.*">
                              <label for="lib_Description">Library Description</label>
                              <div id="uniqueNameWarning" style="display:none" color="red">Libraries are required to have unique names!  That one is already taken!</div>
                           </div>
                        </div>
                        {% include "Instructors/luaLibraryDependencies.html" %}
                     </div>
                     <div class="card-action right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Upload<i class="material-icons right">send</i></button> 
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/instructorCourseHome">											
                        <i class="material-icons left">navigate_before</i>Back</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card">
                  <div class="card-content">
                     <span class="card-title">Dependencies</span>
                     <table class="highlight" id="libsTable">
                        <thead>
                           <th>Selection</th>
                           <th>Library Name</th>
                           <th>Library Description</th>
                        </thead>
                        <tbody>
                        </tbody>
                        {% for lib in lib_range %}
                        <tr>
                           <td><input id="{{lib.ID}}" type="checkbox" class="filled-in" name="depend[]" value={{libIDs}}>
                              <label for="{{lib.ID}}"></label>
                           </td>
                           <td>{{lib.name}}</td>
                           <td>{{lib.description}}</td>
                           {% if lib.myLib %}
                           <td>
                              <form 
                              {% if lib.hasDependents %} action="/oneUp/instructors/luaLibConfirmDelete"
                              {% else %} action="/oneUp/instructors/luaLibDelete" {% endif %}
                              method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="libID" value="{{lib.ID}}">
                              {% if not lib.hasDependents %}
                              <input class="waves-effect waves-light btn" type="submit" name="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?')">
                              {% else %}
                              <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete_{{lib.ID}}">Delete</a>
                              {% endif %}
                              <div id="modal_delete_{{lib.ID}}" class="modal">
                                 <div class="modal-content">
                                    <h5>Are you sure you want to delete?</h5>
                                 </div>
                                 <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                    <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                    </button>                                        
                                 </div>
                              </div>
                              </form>
                           </td>
                           <td>
                              <form action="/oneUp/instructors/luaLibEdit" method="POST">
                                 {% csrf_token %}
                                 <input type="hidden" name="libID" value="{{lib.ID}}">
                                 <a class="waves-effect waves-light btn modal-trigger" href="#modal_edit_{{lib.ID}}">Edit</a>
                                 <div id="modal_edit_{{lib.ID}}" class="modal">
                                    <div class="modal-content">
                                       <h5>Are you sure you want to edit?</h5>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat" style="color: #00bcd4">Cancel</a>
                                       <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Edit">Edit
                                       </button>                                        
                                    </div>
                                 </div>
                              </form>
                           </td>
                           {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align" colspan="3"><i>No Dependencies</i></td>
                        </tr>
                        {% endfor %}	 
                        </tbody>		
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <script>
            function checkUnique() {
            	curName = document.getElementById("libraryName").value;
            	libId = document.getElementById("libID").value;
            	same = false;
                	{% for lib in lib_range %}
            		if ((curName == "{{lib.name}}") && (libID != "{{lib.ID}}")) {
            same = true;
            		}
            	{% endfor %}
            	warning = document.getElementById("uniqueNameWarning");
            	upload = document.getElementById("Upload");
            	if (same) {
            		warning.style.display = "block";
            		upload.disabled = true;
            	} else {
            		warning.style.display = "none";
            		upload.disabled = false;
            	}
            
            }
         </script>
      </main>
      {% include 'footer.html' %}
   </body>
</html>