<li data-nf-id="{{ notification.id }}" class="collection-item avatar notification list-group-item {{ notification.read|yesno:'read,unread' }} navNotifications">
    <a class='waves-effect truncate' style="color: #616161 !important" href="#!">{{ notification.verb }}
        <i class="material-icons right delete-notification delete-box" style="margin: 0;" data-id="{{ notification.id }}">clear</i>
        &nbsp; 
        <p style="margin-top: 0px;"><span class="timesince left">{{ notification.created|timesince }} ago</span> </p>  
     </a>
</li>