button, input[type="button"], input[type="submit"]{
    /*padding:10px;
    background:-webkit-linear-gradient(#008CC4, #1F6FB9);
    font-family: Tahoma, Geneva, sans-serif;                    OLD STYLE
    font-size: 12px;
    color:white; */
    color:#fff;
    border:1px solid #26b6e8;
    text-decoration:none;
    background-color:#006caa;
    padding:10px;
}
button:hover{
    border-color:#fff;
    font-weight:bold;
}
input[type="button"]:hover{
    border-color:#fff;
    font-weight:bold;
}
input[type="submit"]:hover{
    
    font-weight:bold;
}



                  
body{
    background-image: url("/static/MenuBacking.gif");
}
                  
table
{
  
    
    font-family: ;
    font-size: 22px; 
    width: 100%;
}
                  
tr td{
  padding-right: 15px;
}
            
div.a{
    width:100px;
}
                  
#headerRow{
    height:2em;
    color:white;
    background-color: #585858;
}
#headerRow th{
    vertical-align:middle;
    text-align:left;
    padding-left:30px;
    font-weight:600;
}      
      
                  
textarea{
    resize:none;
    font-family: Tahoma, Geneva, sans-serif;
}
                    
.bgcolor1{
    background-color: #e5e5e5;
}
                    
.bgcolor2{
    background-color: #cccccc;
}

#selectOption {
	background-color: white;
	height: 1.4em;
	color: black;
	width:145px;
	margin-top:0.1em;
	font-size:0.8em;
	font-family: "times new roman";
}

#selectOption1 {
	background-color: white;
	height: 1.4em;
	color: black;
	width:145px;
	margin-top:0.1em;
	font-size:0.8em;
	font-family: "times new roman";
}