<!DOCTYPE HTML>
<html>
   <head>
   
      {% include 'scripts.html' %}
      
   </head>
   <body>
      <div id="page-wrapper">

                {% include 'heading0.html' %}
  
         		<div class="frame" id="grad" align="center">
         		<div class="container">
            	<div class="row">
                <div class="12u">
            	<h1>OneUp</h1>
                	<h2 style="font-size:initial">Gamify Your Learning Experience!</h2>
                </div>
                </div>
            	<div class="row">
                <div class="12u">
            			<p style="color:white">OneUp is a course gamification platform.
            			<br>It supports the incorporation of various
            			<br>game mechanisms in academic courses and
            			<br>is specifically aimed at skills-oriented courses.</p>
            	</div>
            	</div>
            </div>
         </div>

        {% include 'footer.html' %}

       </div>
     <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>