<header>
    <script>

        $(document).ready(function () {
            $('.tooltipped').tooltip({
                delay: 50
            });
        });
    </script>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <i class="material-icons">lightbulb_outline</i>OneUp</a>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="/oneUp/administrators/adminHome" data-constrainwidth="false" data-beloworigin="true" data-activates="coursetools">Admin Home</a>
                </li>
                {% if logged_in %}
                <li class="divider"></li>
                <li>
                    <a class="waves-effect" href="/oneUp/students/Logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <ul class="side-nav" id="slide-out">
            {% if logged_in %}
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/static/images/pic01.jpg">
                    </div>
                    <a href="#!user">
                        <img class="circle" src="/static/images/avatars/anonymous.png">
                    </a>
                    <a href="#!name">
                        <span class="white-text name">Welcome, {{username}}</span>
                    </a>
                </div>
            </li>
            {% endif %}
            <li class="no-padding">
                <ul>
                    <li>
                        <a class="waves-effect" href="/oneUp/administrators/adminHome">Admin Home</a>
                    </li>
                </ul>
            </li>
            {% if logged_in %}
            <li class="divider"></li>
            <li>
                <a class="waves-effect" href="/oneUp/students/Logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>