{% comment %}
	This expects a dynamic question evaluation structure named evaluations.
{% endcomment %}
{% for answer in evaluations %}
	<p>	
	{% if answer.success %}
		<span style='color: green;'>&#10004;</span> 
	{% else %}
		<span style='color: red;'>&#10006;</span>
	{% endif %}
	You got {{answer.value}} points on answer {{answer.name}}.
	{% if answer.details %}
		<ul class="collection">
		{% for detail in answer.details %}
			<li class="collection-item">
				{% if detail.success %}
					<span style='color: green;'>&#10004;</span> 
				{% else %}
					<span style='color: red;'>&#10006;</span> 
				{% endif %}
				{{detail.value}}/{{detail.max_points}} points on criteria {{detail.name}}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	</p>
{% endfor %}