      <div id="footer" style = "margin:-3em" !important>
            <div class="container" style = "padding:1.5em; margin-top:1.5em; margin-bottom:1.5em" !important>
               <div class="row" style = "padding:1.5em; margin-bottom:0em" !important>
                  <div class="12u" style = "padding:0em;" !important>
                     <!-- Contact -->
                     <section class="contact" style = "margin-bottom: 0.1em; " !important>
                        <ul class="icons" style = "padding:0em; margin-top:-1em"  !important>
                           <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                           <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                           <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                           <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                           <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                           <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                        </ul>
                     </section>
                     <!-- Copyright -->
                     <div class="copyright" style = "padding-top: 0.4em; margin-top:-0em" !important>
                        <ul class="menu">
                           <li>Copyright &copy; 2017 OneUp. All rights reserved.</li>
                           <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>