 <!-- Used for the notifications -->
{% load staticfiles %}       
{% load notification_tags %}
{% include_notify_js_variables %} 
<script src="{% static "notify/notifyX.js" %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
	var updateSuccess = function (response) {
	    var notification_box = $('#nMenu');
	    var notifications = response.notifications;
	    $.each(notifications, function (i, notification) {
	        notification_box.prepend(notification.html);
	    });
	    
	    //IF table on page then update
	};


	function countNotifications(){
		numItems = $('.navNotifications').length;
		if(numItems == 0){
			numItems = null;
			document.getElementById("notificationCount").style.display = "none";
			x  = document.getElementById("nMenu").children;
			x = x[0];
			y = document.createElement('li');
			y.setAttribute("class", "nav_login_second_level_items" );
			y.innerHTML = "<a href='#'>No new notifications yet</a>"
			x.parentNode.replaceChild(y, x);
			
			document.getElementById("clearAll").style.display = "none";

		} else {
			document.getElementById("notificationCount").textContent=numItems;
			document.getElementById("clearAll").style.display = "inline";

		}
		
		noteBoxHeight = $('#nMenu').height();
		if(noteBoxHeight > 325){
			$('#nMenu').css('height', 325);
		}
		
	}
	
	$(document).ready(function() {
		countNotifications();
		setInterval(function(){
			countNotifications();
		}, 5000);
	});
	
	$(document).on('click', '#clearAll', function() {
		console.log("Clear all clicked")
        $(".delete-box").click();
		countNotifications();
		document.getElementById("clearAll").style.display = "none";

    });
</script>

<style>
.button__badge {
  background-color: #fa3e3e;
  border-radius: 1px;
  color: white;
 
  padding: 1px 1.5px;
  font-size: 10px;
  
  position: relative; /* Position the badge within the relatively positioned button */
  right: 0px;
  bottom: 15px;
}
</style> 
  <header>
            <nav class="Navigation">
               <div class="Nav_Top">
                  <ul class="nav_top_level">
                     <a class="nav_bulb" href="/oneUp/home" title="1up" style="border-bottom:0">
                     <i class="fa fa-lightbulb-o fa-3x nav_bulb"></i></a>
                     <li class="nav_top_level_items">
                        <a href="#">Course Tools</a>
                        <ul class="nav_second_level">
                        	<li class="nav_second_level_items">
                              <a href="/oneUp/instructors/instructorHome"> Instructor's Home</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/instructorCourseHome"> Course Home</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/announcementList">Announcements</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/exportChallenges">Export Challenges</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/uploadChallenges">Import Challenges</a>
                           </li>
                           <li class="nav_second_level_items">
<!--                               <a href="/oneUp/instructors/courseInformation">Email</a> -->
                               <a href="">Email</a>
                           </li>                           
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Course Information</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/courseInformation">Course Description</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/topicsList">Course Topics</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/skillsList">Targeted Skills</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/milestonesList">Course Milestones</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/createStudentListView">Students</a>
                           </li>
                           
                        </ul>
                     </li>                     
                     <li class="nav_top_level_items">
                        <a href="#">Course Content</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/activitiesList">Activities</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengesList">Serious Challenges</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/warmUpChallengeList">Warm Up Challenges</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengeQuestionsList?problems">Problems</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/imageList">Images</a>
                           </li>   
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/luaLibUploadView">Libraries for Dynamic Problems</a>
                           </li> 
                                                   
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Course Reports</a>
                        <ul class="nav_second_level">
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/studentAchievements">Students Scores</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/studentSummary">Students Summary</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/classAchievements">Class Scores</a>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/challengesList">Visualization</a>
                              <ul class="nav_third_level">
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/instructors/classAchievementsViz?serious"> Serious Challenges</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/instructors/classAchievementsViz?warmUp"> Warm-Up Challenges</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/instructors/classAchievementsViz?skills"> Skills</a>
                                 </li>                                 
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="nav_top_level_items">
                        <a href="#">Game Features</a>
                        <ul class="nav_second_level">
                          <li class="nav_second_level_items">
                              <a href="/oneUp/badges/Badges">Badges</a>
                          </li>
                          <li class="nav_second_level_items">
                              <a href="">Leveling</a>
                           </li>
                            <li class="nav_second_level_items">
                              <a href="#!">Virtual Currency</a>
                              <ul class="nav_third_level">
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/badges/VirtualCurrencySpendRuleList">Spending Rules</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom=false">Automatic Earning Rules</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/badges/VirtualCurrencyEarnRuleList?isRuleCustom=true">Manual Earning Rules</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/badges/AddVirtualCurrency">Add Virtual Currency For Students</a>
                                 </li>
                                 <li class="nav_third_level_items">
                                    <a href="/oneUp/badges/VirtualCurrencyTransactions">Student Transactions</a>
                                 </li>                                 
                              </ul>
                           </li>
                           <li class="nav_second_level_items">
                              <a href="/oneUp/instructors/preferences">Gamification Configuration</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div class="Nav_Bottom">
                  {% if logged_in %}
                  <p>Course: {{course_Name}}</p>
                  <ul class="nav_login">
                     <li class="nav_login_items">
                        <a href="#">Welcome, {{username}}<i class="fa fa-chevron-down"></i></a>
                        <ul class="nav_login_second_level">
                           <li class="nav_login_second_level_items">
                              <a href="/oneUp/administrators/courses">Change Course</a>
                           </li>
                           <li class="nav_login_second_level_items">
                              <a href="/oneUp/students/Logout">Logout</a>
                           </li>
                        </ul>
                     </li>
                     
                     &nbsp;&nbsp;&nbsp;
                     
                     <li class="nav_login_items">
						<a href="/oneUp/students/NotificationPage" ><img src="/static/images/horn.png"><span class="button__badge" id='notificationCount'></span> </a>
							<ul class="nav_login_second_level" style="width: 205px;">  <!-- Width can be between 200 and 300 still playing with it -->
								<div id="nMenu" class="notification-box-list">
								{% user_notifications for box %}
								</div>
								<li class="nav_login_second_level_items"><a id="clearAll" href="#">
       								<span size="100">Clear All </span>
       								<i class="material-icons" style="font-size:18px;vertical-align:middle;position: relative;left: 110px;">&#xe0b8;</i>
								</a></li>
							</ul>
						</li>
                     
                  </ul>
                  {% endif %}
               </div>
            </nav>
         </header>