<!DOCTYPE HTML>
<html>
   <head>
      
       {% include 'scripts.html' %}
       
   </head>
   <body>
      <div id="page-wrapper">

         {% include 'heading0.html' %}
  
         <div class="frame" id="grad" align="center">
         <div class="container">
         <div class="row">
         <div class="4u 12u(mobile)">
					<div style="vertical-align: top">
            		<h3>-Instructor Links-</h3>
            			<ul>
            			<br>
            			<li><a href="/oneUp/instructors/InstructorHome">Instructor Home</a></li>
            			<li><a href="/oneUp/instructors/announcementList">Announcements</a></li>
            			<li><a href="/oneUp/instructors/announcementCreateView">Create Announcement Form</a></li>
            			<li><a href="/oneUp/instructors/CourseInformation">Course Information</a></li>
            		<h3>-Course Content-</h3>
            			<li><a href="/oneUp/instructors/activitiesList">Activities List</a></li>
            			<li><a href="/oneUp/instructors/createActivity">Create Activity Form</a></li>
            			<li><a href="/oneUp/instructors/challengesList">Challenges</a></li>
            			<li><a href="/oneUp/instructors/challengesWarmUpList">Challenge Warm Ups</a></li>
            			<li><a href="/oneUp/instructors/challengeCreate">Challenge Create Form</a></li>
            		<h3>-Course Reports-</h3>
            			<li><a href="/oneUp/instructors/studentAchievements">Student Achievements</a></li>
            			<li><a href="/oneUp/instructors/classAchievements">Class Achievements</a></li>
            			<li><a href="/oneUp/instructors/createStudentListView">Create Student List</a></li>
            			<li><a href="/oneUp/instructors/createStudentView">Create Student Form</a></li>
            		<h3>-Course Configuration-</h3>
            			<li><a href="/oneUp/instructors/skillsList">Skills List</a></li>
            			<li><a href="/oneUp/instructors/skillsCreate">Create Skill Form</a></li>
            			<li><a href="/oneUp/instructors/topicsList">Topics List</a></li>
            			<li><a href="/oneUp/instructors/topicsCreate">Create Topic Form</a></li>
            			<li><a href="/oneUp/instructors/milestonesList">Milestone List</a></li>
            			<li><a href="/oneUp/instructors/createMilestone">Create Milestone Form</a></li>
            			<li><a href="/oneUp/badges/Badges">Badges</a></li>
            			<li><a href="/oneUp/instructors/gameRules">Game Rules</a></li>
            			</ul>
            			</div>
          </div>
					<div class="4u 12u(mobile)">
            		<h3>-Student Links-</h3>
            			<ul>
            			<br>
            			<li><a href="/oneUp/students/StudentHome">Student Home</a></li>
<!--             			<li><a href="/oneUp/students/Achievements">Achievements</a></li> -->
            			<li><a href="/oneUp/students/ChallengesList">Challenges</a></li>
            			<li><a href="/oneUp/students/ChallengesWarmUpList">Challenge Warm Ups</a></li>
            			<li><a href="/oneUp/students/CourseInformation">Course Information Page</a></li>
            			<li><a href="/oneUp/students/SkillsList">Skills</a></li>
            			</ul>
            			</div>
					<div class="4u 12u(mobile)">
            		<h3>-Administrative Links-</h3>
            			<ul>
            			<br>
            			<li><a href="/admin/">Administrator Page</a></li>
            			<li><a href="/oneUp/aboutUs">About Us</a></li>
            			<li><a href="/oneUp/contact-us">Contact Us</a></li>
            			<li><a href="/oneUp/courses">Course Choice</a></li>
            			<li><a href="/oneUp/home">Login/Home</a></li>
            			</ul>
            			</div>
            			</div>
            </div>
         </div>	

        {% include 'footer.html' %}

       </div>
     <script type="text/javascript"> Cufon.now(); </script>
   </body>
</html>