<header>
<style>
	i.icon-yellow:hover {
		color: yellow;
	}
	.notification-count-parent:hover,
	.clearAll:hover {
        background-color: white;
	}
	.notification-badge {
        position:relative;
        padding:5px 9px;
        background-color: #fff;
        color: #941e1e;
        bottom: 15px;
        left: 15px;
        border-radius: 50%;
    }
    .notification-badge .hide {
        display: none;
    }
    .notification-icon {
        position: relative;
    }
    .notification-icon-notify {
        position: absolute;
    }
</style>

<!-- Used for the notifications -->
{% load staticfiles %}       
{% load notification_tags %}
{% include_notify_js_variables %}
<script src="{% static "notify/notifyX.js" %}"></script>
<script>
		var updateSuccess = function (response) {
			var notification_box = $('#notifications-desktop');
			var notification_box_mobile = $('#notifications-mobile');
			var notifications = response.notifications;
			var course_id = '{{course_id}}';
			$.each(notifications, function (i, notification) {
				let notification_data = JSON.parse(notification.data);
				// console.log(notification_data);
				if(notification_data['course'] == course_id){
					notification_box_desktop.prepend(notification.html);
					notification_box_mobile.prepend(notification.html);
				}
			});
			removeDuplicates();
			countNotifications();
			//IF table on page then update
		};
        var deleteSuccess = function(response, $notification){
            // If notification deleted from desktop remove from mobile side as well and vice versa
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');

			var notification_id = $notification.attr("data-id");
            function removeAll(notification_box, id){
                notification_box.children("li[data-nf-id='"+id+"']").each(function(index){
                    $(this).remove();
                });
            }

            removeAll(notification_box_desktop, notification_id);
            removeAll(notification_box_mobile, notification_id);
        }
        var removeDuplicates = function(){
            // Fixes weird bug with notifications. Once notification is created it can create more than one at a time.
            // Ex. student buys 3 items from shop it sends 6 notifications
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');

            function removeDupes(notification_box){
				var seen = {};
                notification_box.children().each(function(index){
                    if(seen[$(this).attr("data-nf-id")] == true){
                        $(this).remove();
                    }
                    else{
                        seen[$(this).attr("data-nf-id")] = true;
                    }
                });
            }

            removeDupes(notification_box_desktop);
            removeDupes(notification_box_mobile);
        }
		function limitNotifications(limit){
            // Limit notifications on both mobile and desktop sides
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');

            function limitNotificationsInBox(notification_box){
                var notifications = notification_box.children();
                var size = notifications.length;

                if(size <= limit) return;

                var stop_index = size - limit;
                for(var i = size-1; i > stop_index; i--){
                    notifications[i].parentNode.removeChild(notifications[i]);
                }
                
            }

            limitNotificationsInBox(notification_box_desktop);
            limitNotificationsInBox(notification_box_mobile);
        }
        function countNotifications(){
            // Limit the number of notifications 
            limitNotifications(8);
			
			// Get number of notifications which is double becuase of the mobile nav so divide it back down
            let numItems = Math.max(Math.trunc($('.navNotifications').length/2.0), 0);
			
			// Desktop/Tablet element
            let tooltip_element = $("#notification-count-desktop");
			// Mobile element
            let badge_element = document.getElementById("notification-count-mobile");

            // Get the badge count elements of the number of notifications
            notification_count_elements = document.getElementsByClassName('notification-count');
            for(var i = 0; i < notification_count_elements.length; i++){
                let element = notification_count_elements[i];
                // Set parent to visible/none if there are some notifications not read and vice versa
                if(numItems > 0)
                    element.parentNode.parentNode.style.display = "inline";
                else
                    element.parentNode.parentNode.style.display = "none";

                element.innerHTML = numItems;
            }
            // Hide/Show the clearAll elements 
            clearAll_elements = document.getElementsByClassName('clearAll');
            for(var i = 0; i < clearAll_elements.length; i++){
                let element = clearAll_elements[i];
                if(numItems > 0)
                    element.parentNode.style.display = "inline";
                else 
                    element.parentNode.style.display = "none";
            }
            if(numItems == 0){
                // Set tooltip count and change icon to signal no notifications
                
                tooltip_element.attr('data-tooltip', "No Notifications");
                // tooltip_element.children(":first").html('notifications');
				tooltip_element.children(":first").removeClass("notification-icon-notify");
				tooltip_element.children(":first").addClass("notification-icon");
                tooltip_element.tooltip();
                
                $(".notification-badge").addClass("hide");
                
                // Create no notification element for desktop view
                desktop_notifications = document.getElementById("notifications-desktop");
                // Remove unwanted default notification which is <b>no notifications yet</b>
                if(desktop_notifications.getElementsByTagName('b').length > 0){
                    while (desktop_notifications.lastChild) {
                        desktop_notifications.removeChild(desktop_notifications.lastChild);
                    }
                }
                if(desktop_notifications.children.length <= 0){
                    x = document.createElement('li');
                    x.innerHTML = "<a class='no-notifications waves-effect' href='#!'>No new notifications yet</a>"
                    desktop_notifications.appendChild(x, desktop_notifications);
                }

                // Hide badge for mobile view
                badge_element.style.display = "none";
                
                // Create no notification element for mobile view
                mobile_notifications = document.getElementById("notifications-mobile");
                // Remove unwanted default notification which is <b>no notifications yet</b>
                if(mobile_notifications.getElementsByTagName('b').length > 0){
                    while (mobile_notifications.lastChild) {
                        mobile_notifications.removeChild(mobile_notifications.lastChild);
                    }
                }
                if(mobile_notifications.children.length <= 0){
                    x = document.createElement('li');
                    x.innerHTML = "<a class='no-notifications waves-effect' href='#!'>No new notifications yet</a>"
                    mobile_notifications.appendChild(x, mobile_notifications);
                }
                
                
    
            } else {
                // Remove the no-notification elements
                no_notifcation_elements = document.getElementsByClassName('no-notifications');
                for(var i = 0; i < no_notifcation_elements.length; i++){
                    let element = no_notifcation_elements[i];
                    element.parentNode.parentNode.removeChild(element.parentNode);                    
                }

                // Set tooltip count and change icon to signal notifications
                tooltip_element.attr('data-tooltip', numItems + " New");
                // tooltip_element.children(":first").html('notifications_active');
				tooltip_element.children(":first").removeClass("notification-icon");
                tooltip_element.children(":first").addClass("notification-icon-notify");
                tooltip_element.tooltip();

                $(".notification-badge").removeClass("hide").html(numItems);
                
                // Show badge for mobile view and set count 
                badge_element.style.display = "block";
                badge_element.textContent= numItems;
                
            }
            
        }
        
        $(document).ready(function() {
            countNotifications();
            $('.tooltipped').tooltip({delay: 50});
            
        });	
        
        $(document).on('click', '.clearAll', function() {
            $(".delete-box").click();
            countNotifications();
        });
</script>
		<ul id="account" class="dropdown-content">
			{% if ccparams.gamificationUsed and ccparams.avatarUsed %}
			<li><p class="center-align"><img class="circle" width="100" height="100" src="{{avatar}}"></p></li>
			{% endif %}
			<li><p class="center-align">Welcome, {{username}}</p></li>            
			<li><p class="center-align">Course: {{course_Name}}</p></li>
			<li class="divider"></li>
			<li><a href="/oneUp/administrators/courses?is_student=True">Change Course</a></li>
			<li><a href="/oneUp/students/Logout">Logout</a></li>
		</ul>
		<ul id="virtualcurrency" class="dropdown-content">                               
			<li><a href="/oneUp/students/VirtualCurrencyShop">Course Shop</a></li>
			<!-- <li><a href="/oneUp/students/EarnedVCTransactions">Your Earning Transactions</a></li> -->
			<li><a href="/oneUp/students/Transactions">VC Transactions</a></li>
			{% if ccparams.classmatesChallenges %}
			<li><a class="waves-effect" href="/oneUp/students/Callouts">Challenge Classmates</a></li>
			{% endif %}
						
		</ul>
		<nav>
			<div class="nav-wrapper">
			<a href="#" class="brand-logo" ><i class="large material-icons icon-yellow">lightbulb_outline</i>OneUp</a>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="courseinfo">Course Info</a>
					<ul id="courseinfo" class="dropdown-content">
						<li><a class="waves-effect" href="/oneUp/students/StudentHome">Student's Home</a></li>
						<li><a class="waves-effect" href="/oneUp/students/StudentCourseHome">Course Home</a></li>						
						<li><a class="waves-effect" href="/oneUp/students/CourseInformation">Course Information</a></li>
						<li><a class="waves-effect" href="/oneUp/students/Announcements">Announcements</a></li>	
						<!-- GGM added leaderboard to navigation bar -->
						{%if ccparams.gamificationUsed and ccparams.leaderboardUsed and studentLeaderboardToggle %}
						<li><a class="waves-effect" href="/oneUp/students/Leaderboard">Course Leaderboard</a></li>
						<li><a class="waves-effect" href="/oneUp/students/LeaderboardInfo">Leaderboards Info</a></li>
						{% endif %}						
						{%if ccparams.gamificationUsed and ccparams.badgesUsed %}
						<li><a class="waves-effect" href="/oneUp/badges/CourseBadges">Course Badges</a></li>
						{% endif %}
						{%if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
						<li><a class="waves-effect" href="/oneUp/students/VirtualCurrencyRules">Currency Rules</a></li>
						{% endif %}
					</ul>
				</li>
				<li><a class="waves-effect" href="/oneUp/students/ChallengesWarmUpList">Warm-Ups</a></li>
				<li><a class="waves-effect" href="/oneUp/students/ChallengesList">Challenges</a></li>
				<li><a class="waves-effect" href="/oneUp/students/ActivityList">Activities</a></li>
				<li><a class="waves-effect" href="/oneUp/students/CoursePerformance">Grades</a></li>
				{%if ccparams.gamificationUsed %}
				<li><a class="waves-effect" href="/oneUp/students/achievements">Achievements</a></li>
				{% endif %}
				{% if ccparams.gamificationUsed or ccparams.chatUsed or ccparams.avatarUsed or ccparams.classmatesChallenges or ccparams.virtualCurrencyUsed or ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
				<li>
					<a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="coursetools">Tools</a>
					<ul id="coursetools" class="dropdown-content">
						{% if ccparams.gamificationUsed and ccparams.avatarUsed %}
						<li><a class="waves-effect" href="/oneUp/students/avatar">Avatar Selection</a></li>
						{% endif %}
						{% if ccparams.chatUsed %}
						<li><a class="waves-effect" href="/oneUp/chat/api">Chat</a></li>
						{% endif %}
						{% if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
						<li><a class="waves-effect" href="/oneUp/students/VirtualCurrencyShop">Course Shop</a></li>
						<!-- <li><a class="waves-effect" href="/oneUp/students/EarnedVCTransactions">Your Earning Transactions</a></li> -->
						<li><a class="waves-effect" href="/oneUp/students/Transactions">VC Transactions</a></li>
						{% endif %}
						{% if ccparams.gamificationUsed and ccparams.classmatesChallenges %}
			            <li><a class="waves-effect" href="/oneUp/students/Callouts">Challenge Classmates</a></li>
						{% endif %}
						{% if ccparams.gamificationUsed %}
						{% if ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
						<li><a class="waves-effect" href="/oneUp/students/Preferences">Preferences</a></li>
						{% endif %}
						{% endif %}
						{% if is_test_student is False %}
						<li><a class="waves-effect" href="/oneUp/students/ResetPassword">Reset Password</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				<li>
					<a class="waves-effect" href="/oneUp/students/StudentQA">Help</a>
				</li>
				<li>
					<a id='notification-count-desktop' class='dropdown-button tooltipped' href='#!' data-constrainwidth ='false' data-beloworigin='true' data-activates='notifications' data-position="left" data-delay="50">
						<i class='material-icons notification-icon'>notifications</i> <!-- This needs to be linked to an actual notification page -->
						<small class="notification-badge hide"></small>
					</a>
					<ul id="notifications" class="dropdown-content" style="max-width: 36vw;">
						<li><a class="notification-count-parent" href="/oneUp/students/NotificationPage">Notifications <span style="float:right;" class="badge notification-count"></span></a></li>
						<div id="notifications-desktop" class="notification-box-list">
						{% user_notifications for box %}
						</div>
						<li><a class="clearAll waves-effect" href="#!"><i class="material-icons">clear_all</i>Clear All</a></li>
					</ul>
				</li>
				{% if is_test_student %}
		           <li>
		                <a id='switchview' class='dropdown-button tooltipped' data-tooltip="Switch to instructor view"  href="/oneUp/students/switchView?student=true&courseId={{courseID}}" >
		                    <i class='material-icons'>visibility</i> 
		                </a>
		            </li>
	            {% endif %}
				{% if logged_in %}            
				<li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="account"><i class="material-icons">more_vert</i></a></li>
				{% endif %}
			</ul>


			<!--MOBILE-->
			<ul class="side-nav" id="slide-out">
				{% if logged_in %}
				<li>
					<div class="user-view">
						<div class="background">
						  <img src="/static/images/pic01.jpg">
						</div>
						{% if ccparams.gamificationUsed and ccparams.avatarUsed %}
						<a href="#!user"><img class="circle" src="{{avatar}}"></a>
						{% endif %}
						<a href="#!name"><span class="white-text name">Welcome, {{username}}</span></a>
						<a href="#!email"><span class="white-text email">Course: {{course_Name}}</span></a>
					  </div>
				</li>   
				{% endif %}             
				<li class="no-padding">
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class="collapsible-header"><i class="material-icons">info</i>Course Infomation</a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="/oneUp/students/StudentHome">Student's Home</a></li>
									<li><a class="waves-effect" href="/oneUp/students/StudentCourseHome">Course Home</a></li>							
									<li><a class="waves-effect" href="/oneUp/students/CourseInformation">Course Information</a></li>
									<li><a class="waves-effect" href="/oneUp/students/Announcements">Announcements</a></li>	
									{%if ccparams.gamificationUsed and ccparams.leaderboardUsed and studentLeaderboardToggle %}
									<li><a class="waves-effect" href="/oneUp/students/Leaderboard">Leaderboard</a></li>
									{% endif %}						
									{%if ccparams.gamificationUsed and ccparams.badgesUsed %}
									<li><a class="waves-effect" href="/oneUp/badges/CourseBadges">Course Badges</a></li>
									{% endif %}
									{%if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
									<li><a class="waves-effect" href="/oneUp/students/VirtualCurrencyRules">Currency Rules</a></li>
									{% endif %}
								</ul>
							</div>
						</li>
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ChallengesWarmUpList"><i class="material-icons">fitness_center</i>Warm Up Challenges</a></li>
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ChallengesList"><i class="material-icons">star</i>Serious Challenges</a></li>
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ActivityList"><i class="material-icons">toys</i>Activities</a></li>
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/CoursePerformance"><i class="material-icons">timeline</i>Course Performance</a></li>
						{%if ccparams.gamificationUsed %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/achievements"><i class="material-icons">flare</i>Achievements</a></li>
						{% endif %}
						{% if ccparams.chatUsed or ccparams.avatarUsed or  ccparams.virtualCurrencyUsed or ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
						<li>
							<a class="collapsible-header"><i class="material-icons">build</i>Tools</a>
							<div class="collapsible-body">
								<ul>
									{% if ccparams.avatarUsed and ccparams.gamificationUsed %}
									<li><a class="waves-effect" href="/oneUp/students/avatar">Avatar Selection</a></li>
									{% endif %}
									{% if ccparams.chatUsed %}
										<li><a class="waves-effect" href="/oneUp/chat/api">Chat</a></li>
									{% endif %}
									{% if ccparams.virtualCurrencyUsed and ccparams.gamificationUsed %}
									<li>
										<li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-alignment="right" data-beloworigin="true" data-activates="virtualcurrency">Virtual Currency<i class="material-icons right">more_vert</i></a></li>                                    
									</li>
									{% endif %}
									{% if ccparams.gamificationUsed %}
									{% if ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
									<li><a class="waves-effect" href="/oneUp/students/Preferences">Preferences</a></li>
									{% endif %}
									{% endif %}
									{% if is_test_student is False %}
									<li><a class="waves-effect" href="/oneUp/students/ResetPassword">Reset Password</a></li>
									{% endif %}
									
								</ul>
							</div>
						</li>
						{% endif %}
						<li>
							<a class="collapsible-header waves-effect" href="/oneUp/students/StudentQA"><i class="material-icons">help</i>Help</a>
						</li>
						<li>
							<a class='collapsible-header'><i class='material-icons'>notifications</i>Notifications  <div class='right'><span id='notification-count-mobile' class="new badge red"></span></div></a>
							<div class='collapsible-body'>
								<ul>
									<div id="notifications-mobile" class="notification-box-list">
									{% user_notifications for box %}
									</div>			
									<li><a class="clearAll waves-effect" href="#!"><i class="material-icons">clear_all</i>Clear All</a></li>					
								</ul>
							</div>
						</li>
						{% if is_test_student %}
				           <li>
				                <a id='switchview' class='dropdown-button tooltipped' data-tooltip="Switch to instructor view"  href="/oneUp/students/switchView?student=true&courseId={{courseID}}" >
				                    <i class='material-icons'>visibility</i> 
				                </a>
				            </li>
			            {% endif %}
					</ul>
				</li>
				{% if logged_in %}                        
				<li class="divider"></li>
				<li><a class="waves-effect" href="/oneUp/administrators/courses?is_student=True">Change Course</a></li>
				<li><a class="waves-effect" href="/oneUp/students/Logout">Logout</a></li>
				{% endif %}
			</ul>
			</div>
		</nav>
	</header>
