<header>
<style>
	i.icon-yellow:hover {
		color: yellow;
	}
	.notification-badge {
        position:relative;
        padding:5px 9px;
        bottom: 15px;
        left: 15px;
        border-radius: 50%;
    }
    .notification-badge .hide {
        display: none;
    }
    .notification-icon {
        position: relative;
    }
    .notification-icon-notify {
        position: absolute;
    }

</style>

<!-- Used for the notifications -->
{% load staticfiles %}       
{% load notification_tags %}
{% include_notify_js_variables %}
<script src="{% static "notify/notifyX.js" %}"></script>
<script>
		
		var updateSuccess = function (response) {
			if(response['retrieved'] > 0){
                var notification_box_desktop = $('#notifications-desktop');
				var notification_box_mobile = $('#notifications-mobile');
                
                var course_id = '{{course_id}}';
                var notifications = response.notifications;
                notifications.forEach(notification => {
                    let notification_data = JSON.parse(notification.data);
                    // console.log(notification_data);
                    if(notification_data['course'] == course_id){
                        notification_box_desktop.prepend(notification.html);
						notification_box_mobile.prepend(notification.html);
						
						// $(`#course-name-${notification.id}`).html(notification_data['name'])
						updateNotificationsCourseName(notification.id)
                    }
                });

                removeDuplicates();
                countNotifications();
            }
		};
		markAllNotificationSelector = '.mark-all';
        var markAllSuccess = function(response) {
            var mark_class = 'read';
            var remove_class = 'unread';
            if(response['action'] == 'unread'){
                mark_class = 'unread';
                remove_class = 'read';
            }
            $('.notification').removeClass(remove_class).addClass(mark_class);
            countNotifications();
		}
		
        var deleteSuccess = function(response, $notification){
            // If notification deleted from desktop remove from mobile side as well and vice versa
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');
			var notification_div_page = $('#noti-div');

			var notification_id = $notification.attr("data-id");
            function removeAll(notification_box, id){
                notification_box.children("li[data-nf-id='"+id+"']").each(function(index){
                    $(this).remove();
                });
            }

            function removeNoti(notification_div_page, id){
                
				$('#'+id).remove();

            }

            removeAll(notification_box_desktop, notification_id);
			removeAll(notification_box_mobile, notification_id);
			
			var is_stud_notification_page = '{{is_stud_notification_page}}';
			var is_display_active_noti = '{{is_display_active_noti}}';
			if (is_stud_notification_page == '1' && is_display_active_noti == '1'){
				removeNoti(notification_div_page, notification_id);
				let notifications = $('#noti-div').children();
				if(notifications.length == 0){
					$('#noti-div').append('<tr><td class="center-align" colspan="3"><i>No Notifications</i></td></tr>');
				}
			}
			countNotifications();
        }
        var removeDuplicates = function(){
            // Fixes weird bug with notifications. Once notification is created it can create more than one at a time.
            // Ex. student buys 3 items from shop it sends 6 notifications
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');
			var notification_div_page = $('#noti-div');

            function removeDupes(notification_box){
				var seen = {};
                notification_box.children().each(function(index){
                    if(seen[$(this).attr("data-nf-id")] == true){
                        $(this).remove();
                    }
                    else{
                        seen[$(this).attr("data-nf-id")] = true;
                    }
                });
            }

            removeDupes(notification_box_desktop);
			removeDupes(notification_box_mobile);
			
			if(notification_div_page)
				removeDupes(notification_div_page);
		}
		function updateNotificationsCourseName(id){
			try{
				var json = JSON.parse($(`#course-name-${id}`).html())
			} catch {
				return;
			}
			// console.log(json)
			$(`#course-name-${id}`).html(json['name'])
			$(`[data-id="notification-link-${id}"`).click(() => {
                if('related_link' in json)
                    window.location = json['related_link']
                else
                    window.location = '/oneUp/students/NotificationPage?ID=1'
            });
		}
		function limitNotifications(limit, size){
			if(size == 0) return;
			if(size <= limit) return;

            // Limit notifications on both mobile and desktop sides
            var notification_box_desktop = $('#notifications-desktop');
            var notification_box_mobile = $('#notifications-mobile');

            function limitNotificationsInBox(notification_box){
                var notifications = notification_box.children();
                

				for(var i = 0; i <= Math.min(limit, size-1); i++){
                    notifications[i].classList.remove("hide");
                }

                var stop_index = size - limit;
                for(var i = size-1; i > ((size-1) - stop_index); i--){
                    notifications[i].classList.add("hide");
                }
                
            }

            limitNotificationsInBox(notification_box_desktop);
            limitNotificationsInBox(notification_box_mobile);
        }
        function countNotifications(){
			var all_notifications_count = $('nav .notification-box-list').children().length / 2;

            // Remove magic "no notifications" element when there are no notifications and add a customized one
            let notifications = $('nav .notification-box-list').children();
            if(notifications.length == 0){
                $('nav .notification-box-list').append('<li><a class="no-notifications waves-effect " href="/oneUp/students/NotificationPage">No notifications (View all)</a></li>');
				$('#mobile-viewall, #mobile-clearall').hide();
			}
			var empty = all_notifications_count == 1;
            var removed_empty = false;
            for(var i = notifications.length-1; i >= 0; i--){
				// This is our custom one just set notification count to 0
                if(notifications[i].innerHTML == '<a class="no-notifications waves-effect " href="/oneUp/students/NotificationPage">No notifications (View all)</a>'){
                    if(all_notifications_count == 1 && empty){
						all_notifications_count = 0;
						$('#mobile-viewall, #mobile-clearall').hide();
                        break;
                    } else {
						notifications[i].remove();
						$('#mobile-viewall, #mobile-clearall').show();
                        if(removed_empty == false)
                            all_notifications_count--;
                        continue;
                    }
                }
                // This is the magic one. Remove it and add our custom one and set notification count to 0
                if(notifications[i].innerHTML == 'No notifications yet.'){
                    if(all_notifications_count == 1 && empty) {
                        $('nav .notification-box-list').empty();
                        all_notifications_count = 0;
                        // Add "No notifications" for mobile and desktop
                        $('nav .notification-box-list').append('<li><a class="no-notifications waves-effect " href="/oneUp/students/NotificationPage">No notifications (View all)</a></li>');
						$('#mobile-viewall, #mobile-clearall').hide();
						break;
                    } else {
						notifications[i].remove();
						$('#mobile-viewall, #mobile-clearall').show();
                        if(removed_empty == false)
							all_notifications_count--;
						continue;
                    }
				}
				updateNotificationsCourseName($(notifications[i]).attr('data-nf-id'));
            }
            
            // Limit the number of notifications 
			limitNotifications(6, all_notifications_count);
			
            let unread_count = $('nav .unread').length / 2;
			//console.trace(unread_count);
			
			// Desktop/Tablet element
            let icon_element = $("#notification-count-desktop").children(":first");
			// Mobile element
            let badge_element = document.getElementById("notification-count-mobile");

            // Get "Notifications #" count element in the dropdown on the desktop screen
            var notification_count_element = document.getElementsByClassName('notification-count')[0];
			
            // Display Desktop "Notifications #" count element if notifications count is > 0
            if(all_notifications_count > 0)
                notification_count_element.parentNode.parentNode.style.display = "inline";
            else
                notification_count_element.parentNode.parentNode.style.display = "none";

            notification_count_element.innerHTML = all_notifications_count;
            
            // Display "Clear All" elements (mobile and desktop) if notifications count is > 0
            clearAll_elements = document.getElementsByClassName('clearAll');
            for(var i = 0; i < clearAll_elements.length; i++){
                let element = clearAll_elements[i];
                if(all_notifications_count > 0)
                    element.parentNode.style.display = "inline";
                else 
                    element.parentNode.style.display = "none";
			}
			
			// Show/hide unread counts for notification bubble and mobile badge
            if(unread_count == 0){
                // Desktop bubble
                icon_element.removeClass("notification-icon-notify");
				icon_element.addClass("notification-icon");
				$(".notification-badge").addClass("hide");
                
                // Hide badge for mobile view
                badge_element.style.display = "none";
    
            } else {

				// Desktop bubble
                icon_element.removeClass("notification-icon");
                icon_element.addClass("notification-icon-notify");
                $(".notification-badge").removeClass("hide").html(unread_count);

                // Show badge for mobile view and set count 
                badge_element.style.display = "block";
				badge_element.textContent= unread_count;
				
            }
            
        }
        
        $(document).ready(function() {
            countNotifications();
            
        });	
        
        $(document).on('click', '.clearAll', function() {
            $(".delete-box").click();
            countNotifications();
        });
		
</script>
		<ul id="account" class="dropdown-content">
			{% if ccparams.gamificationUsed and ccparams.avatarUsed %}
			<li class="nav-dropdown-link"><p class="center-align"><img class="circle" width="100" height="100" src="{{avatar}}"></p></li>
			{% endif %}
			<li class="nav-dropdown-link"><p style="padding-left: 16px; padding-right: 8px">Welcome, {{username}}</p></li>            
			<li class="nav-dropdown-link"><p style="padding-left: 16px; padding-right: 8px">Course: {{course_Name}}</p></li>
			<li class="divider"></li>
			<li><a class="waves-effect " href="/oneUp/administrators/courses?is_student=True">Change Course</a></li>
			<li><a class="waves-effect " href="/oneUp/students/Logout">Logout</a></li>
		</ul>
		<ul id="virtualcurrency" class="dropdown-content">                               
			<li><a href="/oneUp/students/VirtualCurrencyShop">Course Shop</a></li>
			<li><a href="/oneUp/students/Transactions">VC Transactions</a></li>
		</ul>
		<nav>
			<div class="nav-wrapper">
			<a href="#" class="brand-logo" ><i class="large material-icons icon-yellow">lightbulb_outline</i>OneUp</a>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down" style="height: 100%;">
				<li>
					<a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="courseinfo">Course Info</a>
					<ul id="courseinfo" class="dropdown-content">
						<li><a class="waves-effect " href="/oneUp/students/StudentHome">Student's Home</a></li>
						<li><a class="waves-effect " href="/oneUp/students/StudentCourseHome">Course Home</a></li>						
						<li><a class="waves-effect " href="/oneUp/students/CourseInformation">Course Information</a></li>
						{%if ccparams.announcementsUsed %}
						<li><a class="waves-effect " href="/oneUp/students/Announcements">Announcements</a></li>	
						{% endif %}
						<!-- GGM added leaderboard to navigation bar -->
						{%if  ccparams.leaderboardUsed and scparams.displayLeaderBoard and ccparams.skillLeaderboardDisplayed %}
						<li><a class="waves-effect " href="/oneUp/students/Leaderboard">Course Leaderboard</a></li>
						{% endif %}	
						{%if  ccparams.leaderboardUsed %}
						<li><a class="waves-effect " href="/oneUp/students/LeaderboardInfo">Leaderboards Info</a></li>
						{% endif %}						
						{%if ccparams.gamificationUsed and ccparams.badgesUsed %}
						<li><a class="waves-effect " href="/oneUp/badges/CourseBadges">Course Badges</a></li>
						{% endif %}
						{%if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
						<li><a class="waves-effect " href="/oneUp/students/VirtualCurrencyRules">Currency Rules</a></li>
						{% endif %}
					</ul>
				</li>
				{% if ccparams.warmupsUsed %}
				<li><a class="waves-effect" href="/oneUp/students/ChallengesWarmUpList">Warm-Ups</a></li>
				{% endif %}
				{% if ccparams.seriousChallengesUsed %}
				<li><a class="waves-effect" href="/oneUp/students/ChallengesList">Challenges</a></li>
				{% endif %}
				{% if ccparams.activitiesUsed %}
				<li><a class="waves-effect" href="/oneUp/students/ActivityList">Activities</a></li>
				{% endif %}
				{% if ccparams.gradebookUsed %}
				<li><a class="waves-effect" href="/oneUp/students/CoursePerformance">Grades</a></li>
				{% endif %}
				{%if ccparams.gamificationUsed and ccparams.displayAchievementPage %}
				<li><a class="waves-effect" href="/oneUp/students/achievements">Achievements</a></li>
				{% endif %}
				
				{% if ccparams.chatUsed or ccparams.avatarUsed or ccparams.classmatesChallenges or ccparams.virtualCurrencyUsed or ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis or  ccparams.goalsUsed or is_test_student is False %}
				<li>
					<a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="coursetools">Tools</a>
					<ul id="coursetools" class="dropdown-content">
						{% if ccparams.gamificationUsed %} 
						{% if ccparams.avatarUsed %}
						<li><a class="waves-effect " href="/oneUp/students/avatar">Avatar Selection</a></li>
						{% endif %}
						{% if ccparams.goalsUsed %}
						{% if ccparams.studCanChangeGoal and scparams.displayGoal or not ccparams.studCanChangeGoal %}
						<li><a class="waves-effect" href="/oneUp/students/goalslist">Goals</a></li>
						{% endif %}
						{% endif %}
						<!-- {% if ccparams.chatUsed %}
						<li><a class="waves-effect " href="/oneUp/chat/api">Chat</a></li>
						{% endif %} -->
						<li><a class="waves-effect " href="/oneUp/students/FlashCards">Flash Cards</a></li>
						{% if ccparams.virtualCurrencyUsed %}
						<li><a class="waves-effect " href="/oneUp/students/VirtualCurrencyShop">Course Shop</a></li>
						<li><a class="waves-effect " href="/oneUp/students/Transactions">VC Transactions</a></li>
						{% endif %}
						{% if ccparams.classmatesChallenges %}
			            <li><a class="waves-effect " href="/oneUp/students/Callouts">Challenge Classmates</a></li>
						{% endif %}
						{% if ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
						<li><a class="waves-effect " href="/oneUp/students/Preferences">Preferences</a></li>
						{% endif %}
						{% endif %}

						{% if is_test_student is False %}
						<li><a class="waves-effect " href="/oneUp/students/ResetPassword">Reset Password</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				<li>
					<a class="waves-effect" href="/oneUp/students/StudentQA">Help</a>
				</li>
				<li>
					<a id='notification-count-desktop' class='dropdown-button mark-all' data-mark-action='read' href='#!' data-constrainwidth ='false' data-beloworigin='true' data-activates='notifications' data-position="left" data-delay="50">
						<i class='material-icons notification-icon'>notifications</i> <!-- This needs to be linked to an actual notification page -->
						<small class="notification-badge hide"></small>
					</a>
					<ul id="notifications" class="dropdown-content" style="max-width: 36vw;">
						<li><a class="notification-count-parent" href="/oneUp/students/NotificationPage">Notifications <span style="float:right;" class="badge notification-count"></span></a></li>
						<div id="notifications-desktop" class="notification-box-list">
						{% user_notifications for box %}
						</div>
						<li><a class="clearAll waves-effect" href="#!"><i class="material-icons">clear_all</i>Clear All</a></li>
					</ul>
				</li>
				{% if is_test_student %}
		           <li>
		                <a id='switchview' class='tooltipped' data-tooltip="Switch to instructor view"  href="/oneUp/students/switchView?student=true&courseId={{courseID}}" >
		                    <i class='material-icons'>visibility</i> 
		                </a>
		            </li>
	            {% endif %}
				{% if logged_in %}            
				<li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="account"><i class="material-icons">more_vert</i></a></li>
				{% endif %}
			</ul>


			<!--MOBILE-->
			<ul class="side-nav" id="slide-out">
				{% if logged_in %}
				<li>
					<div class="user-view">
						<div class="background">
						  <img src="/static/images/pic01.jpg">
						</div>
						{% if ccparams.gamificationUsed and ccparams.avatarUsed %}
						<a href="#!user"><img class="circle" src="{{avatar}}"></a>
						{% endif %}
						<a href="#!name"><span class="white-text name">Welcome, {{username}}</span></a>
						<a href="#!course"><span class="white-text email">Course: {{course_Name}}</span></a>
					  </div>
				</li>   
				{% endif %}             
				<li class="no-padding">
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class="collapsible-header"><i class="material-icons">info</i>Course Infomation</a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="/oneUp/students/StudentHome">Student's Home</a></li>
									<li><a class="waves-effect" href="/oneUp/students/StudentCourseHome">Course Home</a></li>							
									<li><a class="waves-effect" href="/oneUp/students/CourseInformation">Course Information</a></li>
									{% if ccparams.announcementsUsed %}
									<li><a class="waves-effect" href="/oneUp/students/Announcements">Announcements</a></li>	
									{% endif %}
									
									{% if ccparams.leaderboardUsed and scparams.displayLeaderBoard %}
									<li><a class="waves-effect" href="/oneUp/students/Leaderboard">Leaderboard</a></li>
									{% endif %}
									{% if ccparams.skillLeaderboardDisplayed %}
									<li><a class="waves-effect" href="/oneUp/students/LeaderboardInfo">Leaderboards Info</a></li>
									{% endif %}						
									{% if ccparams.gamificationUsed and ccparams.badgesUsed %}
									<li><a class="waves-effect" href="/oneUp/badges/CourseBadges">Course Badges</a></li>
									{% endif %}
									{% if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
									<li><a class="waves-effect" href="/oneUp/students/VirtualCurrencyRules">Currency Rules</a></li>
									{% endif %}
								</ul>
							</div>
						</li>
						{% if ccparams.warmupsUsed %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ChallengesWarmUpList"><i class="material-icons">fitness_center</i>Warm Up Challenges</a></li>
						{% endif %}
						{% if ccparams.seriousChallengesUsed %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ChallengesList"><i class="material-icons">star</i>Serious Challenges</a></li>
						{% endif %}
						{% if ccparams.activitiesUsed %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/ActivityList"><i class="material-icons">toys</i>Activities</a></li>
						{% endif %}
						{% if ccparams.gradebookUsed %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/CoursePerformance"><i class="material-icons">timeline</i>Grades</a></li>
						{% endif %}
						{%if ccparams.gamificationUsed and ccparams.displayAchievementPage %}
						<li><a class="collapsible-header waves-effect" href="/oneUp/students/achievements"><i class="material-icons">flare</i>Achievements</a></li>
						{% endif %}
						{% if ccparams.chatUsed or ccparams.classmatesChallenges or ccparams.avatarUsed or ccparams.virtualCurrencyUsed or ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis or ccparams.goalsUsed or is_test_student is False %}
						<li>
							<a class="collapsible-header"><i class="material-icons">build</i>Tools</a>
							<div class="collapsible-body">
								<ul>
									{% if ccparams.gamificationUsed %}
									{% if ccparams.avatarUsed %}
									<li><a class="waves-effect" href="/oneUp/students/avatar">Avatar Selection</a></li>
									{% endif %}
									{% if ccparams.goalsUsed %}
									{% if ccparams.studCanChangeGoal and scparams.displayGoal or not ccparams.studCanChangeGoal %}
									<li><a class="waves-effect" href="/oneUp/students/goalslist">Goals</a></li>
									{% endif %}
									{% endif %}
									<!-- {% if ccparams.chatUsed %}
										<li><a class="waves-effect" href="/oneUp/chat/api">Chat</a></li>
									{% endif %} -->
									{% if ccparams.virtualCurrencyUsed %}
									<li>
										<li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-alignment="right" data-beloworigin="true" data-activates="virtualcurrency">Virtual Currency<i class="material-icons right">more_vert</i></a></li>                                    
									</li>
									{% endif %}
									{% if ccparams.classmatesChallenges %}
									<li><a class="waves-effect" href="/oneUp/students/Callouts">Challenge Classmates</a></li>
									{% endif %}
									{% if ccparams.studCanChangeclassAverageVis or ccparams.studCanChangeClassSkillsVis or ccparams.studCanChangeLeaderboardVis or ccparams.studCanChangeBadgeVis %}
									<li><a class="waves-effect" href="/oneUp/students/Preferences">Preferences</a></li>
									{% endif %}
									{% endif %}

									{% if is_test_student is False %}
									<li><a class="waves-effect" href="/oneUp/students/ResetPassword">Reset Password</a></li>
									{% endif %}
									
								</ul>
							</div>
						</li>
						{% endif %}
						<li>
							<a class="collapsible-header waves-effect" href="/oneUp/students/StudentQA"><i class="material-icons">help</i>Help</a>
						</li>
						<li>
							<a id='notifications-mobile-link' class='collapsible-header mark-all' data-mark-action='read'><i class='material-icons'>notifications</i>Notifications  <div class='right'><span id='notification-count-mobile' class="new badge red"></span></div></a>
							<div class='collapsible-body'>
								<ul>
									<div id="notifications-mobile" class="notification-box-list">
									{% user_notifications for box %}
									</div>
									<li id="mobile-viewall"><a class="waves-effect" href="/oneUp/students/NotificationPage"><i class="material-icons">pageview</i>View All</a></li>
									<li id="mobile-clearall"><a class="clearAll waves-effect" href="#!"><i class="material-icons">clear_all</i>Clear All</a></li>					
								</ul>
							</div>
						</li>
						{% if is_test_student %}
				           <li>
				                <a id='switchview'  style="padding-left: 16px !important" class="collapsible-header waves-effect" href="/oneUp/students/switchView?student=true&courseId={{courseID}}" >Switch to Instructor View
				                    <i class='material-icons'>visibility</i> 
				                </a>
				            </li>
			            {% endif %}
					</ul>
				</li>
				{% if logged_in %}                        
				<li class="divider"></li>
				<li><a class="waves-effect" href="/oneUp/administrators/courses?is_student=True">Change Course</a></li>
				<li><a class="waves-effect" href="/oneUp/students/Logout">Logout</a></li>
				{% endif %}
			</ul>
			</div>
		</nav>
	</header>
