<!-- Used for the notifications -->
{% load staticfiles %}       
{% load notification_tags %}
{% include_notify_js_variables %} 
<script src="{% static "notify/notifyX.js" %}"></script>
<script>
	function countNotifications(){
		numItems = $('.navNotifications').length;
		if(numItems == 0){
			numItems = null;
			document.getElementById("notificationCount").style.display = "none";
			x  = document.getElementById("noteparent").children;
			x = x[0];
			y = document.createElement('li');
			y.setAttribute("class", "nav_login_second_level_items" );
			y.innerHTML = "<a href='#'>No new notifications yet</a>"
			x.parentNode.replaceChild(y, x);
		} else {
			document.getElementById("notificationCount").textContent=numItems;
		}
		
	}
	
	$(document).ready(function() {
		countNotifications();
		setInterval(function(){
			countNotifications();
		}, 5000);
	});	
</script>

<style>
.button__badge {
  background-color: #fa3e3e;
  border-radius: 1px;
  color: white;
 
  padding: 1px 1.5px;
  font-size: 10px;
  
  position: relative; /* Position the badge within the relatively positioned button */
  right: 0px;
  bottom: 15px;
}
</style>
<!-- END OF NOTIFICATIONS  -->



       <header>
			<nav class="Navigation">
				<div class="Nav_Top">
					<ul class="nav_top_level">
						<a class="nav_bulb" href="/oneUp/home" title="1up"
							style="border-bottom: 0"> <i
							class="fa fa-lightbulb-o fa-3x nav_bulb"></i></a>
						<li class="nav_top_level_items"><a
							href="/oneUp/students/CourseInformation">Course Information</a>
							<ul class="nav_second_level">
								<li class="nav_second_level_items">
                                    <a href="/oneUp/students/StudentHome">Home</a>
                                </li>
								<li class="nav_second_level_items">
								   <a	href="/oneUp/students/CourseInformation">Course Description</a>
								</li>
								{%if ccparams.gamificationUsed and ccparams.badgesUsed %}
								<li class="nav_second_level_items">
									<a href="/oneUp/badges/CourseBadges">Course Badges</a>
								</li>
								{%endif%}
								{%if ccparams.gamificationUsed and ccparams.virtualCurrencyUsed %}
								<li class="nav_second_level_items">
									<a href="/oneUp/students/VirtualCurrencyRules">Currency Rules</a>
								</li>
								{%endif%}
							</ul></li>
						<li class="nav_top_level_items"><a
							href="/oneUp/students/ChallengesWarmUpList">Warm Up
								Challenges</a></li>
						<li class="nav_top_level_items"><a
							href="/oneUp/students/ChallengesList">Serious Challenges</a></li>
						<li class="nav_top_level_items"><a
							href="/oneUp/students/ActivityList">Activities</a></li>
						<li class="nav_top_level_items"><a
							href="/oneUp/students/CoursePerformance">Course Performance</a>
						{%if ccparams.gamificationUsed %}
						<li class="nav_top_level_items"><a
							href="/oneUp/students/achievements">Achievements</a></li>
						<li class="nav_top_level_items">
							<a href="#">Tools</a>
							<ul class="nav_second_level">
								<li class="nav_second_level_items"><a
									href="/oneUp/students/avatar">Avatar Selection</a>
								</li>
								<li class="nav_second_level_items"><a
									href="/oneUp/students/VirtualCurrencyShop">Course Shop</a>
								</li>
								<li class="nav_second_level_items"><a
                                    href="/oneUp/students/Preferences">Preferences</a>
                                </li>
							</ul>
						</li>
						{%endif%}
						{% if logged_in and ccparams.gamificationUsed and ccparams.avatarUsed%}
						 <a class="nav_avatar" href="" title="avatar" style="border-bottom:0">
						 <img src="{{avatar}}" alt="Avatar" width="54" height="54" style="border:1px solid black">
						 </a>
						{% endif %}
					</ul>
				</div>
				
				
				<div class="Nav_Bottom">
					{% if logged_in %}
					<p>Course: {{course_Name}}</p>
					<ul class="nav_login">
						<li class="nav_login_items"><a href="#">Welcome,
								{{username}}<i class="fa fa-chevron-down"></i>
						</a>
							<ul class="nav_login_second_level">
								<li class="nav_login_second_level_items"><a
									href="/oneUp/administrators/courses">Change Course</a></li>
								<li class="nav_login_second_level_items"><a
									href="/oneUp/students/Logout">Logout</a></li>
							</ul></li>
							
						&nbsp;&nbsp;&nbsp;
						
						<li class="nav_login_items">
						<img src="/static/images/horn.png"><span class="button__badge" id='notificationCount'></span> <!-- This needs to be linked to an actual notification page -->
							<ul class="nav_login_second_level" style="width: 195px;">  <!-- Width can be between 200 and 300 still playing with it -->
								<div id="noteparent" class="notification-box-list">
								{% user_notifications for box %}
								</div>
							</ul>
						</li>
						
					</ul>
					{% endif %}
				</div>
			</nav>
		</header>