<header>
<style>
    i.icon-yellow:hover {
      color: yellow;
    }
</style>
    <ul id="account" class="dropdown-content">
        <li><p style="padding-left: 16px; padding-right: 8px">Welcome, {{username}}</p></li>            
        <li><p style="padding-left: 16px; padding-right: 8px">Course: {{course_Name}}</p></li>
        <li class="divider"></li>
        <li><a href="/oneUp/students/Logout">Logout</a></li>
    </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="large material-icons icon-yellow">lightbulb_outline</i>OneUp</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/oneUp/home.html">Home</a></li>
           {% if is_test_student %}
           <li>
                <a id='switchview' class='dropdown-button tooltipped' data-tooltip="Switch to instructor view"  href="/oneUp/students/switchView?student=true" >
                    <i class='material-icons'>visibility</i> 
                </a>
            </li>
            {% endif %}
          {% if logged_in %}            
          <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="account"><i class="material-icons">more_vert</i></a></li>
          {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
          {% if logged_in %} 
        <li>
          <div class="user-view">
              <div class="background">
                <img src="/static/images/pic01.jpg">
              </div>
              <a href="#!user"><img class="circle" src="{{avatar}}"></a>
              <a href="#!name"><span class="white-text name">Welcome, {{username}}</span></a>
              <a href="#!course"><span class="white-text email">Course: {{course_Name}}</span></a>
            </div>
          </li>
          {% endif %}
          <li><a href="/oneUp/home.html">Home</a></li>
          {% if is_test_student %}
           <li>
                <a id='switchview'  style="padding-left: 16px !important" class='dropdown-button tooltipped' data-tooltip="Switch to instructor view"  href="/oneUp/students/switchView?student=true" >
                    <i class='material-icons'>visibility</i> 
                </a>
            </li>
            {% endif %}
          {% if logged_in %}                        
          <li class="divider"></li>
          <li><a class="waves-effect" href="/oneUp/students/Logout">Logout</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
</header>