<!DOCTYPE html>
<html lang="en">
   <head>
      <title>OneUp | Admin Home</title>
      {% include 'scripts.html' %}
   </head>
   <body >
        {% include 'adminHeading.html' %}
        <main>
                <div class="row">
                    <div class="col s0 m0 l0 offset-l2">
                  <div class="row">
                      <div class="col s0 m0">
                        <div class="card-panel">
                        <table>
                          <thead>
                          <th>Courses</th>
                          <th> </th>
                          </thead>
                          <tbody>
                                {% for i, id, course in courses %}
                                <tr><td>
                               {{course}}
                            </td></tr>
                                {% endfor %}
                            </tbody>
                          
                        </table>
                        <a href="/oneUp/administrators/createCourse">
                            <input class="waves-effect waves-light btn" type="button" value="Create"></a>
                            <a href="/oneUp/administrators/deleteCourse">
                            <input class="waves-effect waves-light btn" type="button" value="Delete"></a>
                        
                                    
                        </div>
                      </div>
                      <div class="col s0 m0">
                        <div class="card-panel">
                        <table>
                          <thead>
                            <th>Instructors</th>
                            <th></th>
                          </thead>
                          
                            <tbody>
                                    {% for instructor in instructors %}
                                    <tr><td>
                                        {{instructor}}
                                    </tr></td>
                                    {% empty %}
                                    <tr>
                                        <td>No Instructors</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        <div class="row">
                            <div class="col s12">
                                    <a href="/oneUp/administrators/createTeacher">
                                        <input class="waves-effect waves-light btn" type="button" value="Add"></a>
                                        <a href="/oneUp/administrators/deleteTeacher">
                                        <input class="waves-effect waves-light btn" type="button" value="Delete"></a>
                            </div>
                        </div>
                        </div>
                      </div>
                      <div class="col s0 m0">
                        <div class="card-panel">
                        <table>
                          <thead>
                            <th>Administrators</th>
                            <th></th>
                          </thead>
                          <tbody>
                                {% for admin in administrators %}
                                
                            <tr><td>
                                {{admin}}
                            </td></tr>
                            {% empty %}
                            <td>
                                <td>
                                    No Administrators
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                                    <a href="/oneUp/administrators/createAdmin">
                                        <input class="waves-effect waves-light btn" type="button" value="Create Administrator"></a>
                        </div>
                      </div>
                  </div>
             </main>
         <!-- Footer -->
         {% include 'footer.html' %}
   </body>
</html>