<!DOCTYPE html>
<html lang="en">
   <head>
      <title>OneUp | Admin Home</title>
      {% include 'scripts.html' %}
   </head>
   <body >
      {% include 'adminHeading.html' %}
      <main>
         <div class="row">
            <div class="col s12 m12 l10 offset-l1">
               <div class="row">
                  <div class="col s12 m3">
                     <div class="card">
                        <div class="card-content">
                           <table>
                              <thead>
                                 <th>Courses</th>
                              </thead>
                              <tbody>
                                {% for university in courseUniversityList %}
                                
                                    <td><b>{{university}}</b></td>
                  							
		                                 {% for i, id, curseUni, course in courses %}
			                                   <tr>		
			                                 
			                                 {% if curseUni == university %}             
			                                    <td>{{course}} <td>
			                                    <td> 
			                                       <form action="/oneUp/administrators/deleteItem" method="POST">
			                                          {% csrf_token %}
			                                          <input type="hidden" name="courseToDelete" value="{{id}}"> 
			                                          <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown_course{{i}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
			                                          <ul id='dropdown_course{{i}}' class='dropdown-content'>
			                                             <li><a href="/oneUp/administrators/createCourse?courseID={{id}}">Edit</a></li>
			                                             <li class="divider"></li>
			                                             <li><a class="modal-trigger" href="#modal_delete_course{{i}}">Delete</a></li>
			                                          </ul>
			                                          <div id="modal_delete_course{{i}}" class="modal">
			                                             <div class="modal-content">
			                                                <h5>Are you sure you want to delete?</h5>
			                                             </div>
			                                             <div class="modal-footer">
			                                                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
			                                                <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
			                                                </button>                                        
			                                             </div>
			                                          </div>
			                                       
			                                       </form>
			                                    </td>
			                                 </tr>
		                               	{% endif %}
		                           	 {% empty %}
		                             <tr>
		                                 <td class="center-align" colspan="2"><i>No courses created.</i></td>
		                             </tr>
		                            {% endfor %} 
		                          		
		                        {% empty %}
		                        <tr>
		                           <td class="center-align" colspan="2"><i>No universites created</i></td>
		                        </tr>
		                        {% endfor %}
                              </tbody>
                           </table>
                        </div>
                      
                        <div class="card-action right-align">
                           <a class="waves-effect waves-light btn" href="/oneUp/administrators/createCourse"><i class="material-icons right">navigate_next</i>Create</a>
                        </div>
                     </div>
                  </div>
                   
                  <div class="col s10 m3">
                     <div class="card">
                        <div class="card-content">
                           <table>
                              <thead>
                                 <th>Universities</th>
                              </thead>
                              <tbody>
                                 {% for university in universites %}
                                 <tr>
                                    <td>{{university.universityName}}</td>
                                    <td>
                                       <form action="/oneUp/administrators/deleteItem" method="POST">
                                          {% csrf_token %}
                                          <input type="hidden" name="universityToDelete" value="{{university.universityID}}"> 
                                          <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown_university{{university.universityID}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                                          <ul id='dropdown_university{{university.universityID}}' class='dropdown-content'>
                                             <li><a href="/oneUp/administrators/createUniversity?universityID={{university.universityID}}">Edit</a></li>
                                             <li class="divider"></li>
                                             <li><a class="modal-trigger" href="#modal_delete_university{{university.universityID}}">Delete</a></li>
                                          </ul>
                                          <div id="modal_delete_university{{university.universityID}}" class="modal">
                                             <div class="modal-content">
                                                <h5>Are you sure you want to delete?</h5>
                                             </div>
                                             <div class="modal-footer">
                                                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
                                                <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
                                                </button>                                        
                                             </div>
                                          </div>
                                       </form>
                                    </td>
                                 </tr>
                                 {% empty %}
                                 <tr>
                                    <td class="center-align" colspan="2"><i>No universities created.</i></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <div class="card-action right-align">
                           <a class="waves-effect waves-light btn" href="/oneUp/administrators/createUniversity"><i class="material-icons right">navigate_next</i>Create</a>
                        </div>
                     </div>
                  </div>
                  <div class="col s12 m3">
                     <div class="card">
                        <div class="card-content">
                           <table>
                              <thead>
                                 <th>Instructors </th>
                                 <th><i class="tooltipped material-icons secondary-content primary-surface-colored-text" data-position="top" data-tooltip="instructor">person</i></th>
                              </thead>
                              <tbody>
                               {% for university in instructUniversityList %}
                               
                          		     <td><b>{{university}}</b></td>
                          		     
	                                 {% for instructor, instructList, isAdmin in instructors %}
	                                 <tr>
	                                	 {% if instructList == university %}   
		                                    <td>{{instructor}} &nbsp;<i style="vertical-align:bottom;" class="material-icons" data-position="top" data-tooltip="instructor">person</i>{% if isAdmin %} <i style="vertical-align:bottom;" class="material-icons" data-position="top" data-tooltip="administrator">vpn_key</i>{% endif %}</td>
		                                    <td>
		                                       <form action="/oneUp/administrators/deleteItem" method="POST">
		                                          {% csrf_token %}
		                                          <input type="hidden" name="instructorToDelete" value="{{instructor.username}}"> 
		                                          <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown_instructor{{instructor}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
		                                          <ul id='dropdown_instructor{{instructor}}' class='dropdown-content'>
		                                             <li><a href="/oneUp/administrators/createTeacher?instructorID={{instructor}}">Edit</a></li>
		                                             <li class="divider"></li>
		                                             <li><a class="modal-trigger" href="#modal_delete_instructor{{instructor}}">Delete</a></li>
		                                          </ul>
		                                          <div id="modal_delete_instructor{{instructor}}" class="modal">
		                                             <div class="modal-content">
		                                                <h5>Are you sure you want to delete?</h5>
		                                             </div>
		                                             <div class="modal-footer">
		                                                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat secondary-colored-text">Cancel</a>
		                                                <button class="modal-action modal-close waves-effect waves-light btn-flat"  type="submit" name="submit" value="Delete">Delete
		                                                </button>                                        
		                                             </div>
		                                          </div>
		                                       </form>
		                                    </td>
		                                 </tr>
		                                {% endif %}
	                                 {% empty %}
	                                 <tr>
	                                    <td class="center-align" colspan="2"><i>No instructors created.</i></td>
	                                 </tr>
	                                 {% endfor %}
                              </tbody>
                           {% empty %}
		                      <tr>
		                        <td class="center-align" colspan="2"><i>No universites created</i></td>
		                      </tr>
		                   {% endfor %}
                           </table>
                        </div>
                        <div class="card-action right-align">
                           <a class="waves-effect waves-light btn" href="/oneUp/administrators/createTeacher"><i class="material-icons right">navigate_next</i>Create</a>
                        </div>
                     </div>
                  </div>
                  <div class="col s12 m3">
                     <div class="card">
                        <div class="card-content">
                           <table>
                              <thead>
                                 <th>Administrators</th>
                                 <th><i class="tooltipped material-icons secondary-content primary-surface-colored-text" data-position="top" data-tooltip="administrator">vpn_key</i></th>
                              </thead>
                              <tbody>
                                 {% for admin, isTeacher in administrators %}
                                 <tr>
                                    <td>{{admin}} &nbsp;<i style="vertical-align:bottom;" class="material-icons" data-position="top" data-tooltip="administrator">vpn_key</i>{% if isTeacher %} <i style="vertical-align:bottom;" class="material-icons" data-position="top" data-tooltip="instructor">person</i>{% endif %}</td>
                                    <td>
                                   
                                          <a class="dropdown-button tooltipped secondary-content" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown_admin{{admin}}' data-position="right" data-delay="50" data-tooltip="Options"><i class="material-icons">more_vert</i></a>                                
                                          <ul id='dropdown_admin{{admin}}' class='dropdown-content'>
                                             <li><a href="/oneUp/administrators/createAdmin?adminID={{admin}}">Edit</a></li>
                                          </ul>
                                        
                                    </td>
                                 </tr>
                                 {% empty %}
                                 <tr>
                                    <td class="center-align" colspan="2"><i>No administrators created.</i></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <div class="card-action right-align">
                           <a class="waves-effect waves-light btn" href="/oneUp/administrators/createAdmin"><i class="material-icons right">navigate_next</i>Create</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div> 
      </main>
      {% include 'footer.html' %}
   </body>
</html>