<!DOCTYPE html>
<html lang="en">
   <head>
      <title>OneUp | Create Teacher</title>
      {% include 'scripts.html' %}
      
   </head>
   <body >
      {% include 'adminHeading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if editInstructor %}
               <h3>Edit Instructor</h3>
               {% else %}
               <h3>Create Instructor</h3>
               {% endif %}
               <p><span class="red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  <table>
                     <thead>
                        <th>Created Instructors</th>
                     </thead>
                     <tbody>
                        {% for instructor in instructors %}
                        <tr>
                           <td>{{instructor}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align"><i>No instructors created.</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form name="instructor_create" method="POST">
                  {% csrf_token %}
                  {% if editInstructor %}
                  <input type="hidden" name="iUsernamePrev" value="{{instructorUsername}}" />
                  <input type="hidden" name="iEmailPrev" value="{{instructorEmail}}" />
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{instructorUsername}}" name="instructorUsername" id="instructor_username" type="text" onblur="this.value=removeSpace(this.value);" {% if view == False %}class="validate"{%endif%} {%if view%}readonly{%else%}required{%endif%}>
                              <label for="instructor_username"><span class="red-text">*</span> Instructor Username</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{instructorPassword}}" name="instructorPassword" id="instructor_password" type="text" {% if view == False %}class="validate"{%endif%} {%if view%}readonly{%else%}required{%endif%}>
                              <label for="instructor_password"><span class="red-text">*</span> Instructor Password</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{instructorFirstName}}" name="instructorFirstName" id="instructor_firstname" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="instructor_firstname"><span class="red-text">*</span> Instructor First Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{instructorLastName}}" name="instructorLastName" id="instructor_lastname" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="instructor_lastname"><span class="red-text">*</span> Instructor Last Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{instructorEmail}}" name="instructorEmail" id="instructor_email" type="email" {% if view == False %}class="validate"{%endif%} {%if view%}readonly{%else%}required{%endif%}>
                              <label for="instructor_email"><span class="red-text">*</span> Instructor Email</label>
                           </div>
                        </div>
                    
                     <div class="row">
                        <div class="input-field col s12">
                           <select id="university" name="universityName" {%if view%}readonly{%endif%} required>
                           <option value="" disabled selected>Choose University</option>
                           {% for university in universities %}
                           <option id="{{university}}" value="{{university}}">{{university}}</option>
                           {% endfor %}
                           </select>
                           <label><span class="red-text">* </span>University</label>
                           {% if universityNames %}
                           <script  type="text/javascript"> 
                              window.onload = function() {
                                 name = "{{universityNames|safe}}";
                                 document.getElementById(name).selected = true;
            
                                 $("#university").material_select();
                              }
                           </script> 
                           {% endif %}
                        </div>
                     </div>
                  </div>
                     <div class="card-action right-align">
                        {% if view == False %}
                        <button class="btn waves-effect waves-light" type="submit" name="submit">{% if editInstructor %}Save{% else %}Create{% endif %}<i class="material-icons right">send</i>
                        </button>
                        {% endif %}
                        <a class="waves-effect waves-light btn" href="/oneUp/administrators/adminHome">											
                        <i class="material-icons left">navigate_before</i>Back</a>           
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
   {% if errorMessages %}
      <script>
        {% for errorMessage in errorMessages %}
      	Materialize.toast("{{errorMessage}}", 4000);
      	{% endfor %}
      </script>
      {% endif %}
   <script>
      function removeSpace(string) {
         string = string.trim();
         return string.split(' ').join('_');
      }
   </script>
</html>