<!DOCTYPE html>
<html lang="en">
        <head>
                <title>OneUp | Create Teacher</title>
                {% include 'scripts.html' %}
             </head>
             <body >
                  {% include 'adminHeading.html' %}
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
               <h1>Create <span>Instructor</span></h1>
               <p><span>*</span> Denotes Required Fields.</p>
               <div>
               <table class="bg" id="bglinks" style="padding-bottom: 0em; margin-bottom: 15px;">
                            <th> Instructors </th>
                            <tr>
                            <td>
                            <ul style="height: 100px; width: 100%; overflow: hidden; overflow-y: scroll; border-radius: 4px; border: solid 1px rgba(144, 144, 144, 0.5);">
                            {% for instructor in instructors %}
                             <li>{{instructor}}</li>
                            {% endfor %}
                            </ul>
                            </td>
                            </tr>
                        </table>
<!-- INSERTED PAGE CONTENT -->
				<form name="admin_create" method="POST">
						{% csrf_token %}
				<table class="bg">
        			<tr>
            			<th>User Name:<span>*</span></th>
        			</tr>
        			<tr>
                		<td><input id="mediumFormBox" type="text" name="uname" id="uname" required></td>
            		</tr>
        			<tr>
            			<th>User Password:<span>*</span></th>
        			</tr>
        		    <tr>
	    				<td><input id="mediumFormBox" type="text" name="pword" id="pword" required></td>
	    			</tr>
            		<tr>
            			<th>First Name:<span>*</span></th>
        			</tr>
        			<tr>
                    	<td><input id="mediumFormBox" type="text" name="firstname" id="firstname" required></td>
            		</tr>
        			<tr>
            			<th>Last Name:<span>*</span></th>
        			</tr>
        			<tr>
                    	<td><input id="mediumFormBox" type="text" name="lastname" id="lastname" required></td>
            		</tr>
            		<tr>
            			<th>Email:<span>*</span></th>
        			</tr>
        			<tr>
                    	<td><input id="mediumFormBox" type="email" name="email" id="email" required></td>
            		</tr>
					</table>	
						<input class="waves-effect waves-light btn" type="submit" name="Create" value="Create" class="button">								
						<a href="/oneUp/administrators/adminHome" ><input class="waves-effect waves-light btn" type="button" class="special" value="Cancel"></a>
						</form>
						<br><br>
                  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div></div>
         </div>
               <!-- Footer -->
               {% include 'footer.html' %}
</body>
</html>