<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'scripts.html' %}

   </head>
   <body>
      {% include 'heading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
               {% if userID %}
               <h3>Edit <i>{{ usertype }}</i></h3>
               {% else %}
               <h3>Add New <i>{{ usertype }}</i></h3>
               {% endif %}
               <p><span class="red-text">*</span> Denotes Required Fields</p>
               <p>{{user_taken}}</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form id="createStudentForm" name="createStudentForm" action="/oneUp/instructors/createStudentView" method="POST">
                  {% csrf_token %} 
                  {% if userID %}
                  <input type="hidden" name="userID" id="userID" value="{{userID}}"> 
                  <input type="hidden" name="sUsernamePrev" value="{{uname}}" />
                  <input type="hidden" name="sEmailPrev" value="{{email}}" />
                  {% endif %}
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s6">
                              <i class="material-icons prefix">edit</i>
                              <input value="{{firstname}}" name="firstname" id="firstname" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="firstname"><span class= "red-text">*</span> First Name</label>
                           </div>
                           <div class="input-field col s6">
                              <input value="{{lastname}}" name="lastname" id="lastname" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="lastname"><span class= "red-text">*</span> Last Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <i class="material-icons prefix">email</i>
                              <input value="{{email}}" name="email" id="email" type="email" class="validate" required>
                              <label for="email"><span class= "red-text">*</span> Email</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                              <input value="{{uname}}" name="uname" id="uname" type="text" class="validate" pattern=".*\S+.*" required>
                              <label for="uname"><span class= "red-text">*</span> User ID</label>
                           </div>
                        </div>
                        <div class="row">
                           {% if userID %} <p class="red-text" style="font-size: 18px; font-weight: 600; padding-left: 1rem;">Warning: Changing the student password will also change across the student courses</p> <br/>{% endif %}
                           <div class="input-field col s6">
                              <i class="material-icons prefix">lock</i>
                              <input value="{{pword}}" name="pword" id="pword" type="password" class="validate" required>
                              <label for="pword"><span class= "red-text">*</span> Password</label>
                           </div>
                           <div class="input-field col s6">
                              <input value="{{pword2}}" name="pword2" id="pword2" type="password" class="validate" {% if not userID %}required{% endif %}>
                              <label for="pword2"><span class= "red-text">*</span> Confirm Password</label>
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        <button type="submit" class="btn waves-effect waves-light" name="submit">{% if userID %}Save{% else %}Submit{% endif %}
                        <i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn" href="/oneUp/instructors/createStudentListView"><i class="material-icons left">close</i>Cancel</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
      <script>
        $("#createStudentForm").on('submit', function(e){
          $.ajax({
              url: "/oneUp/instructors/validateCreateStudent",
              dataType: 'json',
              type: 'POST',
              async: false,
              data: $('#createStudentForm').serialize(),
              success: function(data){
                if(data.errorMessages.length > 0){
                  e.preventDefault();
                  for(var i = 0; i < data.errorMessages.length; i++){
                    Materialize.toast(data.errorMessages[i], 4000);
                  }
                }
              }
          });
        });
      </script>
   </body>
</html>