<!DOCTYPE html>
<html>
   <head>
      <title>OneUp | Create Course</title>
      {% include 'scripts.html' %}
      <!-- <script src="/static/ThirdParty/ckeditor_4.6.2_custom1/ckeditor.js"></script> -->
      <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor-init.js"></script>
      <script type="text/javascript" src="/static/ThirdParty/ckeditor/ckeditor/ckeditor.js"></script>
      <script>
         $( document ).ready(function(){
             var endDate = $('#endTime').bootstrapMaterialDatePicker({
                 weekStart: 0, time: false, format: 'MMMM D, Y'
             });
             
             var startDate = $('#startTime').bootstrapMaterialDatePicker({
                 weekStart: 0, time: false, format: 'MMMM D, Y'
             }).on('change', function(e, date) {
                 $('#endTime').bootstrapMaterialDatePicker('setMinDate', date);
             });
         });
      </script>
   </head>
   <body >
      {% include 'adminHeading.html' %}
      <main>
         <div class="row center-align">
            <div class="col s12">
            {% if editCourse %}
            <h3>Edit Course</h3>
            {% else %}
               <h3>Create Course</h3>
               {% endif %}
               <p><span class="red-text">*</span> Denotes Required Fields.</p>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <div class="card-panel">
                  <table>
                     <thead>
                        <th>Created Courses</th>
                     </thead>
                     <tbody>
                        {% for i, id, course in courses %}
                        <tr>
                           <td>{{course}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td class="center-align"><i>No courses created.</i></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <form name="course_create" method="POST">
                  {% csrf_token %}
                  {% if editCourse %}
                  <input type="hidden" name="cNamePrev" value="{{courseName}}" />
                  {% endif %}
                  
                  <div class="card">
                     <div class="card-content">
                        <div class="row">
                           <div class="input-field col s12">
                              <input value="{{courseName}}" name="courseName" id="course_name" type="text" {% if view == False %}class="validate"{%endif%} pattern=".*\S+.*" {%if view%}readonly{%else%}required{%endif%}>
                              <label for="course_name"><span class= "red-text">*</span> Course Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12">
                              <label for="course_description"><span class="red-text">*</span> Course Description</label>
                              <div class="django-ckeditor-widget" data-field-id="0">
                                 <textarea name="courseDescription" id="course_description" rows="2" cols="70" {%if view%}readonly{%else%}required{%endif%} data-processed="0" data-config="{{ ckeditor.config }}" data-external-plugin-resources="{{ ckeditor.external_plugin_resources }}" data-id="course_description" data-type="ckeditortype">{{ courseDescription }}</textarea>
                             </div>             
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <select id="instructors" name="instructorName" {%if view%}readonly{%endif%}>
                              <option value="" disabled selected>Choose Instructor</option>
                              {% for instructor in instructors %}
                              <option id="{{instructor.username}}" value="{{instructor}}">{{instructor}}</option>
                              {% endfor %}
                              </select>
                              <label>Instructor</label>
                              <script  type="text/javascript"> 
                                 window.onload = function() {
                                 	if ("{{instructorName}}" !== "")  {
                                 	document.getElementById("{{instructorName}}").selected = true;
                                    $("#instructors").material_select();
                                 	} 
                                 }
                              </script> 
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s12 m6">
                              <label for="startTime">Course Start Date:</label> 
                              <input type="text" class="datepicker-from" name="courseStartDate" value="{{courseStartDate}}" id="startTime">
                           </div>
                           <div class="col s12 m6">
                              <label for="endTime">Course End Date:</label> 
                              <input type="text" class="datepicker-until" name="courseEndDate" value="{{courseEndDate}}" id="endTime">
                           </div>
                        </div>
                     </div>
                     <div class="card-action right-align">
                        {% if view == False %}
                        <button class="btn waves-effect waves-light" type="submit" name="submit">{% if editCourse %}Save{% else %}Create{% endif %}<i class="material-icons right">send</i>
                        </button>
                        {% endif %}
                        <a class="waves-effect waves-light btn" href="/oneUp/administrators/adminHome">											
                        <i class="material-icons left">navigate_before</i>Back</a>           
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
   {% if errorMessage %}
      <script>
      	Materialize.toast("{{errorMessage}}", 4000);
      </script>
      {% endif %}
</html>