<!DOCTYPE html>
<html lang="en">
        <head>
                <title>OneUp | Delete Instructor</title>
                {% include 'scripts.html' %}
             </head>
             <body >
                  {% include 'adminHeading.html' %}
         <div class="frame" id="grad" align="center">
            <div class="container">
            <div class="row">
            <div class="12u">
               <h1>Delete <span>Instructor</span></h1>
               <p><span>*</span> Denotes Required Fields.</p>
               <div>
<!-- INSERTED PAGE CONTENT -->
				<form name="course_delete" method="POST">
						{% csrf_token %}
				<table class="bg">
        			<tr>
                    	<td>
							<select name="instructorToDelete" required>
						{% for i, username, fName, lName, isStaff, isActive, isSuper, dateJoin in instructors %}
							<option value="{{username}}">{{username}}</option>
						{% endfor %}
							</select>
                    	</td>
            		</tr>
					</table>	
						<input class="waves-effect waves-light btn" type="submit" name="Delete" value="Delete" class="button">								
						<a href="/oneUp/administrators/adminHome" ><input class="waves-effect waves-light btn" type="button" class="special" value="Cancel"></a>
						</form>
						<br><br>
                  <!-- END INSERTED PAGE CONTENT -->
         </div></div></div></div>
         </div>
                        <!-- Footer -->
                        {% include 'footer.html' %}
</body>
</html>